// ================================================================================================
// File Name: base.scss
// Description: Write styles that apply throughout the project in this file.
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

html {
  font-size: map-get-strict($font-html, size);
  box-sizing: border-box;
}

body {
  @include font-size(1.6);
  @include themify(font-family, font__primary);
  height: 100vh;
  color: map-get-strict($font, color);
  font-weight: map-get-strict($font, weight);
  line-height: map-get-strict($font, line-height);
  background-color: $body-bg-color;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
