// ================================================================================================
// File Name: base.scss
// Description: Write styles that apply throughout the project in this file.
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

body {
  height: 100vh;
}

html {
  font-size: $html-font-size;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
