// ================================================================================================
// File Name: base.scss
// Description: Write styles that apply throughout the project in this file.
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

html {
  font-size: $html-font-size;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: $text-color;
  @include font-size(1.6);
  @include themify(font-family, primary-font);
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  background-color: $body-bg-color;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
