// ================================================================================================
// File Name      : general.scss
// Description    : Contains basic default element styles
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

html {
  //TODO, refer coreui doc (http://coreui.io/docs/getting-started/introduction/) for box sizing
  min-height: 100%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  min-height: 100%;
  background-color: $body-bg;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:hover,
:active,
:focus {
  outline: none;
}

// Set Image and Objects to have a max-width of 100%.
embed,
iframe,
img,
figure,
object,
video {
  max-width: 100%;
}

// Set Img height and width to auto for IE8.
img {
  height: auto;
  width: auto;
}

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}