// ================================================================================================
// File Name: common.scss
// Description: Write styles that apply throughout the project in this file.
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

html {
  //TODO, refer coreui doc (http://coreui.io/docs/getting-started/introduction/) for box sizing
  @include vendor(box-sizing, border-box);
  min-height: 100%;
}

body {
  height: 100vh;
  min-height: 100%;
  color: get-typography(color);
  background-color: $body-bg-color;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  &,
  &:hover,
  &:focus /*,
  &:visited*/
  {
    //@include color('primary', 'base');
    text-decoration: none;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input, textarea, button {
  @include border-radius(0);
}