$utils: (
);

$components: (
  images: true,
  tables: true,
  forms: true,
  buttons: true,
  dropdown: true,
  button-group: true,
  input-group: true,
  custom-forms: true,
  nav: true,
  tabs-and-pills: true,
  cards: true,
  breadcrumb: true,
  breadcrumb-menu: true,
  pagination: true,
  badge: true,
  alerts: true,
  progress-bars: true,
  media: true,
  list-group: true,
  modals: true,
  tooltips: true,
  popovers: true,
  carousel: true,
  collapse: true,
  sections: true,
  avatars: true,
  range-sliders: true,
  search: true,
  inputs: true,
  mark: true,
  sliders: true,
  social: true,
  clearfix: true,
  overlays: true,
  breakpoints: true,
  cover: true,
  checkbox-radio: true,
  tags: true,
  togglers: true,
  thumbnails: true,
  labels: true,
  chat-message: true,
  number-spinner: true,
  scrollbar: true,
  misc: true,
  example: true
);
