$utils: (
);

$components: (
  images: true,
  tables: true,
  forms: false,
  buttons: true,
  dropdown: false,
  button-group: true,
  input-group: false,
  custom-forms: true,
  nav: false,
  tabs-and-pills: true,
  cards: true,
  breadcrumb: false,
  breadcrumb-menu: false,
  pagination: false,
  badge: true,
  alerts: true,
  progress-bars: true,
  media: true,
  list-group: true,
  modals: false,
  tooltips: true,
  popovers: true,
  carousel: false,
  collapse: true,
  sections: false,
  avatars: false,
  range-sliders: false,
  search: false,
  inputs: false,
  mark: true,
  sliders: false,
  social: false,
  clearfix: false,
  overlays: false,
  breakpoints: false,
  cover: false,
  checkbox-radio: false,
  tags: false,
  togglers: false,
  thumbnails: false,
  labels: false,
  chat-message: false,
  number-spinner: false,
  scrollbar: false,
  misc: false,
  example: false
);
