// ================================================================================================
// File Name: reset.scss
// Description: In addition to resets given in normalize-scss.
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
blockquote {
  // margin: 0;
  // padding: 0;
}


p{
  margin-bottom: 0.75rem;
}
a,
input,
textarea,
button,
object,
embed {
  outline: none;
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}

/* Set Image and Objects to have a max-width of 100% */
embed,
iframe,
img,
object,
video {
  max-width: 100%;
}

/* Set Img height and width to auto for IE8 */
img {
  height: auto;
  width: auto;
  /* IE8 */
}