// ================================================================================================
// File Name      : typography.scss
// Description    : This place is to output all the typographic elements only.
// Properties that should be present are only:
// font-family
// font-size
// line-height
// font-weight
// font-style
// font-variant
// ... and other font properties
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

// BASE
// ======================================================

html {
  font-size: $html-font-size;
}

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  color: $body-color;
}

* {
  // Antialiasing mode font rendering.
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  // Optimizes font rendering for legibility.
  // May break with some browsers, comment out as necessary.
  text-rendering: optimizeLegibility;
}

// HEADERS
// ======================================================

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1, .h1 {
  font-size: $h1-font-size;
  letter-spacing: $headings-letter-spacing;
}

h2, .h2 {
  font-size: $h2-font-size;
  letter-spacing: $headings-letter-spacing;
}

h3, .h3 {
  font-size: $h3-font-size;
}

h4, .h4 {
  font-size: $h4-font-size;
}

h5, .h5 {
  font-size: $h5-font-size;
}

h6, .h6 {
  font-size: $h6-font-size;
}

// PARAGRAPHS
// ======================================================
p {
  color: $font-color-default;
}

// LINKS
// ======================================================
a {
  color: $link-color;
  text-decoration: none;
  transition: color 250ms ease-in-out;
}

a:hover,
a:focus {
  color: $link-hover-color;
  text-decoration: $link-hover-decoration;
}

// SMALL
// ======================================================
small,
.small {
  color: $font-color-default;
}

// LEAD
// ======================================================
.lead {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
}

