// ================================================================================================
// File Name: typography.scss
// Description: This file sets the typography for the rest of the document.
// Properties that should be present are only:
// font-family
// font-size
// line-height
// font-weight
// font-style
// font-variant
// ... and other font properties
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

// ================================================================================================
// NOTE:
// This place is to output all the typographic elements only. Declare all your variables under
// helpers/variables/typography section!
// ================================================================================================

html {
  font-size: $font-size-100;
}

body {
  font-family: map-get-strict($font, font); /* Assign all elements new font */
  font-size: $font-size-base;
  //@include font-size(16px);
}


* {
  /* Antialiasing mode font rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  /* Optmizes font rendering for legibility.
  May break with some browsers, comment out as necessary.*/
  text-rendering: optimizeLegibility;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, a, td {
  color: map-get-strict($font, color);
}

em {
  font-style: italic;
}

pre {
  white-space: pre;
}

code {
  overflow: hidden;
}


mark {
  background-color: transparent;
  position: relative;
  display: inline-block;
  color: inherit;

  &:after {
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: $mark-underline-height;
    content: "";
    display: block;
    bottom: -$mark-underline-height * 2;
  }
}

/* Theme variations */
.mark-primary {
  &:after {
    @include background-color('primary', 'base');
  }
}
.mark-secondary {
  &:after {
    @include background-color('secondary', 'base');
  }
}
/* Contextual variations */
@each $scheme, $value in $contextual {
  .mark-#{$scheme} {
    &:after {
      background-color: contextual-color($scheme, 'base');
    }
  }
}

/* Extra small mark */
.mark-sm {
  &:after {
    height: $mark-underline-height-xs;
    bottom: -$mark-underline-height-xs * 2;
  }
}

/* Small mark */
.mark-sm {
  &:after {
    height: $mark-underline-height-sm;
    bottom: -$mark-underline-height-sm * 2;
  }
}

/* Large mark  */
.mark-lg {
  &:after {
    height: $mark-underline-height-lg;
    bottom: -$mark-underline-height-lg * 2;
  }
}

/* Extra large mark  */
.mark-xl {
  &:after {
    height: $mark-underline-height-xl;
    bottom: -$mark-underline-height-xl * 2;
  }
}