* {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    @include vendor(box-sizing, border-box);
}

html {}

body {
    background: $body-bg;
}

body > #container {
    max-width: 1300px;
    background: $white-bg;
    @include box-shadow($grey 0px 0px 15px 0px);
}
