# =============================================
# Build config
# =============================================

deploy:           app/deploy
deploy_assets:    <%= site.deploy %>/assets
deploy_img:       <%= site.deploy %>/assets/img

dev:              app/development/
dev_assets:       <%= site.dev %>/assets
dev_img:          <%= site.dev %>/assets/img
dev_port:         8080

# env:              app/environment/wp-content/themes/bootville-lite

src:              app/source
src_assets:       <%= site.src %>/assets
src_img:          <%= site.src_assets %>/img
src_vendor:       <%= site.src %>/vendor

# Data
src_data:         <%= site.src %>/data/*.{json,yml}

# Templates
src_templates:    <%= site.src %>/templates
src_layoutdir:    <%= site.src_templates %>/layouts
src_layout:       default
src_partialsdir:  <%= site.src_templates %>/partials
src_partials:     <%= site.src_templates %>/partials/**/*.hbs
src_pages:        <%= site.src_templates %>/pages

# Extensions
src_helpers:      <%= site.src_templates %>/helpers/**/*.js

preview:          preview

# Vendor directory
vendordir:        node_modules


# =============================================
# Project metadata
# =============================================

name:             <%= package.name %>
title:            <%= package.title %>
author:
  name:           <%= package.author.name %>
  url:            <%= package.author.url %>


# =============================================
# Site metadata
# =============================================

keywords :        <%= package.keywords %>
version:          <%= package.version %>
description:      <%= package.description %>
license:
  type:           <%= package.license.type %>
  url:            <%= package.license.url %>
