
.flex-container {
	border:1px solid #ccc;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
    align-items: center;
   
	height: 250px
	

}

.flex-item {width:250px; background-color: #ccc; margin:5px; height: 15px}

.flex-bottom {
  align-self: flex-end;
  width: 150px; background-color: #ccc; margin:5px; height: 15px

}