
.flex-container {
	border:1px solid #ccc;
	display: flex;
	height: 250px;
	flex-direction: column;
	justify-content: flex-end;

}

.flex-item {width:250px; background-color: #ccc; margin:5px; height: 15px}

.flex-bottom {

}