// ================================================================================================
// File Name: variables.scss
// Description: Custom variables
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

// ================================================================================================
// WARNING: PLEASE DO NOT CHANGE THIS VARIABLE FILE.
// THIS FILE WILL GET OVERWRITTEN WITH EACH XXXX TEMPLATE RELEASE.
// TIP:
// We suggest you to use this (assets/scss/variables/app-variables.scss) file for overriding app variables.
// ================================================================================================


//----------------------------------*\
// BODY
//----------------------------------*/

//----------------------------------*\
// LINKS
//----------------------------------*/

//----------------------------------*\
// SIDEBAR
//----------------------------------*/
$sidebar-width: 200px;
$sidebar-mini-width: 60px;

//----------------------------------*\
// FONTS
//----------------------------------*/
$html-font-size: 62.5%; // 62.5% adapted from https://www.sitepoint.com/understanding-and-using-rem-units-in-css/

//----------------------------------*\
// COLORS
// Adapted from https://flatuicolors.com/
//----------------------------------*/
$primary-color: #021320; // dark blue
$secondary-color: #0f9962; // green
$tertiary-color: #005292; // light blue
$grey: #ccc;
$white: #fff;

//----------------------------------*\
// BUTTONS
//----------------------------------*/

//----------------------------------*\
// NAVBAR
//----------------------------------*/

//----------------------------------*\
// MAIN MENU
//----------------------------------*/

//----------------------------------*\
// PROGRESS
//----------------------------------*/

//----------------------------------*\
// PATHS
//----------------------------------*/

$path-rel: 'images/';

//----------------------------------*\
// FORMS
//----------------------------------*/

//----------------------------------*\
// BREAKPOINTS
//----------------------------------*/

//----------------------------------*\
// TABLES
//----------------------------------*/
