// ================================================================================================
// File Name: variables.scss
// Description: Custom variables
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

// ================================================================================================
// WARNING: PLEASE DO NOT CHANGE THIS VARIABLE FILE.
// THIS FILE WILL GET OVERWRITTEN WITH EACH XXXX TEMPLATE RELEASE.
// TIP:
// We suggest you to use this (assets/scss/variables/app-variables.scss) file for overriding app variables.
// ================================================================================================


//----------------------------------*\
// BODY
//----------------------------------*/
$base-line-height: 1.6;
$body-bg-color: #fff;
$text-color: #333;

//----------------------------------*\
// THEMES
//----------------------------------*/
$themes: theme-news #f44f74 #f497ac, theme-sports #5cbb00 #b2e581, theme-entertainment #00afc4 #92d3db  !default;

//----------------------------------*\
// LINKS
//----------------------------------*/

//----------------------------------*\
// SIDEBAR
//----------------------------------*/
$sidebar-width: 200px;
$sidebar-mini-width: 60px;
$sidebar-menu-bg: #222d32;
$sidebar-menu-color: lighten($sidebar-menu-bg, 60%);
$sidebar-menu-hover-color: #fff;
$sidebar-menu-hover-bg: darken($sidebar-menu-bg, 2%);
$sidebar-menu-hover-border-color: #3c8dbc;
$sidebar-menu-submenu-bg: lighten($sidebar-menu-bg, 5%);
$sidebar-submenu-color: lighten($sidebar-menu-submenu-bg, 40%);
$sidebar-submenu-hover-color: #fff;

//----------------------------------*\
// FONTS
//----------------------------------*/
$html-font-size: 62.5%;

// 62.5% adapted from https://www.sitepoint.com/understanding-and-using-rem-units-in-css/
$base-font-family: "Source Sans Pro", Arial, sans-serif;
$base-font-weight: 300;

//----------------------------------*\
// OTHER COLORS
// Adapted from https://flatuicolors.com/
//----------------------------------*/
$primary-color: #021320;

// dark blue
$secondary-color: #0f9962;

// green
$tertiary-color: #005292;

// light blue
$grey: #ccc;
$light-grey: #fafafa;
$white: #fff;

//----------------------------------*\
// SELECTION
//----------------------------------*/
$selection-color: #818892;
$selection-bg: #f9f6f0;

//----------------------------------*\
// BUTTONS
//----------------------------------*/

//----------------------------------*\
// BORDERS
//----------------------------------*/
$border-radius-base: 4px !default;

//----------------------------------*\
// NAVBAR
//----------------------------------*/

//----------------------------------*\
// MAIN MENU
//----------------------------------*/

//----------------------------------*\
// PROGRESS
//----------------------------------*/

//----------------------------------*\
// PATHS
//----------------------------------*/
$path-rel: 'images/';

//----------------------------------*\
// FORMS
//----------------------------------*/

//----------------------------------*\
// BREAKPOINTS
//----------------------------------*/

//----------------------------------*\
// TABLES
//----------------------------------*/
