.wrapper {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: stretch;
  background: #0E8CE0;
}
.sidebar-news {
  min-height: 100vh;
  background: #ccc;
  position: absolute;
}

.black-bar-vertical {
  min-height: 100vh;
  background: #eee;
}

.section-main-content {
  background: #fff;
}