// ================================================================================================
// File Name: alert.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

//TODO https://codepen.io/simeonoff/pen/QKYwba
.alert {
  $a: alert;
  @include set-border-radius($alert-border-radius);
  font-size: $alert-font-size;
  font-weight: $font-wh-normal;
  position: relative;

  @if bool($alert-border) == true {
    border: $alert-border-size solid;
  } @else {
    border: 0;
  }

  /* Theme variations */
  @each $themeName, $value in $themes-map {
    $colors: map-get-strict($value, 'main-colors');
    @each $scheme, $value in $colors {
      &.#{$a}-#{$scheme} {
        @include alert-theme($scheme);
      }
    }
  }

  /* Contextual variations */
  @each $scheme, $value in $contextual-palette-map {
    &.#{$a}-#{$scheme} {
      @include alert-theme($scheme);
    }
  }

  /* Links (.alert-link) */
  & .#{$a}-link {
    cursor: pointer;
    text-decoration: underline;
    font-weight: $font-wh-normal;
    &:hover {
      @include opacity(0.9);
      text-decoration: none;
    }
  }
}

/* Dismissible alerts */

.alert-dismissible > .close {
  opacity: .7;

  > span:not(.sr-only) {
    background-color: rgba(255, 255, 255, .3);
    line-height: 19px;
    height: 20px;
    width: 20px;
    border-radius: $border-radius-100;
    font-size: 1.1rem;
    display: block
  }

  &:focus,
  &:hover {
    span:not(.sr-only) {
      background-color: rgba(255, 255, 255, .4)
    }

  }

}
