// ================================================================================================
// File Name: alert.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

//TODO https://codepen.io/simeonoff/pen/QKYwba
.alert {
  $a: alert;
  @include set-border-radius($alert-border-radius);
  font-size: $alert-font-size;
  border-width: $alert-border-size;
  font-weight: $font-wh-normal;
  position: relative;

  /* Theme variations */

  &.#{$a}-primary {
    @include alert-theme(primary);
  }
  &.#{$a}-secondary {
    @include alert-theme(secondary);
  }

  /* Contextual variations */

  &.#{$a}-success {
    @include alert-theme(success);
  }

  &.#{$a}-danger {
    @include alert-theme(danger);
  }

  &.#{$a}-warning {
    @include alert-theme(warning);
  }

  &.#{$a}-info {
    @include alert-theme(info);
  }

  &.#{$a}-light {
    @include alert-theme(light);
  }

  &.#{$a}-dark {
    @include alert-theme(dark);
  }

  /* Links (.alert-link) */
  & .#{$a}-link {
    cursor: pointer;
    text-decoration: underline;
    &:hover,
    &:hover {
      @include opacity(0.9);
      text-decoration: none;
    }
  }
}

