// ================================================================================================
// File Name      : alert.scss
// Description    : Alert adjustments.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================
//TODO https://codepen.io/simeonoff/pen/QKYwba

// Base styles
.alert {
  $a: alert;
  @include set-border-radius($alert-border-radius);
  font-size: $alert-font-size;
  font-weight: $font-wh-regular;
  position: relative;

  // Theme variations
  @each $themeName, $value in $themes-map {
    $colors: map-get-strict($value, 'main-colors');
    @each $scheme, $tone in $colors {
      $tone-bg: theme-color-level($scheme, base, $alert-bg-level);
      $tone-border: theme-color-level($scheme, base, $alert-border-level);
      $font-color: theme-color-level($scheme, base, $alert-color-level);
      &.#{$a}-#{$scheme} {
        @include alert-theme($tone-bg, $tone-border, $font-color);
      }
    }
  }

  // Contextual variations
  @each $scheme, $tone in $contextual-palette-map {
    $tone-bg: theme-color-level($scheme, base, $alert-bg-level);
    $tone-border: theme-color-level($scheme, base, $alert-border-level);
    $font-color: theme-color-level($scheme, base, $alert-color-level);
    &.#{$a}-#{$scheme} {
      @include alert-theme($tone-bg, $tone-border, $font-color);
    }
  }

  // Provide class for links that match alerts (.alert-link)
  & .#{$a}-link {
    cursor: $cursor-pointer;
    text-decoration: underline;
    font-weight: $font-wh-regular;
    &:hover {
      @include opacity(0.9);
      text-decoration: none;
    }
  }
}

// Dismissible alerts
.alert-dismissible > .close {
  @include opacity(.7);

  > span:not(.sr-only) {
    background-color: rgba(255, 255, 255, .3);
    line-height: 19px;
    height: 20px;
    width: 20px;
    border-radius: $border-radius-100;
    font-size: 1.1rem;
    display: block
  }

  &:focus,
  &:hover {
    span:not(.sr-only) {
      background-color: rgba(255, 255, 255, .4)
    }
  }
}
