// ================================================================================================
// File Name      : avatars.scss
// Description    : Component that represents the user.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ, <manoj [at] xxx [dot] net>
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

@if (map-get-strict($components, 'avatars')) {
  $av: avatar;

  //
  // BASE STYLING
  // ======================================================

  .#{$av} {
    position: relative;
    display: inline-block;
    width: $avatar-size;
    height: $avatar-size;

    #{&}__content {
      position: absolute;
      display: flex;
      z-index: 0;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      overflow: hidden;

      // Images within avatars
      &.#{$av}-img img {
        width: 100%;
        height: auto;
        max-width: 100%;
        border: 0;
        object-fit: cover;
        opacity: 1;
        @include transition($transition-base);
        @at-root a#{&} {
          &:hover, &:active {
            opacity: $alpha-8;
          }
        }
      }

      // Character within avatars
      &.#{$av}-char {
        text-align: center;
        text-transform: uppercase;
        font-size: $avatar-char-font-size;
        font-weight: $font-wh-semi;
        line-height: 0;
        white-space: nowrap;

        &[data-initial]::before {
          position: absolute;
          color: currentColor;
          content: attr(data-initial);
          @include center(xy);
          z-index: 0;
        }

        #{$icon-tags} {
          font-size: inherit;
          line-height: 0;
        }
      }
    }

    // Theme variations
    @each $themeName, $value in $themes-map {
      $colors: map-get-strict($value, 'main-colors');
      @each $scheme, $tone in $colors {
        &.#{$av}--#{$scheme} {
          @include avatar-theme($scheme);
        }
        &.#{$av}-soft--#{$scheme} {
          @include avatar-theme($scheme, soft);
        }
      }
    }

    // Contextual variations
    @each $scheme, $tone in $contextual-palette-map {
      &.#{$av}--#{$scheme} {
        @include avatar-theme($scheme);
      }
      &.#{$av}-soft--#{$scheme} {
        @include avatar-theme($scheme, soft);
      }
    }
  }

  //
  // SIZING
  // ======================================================

  .#{$av} {
    // Extra large
    &.#{$av}--xl {
      width: $avatar-size-xl;
      height: $avatar-size-xl;

      .#{$av}__content {
        &.#{$av}-char {
          font-size: $avatar-char-font-size-xl;
        }
      }
    }

    // Large
    &.#{$av}--lg {
      width: $avatar-size-lg;
      height: $avatar-size-lg;

      .#{$av}__content {
        &.#{$av}-char {
          font-size: $avatar-char-font-size-lg;
        }
      }
    }

    // Small
    &.#{$av}--sm {
      width: $avatar-size-sm;
      height: $avatar-size-sm;

      .#{$av}__content {
        &.#{$av}-char {
          font-size: $avatar-char-font-size-sm;
        }
      }
    }
  }

  //
  // AVATAR STACK (OVERLAPPED AVATARS)
  // ======================================================
  // A wrapper to stack multiple Avatars together.

  .#{$av}-stack {
    display: inline-flex;
    white-space: nowrap;

    .#{$av} {
      box-sizing: content-box;
      @include add-border(2px, $white-color, all);
    }

    &.stack--right {
      right: 0;
      flex-direction: row-reverse;
    }
  }

  // Stack
  .#{$av}-stack {
    &.stack--simple {
      .#{$av} {
        //@include add-border(2px, $white-color, all);
        @include transition(all .15s $ease-in-quad);
        z-index: 2;

        &:hover {
          z-index: 3;
        }
      }

      .#{$av}:hover ~ .#{$av} {
        opacity: 0.5;
      }

      .#{$av} + .#{$av} {
        margin-left: $avatar-stack-margin;
      }

      .#{$av}--sm + .#{$av}--sm {
        margin-left: $avatar-stack-margin-sm;
      }

      .#{$av}--lg + .#{$av}--lg {
        margin-left: $avatar-stack-margin-lg;
      }

      .#{$av}--xl + .#{$av}--xl {
        margin-left: $avatar-stack-margin-xl;
      }

      &.stack--right {
        .#{$av} + .#{$av} {
          margin-right: $avatar-stack-margin;
          margin-left: 0;
        }

        .#{$av}--sm + .#{$av}--sm {
          margin-right: $avatar-stack-margin-sm;
        }

        .#{$av}--lg + .#{$av}--lg {
          margin-right: $avatar-stack-margin-lg;
        }

        .#{$av}--xl + .#{$av}--xl {
          margin-right: $avatar-stack-margin-xl;
        }
      }
    }
  }

  // Reveal single avatar
  .#{$av}-stack {
    &.stack--reveal-single {
      .#{$av} {
        margin-right: $avatar-stack-margin;
        @include transition(margin 0.25s);
        //@include add-border(2px, $white-color, all);

        &:hover {
          margin-right: 0 !important;
        }
      }

      .#{$av}--sm {
        margin-right: $avatar-stack-margin-sm;
      }

      .#{$av}--lg {
        margin-right: $avatar-stack-margin-lg;
      }

      .#{$av}--xl {
        margin-right: $avatar-stack-margin-xl;
      }

      &.stack--right {
        .#{$av} {
          margin-right: 0;
          margin-left: $avatar-stack-margin;

          &:hover {
            margin-left: 0 !important;
          }
        }

        .#{$av}--sm {
          margin-left: $avatar-stack-margin-sm;
        }

        .#{$av}--lg {
          margin-left: $avatar-stack-margin-lg;
        }

        .#{$av}--xl {
          margin-left: $avatar-stack-margin-xl;
        }
      }
    }
  }

  // Reveal full stack
  .#{$av}-stack {
    &.stack--reveal-full {
      .#{$av} {
        margin-right: $avatar-stack-margin;
        @include transition(all $general-transition-duration $ease-out-circ);
        //@include add-border(2px, $white-color, all);
      }

      .#{$av}--sm {
        margin-right: $avatar-stack-margin-sm;
      }

      .#{$av}--lg {
        margin-right: $avatar-stack-margin-lg;
      }

      .#{$av}--xl {
        margin-right: $avatar-stack-margin-xl;
      }

      // When more than one avatar, then reveal the stack
      &:hover {
        .#{$av} {
          margin-right: 3px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      &.stack--right {
        .#{$av} {
          margin-right: 0;
          margin-left: $avatar-stack-margin;
        }

        .#{$av}--sm {
          margin-left: $avatar-stack-margin-sm;
        }

        .#{$av}--lg {
          margin-left: $avatar-stack-margin-lg;
        }

        .#{$av}--xl {
          margin-left: $avatar-stack-margin-xl;
        }

        &:hover {
          .#{$av} {
            margin-left: 3px;

            &:last-child {
              margin-left: 0;
            }
          }
        }
      }
    }
  }

  // Three plus hidden stack
  .#{$av}-stack {
    &.stack--three-plus {
      .#{$av} {
        z-index: 2;
        margin-right: $avatar-stack-margin;
        @include transition(all $general-transition-duration $ease-out-circ);

        &:first-child {
          z-index: 3;
        }

        &:last-child {
          z-index: 1;
        }

        // Account for 4+ avatars
        &:nth-child(n+4) {
          display: none;
          opacity: 0;
        }
      }

      .#{$av}--sm {
        margin-right: $avatar-stack-margin-sm;
      }

      .#{$av}--lg {
        margin-right: $avatar-stack-margin-lg;
      }

      .#{$av}--xl {
        margin-right: $avatar-stack-margin-xl;
      }

      .#{$av}.#{$av}-more-shaded {
        z-index: 1;
        margin-right: 0;
        background: $gray-200;

        &::before,
        &::after {
          position: absolute;
          display: block;
          height: 100%;
          box-shadow: 0 0 0 2px $white-color;
          //outline: 2px solid $white-color;
          border-radius: inherit;
          content: "";
        }

        &::before {
          width: 100%;
          background: $gray-300;
          transform: translateX(-14%);
        }

        &::after {
          width: 100%;
          background: $gray-400;
          transform: translateX(-32%);
        }
      }

      .#{$av}.#{$av}-more-x {
        z-index: 1;
      }

      &:hover {
        .#{$av} {
          margin-right: 3px;
        }

        .#{$av}:nth-child(n+4) {
          display: block;
          opacity: 1;
        }

        .#{$av}-more-shaded,
        .#{$av}-more-x {
          display: none !important;
        }
      }

      &.stack--right {

        .#{$av} {
          margin-right: 0;
          margin-left: $avatar-stack-margin;
        }

        .#{$av}--sm {
          margin-left: $avatar-stack-margin-sm;
        }

        .#{$av}--lg {
          margin-left: $avatar-stack-margin-lg;
        }

        .#{$av}--xl {
          margin-left: $avatar-stack-margin-xl;
        }

        .#{$av}.#{$av}-more-shaded {
          &::before {
            transform: translateX(14%);
          }

          &::after {
            transform: translateX(32%);
          }
        }

        &:hover {
          .#{$av} {
            margin-right: 0;
            margin-left: 3px;
          }
        }
      }
    }
  }


  //
  // AVATAR INDICATORS (STATUS etc.)
  // ======================================================
  // adapted from https://github.com/moltentheory/LINFadmin/blob/a45983e87962d40b445a5d07560693ab2110e100/public/assets/sass/atlantis/components/_avatars.scss

  .#{$av} {

    // Status
    &-online,
    &-offline,
    &-away,
    &-busy {
      &::before {
        position: absolute;
        z-index: 1;
        width: 33%;
        height: 33%;
        border-radius: $border-radius-50;
        content: '';
        @include add-border(2px, $white-color, all);
      }
    }

    // Indicator positioning
    &.top-left {
      &::before {
        @extend %avatar-ind-top-left;
      }
    }

    &.top-right {
      &::before {
        @extend %avatar-ind-top-right;
      }
    }

    &.bottom-left {
      &::before {
        @extend %avatar-ind-bottom-left;
      }
    }

    &.bottom-right {
      &::before {
        @extend %avatar-ind-bottom-right;
      }
    }

    // Indicator colors
    &-online::before {
      background-color: $avatar-online-color;
    }

    &-offline::before {
      background-color: $avatar-offline-color;
    }

    &-away::before {
      background-color: $avatar-away-color;
    }

    &-busy::before {
      background-color: $avatar-busy-color;
    }

    // Child
    #{&}__child {
      //height: 30px;
      //width: 30px;
      position: absolute;
      right: 14.64%;
      bottom: 14.64%;
      width: 60%;
      height: 60%;
      transform: translate(50%, 50%);
      overflow: hidden;
      @include add-border(2px, $white-color, all);
      border-radius: inherit;

      .#{$av}__content {
        &.#{$av}-char {
          #{$icon-tags} {
            font-size: inherit;
            line-height: 0;
          }
        }
      }
    }

  }

  //
  // AVATAR BADGE
  // ======================================================

  .#{$av} {

    // Badge
    #{&}__badge {
      position: absolute;

      // Badge positioning
      &.top-left {
          @extend %avatar-ind-top-left;
      }

      &.top-right {
          @extend %avatar-ind-top-right;
      }

      &.bottom-left {
          @extend %avatar-ind-bottom-left;
      }

      &.bottom-right {
          @extend %avatar-ind-bottom-right;
      }
    }
  }
}
