// ================================================================================================
// File Name      : badge.scss
// Description    : Badges adjustments.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================
// TODO Adapted from https://codepen.io/uimax/pen/kkadmY

// Base styles
.badge {
  $b: badge;
  @include set-border-radius($badge-border-radius);
  border: $badge-border-size solid transparent;
  padding: $badge-padding-y $badge-padding-x;
  position: relative;
  text-indent: 0;

  // Account for icons in badges
  > i {
    margin-right: 5px;
    line-height: 1;
    position: relative;
    top: 1px;
  }

  // Theme variations
  @each $themeName, $value in $themes-map {
    $colors: map-get-strict($value, 'main-colors');
    @each $scheme, $value in $colors {
      &.#{$b}-#{$scheme} {
        @include badges-theme($scheme, $sledge-hammer: !important);
      }
      &.#{$b}-outline-#{$scheme} {
        @include badges-theme($scheme, outline, $sledge-hammer: !important);
      }
    }
  }

  // Contextual variations
  @each $scheme, $value in $contextual-palette-map {
    &.#{$b}-#{$scheme} {
      @include badges-theme($scheme, $sledge-hammer: !important);
    }
    &.#{$b}-outline-#{$scheme} {
      @include badges-theme($scheme, outline, $sledge-hammer: !important);
    }
  }

  // Disabled badge
  #{$disabled-tags} {
    @include opacity($badge-disabled-opacity);
    pointer-events: none;
  }

  // Floating badges
  &.floating {
    position: absolute;
    top: -0.45rem;
    left: 100%;
    margin: 0 0 0 -0.40rem !important;

  }

  // Image badges
  &.image {
    border: 0;
    font-size: $badge-image-font-size;
    font-weight: $badge-image-font-weight;
    line-height: $badge-image-line-height;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    > img {
      @include border-left-radius($badge-border-radius);
      vertical-align: top;
      max-width: 100%;
      width: auto !important;
      height: $badge-size;
      margin: (-$badge-padding-y) 0.4rem (-$badge-padding-y) (-$badge-padding-x);
    }
  }

  // Pill badges still have radius if bootstrap variable is set to false ($enable-rounded: false)
  &.badge-pill {
    @include border-radius($badge-pill-border-radius);
  }

  // Round badges
  &.badge-round {
    @include border-radius($badge-radius-round);
    width: $badge-round-size;
    height: $badge-round-size;
    padding: $badge-round-padding;
    line-height: $badge-round-line-height;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.empty {
      min-width: 0;
      min-height: 0;
      overflow: hidden;
      width: $badge-empty-size;
      height: $badge-empty-size;
      padding: $badge-empty-size;
      vertical-align: baseline;
      display: inline-block;
    }
  }

  // Outline badges
  &[class*="badge-outline-"].pointed {
    background-color: #fff;
  }

  // Pointed Badges using CSS triangles
  &.pointed {
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: .6666em; // Badges arrow width. Height and width should be same to make triangle perfect.
      height: .6666em; // Badges arrow height. Height and width should be same to make triangle perfect.
      border: 1px solid;
      border-color: inherit;
      background-color: inherit;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }

    &::before {
      z-index: -1;
    }
    // Caret on top
    &.arrow-top:before,
    &.arrow-top:after {
      bottom: 100%;
      left: 50%;
      margin-bottom: -7px;
      border-bottom: 0;
      border-right: 0;
    }
    // Caret on bottom
    &.arrow-bottom:before,
    &.arrow-bottom:after {
      top: 100%;
      left: 50%;
      margin-top: 1px;
      border-top: 0;
      border-left: 0;
    }
    // Caret on right
    &.arrow-right:before,
    &.arrow-right:after {
      top: 50%;
      left: 100%;
      margin-left: 1px;
      border-bottom: 0;
      border-left: 0;
    }

    // Caret on left
    &.arrow-left:before,
    &.arrow-left:after {
      top: 50%;
      left: 0;
      margin-left: -1px;
      border-top: 0;
      border-right: 0;
    }

  }
}

// Link Badges
a.badge {
  cursor: pointer;
  text-decoration: none;
}
