// ================================================================================================
// File Name      : breadcrumb-menu.scss
// Description    : Breadcrumb with extra Menu.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

// Breadcrumb with menu
.breadcrumb.has-menu {
  padding-right: 0;

  .breadcrumb-menu {
    display: flex;

    .nav {
      font-size: $breadcrumb-font-size;
    }
    .nav-item {
      @include add-border($breadcrumb-border-size, $breadcrumb-border-color, left);
      display: flex;
    }
    .nav-link {
      //@include color($breadcrumb-link-theme-color, $breadcrumb-link-theme-color-tone);
      @include transition;
      color: $breadcrumb-menu-color;
      line-height: $breadcrumb-line-height;
      padding: $breadcrumb-padding-y 0;
      position: relative;
      display: flex;
      align-items: center;

      // Change the hover, focus, active state links for better highlighting
      //#{$a-tags},
      #{$hover-focus-tags} {
        //@include color($breadcrumb-link-theme-color, $breadcrumb-link-hover-theme-color-tone);
        color: $breadcrumb-menu-hover-color;
      }

      #{$icon-tags} {
        top: 1px;
        position: relative;
        line-height: 1;
      }

    }
  }
}