// ================================================================================================
// File Name: breadcrumb.scss
// Description: Indicate the current page's location within a navigational hierarchy that
// automatically adds separators via CSS.
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

.breadcrumb {
  @include set-border-radius($breadcrumb-border-radius);
  @include add-border($breadcrumb-border-size, $breadcrumb-border-color, all);
  background-color: $breadcrumb-bg;
  padding: 0 $breadcrumb-padding-x;
  font-size: $breadcrumb-font-size;
  line-height: $breadcrumb-line-height;

  /* Flexbox */
  display: flex;

}

.breadcrumb-item {
  padding: $breadcrumb-padding-y 0;
  color: $breadcrumb-font-color;

  + .breadcrumb-item::before {
    font-family: "Font Awesome 5 Solid";
    font-style: normal;
    color: $breadcrumb-divider-color;
    content: "#{$breadcrumb-divider}";
    position: relative;
    line-height: 1;

  }

  & a {
    @include color($breadcrumb-link-theme-color, $breadcrumb-link-theme-color-tone);

    &:focus,
    &:active,
    &:hover {
      @include color($breadcrumb-link-theme-color, $breadcrumb-link-hover-theme-color-tone);
    }

   &.collapsed{
     @include transition;
     width: 50px;
     overflow: hidden;
     -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
     display: inline-block;
     white-space: nowrap;
     vertical-align: top;
     &:hover{
       @include transition;
       width: auto;
     }
   }
  }

  &.active {
    color: $breadcrumb-active-color;
  }
}

//-------------------------------------------*\
// BREADCRUMB EXTENDED
//-------------------------------------------*/
.breadcrumb {

  &.extended-arrow {
    @include add-border($breadcrumb-border-size, $breadcrumb-ext-border-color, all);
    background-color: $breadcrumb-ext-bg;
    padding: 0;

    & .breadcrumb-item {
      position: relative;
      padding: $breadcrumb-padding-y 12px $breadcrumb-padding-y 24px;

      &:first-child {
        @include set-border-radius($breadcrumb-border-radius);
        @include border-right-radius(0);
        padding: $breadcrumb-padding-y 5px $breadcrumb-padding-y 12px !important;
      }

      &:last-child {
        padding: $breadcrumb-padding-y 0 $breadcrumb-padding-y 24px;
        &:before {
          display: none;
        }
      }

      &:not(:last-child):after {
        @extend %abreadcrumb-ext-arrow-pseudo;
      }

      &:not(:last-child):before {
        @extend %abreadcrumb-ext-arrow-pseudo;
        margin-left: 1px;
      }

    }

    .breadcrumb-item:hover:not(:last-child) {
      background-color: $breadcrumb-ext-item-hover-bg
    }

    .breadcrumb-item:not(:last-child):after {
      @include add-border($breadcrumb-ext-border-left-size, $breadcrumb-ext-item-bg, left);
    }
    .breadcrumb-item:hover:not(:last-child):after {
      @include add-border($breadcrumb-ext-border-left-size, $breadcrumb-ext-item-hover-bg, left);
    }

    .breadcrumb-item:not(:last-child):before {
      @include add-border($breadcrumb-ext-border-left-size, $breadcrumb-ext-border-color, left);
    }
    .breadcrumb-item:hover:not(:last-child):before {
      @include add-border($breadcrumb-ext-border-left-size, $breadcrumb-ext-border-hover-color, left);
    }

  }

}

//-------------------------------------------*\
// BREADCRUMB EXTENDED - WIZARD
//-------------------------------------------*/

.breadcrumb.extended-arrow {
  &.wizard {

    & .breadcrumb-item {

      &:first-child {
        padding: $breadcrumb-padding-y 12px $breadcrumb-padding-y 12px !important;
      }

      &:last-child {
        padding: $breadcrumb-padding-y 12px $breadcrumb-padding-y 24px;
        &:before {
          display: none;
        }
      }

      &:after {
        @extend %abreadcrumb-ext-arrow-pseudo;
      }

      &:before {
        @extend %abreadcrumb-ext-arrow-pseudo;
        margin-left: 1px;
      }

    }

    & .completed {
      @include breadcrumb-wizard-status($breadcrumb-wizard-completed-theme-color, $breadcrumb-link-theme-color-tone);
    }
    & .active {
      @include breadcrumb-wizard-status($breadcrumb-wizard-active-theme-color, $breadcrumb-link-theme-color-tone);
    }

    & .incomplete {
      &,
      a,
      a:hover {
        color: $breadcrumb-wizard-incomplete-color;
      }

      &:hover {
        background-color: $white-color;
      }
      &:hover:after {
        border-left-color: $white-color;
      }

    }

  }
}

//-------------------------------------------*\
// BREADCRUMB EXTENDED - WRAP
//-------------------------------------------*/
/* TODO https://codepen.io/xhepigerta/pen/XKmZKN*/
.breadcrumb {
  &.extended-arrow-wrap {
    @include set-border-radius(0);
    background-color: $breadcrumb-ext-wrap-bg;
    padding: 0;
    border: 0;

    & .breadcrumb-item {
      display: inline;
      padding: 0;

      &:before {
        display: none;
      }

      a {
        display: block;
        background: $breadcrumb-ext-wrap-item-bg;
        padding: $breadcrumb-padding-y 12px $breadcrumb-padding-y 24px;
        position: relative;
        margin: 0 10px 0 0;
        color: $breadcrumb-ext-wrap-font-color;

        /* Right arrow tip */
        &:after {
          content: "";
          border-top: $breadcrumb-ext-border-top-bottom-size solid transparent;
          border-bottom: $breadcrumb-ext-border-top-bottom-size solid transparent;
          border-left: $breadcrumb-ext-border-left-size solid $breadcrumb-ext-wrap-item-bg;
          position: absolute;
          left: 100%;
          top: 0;
          z-index: 1;
        }

        /* Left inset arrow */
        &:before {
          content: "";
          border-top: $breadcrumb-ext-border-top-bottom-size solid transparent;
          border-bottom: $breadcrumb-ext-border-top-bottom-size solid transparent;
          border-left: $breadcrumb-ext-border-left-size solid $breadcrumb-ext-wrap-border-left-color;
          position: absolute;
          left: 0;
          top: 0;
        }

        &:hover {
          @include color($breadcrumb-link-theme-color, $breadcrumb-link-font-theme-color-tone);
          @include background-color($breadcrumb-link-theme-color, $breadcrumb-link-theme-color-tone);
        }
        &:hover:after {
          @include border-left-color($breadcrumb-link-theme-color, $breadcrumb-link-theme-color-tone);
        }

      }

      &.active {
        /* Highlight the active child */
        a {
          @include color($breadcrumb-link-theme-color, $breadcrumb-link-font-theme-color-tone);
          @include background-color($breadcrumb-link-theme-color, $breadcrumb-link-theme-color-tone);
          &:after {
            @include border-left-color($breadcrumb-link-theme-color, $breadcrumb-link-theme-color-tone);
          }
        }

      }

      &:first-child {
        a {
          @include set-border-radius($breadcrumb-border-radius);
          @include border-right-radius(0);
          padding: $breadcrumb-padding-y 12px $breadcrumb-padding-y 12px;

          /* The first item has no inset arrow */
          &:before {
            display: none;
          }
        }
      }

    }
  }
}

//-------------------------------------------*\
// BREADCRUMB EXTENDED - WRAP WIZARD
//-------------------------------------------*/
.breadcrumb.extended-arrow-wrap.wizard {

  & .breadcrumb-item {
    a {
      color: $breadcrumb-wizard-incomplete-color;
    }
  }

  & .completed {
    a {
      @include color($breadcrumb-wizard-completed-theme-color, $breadcrumb-link-font-theme-color-tone);
      @include background-color($breadcrumb-wizard-completed-theme-color, $breadcrumb-link-theme-color-tone);
      &:after {
        @include border-left-color($breadcrumb-wizard-completed-theme-color, $breadcrumb-link-theme-color-tone);
      }
    }
  }

  & .active {
    /* Highlight the active child */
    a {
      @include color($breadcrumb-wizard-active-theme-color, $breadcrumb-link-font-theme-color-tone);
      @include background-color($breadcrumb-wizard-active-theme-color, $breadcrumb-link-theme-color-tone);
      &:after {
        @include border-left-color($breadcrumb-wizard-active-theme-color, $breadcrumb-link-theme-color-tone);
      }
    }

  }

  & .incomplete {
    a,
    a:hover {
      color: $breadcrumb-wizard-incomplete-color;
      background-color: $breadcrumb-wizard-incomplete-bg;
      &:after {
        border-left-color: $breadcrumb-wizard-incomplete-bg;
      }

    }
  }

}

//-------------------------------------------*\
// BREADCRUMB DIVIDERS
//-------------------------------------------*/

.breadcrumb {
  &.divider-angle-right {
    .breadcrumb-item {
      + .breadcrumb-item::before {
        content: "#{$breadcrumb-divider-angle-right}";
      }
    }
  }

  &.divider-angle-double-right {
    .breadcrumb-item {
      + .breadcrumb-item::before {
        content: "#{$breadcrumb-divider-angle-double-right}";
      }
    }
  }
  &.divider-caret-right {
    .breadcrumb-item {
      + .breadcrumb-item::before {
        content: "#{$breadcrumb-divider-caret-right}";
      }
    }
  }

}
