// ================================================================================================
// File Name      : button-group.scss
// Description    : Adjustments Button Groups.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

//
// BASE STYLING
// ======================================================

.btn-group {
  .btn {
    min-width: initial !important;
  }

  // Justified groups
  &-justified {
    display: flex;
    border-collapse: separate;

    > .btn,
    > .btn-group {
      flex: 1 0 0;
    }

    > .btn-group .btn {
      width: 100%;
    }
  }

  // Round button
  .btn-round {
    @include border-radius($btn-round-radius);
  }

}

//
// VERTICAL BUTTON GROUPS
// ======================================================

.btn-group-vertical {
  .btn {
    min-width: initial !important;
  }

  //
  //> .btn:not(:first-child),
  //> .btn-group:not(:first-child) {
  //  margin-top: -$btn-border-size;
  //}

}

//
// SIZING
// ======================================================

// Extra large group button
.btn-group-xl > .btn {
  @extend .btn-xl;
}

// Large group button
.btn-group-lg > .btn {
  @extend .btn-lg;
}

// Small group button
.btn-group-sm > .btn {
  @extend .btn-sm;
}

//
// SPLIT BUTTON DROPDOWNS
// ======================================================

.dropdown-toggle-split {
  padding-right: $btn-padding-x * .75;
  padding-left: $btn-padding-x * .75;
}

.btn-sm + .dropdown-toggle-split {
  padding-right: $btn-padding-x-sm * .75;
  padding-left: $btn-padding-x-sm * .75;
}

.btn-lg + .dropdown-toggle-split {
  padding-right: $btn-padding-x-lg * .75;
  padding-left: $btn-padding-x-lg * .75;
}

.btn-xl + .dropdown-toggle-split {
  padding-right: $btn-padding-x-xl * .75;
  padding-left: $btn-padding-x-xl * .75;
}

// The clickable button for toggling the menu
// Set the same inset shadow as the :active state
.btn-group.show > .dropdown-toggle {
  @include box-shadow($btn-active-box-shadow);

  // Show no shadow for `.btn-link` since it has no other button styles.
  &.btn-link {
    @include box-shadow(none);
  }
}

//
// TOGGLE STATE
// ======================================================

// Used for toggle only the tick icon on a button’s toggle state.
i.icon-toggle {
  display: none;

  .active > & {
    display: block;
  }
}

// Used for toggle the text on a button’s toggle state.
.text-toggle[aria-pressed=false] .text-expanded {
  display: none;
}

.text-toggle[aria-pressed=true] .text-collapsed {
  display: none;
}

//
// OR BUTTON
// ======================================================

.btn-group {

  .or {
    position: relative;
    width: .3em;
    height: auto;
    z-index: 3;

    &::before {
      position: absolute;
      content: 'or';
      background-color: $white-color;
      text-shadow: none;
      min-width: $btn-icon-size;
      width: $btn-icon-size;
      min-height: $btn-icon-size;
      line-height: $btn-line-height;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: $btn-icon-font-size;
      @include border-radius($btn-round-radius);
      @include center(xy);

    }
  }

  &.btn-group-sm {
    .or {
      &::before {
        min-width: $btn-icon-size-sm;
        width: $btn-icon-size-sm;
        min-height: $btn-icon-size-sm;
        font-size: $btn-icon-font-size-sm;
      }
    }
  }

  &.btn-group-lg {
    .or {
      &::before {
        min-width: $btn-icon-size-lg;
        width: $btn-icon-size-lg;
        min-height: $btn-icon-size-lg;
        font-size: $btn-icon-font-size-lg;
      }
    }
  }

  &.btn-group-xl {
    .or {
      &::before {
        min-width: $btn-icon-size-xl;
        width: $btn-icon-size-xl;
        min-height: $btn-icon-size-xl;
        font-size: $btn-icon-font-size-xl;
      }
    }
  }

}
