// ================================================================================================
// File Name: buttons.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

button, .button {
  cursor: pointer;
}

/* Regular button and base styling */

.btn,
.navbar .navbar-nav > a.btn {
  @include set-border-radius($btn-radius);
  font-size: $btn-font-size;
  border-width: $btn-border-size;
  font-weight: $btn-font-weight;
  padding: $btn-padding-y $btn-padding-x;
  line-height: $btn-line-height;
  min-width: $btn-min-width;
  min-height: $btn-min-height;
  cursor: pointer;

  /* Beta 3 Migration changes */
  #{$a-tags},
  &:focus,
  &.focus{
    @include opacity(1);
    outline: 0;
    box-shadow: none;
  }

  .open > &.dropdown-toggle {
    box-shadow: none;
    outline: 0;
  }

  &.btn-icon {
    min-width: $btn-icon-size;
    width: $btn-icon-size;
    min-height: $btn-icon-size;
    //padding: 0;
    //overflow: hidden;
    position: relative;
    line-height: $btn-line-height;

    /* Flex */
    display: inline-flex;
    align-items: center;
    justify-content: center;

    #{$icon-tags}
    {
      font-size: $btn-icon-font-size;
    }

    &.btn-sm {
      min-width: $btn-icon-size-sm;
      width: $btn-icon-size-sm;
      min-height: $btn-icon-size-sm;

      #{$icon-tags} {
        font-size: $btn-icon-font-size-sm;
      }
    }

    &.btn-lg {
      min-width: $btn-icon-size-lg;
      width: $btn-icon-size-lg;
      min-height: $btn-icon-size-lg;

      #{$icon-tags} {
        font-size: $btn-icon-font-size-lg;
      }
    }

    &.has-dropdown {
      width: auto;
      min-width: 0;
      display: table;
    }

  }

  &:not(.btn-icon) {
    #{$icon-tags}{
    padding: 0 $btn-icon-padding-right 0 0;
    }
  }
}

/* Apply the mixin to the button variants.
Easily pump out default styles, as well as :hover, :focus, :active,
and disabled options for all buttons.
*/

/* Theme variations */

.btn-primary {
  @include btn-theme(primary);
}

.btn-outline-primary {
  @include btn-theme(primary, outline);
}

.btn-secondary {
  @include btn-theme(secondary);
}

.btn-outline-secondary {
  @include btn-theme(secondary, outline);
}

/* Contextual variations */

.btn-success {
  @include btn-theme(success);
}

.btn-outline-success {
  @include btn-theme(success, outline);
}

.btn-danger {
  @include btn-theme(danger);
}

.btn-outline-danger {
  @include btn-theme(danger, outline);
}

.btn-warning {
  @include btn-theme(warning);
}

.btn-outline-warning {
  @include btn-theme(warning, outline);
}

.btn-info {
  @include btn-theme(info);
}

.btn-outline-info {
  @include btn-theme(info, outline);
}

.btn-light {
  @include btn-theme(light);
}

.btn-outline-light {
  @include btn-theme(light, outline);
}

.btn-dark {
  @include btn-theme(dark);
}

.btn-outline-dark {
  @include btn-theme(dark, outline);
}

/* Social button */

.btn-facebook {
  $tone: $facebook;
  $tone-hover: darken($tone, 6%);
  @include btn-social-theme($tone, $tone-hover, $white-color);
}

.btn-outline-facebook {
  $tone: $facebook;
  $tone-hover: darken($tone, 6%);
  @include btn-social-theme($tone, $tone-hover, $white-color, outline);
}

.btn-twitter {
  $tone: $twitter;
  $tone-hover: darken($tone, 6%);
  @include btn-social-theme($tone, $tone-hover, $white-color);
}

.btn-outline-twitter {
  $tone: $twitter;
  $tone-hover: darken($tone, 6%);
  @include btn-social-theme($tone, $tone-hover, $white-color, outline);
}

.btn-google-plus {
  $tone: $google-plus;
  $tone-hover: darken($tone, 6%);
  @include btn-social-theme($tone, $tone-hover, $white-color);
}

.btn-outline-google-plus {
  $tone: $google-plus;
  $tone-hover: darken($tone, 6%);
  @include btn-social-theme($tone, $tone-hover, $white-color, outline);
}

.btn-linkedin {
  $tone: $linkedin;
  $tone-hover: darken($tone, 6%);
  @include btn-social-theme($tone, $tone-hover, $white-color);
}

.btn-outline-linkedin {
  $tone: $linkedin;
  $tone-hover: darken($tone, 6%);
  @include btn-social-theme($tone, $tone-hover, $white-color, outline);
}

.btn-instagram {
  $tone: $instagram;
  $tone-hover: darken($tone, 6%);
  @include btn-social-theme($tone, $tone-hover, $white-color);
}

.btn-outline-instagram {
  $tone: $instagram;
  $tone-hover: darken($tone, 6%);
  @include btn-social-theme($tone, $tone-hover, $white-color, outline);
}

.btn-pinterest {
  $tone: $pinterest;
  $tone-hover: darken($tone, 6%);
  @include btn-social-theme($tone, $tone-hover, $white-color);
}

.btn-outline-pinterest {
  $tone: $pinterest;
  $tone-hover: darken($tone, 6%);
  @include btn-social-theme($tone, $tone-hover, $white-color, outline);
}

.btn-dribbble {
  $tone: $dribbble;
  $tone-hover: darken($tone, 6%);
  @include btn-social-theme($tone, $tone-hover, $white-color);
}

.btn-outline-dribbble {
  $tone: $dribbble;
  $tone-hover: darken($tone, 6%);
  @include btn-social-theme($tone, $tone-hover, $white-color, outline);
}

.btn-youtube {
  $tone: $youtube;
  $tone-hover: darken($tone, 6%);
  @include btn-social-theme($tone, $tone-hover, $white-color);
}

.btn-outline-youtube {
  $tone: $youtube;
  $tone-hover: darken($tone, 6%);
  @include btn-social-theme($tone, $tone-hover, $white-color, outline);
}

/* Disabled button */
fieldset[disabled] a.btn,
.btn {

  #{$disabled-tags}
  {
    @include opacity($btn-disabled-opacity);
    cursor: not-allowed;
    pointer-events: none;
  }
}

.btn-link {
  border: 0;
}

/* Large button */

.btn-lg {
  @include btn-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-min-width-lg, $btn-min-height-lg, $btn-font-size-lg, $btn-radius-lg, $btn-line-height-lg);
}
/* Small button */
.btn-sm {
  @include btn-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-min-width-sm, $btn-min-height-sm, $btn-font-size-sm, $btn-radius-sm, $btn-line-height-sm);
}

/* Round button */
.btn-round {
  @include border-radius($btn-radius-round);
}

