// ================================================================================================
// File Name: buttons.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

button {
  cursor: pointer;
}

.btn,
.navbar .navbar-nav > a.btn {
  @include font-size($btn-font-size);
  font-weight: map-get-strict($font, weight-normal);
  line-height: map-get-strict($font, line-height);
  border-radius: $btn-radius-default;
  border-width: $border-thin;
  padding: $btn-padding-y $btn-padding-x;
  margin: 5px 1px;
  cursor: pointer;

  &:hover,
  &:focus {
    @include opacity(1);
    outline: 0;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    box-shadow: none;
    outline: 0;
  }
}

/* Apply the mixin to the buttons */

.btn-primary { @include btn-styles(primary); }
.btn-outline-primary { @include btn-styles(primary, outline); }

.btn-secondary { @include btn-styles(secondary); }
.btn-outline-secondary { @include btn-styles(secondary, outline); }

.btn-success { @include btn-styles(success); }
.btn-outline-success {@include btn-styles(success, outline);}

.btn-danger {@include btn-styles(danger);}
.btn-outline-danger {@include btn-styles(danger, outline);}

.btn-warning {@include btn-styles(warning);}
.btn-outline-warning {@include btn-styles(warning, outline);}

.btn-info {@include btn-styles(info);}
.btn-outline-info {@include btn-styles(info, outline);}

.btn-light {@include btn-styles(light);}
.btn-outline-light {@include btn-styles(light, outline);}

.btn-dark {@include btn-styles(dark);}
.btn-outline-dark {@include btn-styles(dark, outline);}

.btn {
  &:disabled,
  &[disabled],
  &.disabled {
    @include opacity(0.5);
  }
}

.btn-link {
  border: 0;
  background-color: transparent;
}

.btn-round {
  border-radius: $btn-radius-round !important;
}