// ================================================================================================
// File Name      : button-group.scss
// Description    : Adjust Button Groups.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

//
// BUTTON GROUP
// ======================================================

.btn-group {
  .btn {
    min-width: initial !important;
  }
  // Justified groups
  &-justified {
    //display: table;
    //table-layout: fixed;
    //width: 100%;

    display: flex;
    border-collapse: separate;

    > .btn,
    > .btn-group {
      //display: table-cell;
      //float: none;
      //width: auto;

      flex: 1 0 0;
    }

    > .btn-group .btn {
      width: 100%;
    }
  }

}

// Vertical button groups
.btn-group-vertical {
  > .btn + .btn,
  > .btn + .btn-group,
  > .btn-group + .btn,
  > .btn-group + .btn-group {
    margin-top: -$btn-border-size;
    margin-left: 0;
  }
  .btn {
    min-width: initial !important;
    //min-height: initial;
  }
}

// Extra large group button
.btn-group-xl .btn {
  @include btn-size($btn-padding-y-xl, $btn-padding-x-xl, $btn-min-width-xl, $btn-min-height-xl, $btn-font-size-xl, $btn-border-radius-xl, $btn-line-height-xl);
}

// Large group button
.btn-group-lg .btn {
  @include btn-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-min-width-lg, $btn-min-height-lg, $btn-font-size-lg, $btn-border-radius-lg, $btn-line-height-lg);
}

// Small group button
.btn-group-sm .btn {
  @include btn-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-min-width-sm, $btn-min-height-sm, $btn-font-size-sm, $btn-border-radius-sm, $btn-line-height-sm);
}

// Reset rounded corners
.btn-group {
  > .btn:not(:last-child):not(.dropdown-toggle),
  > .btn-group:not(:last-child) > .btn {
    @include border-right-radius(0);
  }
  > .btn:not(:first-child),
  > .btn-group:not(:first-child) > .btn {
    @include border-left-radius(0);
  }
}


//
// TOGGLE STATE
// ======================================================

// Used for toggle only the tick icon on a button’s toggle state.

i.icon-toggle{
  display: none;
  .active > & {
    display: block;
  }
}

// Used for toggle the text on a button’s toggle state.
.text-toggle[aria-pressed=false] .text-expanded {
  display: none;
}

.text-toggle[aria-pressed=true] .text-collapsed {
  display: none;
}