// ================================================================================================
// File Name      : cards.scss
// Description    : Adjustments for Bootstrap's cards that provide a flexible and extensible content container
// with multiple variants and options.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

// Base styles
.card {
  @include transition;
  @include set-border-radius($card-border-radius);
  @include add-border($card-border-size, $card-border-color, all);
  background-color: $card-bg;
  position: relative;
  margin-bottom: $card-margin-bottom;
  box-shadow: $card-box-shadow;

  // Fullscreen card
  &-fullscreen {
    @include transition;
    z-index: map-get($zindex, fullscreen_card);
    position: fixed;
    //display: block;
    width: 99%;
    //height: 95%;
    top: 2%;
    right: 0;
    left: 0;
    bottom: 2%;
    margin: 0 auto;

    .card-body {
      overflow-y: auto;
    }
  }

  > .list-group:first-child {
    .list-group-item:first-child {
      @include border-top-radius($card-border-radius);
    }
  }

  > .list-group:last-child {
    .list-group-item:last-child {
      @include border-bottom-radius($card-border-radius);
    }
  }

  // Card link
  &-link {
    color: $card-link-color;
    //#{$a-tags},
    #{$hover-focus-tags} {
      color: $card-link-hover-color;
    }
  }
}

// Card header
.card-header {
  @include add-border($card-border-size, $card-border-color, bottom);
  background-color: $card-header-bg;
  padding: $card-spacer-y $card-spacer-x;
  position: relative;
  text-transform: capitalize;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: row;

  &:first-child {
    @include set-border-radius($card-inner-border-radius);
    @include border-bottom-radius(0);
    box-shadow: $card-box-header-inset-shadow;
    //&::before {
    //     //background:rgba(255,255,255, 0.9);
    //     content: "";
    //     //height: 1px;
    //     position: absolute;
    //     width: 100%;
    //     left: 0;
    //     bottom: 0;
    //     top: 0;
    //     box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.9)
    //   }
  }

  & .card-title {
    margin-bottom: 0;
  }
}

// Card with actions
.card__actions {
  $ca: card__actions;
  margin-right: -$card-spacer-x;
  color: $card-tools-color;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;

  &-item {
    @include transition;
    @include opacity(0.7);
    color: inherit;
    width: $card-toolbar-icon-width;
    font-size: $card-tools-font-size;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    //#{$a-tags},
    #{$hover-focus-tags} {
      color: inherit;
      @include opacity(1);
    }
  }

  // Window type
  &.window {
    @include set-border-radius($card-border-radius);
    @include add-border($card-border-size, rgba(0, 0, 0, .18), left-bottom);
    @include border-top-radius(0);
    @include border-right-radius(0);
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;

    & .#{$ca}-item {
      height: $card-toolbar-icon-height;
    }
  }

}

// Card image and positions
.card-img {
  @include border-radius($card-inner-border-radius);
}

.card-img-top {
  @include border-top-radius($card-inner-border-radius);
}

.card-img-bottom {
  @include border-bottom-radius($card-inner-border-radius);
}

.card-img-right {
  @include border-right-radius($card-inner-border-radius);
}

.card-img-left {
  @include border-left-radius($card-inner-border-radius);
}

// Card footer
.card-footer {
  @include add-border($card-border-size, $card-border-color, top);
  background-color: $card-footer-bg;
  display: flex;
  align-items: center;

  &:last-child {
    @include border-radius(0 0 $card-inner-border-radius $card-inner-border-radius);
  }
}

//
// CARD EXTENDED
// ======================================================

// TODO https://codepen.io/ibanez182/pen/qZOvNj
.card {
  &.extended {
    & .card-body {
      position: relative;
    }
    & .btn {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
