// ================================================================================================
// File Name: cards.scss
// Description: Cards provide a flexible and extensible content container with multiple variants and options.
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

.card {
  @include transition;
  @include set-border-radius($card-border-radius);
  @include add-border($card-border-size, $card-border-color, all);
  background-color: $card-background;
  position: relative;
  margin-bottom: $card-margin-bottom;


  &-fullscreen {
    @include transition;
    z-index: map-get($zindex, fullscreen_card);
    position: fixed;
    //display: block;
    width:99%;
    //height: 95%;
    top:2%;
    right: 0;
    left: 0;
    bottom:2%;
    margin: 0 auto;

    .card-body{
      overflow-y: auto;
    }
  }

  > .list-group:first-child {
    .list-group-item:first-child {
      @include border-top-radius($card-border-radius);
    }
  }

  > .list-group:last-child {
    .list-group-item:last-child {
      @include border-bottom-radius($card-border-radius);
    }
  }
}

.card-header {
  @include add-border($card-border-size, $card-border-color, bottom);
  background-color: $card-header-bg;
  padding: $card-spacer-y $card-spacer-x;
  position: relative;
  text-transform: capitalize;
  //color: $card-header-color;

  /* Flexbox */
  display: flex;
  align-items: center;
  flex-direction: row;

  &:first-child {
    //@include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
    @include set-border-radius($card-inner-border-radius);
    @include border-bottom-radius(0);

  }
}

.card__actions {

  $ca: card__actions;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;

  &-item {
    @include transition;
    color: $card-tools-color;
    margin-left: 10px;
    font-size: $card-tools-font-size;
    text-decoration: none;

    &:hover {
      color: $card-tools-hover-color;
    }
  }

  &.window {
    position: absolute;
    right: 0;
    top: 0;

    @include set-border-radius($card-border-radius);
    @include add-border($card-border-size, $card-border-color, left-bottom);
    @include border-top-radius(0);
    @include border-right-radius(0);

    & .#{$ca}-item {

      height: $card-tools-icon-height;
      width: $card-tools-icon-width;
      margin: 0;

      /* Flexbox */
      display: flex;
      align-items: center;
      justify-content: center;

    }
  }

}

.card-footer {
  background-color: $card-footer-bg;
  @include add-border($card-border-size, $card-border-color, top);

  &:last-child {
    @include border-radius(0 0 $card-inner-border-radius $card-inner-border-radius);
  }
}

.card-img {
  @include border-radius($card-inner-border-radius);
}

.card-img-top {
  @include border-top-radius($card-inner-border-radius);
}

.card-img-bottom {
  @include border-bottom-radius($card-inner-border-radius);
}

//-------------------------------------------*\
// CARD EXTENDED
//-------------------------------------------*/

/* TODO https://codepen.io/ibanez182/pen/qZOvNj*/
.card {
  &.extended {
    & .card-body {
      position: relative;
    }
    & .btn {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
