// ================================================================================================
// File Name: collapse.scss
// Description: Toggle the visibility of content.
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================


// ACCORDION
// ======================================================

/* https://www.codeply.com/go/506qHaPe9M */

.accordion {

  .card-header {
    position: relative;

    /* Left icon */
    > i {
      float: left;
      margin-right: $accordion-left-icon-margin;
    }

  }

  [data-toggle="collapse"] {
    @include transition;
    @include add-border($card-border-size, transparent, top);
    @include add-border(0, transparent, bottom);
    color: $accordion-title-active-color;
    border-color: $card-border-color;
    cursor: pointer;

    // Flexbox
    display: flex;
    align-items: flex-start;

    &:first-child {
      border-top: none;
    }

    & .card-title,
    & .card-subtitle {
      color: inherit
    }
    & .card-subtitle {
      opacity: 0.8;
    }

    &:after {
      /* symbol for "collapsed" panels */
      @extend %acc-pseudo
    }

    &.collapsed {
      color: $accordion-title-color;

      &:after {
        content: $accordion-collapsed-icon;
      }

      &:hover {
        background-color: $accordion-header-hover-bg;
        color: $accordion-title-hover-color;
      }
    }

  }

}

a.accordion {
  position: relative;

  &:before {
    /* symbol for "collapsed" panels */
    @include transition;
    @extend %acc-pseudo;
    left: 0;

  }

  &.collapsed {
    &:before {
      content: $accordion-collapsed-icon;
    }
  }
}


// EXTENDED
// ======================================================

.accordion.extended {

  .card {
    @include border-theme($accordion-active-theme-color);
  }

  & [data-toggle="collapse"] {
    @include add-border($card-border-size, transparent, top);
    @include add-border(0, transparent, bottom);
    @include border-theme($accordion-active-theme-color, $accordion-active-theme-hover-color-tone);
    @include background-text-theme($accordion-active-theme-color);

    &.collapsed {
      &:hover {
        @include background-theme($accordion-active-theme-color, $accordion-active-theme-hover-color-tone);
      }

    }

    &:first-child {
      border-top: none;
    }
  }

  &.outline {
    & [data-toggle="collapse"] {
      @include border-theme($accordion-active-theme-color);

      &.collapsed {
        background-color: transparent;
        color: $accordion-title-color;

        &:hover {
          background-color: $accordion-header-hover-bg;
          color: $accordion-title-hover-color;
        }
      }
    }
  }
}


// EXTENDED - UNDERLINE
// ======================================================

.accordion {
  &.extended-underline {
    .card {
      border: 0;
    }
    & [data-toggle="collapse"] {
      @include add-border($accordion-underline-border-size, transparent, bottom);
      @include border-theme($accordion-active-theme-color);
      background-color: transparent;
      padding-left: 40px;
      &:before {
        /* symbol for "collapsed" panels */
        @extend %acc-pseudo;
        right: 0;
        left: 1rem;

      }

      &:after {
        display: none;
      }

      &.collapsed {
        @include add-border($accordion-underline-border-size, $card-border-color, bottom);
        &:before {
          content: $accordion-collapsed-icon;
        }
      }
    }

    & .card-body {
      background-color: $accordion-body-bg;
    }
  }
}


// EXTENDED - LEFT LINE
// ======================================================

.accordion {
  &.extended-left-line {
    .card {
      @include set-border-radius(0);
      border: 0;
    }

    & [data-toggle="collapse"] {
      @include set-border-radius(0);
      @include add-border($accordion-underline-border-size, transparent, left);
      @include add-border(0, transparent, bottom);
      @include border-theme($accordion-active-theme-color);
      padding-left: 40px;
      &:before {
        /* symbol for "collapsed" panels */
        @extend %acc-pseudo;
        right: 0;
        left: 1rem;
      }

      &:after {
        display: none;
      }

      &.collapsed {
        @include add-border(0, transparent, bottom);
        @include border-theme($accordion-active-theme-color);
        &:before {
          content: $accordion-collapsed-icon;
        }
      }

    }

    & .collapsing,
    & .collapse.show {
      @include add-border($accordion-underline-border-size, transparent, left);
      @include border-theme($accordion-active-theme-color);
    }
  }
}