// ================================================================================================
// File Name      : collapse.scss
// Description    : Adjustments for accordions that toggle the visibility of content.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

//
// DEFAULT ACCORDION TYPE
// ======================================================
// TODO https://www.codeply.com/go/506qHaPe9M

.accordion {
  .card-header {
    position: relative;
    > i {
      float: left;
      margin-right: $accordion-icon-margin-left;
    }
  }
  [data-toggle="collapse"] {
    @include transition;
    @include add-border($card-border-size, transparent, top);
    @include add-border(0, transparent, bottom);
    color: $accordion-title-active-color;
    background-color: $accordion-header-active-bg;
    border-color: $card-border-color;
    cursor: $cursor-pointer;
    display: flex;
    align-items: flex-start;

    &:first-child {
      border-top: none;
    }

    & .card-title,
    & .card-subtitle {
      color: inherit
    }
    & .card-subtitle {
      @include opacity(0.8);
    }

    &:after {
      @extend %acc-pseudo
    }

    // Collapsed state
    &.collapsed {
      color: $accordion-title-color;
      background-color: $accordion-header-collapsed-bg;
      &:after {
        content: $accordion-icon-collapsed;
      }
      &:hover {
        background-color: $accordion-header-collapsed-hover-bg;
        color: $accordion-title-hover-color;
      }
    }

  }

  & .card-body {
    background-color: $accordion-body-bg;
  }


}

//
// STANDARD ACCORDION TYPE
// ======================================================

a.accordion {
  position: relative;

  &:before {
    @include transition;
    @extend %acc-pseudo;
    left: 0;
  }
  &.collapsed {
    &:before {
      content: $accordion-icon-collapsed;
    }
  }
}

//
// ACCORDION EXTENDED TYPE
// ======================================================

.accordion.extended {
  .card {
    @include border-theme($accordion-ext-theme-scheme);
  }

  & [data-toggle="collapse"] {
    @include add-border($card-border-size, transparent, top);
    @include add-border(0, transparent, bottom);
    @include border-theme($accordion-ext-theme-scheme, $accordion-ext-hover-theme-tone);
    @include text-theme($accordion-ext-theme-scheme, 'font-color');
    @include background-theme($accordion-ext-theme-scheme, $accordion-ext-active-theme-tone);

    &.collapsed {
      @include background-theme($accordion-ext-theme-scheme);
      &:hover {
        @include background-theme($accordion-ext-theme-scheme, $accordion-ext-hover-theme-tone);
      }
    }

    &:first-child {
      border-top: none;
    }
  }

  // Outline type
  &.outline {
    & [data-toggle="collapse"] {
      @include border-theme($accordion-ext-theme-scheme);

      &.collapsed {
        background-color: transparent;
        color: $accordion-title-color;

        &:hover {
          background-color: $accordion-header-collapsed-hover-bg;
          color: $accordion-title-hover-color;
        }
      }
    }
  }
}

//
// ACCORDION EXTENDED - UNDERLINE TYPE
// ======================================================

.accordion {
  &.extended-underline {
    .card {
      border: 0;
    }
    & [data-toggle="collapse"] {
      @include add-border($accordion-ext-border-size, transparent, bottom);
      @include border-theme($accordion-ext-theme-scheme);
      background-color: transparent;
      padding-left: 40px;
      &:before {
        @extend %acc-pseudo;
        right: 0;
        left: 1rem;
      }

      &:after {
        display: none;
      }

      &.collapsed {
        @include add-border($accordion-ext-border-size, $card-border-color, bottom);
        &:before {
          content: $accordion-icon-collapsed;
        }
      }
    }

  }
}

//
// ACCORDION EXTENDED - LEFT LINE TYPE
// ======================================================

.accordion {
  &.extended-left-line {
    .card {
      @include set-border-radius(0);
      border: 0;
    }

    & [data-toggle="collapse"] {
      @include set-border-radius(0);
      @include add-border($accordion-ext-border-size, transparent, left);
      @include add-border(0, transparent, bottom);
      @include border-theme($accordion-ext-theme-scheme);
      padding-left: 40px;
      &:before {
        @extend %acc-pseudo;
        right: 0;
        left: 1rem;
      }

      &:after {
        display: none;
      }

      &.collapsed {
        @include add-border(0, transparent, bottom);
        @include border-theme($accordion-ext-theme-scheme);
        &:before {
          content: $accordion-icon-collapsed;
        }
      }

    }

    & .collapsing,
    & .collapse.show {
      @include add-border($accordion-ext-border-size, transparent, left);
      @include border-theme($accordion-ext-theme-scheme);
    }
  }
}