// ================================================================================================
// File Name      : custom-forms.scss
// Description    : Form control styles, layout options, and custom components for creating a
// wide variety of forms
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

//
// CUSTOM FORMS
// ======================================================

.custom-control {
  min-height: (1rem * $lh-base);

  .custom-control-label {
    @include transition(color $general-transition-duration $ease-in-out-circ);
    line-height: $lh-base;
  }

  &.right-aligned{
    padding-left: 0;
  }
}

.custom-control-input {
  $cc: custom-control;
  &:checked ~ .#{$cc}-label::before {
    @include background-theme($custom-control-indicator-checked-bg);
    color: $custom-control-indicator-checked-color;
    box-shadow: none;
    border-color: transparent;
  }

  &:focus ~ .#{$cc}-label::before {
    box-shadow: none;
  }

  &:active ~ .#{$cc}-label::before {
    //@include background-color('primary', 'light');
    color: $custom-control-indicator-active-color;
    background-color: $custom-control-indicator-active-bg;
    box-shadow: none;
  }

  &:disabled {

    ~ .#{$cc}-label {
      color: $custom-control-label-disabled-color;
      cursor: not-allowed;

      &::before {
        border-color: $custom-control-indicator-disabled-border-color;
        background-color: $custom-control-indicator-disabled-bg !important;
      }
    }
  }
}

// Custom Label
.custom-control-label {
  &::before {
    @include transition;
    top: (($lh-base - $custom-control-indicator-size) / 2);
    width: $custom-control-indicator-size;
    height: $custom-control-indicator-size;
    background-color: $custom-control-indicator-bg;
    border: $custom-control-indicator-border-size solid $custom-control-indicator-border-color;
  }

  &::after {
    @include transition;
    top: (($lh-base - $custom-control-indicator-size) / 2);
    width: $custom-control-indicator-size;
    height: $custom-control-indicator-size;
    background-size: $custom-control-indicator-bg-size;
  }

  .right-aligned &{
    &::before,
    &::after{
      right: 0;
      left: auto;
    }
  }
}

//
// CHECKBOXES
// ======================================================

.custom-checkbox {
  $cc: custom-control;

  &.rounded {
    .#{$cc}-label::before {
      @include set-border-radius($custom-checkbox-rounded-indicator-border-radius);
    }
  }

  .#{$cc}-label::before {
    @include set-border-radius($custom-checkbox-indicator-border-radius);
  }
  .#{$cc}-label::after {
    //transform: scale(1,1);
    background-size: 0% 0%;
    transition: background-size 0.3s ease-in;
  }

  .#{$cc}-input:checked ~ .#{$cc}-label {
    &::before {
      @include background-theme($custom-control-indicator-checked-bg);
    }
    &::after {
      //transform: scale(1.5,1.5);
      background-size: 65% 65%;
    }
  }

  .#{$cc}-input:disabled ~ .#{$cc}-label {
    &::after {
      background-image: $custom-checkbox-indicator-disabled-icon-checked;
    }
  }

  .#{$cc}-input:indeterminate ~ .#{$cc}-label {
    &::before {
      @include background-theme($custom-control-indicator-checked-bg);
    }
  }
}

//
// RADIOS
// ======================================================

.custom-radio {
  $cc: custom-control;

  .#{$cc}-label::before {
    @include set-border-radius($custom-radio-indicator-border-radius);
  }
  .#{$cc}-label::after {
    background-size: 0% 0%;
    transition: background-size 0.3s ease-in;
  }

  .#{$cc}-input:disabled ~ .#{$cc}-label {
    &::after {
      background-image: $custom-radio-indicator-disabled-icon-checked;
    }
  }

  .#{$cc}-input:checked ~ .#{$cc}-label {
    &::before {
      @include background-theme($custom-control-indicator-checked-bg);
    }
    &::after {
      background-size: 50% 50%;
    }
  }

}

//
// CUSTOM SELECT
// ======================================================

.custom-select {
  @include transition;
  @include set-border-radius($input-border-radius);
  height: $input-height;
  line-height: $custom-select-line-height;
  color: $custom-select-color;
  font-size: $custom-select-font-size;
  font-weight: $custom-select-font-weight;
  border: $custom-select-border-width solid $custom-select-border-color;
  padding: $btn-padding-y ($btn-padding-x + $custom-select-indicator-padding) $btn-padding-y $btn-padding-x;
  background: $custom-select-bg $custom-select-indicator no-repeat right $custom-select-padding-x center;
  background-size: $custom-select-bg-size;

  @include form-control-hover();
  @include form-control-focus();

  &:focus {
    // For visual consistency with IE.
    &::-ms-value {
      color: $input-color;
      background-color: $input-bg;
    }
  }

  &[multiple],
  &[size]:not([size="1"]) {
    padding-right: $btn-padding-x;
  }
  @include form-control-disabled();
}

//
// CUSTOM SELECT SIZING
// ======================================================

.custom-select-sm {
  height: $input-height-sm;
  padding: $btn-padding-y-sm ($btn-padding-x-sm + $custom-select-indicator-padding) $btn-padding-y-sm $btn-padding-x-sm;
  font-size: $input-font-size-sm;
  line-height: $btn-line-height-sm;
}

.custom-select-lg {
  height: $input-height-lg;
  padding: $btn-padding-y-lg ($btn-padding-x-lg + $custom-select-indicator-padding) $btn-padding-y-lg $btn-padding-x-lg;
  font-size: $input-font-size-lg;
  line-height: $btn-line-height-lg;
}

//
// CUSTOM FILE INPUT
// ======================================================

.custom-file {
  @include transition;
  height: $input-height;
  font-size: $input-font-size;
}

.custom-file-input {
  height: $input-height;

  &:focus ~ .custom-file-label {
    @include transition;
    color: $input-focus-color;
    //border-color: $input-focus-border-color;
    @include border-theme($input-focus-border-theme-scheme, $input-focus-border-theme-tone);
    box-shadow: none;

    &:after {
      background: $custom-file-button-focus-bg;
      //border-color: $input-focus-border-color;
    }
    @include border-theme($input-focus-border-theme-scheme, $input-focus-border-theme-tone);

    /* Set the border color to the focused state border color when the input is also hovered. */
    &:hover {
      //border-color: $input-focus-border-color;
      @include border-theme($input-focus-border-theme-scheme, $input-focus-border-theme-tone);
    }
  }

  &:hover {
    cursor: $cursor-pointer;
    & ~ .custom-file-label,
    & ~ .custom-file-label:after {
      border-color: $input-hover-border-color;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:disabled + .custom-file-label {
    @include opacity(0.8);
    border-color: $input-disabled-border-color;
    background-color: $input-disabled-bg;
    color: $input-disabled-color;

    &:before {
      //background: $input-disabled-bg;
      border-color: $input-disabled-border-color;
    }

  }

  @each $lang, $value in $custom-file-text {
    &:lang(#{$lang}) ~ .custom-file-label::after {
      //font-family: simple-line-icons, Arial;
      font-family: 'simple-line-icons', get-typography(font-default);
      content: $value;
    }
  }

}

.custom-file-label {
  @include transition;
  @include set-border-radius($input-border-radius);
  height: $input-height;
  line-height: $btn-line-height;
  padding: $btn-padding-y $btn-padding-x;
  color: $input-color;
  font-weight: $btn-font-weight;
  font-size: $input-font-size;
  border: $input-border-size solid $input-border-color;

  &::after {
    @include transition;
    @include set-border-radius($input-border-radius);
    @include border-left-radius(0);
    top: -$input-border-size;
    right: -$input-border-size;
    bottom: -$input-border-size;
    height: $input-height;
    padding: $btn-padding-y $btn-padding-x;
    line-height: $btn-line-height;
    color: $input-color;
    border: $input-border-size solid $input-border-color;
    background-color: $custom-file-button-bg;
  }
}

//
// FILE INPUT SIZING
// ======================================================
.custom-file-sm {
  height: $input-height-sm;
  font-size: $input-font-size-sm;

  .custom-file-input {
    height: $input-height-sm;
  }

  .custom-file-label {
    height: $input-height-sm;
    line-height: $btn-line-height-sm;
    padding: $btn-padding-y-sm $btn-padding-x-sm;
    font-size: $input-font-size-sm;
    &::after {
      height: $input-height-sm;
      line-height: $btn-line-height-sm;
      padding: $btn-padding-y-sm $btn-padding-x-sm;
    }
  }
}

.custom-file-lg {
  height: $input-height-lg;
  font-size: $input-font-size-lg;

  .custom-file-input {
    height: $input-height-lg;
  }

  .custom-file-label {
    height: $input-height-lg;
    line-height: $btn-line-height-lg;
    padding: $btn-padding-y-lg $btn-padding-x-lg;
    font-size: $input-font-size-lg;
    &::after {
      height: $input-height-lg;
      line-height: $btn-line-height-lg;
      padding: $btn-padding-y-lg $btn-padding-x-lg;
    }
  }
}

//
// TOGGLE SWITCH
// ======================================================
.custom-toggle {
  $ct: custom-toggle;
  $cci: custom-control-input;
  $ccind: custom-control-indicator;

  height: $custom-toggle-height;
  display: flex !important;
  align-items: center;
  padding-left: 0;
  //padding-left: ($custom-toggle-width + 10px);

  .#{$ccind} {
    @include transition;
    position: relative;
    top: 0;
    left: 0;
    width: $custom-toggle-width;
    height: $custom-toggle-height;
    background-color: $custom-toggle-bg;
    display: block;
    border-radius: $custom-toggle-border-radius;
    border: $custom-toggle-border;
    margin-right: 10px;

    &:hover {
      cursor: $cursor-pointer;
    }

    &:after {
      @include transition;
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      width: $custom-toggle-knob-width;
      height: $custom-toggle-knob-height;
      background-color: $input-border-color;
      border-radius: $custom-toggle-knob-border-radius;
    }

    @at-root .mini#{&} {
      height: $custom-toggle-mini-height;
      background-color: $custom-toggle-mini-bg !important;
      border: $custom-toggle-border !important;
      &:after {
        top: -6px;
      }
    }
  }

  // Checked state
  .#{$cci}:checked + .#{$ccind},
  .#{$cci}:checked:active + .#{$ccind} {
    @include transition;
    &:after {
      left: calc(100% - 3px);
      transform: translateX(-100%);
    }
  }

  // Active state
  .#{$cci}:active + .#{$ccind} {
    background-color: $custom-toggle-bg;
    &:after {
      width: $custom-toggle-knob-active-width;
    }
  }

  // Disabled state
  .#{$cci}:disabled + .#{$ccind} {
    background-color: $custom-control-indicator-disabled-bg;
    cursor: not-allowed;
  }
  .#{$cci}:disabled:active + .#{$ccind}:after {
    width: $custom-toggle-knob-width;
  }

  // Checked + Disabled state
  .#{$cci}:disabled:checked + .#{$ccind} {
    @include opacity(0.5);
  }

  // Theme variations
  @each $themeName, $value in $themes-map {
    $colors: map-get-strict($value, 'main-colors');
    @each $scheme, $value in $colors {
      &.#{$ct}-#{$scheme} {
        @include custom-toggle($scheme);
      }
    }
  }

  // Contextual variations
  @each $scheme, $value in $contextual-palette-map {
    &.#{$ct}-#{$scheme} {
      @include custom-toggle($scheme);
    }
  }
}

//
// TOGGLE FLIP SWITCH
// ======================================================

.custom-toggle-flip {
  $ctf: custom-toggle-flip;
  $cci: custom-control-input;
  $ccind: custom-control-indicator;

  display: flex !important;
  align-items: center;
  padding-left: 0;

  .#{$ccind} {
    position: relative;
    width: $custom-toggle-flip-width;
    height: $custom-toggle-flip-height;
    display: block;
    cursor: $cursor-pointer;
    user-select: none;
    perspective: $custom-toggle-flip-width + $custom-toggle-flip-height;
    margin-right: 10px;
    color: $custom-toggle-flip-off-state-color;

    &:before, &:after {
      @include transition;
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      line-height: $custom-toggle-flip-height;
      backface-visibility: hidden;
      text-align: center;
      border-radius: $custom-toggle-flip-border-radius;
    }

    &:before {
      content: attr(data-toggle-off);
      background-color: $custom-toggle-flip-off-state-bg;
    }

    &:after {
      content: attr(data-toggle-on);
      transform: rotateY(-180deg);
    }
  }

  // Checked state
  .#{$cci}:checked + .#{$ccind},
  .#{$cci}:checked:active + .#{$ccind} {
    @include transition;

    &:before {
      transform: rotateY(180deg)
    }
    &:after {
      transform: rotateY(0deg)
    }
  }


  // Disabled state
  .#{$cci}:disabled + .#{$ccind} {
    background-color: $custom-control-indicator-disabled-bg;
    color: $custom-control-indicator-disabled-color;
    cursor: not-allowed;
  }

  // Checked + Disabled state
  .#{$cci}:disabled:checked + .#{$ccind} {
    @include opacity(0.5);
  }


  // YES/NO fliping toggle switch
  &.yes-no .#{$ccind} {
    &:before {
      background-color: contextual-color(danger, base);
      color: contextual-color(danger, font-color);
    }
    &:after {
      transform: rotateX(-180deg);
    }
  }

  // YES/NO Checked state
  &.yes-no .#{$cci}:checked + .#{$ccind},
  &.yes-no .#{$cci}:checked:active + .#{$ccind} {
    &:before {
      transform: rotateX(180deg)
    }
    &:after {
      transform: rotateX(0deg)
    }
  }

  // YES/NO Disabled state
  &.yes-no .#{$cci}:disabled + .#{$ccind} {
    @include opacity(0.5);
  }

  // Theme variations
  @each $themeName, $value in $themes-map {
    $colors: map-get-strict($value, 'main-colors');
    @each $scheme, $value in $colors {
      &.#{$ctf}-#{$scheme} {
        @include custom-toggle-flip($scheme);
      }
    }
  }

  // Contextual variations
  @each $scheme, $value in $contextual-palette-map {
    &.#{$ctf}-#{$scheme} {
      @include custom-toggle-flip($scheme);
    }
  }

}

