// ================================================================================================
// File Name      : dropdown.scss
// Description    : Adjustments for dropdowns that active on hover/click and provide a nice
// user experience.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

// BOOTSTRAP DROPDOWN MENU - EXTENDED
// ======================================================
// TODO Adapted from https://codepen.io/pawelwojtas/pen/rGPpbd

.dropdown-menu.extended {

  &,
  .dropdown-menu {
    @include set-border-radius($dropdown-border-radius);
    z-index: map-get($zindex, dropdown);
    width: $dropdown-width;
    max-width: $dropdown-max-width;
    min-width: $dropdown-min-width;
    padding: $dropdown-padding-y $dropdown-padding-x;
    margin-top: $dropdown-margin-top; // Positioning first level dropdown menu
    background-color: $dropdown-bg;
    box-shadow: $dropdown-shadow;

    @include max-screen($screen-md-max) {
      width: 100%;
      max-width: 90%;
      box-shadow: none;
      margin: $dropdown-margin-top auto;
    }
  }

  // Dropdown top arrow
  &:before {
    content: "";
    border-bottom: 6px solid #fff;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    position: absolute;
    top: -6px;
    left: 16px;
    z-index: 10;
  }

  &:after {
    content: "";
    border-bottom: 8px solid #ccc;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    position: absolute;
    top: -8px;
    left: 14px;
    z-index: 9;
  }

  &[x-placement="top-start"],
  &[x-placement="top-end"] {
    margin-bottom: 15px;
    &:before {
      bottom: -6px;
      top: unset;
      transform: rotate(180deg);
    }

    &:after {
      bottom: -8px;
      top: unset;
      transform: rotate(180deg);
    }
  }

  @include max-screen($screen-md-max) {
    &:before,
    &:after {
      display: none;
    }
  }

  // Dropdown section headers
  & .dropdown-header:not([href]):not([tabindex]) {
    font-size: $dropdown-header-font-size;
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: $font-wh-semi;
  }

  // Dropdown menu links
  & .dropdown-item {
    //@include add-border(2px, transparent, left);
    @include transition;
    font-size: $dropdown-font-size;
    clear: both;
    position: relative;
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
    color: $dropdown-link-color;
    display: flex;
    align-items: center;

    // Dropdown menu icon
    i {
      font-size: $dropdown-font-size;
      width: $dropdown-icon-width;
      display: inline-block;
      margin: 0 $dropdown-item-padding-x 0 0;
      color: $dropdown-link-color;
      text-align: center;
    }

    // TODO Adapted from https://github.com/sagaio/user-dropdown-menu/blob/master/trunk/css/dropdown.css

    // Showing left border styling on hover for better highlighting
    &::before {
      @include transition;
      @include background-theme('primary');
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      width: 3px;
      opacity: 0;
    }

    &:hover::before,
    &.active::before {
      opacity: 1;
    }

    // Change the hover, focus, active state links for better highlighting
    &:hover,
    &:focus {
      color: $dropdown-link-hover-color;
      background: $dropdown-link-hover-bg;
      //@include border-left-color('primary', 'base');
    }

    &.active,
    &.active:focus,
    &.active:hover,
    &:active {
      //@include border-left-color('primary', 'base');
      color: $dropdown-link-active-color;
      background-color: $dropdown-link-active-bg;
      text-decoration: none;
    }

    #{$disabled-tags} {
      //@include add-border(2px, transparent, left);
      //color: $dropdown-link-disabled-color;
      background-color: transparent;
      cursor: not-allowed;
      background-image: none;
      opacity: 0.6;
      filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
    }

  }

  & .dropdown-divider {
    @include add-border($dropdown-divider-border-width, $dropdown-divider-color, top);
  }

  // Positioning submenu layout. Add extra class to `.dropdown-menu` to flip the alignment of the dropdown.
  &.dropdown-menu-right {
    &:before {
      right: 16px;
      left: auto;
    }

    &:after {
      left: auto;
      right: 14px;
    }

    // Second, Third and more levels
    & .dropdown-menu {
      top: 0;
      left: -100%;
      margin-left: -1px;
      //margin-right: .1rem;
    }

  }

}

// DROPDOWN SUBMENU
// ======================================================
// The styles below are applicable for both extended and default bootstrap dropdown
// TODO Adapted from https://stackoverflow.com/questions/44467377/bootstrap-4-multilevel-dropdown-inside-navigation/45755948#45755948

.dropdown-submenu {
  position: relative;

  // Arrow icon
  .dropdown-toggle:after {
    @include center(y);
    //top: 50%;
    transform: rotate(-90deg);
    position: absolute;
    right: 1em;
    @include max-screen($screen-md-max) {
      transform: rotate(0deg);
    }
  }

  // Second, Third and more levels
  & .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 1px;

    &:before,
    &:after {
      display: none;
    }
  }
}

// BOOTSTRAP DROPDOWN MENU - EXTENDED - THEMED
// ======================================================
.dropdown-menu.extended.themed {

  &,
  .dropdown-menu {
    @include background-theme('header', 'base');
    border: 0;
  }

  // Dropdown top arrow colors
  &:before {
    @include border-theme('header', $position: bottom);
  }

  &:after {
    @include border-theme('header', 'dark', $position: bottom);
    display: none;
  }

  // Dropdown section headers
  .dropdown-header {
    @include text-theme('header', 'font-color');
  }

  // Dropdown menu links
  .dropdown-item {

    &,
    i {
      @include text-theme('header', 'link-color');
    }

    // Change the hover, focus, active state links for better highlighting
    &:hover,
    &:focus {
      @include background-text-theme('header', 'light', 'hover-color');
    }

    &.active,
    &.active:focus,
    &.active:hover,
    &:active {
      @include background-text-theme('header', 'light', 'active-color');
    }

    &.disabled,
    &.disabled:focus,
    &.disabled:hover,
    &:disabled {
      background-color: transparent;
      opacity: 0.6;
    }

  }

  & .dropdown-divider {
    @include border-theme('header', 'light', $position: top);
    border-top: 1px solid;
  }

}

// Remove the arrow in dropdown to replace with Icon (.no-arr)
.dropdown-toggle.no-arr {
  &:after {
    //display: none;
    content: none;
  }
}

// DROPUP VARIATIONS
// ======================================================
.dropup {
  .dropdown-menu.extended {
    // Dropdown arrow
    &:before {
      bottom: -6px;
      top: unset;
      transform: rotate(180deg);
    }

    &:after {
      bottom: -8px;
      top: unset;
      transform: rotate(180deg);
    }
  }
}

.dropright {
  .dropdown-menu.extended {
    margin-top: 0;
    margin-left: 15px;

    // Dropdown arrow
    &:before {
      top: 16px;
      left: -9px;
      transform: rotate(-90deg);
    }

    &:after {
      top: 15px;
      left: -12px;
      transform: rotate(-90deg);
    }

  }
}

.dropleft {
  .dropdown-menu.extended {
    margin-top: 0;
    margin-right: 15px;

    // Dropdown arrow
    &:before {
      top: 16px;
      right: -9px;
      transform: rotate(90deg);
      left: unset;
    }

    &:after {
      top: 15px;
      right: -12px;
      left: unset;
      transform: rotate(90deg);
    }

  }
}