// ================================================================================================
// File Name: dropdown.scss
// Description: Bootstrap dropdowns to active on hover/click and provide a nice user experience.
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

//----------------------------------*\
// BOOTSTRAP DROPDOWN MENU - EXTENDED
//----------------------------------*/
// TODO Adapted from https://codepen.io/pawelwojtas/pen/rGPpbd

.dropdown-menu.extended,
.dropdown-menu.extended .dropdown-menu {
  width: 200px;
  max-width: 320px;
  min-width: 160px;
  padding: $dropdown-padding-y $dropdown-padding-x;
  background-color: $dropdown-bg;

  /* Dropdown header */
  .dropdown-header {
    @include font-size(12px);
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
    white-space: nowrap;
  }

  /* Dropdown menu links */
  .dropdown-item {
    @include font-size(14px);
    @include transition;
    clear: both;
    width: 100%;
    white-space: nowrap;
    position: relative;
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
    color: $dropdown-link-color;

    // TODO Adapted from https://github.com/sagaio/user-dropdown-menu/blob/master/trunk/css/dropdown.css

    /* Showing left border styling on hover for better highlighting */
    &::before {
      @include transition;
      @include background-color('primary', 'base');
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      width: 2px;
      opacity: 0;
    }

    &:hover::before {
      opacity: 1;
    }

    /* Selects the hover, focus, active state links for better highlighting */
    &:hover,
    &:focus {
      color: $dropdown-link-hover-color;
      background: $dropdown-link-hover-bg;
    }

    &.active,
    &.active:focus,
    &.active:hover,
    &:active {
      color: $dropdown-link-active-color;
      text-decoration: none;
      background-color: $dropdown-link-active-bg;

    }

    &.disabled,
    &.disabled:focus,
    &.disabled:hover,
    &:disabled {
      color: $dropdown-link-disabled-color;
      background-color: transparent;
      cursor: not-allowed;
      background-image: none;
      filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
    }

  }

  &:before {
    content: "";
    border-bottom: 8px solid #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    position: absolute;
    top: -8px;
    left: 16px;
    z-index: 10;
  }

  &:after {
    content: "";
    border-bottom: 10px solid #ccc;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 14px;
    z-index: 9;
  }


  /* Positioning submenu layout to left */
  &.dropdown-menu-right {
    &:before {
      right: 16px;
      left: inherit;
    }

    &:after {
      left: inherit;
      right: 14px;
    }

    /* Second, Third and more levels */
    & .dropdown-menu {
      top: 0;
      left: -100%;
      margin-left: .1rem;
      margin-right: .1rem;
    }

  }

}

//----------------------------------*\
// DROPDOWN SUBMENU
//----------------------------------*/
// The styles below are applicable for both extended and default bootstrap dropdown
// TODO Adapted from https://stackoverflow.com/questions/44467377/bootstrap-4-multilevel-dropdown-inside-navigation/45755948#45755948

.dropdown-submenu {
  position: relative;

  > a:after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: 1.2em;
  }

  /* Second, Third and more levels */
  & .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;

    &:before,
    &:after {
      display: none;
    }
  }
}

/* Remove the arrow in dropdown to replace with Icon */
.dropdown-toggle.no-arr {
  &:after {
    //display: none;
    content: none;
  }
}