// ================================================================================================
// File Name      : dropdown.scss
// Description    : Adjustments for Bootstrap's dropdown's that active on hover/click and provide
//                  a nice user experience.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

//
// BOOTSTRAP DROPDOWN MENU - EXTENDED
// ======================================================
// TODO Adapted from https://codepen.io/pawelwojtas/pen/rGPpbd

.dropdown-menu.extended {

  &,
  .dropdown-menu {
    @include set-border-radius($dropdown-border-radius);
    z-index: map-get($zindex, dropdown);
    width: $dropdown-width;
    //max-width: $dropdown-max-width;
    margin-top: $dropdown-margin-top;
    margin-bottom: $dropdown-margin-bottom;
    min-width: $dropdown-min-width;
    padding: $dropdown-padding-y $dropdown-padding-x;
    background-color: $dropdown-bg;
    box-shadow: $dropdown-shadow;
    @include add-border($dropdown-border-size, $dropdown-border-color, all);

    // Prevent dropdown overflow if there's no padding
    // See https://github.com/twbs/bootstrap/pull/27703
    @if ($dropdown-padding-y == 0 and bool($enable-rounded) == true) {
      li {
        &:first-child {
          .dropdown-item {
            @include border-top-radius($dropdown-border-radius);
          }
        }

        &:last-child {
          .dropdown-item {
            @include border-bottom-radius($dropdown-border-radius);
          }
        }
      }
    }
  }

  &.has-arrow {
    margin-top: $dropdown-has-arrow-margin-top;
    margin-bottom: $dropdown-has-arrow-margin-bottom;

    // Add an arrow to the dropdown menus
    &:before {
      content: "";
      border-bottom: 6px solid $dropdown-bg;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
      position: absolute;
      top: -6px;
      left: 16px;
      z-index: 10;
    }

    &:after {
      content: "";
      border-bottom: 8px solid $dropdown-border-color;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
      position: absolute;
      top: -8px;
      left: 14px;
      z-index: 9;
    }

    // Positioning arrow based on shifted properties like 'top-start' and 'top-end'. ie place the arrow at the bottom for an 'up' menu
    &[x-placement^="top"] {
      margin-bottom: $dropdown-margin-bottom;

      &:before {
        bottom: -6px;
        top: unset;
        transform: rotate(180deg);
      }

      &:after {
        bottom: -8px;
        top: unset;
        transform: rotate(180deg);
      }
    }
  }

  // Dropdown section headers
  & .dropdown-header:not([href]):not([tabindex]) {
    font-size: $dropdown-header-font-size;
    color: $dropdown-header-color;
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: $font-wh-semi;
  }

  // Dropdown menu links
  & .dropdown-item {
    @include transition;
    font-size: $dropdown-font-size;
    position: relative;
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
    color: $dropdown-link-color;
    display: flex;
    align-items: center;

    // Dropdown menu icon
    i {
      @include transition;
      font-size: $dropdown-font-size;
      width: $dropdown-icon-width;
      color: $dropdown-link-color;
      text-align: center;
    }

    @at-root .bordered#{&} {
      @if ($dropdown-padding-y == 0 and bool($enable-rounded) == true) {
        overflow: hidden; // Prevent dropdown overflow if there's no padding. See https://github.com/twbs/bootstrap/pull/27703
      }

      // Showing left border styling on hover for better highlighting
      &::before {
        @include transition;
        @include background-theme($dropdown-ext-item-border-theme-scheme);
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        width: $dropdown-ext-item-border-size;
        opacity: 0;
      }

      &:hover::before,
      &.active::before {
        opacity: 1;
      }
    }

    // Change the hover, focus, active state links for better highlighting
    #{$hover-focus-tags} {
      color: $dropdown-link-hover-color;
      background: $dropdown-link-hover-bg;
      i {
        color: $dropdown-link-hover-color;
      }
    }

    &.active,
    &.active:focus,
    &.active:hover,
    &:active {
      color: $dropdown-link-active-color;
      background-color: $dropdown-link-active-bg;
      text-decoration: none;
      i {
        color: $dropdown-link-active-color;
      }
    }

    #{$disabled-tags} {
      background-color: transparent;
      cursor: $cursor-not-allowed;
      background-image: none;
      opacity: $dropdown-link-disabled-opacity;
    }

  }

  // Dropdown text
  & .dropdown-item-text {
    font-size: $dropdown-font-size;
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
    color: $dropdown-link-color;
  }

  & .dropdown-divider {
    @include add-border($dropdown-divider-border-width, $dropdown-divider-color, top);
  }

}

//
// RESPONSIVE ALIGNMENT
// ======================================================

.dropdown-menu-right {
  @at-root .has-arrow#{&} {
    &:before {
      right: 16px;
      left: auto !important;
    }
    &:after {
      right: 14px;
      left: auto !important;
    }
  }

  // Positioning submenu layout (Second, Third and more levels).
  // Add extra class `dropdown-menu-right` to the parent`.dropdown-menu` to flip the alignment of the dropdown.
  & .dropdown-menu {
    top: 0 !important;
    left: -100% !important;
    margin-left: -1px !important;
  }
}

// Generate series of `.dropdown-menu-{sm|md|lg|xl}-{right|left}` classes for responsive alignment

@each $next-breakpoint, $length in $breakpoints-max-widths {
  $next-breakpoint: breakpoint-next($next-breakpoint, $breakpoints-min-widths);
  $next-length: map-get-strict($breakpoints-min-widths,$next-breakpoint);

  @media only screen and (min-width: #{$next-length}){
    .dropdown-menu-#{$next-breakpoint}-right {
      @at-root .has-arrow#{&} {
        &:before {
          right: 16px;
          left: auto !important;
        }
        &:after {
          right: 14px;
          left: auto !important;
        }
      }
    }
    .dropdown-menu-#{$next-breakpoint}-left {
      @at-root .has-arrow#{&} {
        &:before {
          right:auto;
          left: 16px !important;
        }
        &:after {
          right: auto;
          left: 14px !important;
        }
      }

    }
  }

}

//
// BOOTSTRAP DROPDOWN MENU - EXTENDED - THEMED
// ======================================================

.dropdown-menu.extended.themed {

  &,
  .dropdown-menu {
    @include background-theme($dropdown-ext-theme-scheme);
    @include border-theme($dropdown-ext-theme-scheme, 'dark', all);
  }

  &.has-arrow {
    // Dropdown arrow colors
    &:before {
      @include border-theme($dropdown-ext-theme-scheme, $position: bottom);
    }

    &:after {
      @include border-theme($dropdown-ext-theme-scheme, 'dark', bottom);
    }
  }

  // Dropdown section headers
  & .dropdown-header {
    @include text-theme($dropdown-ext-theme-scheme, 'font-color');
  }

  // Dropdown menu links
  & .dropdown-item {
    &,
    i {
      @include text-theme($dropdown-ext-theme-scheme, 'font-link-color');
    }

    // Change the hover, focus, active state links for better highlighting
    #{$hover-focus-tags} {
      @include background-text-theme($dropdown-ext-theme-scheme, 'dark', 'font-hover-color');

      i {
        @include text-theme($dropdown-ext-theme-scheme, 'font-hover-color');
      }
    }

    &.active,
    &.active:focus,
    &.active:hover,
    &:active {
      @include background-text-theme($dropdown-ext-theme-scheme, 'x-dark', 'font-active-color');

      i {
        @include text-theme($dropdown-ext-theme-scheme, 'font-active-color');
      }
    }

    #{$disabled-tags} {
      background-color: transparent !important;
    }

  }

  // Dropdown text
  & .dropdown-item-text {
    @include text-theme($dropdown-ext-theme-scheme, 'font-link-color');
  }

  & .dropdown-divider {
    @include border-theme($dropdown-ext-theme-scheme, 'x-light', $position: top);
  }
}

//
// DROPDOWN SUBMENU
// ======================================================
// The styles below are applicable for both extended and default bootstrap dropdown
// TODO Adapted from https://stackoverflow.com/questions/44467377/bootstrap-4-multilevel-dropdown-inside-navigation/45755948#45755948

.dropdown.has-child {
  position: relative;

  // Arrow icon
  .dropdown-toggle:after {
    @include center(y);
    //top: 50%;
    transform: rotate(-90deg);
    position: absolute;
    right: 1em;
    @include max-screen($screen-md-max) {
      transform: rotate(0deg);
    }
  }

  // Second, Third and more levels
  & .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 1px;
    @include max-screen($screen-md-max) {
      position: static !important;
      margin: 4px !important;
      box-shadow: none;
      //& .dropdown-item{ padding-left:20px}
    }

    &:before,
    &:after {
      display: none;
    }
  }
}

//
// HIDE DROPDOWN TRIGGER ELEMENT CARET
// ======================================================
.dropdown-toggle.no-caret {
  &:after {
    content: none;
  }
}

//
// DROPDOWN POSITION VARIATIONS
// ======================================================

// Dropup variation
.dropup {
  .dropdown-menu.extended {
    margin-top: 0;
    // Support to move the arrow to the bottom
    &.has-arrow {
      margin-bottom: $dropdown-has-arrow-margin-top;
      // Dropdown arrow
      &:before {
        bottom: -6px;
        top: unset;
        transform: rotate(180deg);
      }

      &:after {
        bottom: -8px;
        top: unset;
        transform: rotate(180deg);
      }
    }
  }
}

// Dropright variation
.dropright {
  .dropdown-menu.extended {
    margin-top: 0;

    &.has-arrow {
      margin-left: $dropdown-margin-left;
      // Support to move the arrow to the left-hand-side
      &:before {
        top: 16px;
        left: -9px;
        transform: rotate(-90deg);
      }

      &:after {
        top: 15px;
        left: -12px;
        transform: rotate(-90deg);
      }
    }
  }
}

// Dropleft variation
.dropleft {
  .dropdown-menu.extended {
    margin-top: 0;

    &.has-arrow {
      margin-right: $dropdown-margin-right;
      // Support to move the arrow to the right-hand-side
      &:before {
        top: 16px;
        right: -9px;
        transform: rotate(90deg);
        left: unset;
      }

      &:after {
        top: 15px;
        right: -12px;
        left: unset;
        transform: rotate(90deg);
      }
    }
  }
}
