// ================================================================================================
// File Name: dropdown.scss
// Description: Bootstrap dropdowns to active on hover/click and provide a nice user experience.
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

//----------------------------------*\
// BOOTSTRAP DROPDOWN MENU - EXTENDED
//----------------------------------*/
// TODO Adapted from https://codepen.io/pawelwojtas/pen/rGPpbd

.dropdown-menu.extended {

  &,
  .dropdown-menu {
    @include set-border-radius($dropdown-border-radius);
    z-index: map-get($zindex, dropdown);
    width: 200px;
    max-width: 320px;
    min-width: 160px;
    padding: $dropdown-padding-y $dropdown-padding-x;
    margin-top: $dropdown-margin-top; /* Positioning first level dropdown menu */
    background-color: $dropdown-bg;
    box-shadow: $container-shadow;

    @include max-screen($screen-md-max) {
      width: 100%;
      max-width: 90%;
      box-shadow: none;
      margin: $dropdown-margin-top auto;
    }
  }


  /* Dropdown top arrow */
  &:before {
    content: "";
    border-bottom: 6px solid #fff;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    position: absolute;
    top: -6px;
    left: 16px;
    z-index: 10;
  }

  &:after {
    content: "";
    border-bottom: 8px solid #ccc;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    position: absolute;
    top: -8px;
    left: 14px;
    z-index: 9;
  }


  &[x-placement="top-start"],
  &[x-placement="top-end"]
  {
    margin-bottom: 15px;
    &:before {
      bottom: -6px;
      top: unset;
      transform: rotate(180deg);
    }

    &:after {
      bottom: -8px;
      top: unset;
      transform: rotate(180deg);
    }
  }



  @include max-screen($screen-md-max) {
    &:before,
    &:after{
      display: none;
    }
  }

  /* Dropdown header */
  & .dropdown-header:not([href]):not([tabindex]){
    @include font-size($dropdown-header-font-size);
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
  }

  /* Dropdown menu links */
  & .dropdown-item {
    @include font-size($dropdown-font-size);
    //@include add-border(2px, transparent, left);
    @include transition;
    clear: both;
    position: relative;
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
    color: $dropdown-link-color;
    /* Flexbox */
    display: flex;
    align-items: center;

    i {
      @include font-size($dropdown-font-size);
      width: $dropdown-icon-width;
      display: inline-block;
      margin: 0 $dropdown-item-padding-x 0 0;
      color: $dropdown-link-color;
      text-align: center;
    }

    // TODO Adapted from https://github.com/sagaio/user-dropdown-menu/blob/master/trunk/css/dropdown.css

    /* Showing left border styling on hover for better highlighting */

     &::before {
       @include transition;
       @include background-color('primary', 'base');
       content: '';
       position: absolute;
       bottom: 0;
       left: 0;
       top: 0;
       width: 3px;
       opacity: 0;
     }

     &:hover::before,
     &.active::before
     {
       opacity: 1;
     }

    /* Change the hover, focus, active state links for better highlighting */
    &:hover,
    &:focus {
      color: $dropdown-link-hover-color;
      background: $dropdown-link-hover-bg;
      //@include border-left-color('primary', 'base');
    }

    &.active,
    &.active:focus,
    &.active:hover,
    &:active {
      //@include border-left-color('primary', 'base');
      color: $dropdown-link-active-color;
      background-color: $dropdown-link-active-bg;
      text-decoration: none;
    }

    &.disabled,
    &.disabled:focus,
    &.disabled:hover,
    &:disabled {
      //@include add-border(2px, transparent, left);
      //color: $dropdown-link-disabled-color;
      background-color: transparent;
      cursor: not-allowed;
      background-image: none;
      opacity: 0.6;
      filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
    }


  }

  & .dropdown-divider {
    border-top: 1px solid $dropdown-divider-color;
  }

  /* Positioning submenu layout. Add extra class to `.dropdown-menu` to flip the alignment of the dropdown. */
  &.dropdown-menu-right {
    &:before {
      right: 16px;
      left: auto;
    }

    &:after {
      left: auto;
      right: 14px;
    }

    /* Second, Third and more levels */
    & .dropdown-menu {
      top: 0;
      left: -100%;
      margin-left: -1px;
      //margin-right: .1rem;
    }

  }

}

//----------------------------------*\
// DROPUP VARIATION
//----------------------------------*/
.dropup {
  .dropdown-menu.extended {
    /* Dropdown bottom arrow */
    &:before {
      bottom: -6px;
      top: unset;
      transform: rotate(180deg);
    }

    &:after {
      bottom: -8px;
      top: unset;
      transform: rotate(180deg);
    }
  }
}

//----------------------------------*\
// DROPDOWN SUBMENU
//----------------------------------*/
// The styles below are applicable for both extended and default bootstrap dropdown
// TODO Adapted from https://stackoverflow.com/questions/44467377/bootstrap-4-multilevel-dropdown-inside-navigation/45755948#45755948

.dropdown-submenu {
  position: relative;

  /* Arrow icon */
  .dropdown-toggle:after {
    @include center(y);
    //top: 50%;
    transform: rotate(-90deg);
    position: absolute;
    right: 1em;
    @include max-screen($screen-md-max) {
      transform: rotate(0deg);
    }
  }

  /* Second, Third and more levels */
  & .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 1px;

    &:before,
    &:after {
      display: none;
    }
  }
}

//-------------------------------------------*\
// BOOTSTRAP DROPDOWN MENU - EXTENDED - THEMED
//-------------------------------------------*/
.dropdown-menu.extended.themed {

  &,
  .dropdown-menu {
    @include background-color('header', 'base');
    border: 0;
  }

  /* Dropdown top arrow colors */
  &:before {
    @include border-bottom-color('header', 'base');
  }

  &:after {
    @include border-bottom-color('header', 'dark');
    display: none;
  }

  /* Dropdown header */
  .dropdown-header {
    @include color('header', 'font-color');
  }

  /* Dropdown menu links */
  .dropdown-item {

    &,
    i {
      @include color('header', 'link-color');
    }

    /* Change the hover, focus, active state links for better highlighting */
    &:hover,
    &:focus {
      @include color('header', 'hover-color');
      @include background-color('header', 'light');
    }

    &.active,
    &.active:focus,
    &.active:hover,
    &:active {
      @include color('header', 'active-color');
      @include background-color('header', 'light');

    }

    &.disabled,
    &.disabled:focus,
    &.disabled:hover,
    &:disabled {
      background-color: transparent;
      opacity: 0.6;
    }

  }

  & .dropdown-divider {
    @include border-top-color('header', 'light');
    border-top: 1px solid;
  }


}

/* Remove the arrow in dropdown to replace with Icon (.no-arr) */
.dropdown-toggle.no-arr {
  &:after {
    //display: none;
    content: none;
  }
}