// ================================================================================================
// File Name: examples.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

//----------------------------------*\
// DROPDOWN
//----------------------------------*/

.example {
  > .dropdown-menu {
    position: relative;
    display: block;
    z-index: 100;
    top: 0;
  }

  .modal {
    z-index: 0;
    position: relative;
    display: block;
  }

  .popover {
    position: relative;
  }

  .progress {
    margin-bottom: 20px
  }

}