/*!
================================================================================================
File Name      : examples.scss
Description    : Styles used for demo purpose only. Remove this css from your project.
------------------------------------------------------------------------------------------------
Item Name      : xxx - Responsive Admin Theme
Version        : 1.2
Author         : MANOJ
Author URL     : http://www.themeforest.net/user/xxx
================================================================================================
*/

.example {
  > .dropdown-menu {
    position: relative;
    display: block;
    z-index: 100;
    top: 0;
  }

  .modal {
    z-index: 0;
    position: relative;
    display: block;
  }

  .popover, .tooltip {
    position: relative;
  }

  .progress {
    margin-bottom: 20px
  }

  .list-icon i {
    @include transition;
    font-size: 14px;
    width: 40px;
    vertical-align: middle;
    margin: 0;
    display: inline-block;
    text-align: center;
    line-height: 30px;
  }

  .list-icon div:hover i {
    transform: scale(3);
  }

}

//
// DUMMY PLACEHOLDERS
// ======================================================
// Adapted from https://codepen.io/p-dg/pen/ezYmYz?editors=1100

span.placeholder,
span.placeholder code,
span.placeholder a {
  background: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 90%);
  line-height: 1.70rem;
}

span.placeholder code {
  padding-top: 0;
  padding-bottom: 0;
}

hr.placeholder {
  border: 0;
  height: .25em;
  background: hsla(0, 0%, 80%, .25);
  margin: 2rem 0;
}

button span.placeholder,
button span.placeholder a {
  background: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
}