// ================================================================================================
// File Name: forms.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

/* Textual form controls */
.form-control {
  @include transition;
  font-size: $input-font-size;
  //@include font-size($input-font-size);
  padding: $btn-padding-y $btn-padding-x;
  color: $input-color;
  border: $input-border-size solid $input-border-color;
  line-height: $btn-line-height;
  @if bool($enable-rounded) == true {
    @include border-radius($input-border-radius);
  } @else {
    border-radius: 0;
  }

  &:hover {
    border-color: $input-hover-border-color;
  }
  &:focus {
    @include border-color('primary', 'light');
    color: $input-color;

    & + .input-group-addon,
    & ~ .input-group-addon {
      @include border-color('primary', 'light');
    }
  }

  &::placeholder {
    color: $input-color-placeholder;
  }

  &.disabled,
  &[disabled],
  &[readonly] {
    border-color: $input-border-disabled;
    background-color: $input-bg-disabled;
    &:hover {
      cursor: not-allowed;
    }
  }
}

.input-group-addon {
  background-color: $input-addon-background-color;
  border: $input-border-size solid $input-border-color;
  color: $input-addon-color;

  @if bool($enable-rounded) == true {
    @include border-radius($input-border-radius);
  } @else {
    border-radius: 0;
  }

  & .radio,
  & .checkbox {
    margin: -3px 0 -4px !important;
  }
}

/* Select */
select.form-control:hover {
  cursor: pointer;
}

/* Labels */
/* Set uniform font-sizes for labels, col-form-labels and legends. */
form {
  label,
  .col-form-label,
  .col-form-legend {
    @include font-size($form-labels-font-size);
  }

}

// For use with horizontal and inline forms, when you need the label text to
// align with the form controls.
.col-form-label {
  padding-top: calc(#{$input-btn-padding-y} - #{$input-border-size} * 2);
  padding-bottom: calc(#{$input-btn-padding-y} - #{$input-border-size} * 2);
}

.col-form-label-lg {
  padding-top: calc(#{$btn-padding-y-lg} - #{$input-border-size} * 2);
  padding-bottom: calc(#{$btn-padding-y-lg} - #{$input-border-size} * 2);
  //font-size: $font-size-lg;
}

.col-form-label-sm {
  padding-top: calc(#{$btn-padding-y-sm} - #{$input-border-size} * 2);
  padding-bottom: calc(#{$btn-padding-y-sm} - #{$input-border-size} * 2);
  //font-size: $font-size-sm;
}

//
// Legends
//

// For use with horizontal and inline forms, when you need the legend text to
// be the same size as regular labels, and to align with the form controls.
.col-form-legend {
  padding-top: $input-btn-padding-y;
  padding-bottom: $input-btn-padding-y;
}

// Readonly controls as plain text
.form-control-plaintext {
  padding-top: $input-btn-padding-y;
  padding-bottom: $input-btn-padding-y;
  line-height: $input-btn-line-height;
  font-weight: map-get-strict($font, weight-normal);
}

// Form control sizing
//
// Augments Bootstrap's `.form-control` with modifier classes for small and large
// form control elements. As mentioned in Bootstrap, the `.form-group-* form-control`
// variations are sadly duplicated to avoid the issue documented in:
// https://github.com/twbs/bootstrap/issues/15074.

.form-control-sm {
  padding: $btn-padding-y-sm $btn-padding-x-sm;
  font-size: $font-size-sm;
  @include border-radius($border-radius-sm);
}

select.form-control-sm {
  &:not([size]):not([multiple]) {
    height: $input-height-sm;
  }
}

.form-control-lg {
  padding: $btn-padding-y-lg $btn-padding-x-lg;
  font-size: $font-size-lg;
  @include border-radius($border-radius-lg);
}

select.form-control-lg {
  &:not([size]):not([multiple]) {
    height: $input-height-lg;
  }
}



