// ================================================================================================
// File Name: forms.scss
// Description: Form control styles, layout options, and custom components for creating a wide variety of forms
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

//----------------------------------*\
// TEXTUAL FORM CONTROLS
//----------------------------------*/

.form-control {
  @include transition;
  @include set-border-radius($input-border-radius);
  font-size: $input-font-size;
  border: $input-border-size solid $input-border-color;
  font-weight: $btn-font-weight;
  padding: $btn-padding-y $btn-padding-x;
  line-height: $btn-line-height;
  background-color: $input-bg;
  color: $input-color;

  @include form-control-hover();
  @include form-control-focus();

  //&:focus {
  //  & + .input-group-addon,
  //  & ~ .input-group-addon {
  //    border-color: $input-focus-border-color;
  //  }
  //}

  &::placeholder {
    color: $input-color-placeholder;
  }

  @include form-control-disabled();

}

//----------------------------------*\
// SELECT
//----------------------------------*/

select.form-control {
  &:not([size]):not([multiple]) {
    height: $input-height;
  }
  &:hover {
    cursor: pointer;
  }

  &:focus {
    color: $input-color;
    background-color: $input-bg;
  }
}

/* Set uniform font-sizes for labels and legends. */
form {
  label,
  .col-form-legend {
    color: $input-color;
    font-size: $input-font-size;
  }

}

//----------------------------------*\
// LABEL SIZING
//----------------------------------*/
/* For use with horizontal and inline forms, when you need the label text to
   align with the form controls. */

.col-form-label {
  padding-top: calc(#{$btn-padding-y} - #{$input-border-size} * 2);
  padding-bottom: calc(#{$btn-padding-y} - #{$input-border-size} * 2);
  font-size: $input-font-size;
}

.col-form-label-lg {
  padding-top: calc(#{$btn-padding-y-lg} - #{$input-border-size} * 2);
  padding-bottom: calc(#{$btn-padding-y-lg} - #{$input-border-size} * 2);
  font-size: $input-font-size-lg;
}

.col-form-label-sm {
  padding-top: calc(#{$btn-padding-y-sm} - #{$input-border-size} * 2);
  padding-bottom: calc(#{$btn-padding-y-sm} - #{$input-border-size} * 2);
  font-size: $input-font-size-sm;
}

//----------------------------------*\
// LEGENDS
//----------------------------------*/

/* For use with horizontal and inline forms, when you need the legend text to
   be the same size as regular labels, and to align with the form controls. */

.col-form-legend {
  padding-top: $btn-padding-y;
  padding-bottom: $btn-padding-y;
  font-size: $input-font-size;
}

/* Readonly controls as plain text */
.form-control-plaintext {
  color: $input-color;
  background: transparent;
  padding-top: $btn-padding-y;
  padding-bottom: $btn-padding-y;
  line-height: $btn-line-height;
  font-weight: $btn-font-weight;
  border-width: $input-border-size 0;
}

//----------------------------------*\
// FORM CONTROL SIZING
//----------------------------------*/

.form-control-sm {
  @include set-border-radius($input-border-radius-sm);
  padding: $btn-padding-y-sm $btn-padding-x-sm;
  font-size: $input-font-size-sm;
  line-height: $btn-line-height-sm;
}

select.form-control-sm {
  &:not([size]):not([multiple]) {
    height: $input-height-sm;
  }
}

.form-control-lg {
  @include set-border-radius($input-border-radius-lg);
  padding: $btn-padding-y-lg $btn-padding-x-lg;
  font-size: $input-font-size-lg;
  line-height: $btn-line-height-lg;
}

select.form-control-lg {
  &:not([size]):not([multiple]) {
    height: $input-height-lg;
  }
}

//----------------------------------*\
// FORM VALIDATION
//----------------------------------*/
.invalid-feedback {
  color: contextual-color(danger, base);
}

//----------------------------------*\
// CUSTOM FORMS
//----------------------------------*/

.custom-control {
  min-height: (1rem * map-get-strict($font, line-height));

  .custom-control-description {
    @include transition(color $general-transition-time $ease-in-out-circ)
  }

  &:hover {
    cursor: pointer;
  }
}

.custom-control-input {
  $cci: custom-control;
  &:checked ~ .#{$cci}-indicator {
    @include background-color('primary', 'base');
    color: $custom-control-indicator-color;
    box-shadow: none;
    border-color: transparent;
  }

  &:focus ~ .#{$cci}-indicator {
    box-shadow: none;
  }

  &:active ~ .#{$cci}-indicator {
    @include background-color('primary', 'light');
    color: $custom-control-indicator-active-color;
    box-shadow: none;
  }

  &:disabled {
    ~ .#{$cci}-indicator {
      background-color: $custom-control-indicator-disabled-bg !important;
    }
    ~ .#{$cci}-description {
      color: $custom-control-description-disabled-color;
    }

  }
}

/* Custom indicator */
.custom-control-indicator {
  @include transition;
  top: (($lh-base - $custom-control-indicator-size) / 2);
  width: $custom-control-indicator-size;
  height: $custom-control-indicator-size;
  background-color: $custom-control-indicator-bg;
  border: $custom-control-indicator-border-size solid $custom-control-indicator-border-color;
}

//----------------------------------*\
// CHECKBOXES
//----------------------------------*/

.custom-checkbox {
  $cci: custom-control;

  .#{$cci}-indicator {
    @include set-border-radius($custom-checkbox-indicator-border-radius);

    &:after {
      @include transition;
      content: '';
      position: absolute;
      top: 2px;
      left: 6px;
      width: 5px;
      height: 11px;
      opacity: 0;
      transform: rotate(45deg) scale(0);
      border-right: 2px solid $white-color;
      border-bottom: 2px solid $white-color;
    }
  }

  .#{$cci}-input:checked ~ .#{$cci}-indicator {
    background-image: none;

    &:after {
      opacity: 1;
      transform: rotate(45deg) scale(1);
    }
  }

  .#{$cci}-input:indeterminate ~ .#{$cci}-indicator {
    @include background-color('primary', 'base');
    box-shadow: none;
  }

  .#{$cci}-input:focus ~ .#{$cci}-indicator {
    box-shadow: none;
  }

  .#{$cci}-input:disabled ~ .#{$cci}-indicator {
    border-color: $custom-control-indicator-disabled-border-color;

    &:after {
      border-color: $custom-control-indicator-disabled-color;
    }
  }

}

//----------------------------------*\
// RADIOS
//----------------------------------*/

.custom-radio {
  $cci: custom-control;

  .#{$cci}-indicator {
    //@include set-border-radius($custom-radio-indicator-border-radius);
    border-radius: $custom-radio-indicator-border-radius;
    &:after {
      @include transition;
      content: '';
      position: absolute;
      border-radius: $custom-radio-indicator-border-radius;
      background: $white-color;
      width: $custom-control-indicator-size;
      height: $custom-control-indicator-size;
      top: -1px;
      left: -1px;
      opacity: 0;
      transform: scale(0);
    }
  }
  .#{$cci}-input:checked ~ .#{$cci}-indicator {
    background-image: none;
    &:after {
      opacity: 1;
      transform: scale(0.4);
    }
  }

  .#{$cci}-input:focus ~ .#{$cci}-indicator {
    box-shadow: none;
  }

  .#{$cci}-input:disabled ~ .#{$cci}-indicator {
    border-color: $custom-control-indicator-disabled-border-color;
    &:after {
      background: $custom-control-indicator-disabled-color;
    }
  }

}

//----------------------------------*\
// CUSTOM SELECT
//----------------------------------*/

.custom-select {
  @include transition;
  @include set-border-radius($input-border-radius);
  height: $input-height;
  line-height: $custom-select-line-height;
  color: $custom-select-color;
  font-size: $custom-select-font-size;
  font-weight: $custom-select-font-weight;
  border: $custom-select-border-width solid $custom-select-border-color;
  padding: $btn-padding-y ($btn-padding-x + $custom-select-indicator-padding) $btn-padding-y $btn-padding-x;

  @include form-control-hover();
  @include form-control-focus();

  &:focus {
    // For visual consistency with IE.
    &::-ms-value {
      color: $input-color;
      background-color: $input-bg;
    }
  }

  @include form-control-disabled();

}

//----------------------------------*\
// CUSTOM SELECT SIZING
//----------------------------------*/

.custom-select-sm {
  height: $input-height-sm;
  padding: $btn-padding-y-sm ($btn-padding-x-sm + $custom-select-indicator-padding) $btn-padding-y-sm $btn-padding-x-sm;
  font-size: $input-font-size-sm;
  line-height: $btn-line-height-sm;
}

.custom-select-lg {
  height: $input-height-lg;
  padding: $btn-padding-y-lg ($btn-padding-x-lg + $custom-select-indicator-padding) $btn-padding-y-lg $btn-padding-x-lg;
  font-size: $input-font-size-lg;
  line-height: $btn-line-height-lg;
}

//----------------------------------*\
// FILE INPUT
//----------------------------------*/

.custom-file {
  @include transition;
  height: $input-height;
  font-size: $input-font-size;
}

.custom-file-input {
  height: $input-height;

  &:focus ~ .custom-file-control {
    @include transition;
    color: $input-focus-color;
    border-color: $input-focus-border-color;
    box-shadow: none;

    &:before {
      background: $custom-file-button-focus-bg;
      border-color: $input-focus-border-color;
    }

    /* Set the border color to the focused state border color when the input is also hovered. */
    &:hover {
      border-color: $input-focus-border-color;
    }
  }

  &:hover {
    cursor: pointer;
    & ~ .custom-file-control,
    & ~ .custom-file-control:before {
      border-color: $input-hover-border-color;
    }
  }

  &:disabled + .custom-file-control {
    border-color: $input-border-disabled;
    background-color: $input-bg-disabled;
    color: $input-color-disabled;
    opacity: 0.8;

    &:before {
      //background: $input-bg-disabled;
      border-color: $input-border-disabled;
    }


    &:hover {
      cursor: not-allowed;
    }
  }

}

.custom-file-control {
  @include transition;
  @include set-border-radius($input-border-radius);
  height: $input-height;
  line-height: $btn-line-height;
  padding: $btn-padding-y $btn-padding-x;
  color: $input-color;
  font-weight: $btn-font-weight;
  font-size: $input-font-size;
  border: $input-border-size solid $input-border-color;

  &::before {
    @include transition;
    @include set-border-radius($input-border-radius);
    top: -$input-border-size;
    right: -$input-border-size;
    bottom: -$input-border-size;
    height: $input-height;
    padding: $btn-padding-y $btn-padding-x;
    line-height: $btn-line-height;
    color: $input-color;
    border: $input-border-size solid $input-border-color;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: $custom-file-button-bg;
  }
}

//----------------------------------*\
// FILE INPUT SIZING
//----------------------------------*/
.custom-file-sm {
  height: $input-height-sm;
  font-size: $input-font-size-sm;

  .custom-file-input {
    height: $input-height-sm;
  }

  .custom-file-control {
    height: $input-height-sm;
    line-height: $btn-line-height-sm;
    padding: $btn-padding-y-sm $btn-padding-x-sm;
    font-size: $input-font-size-sm;
    &::before {
      height: $input-height-sm;
      line-height: $btn-line-height-sm;
      padding: $btn-padding-y-sm $btn-padding-x-sm;
    }
  }
}

.custom-file-lg {
  height: $input-height-lg;
  font-size: $input-font-size-lg;

  .custom-file-input {
    height: $input-height-lg;
  }

  .custom-file-control {
    height: $input-height-lg;
    line-height: $btn-line-height-lg;
    padding: $btn-padding-y-lg $btn-padding-x-lg;
    font-size: $input-font-size-lg;
    &::before {
      height: $input-height-lg;
      line-height: $btn-line-height-lg;
      padding: $btn-padding-y-lg $btn-padding-x-lg;
    }
  }
}

//----------------------------------*\
// TOGGLE SWITCH
//----------------------------------*/

.custom-toggle {
  padding-left: ($custom-toggle-width + 10px);

  .custom-control-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: $custom-toggle-width;
    height: $custom-toggle-height;
    background: $custom-toggle-background-color;
    display: block;
    border-radius: $custom-toggle-border-radius;
    border: $custom-toggle-border;

    &:hover {
      cursor: pointer;
    }

    &:after {
      @include transition;
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      width: $custom-toggle-knob-width;
      height: $custom-toggle-knob-height;
      background: $input-border-color;
      border-radius: $custom-toggle-knob-border-radius;
    }
  }

  .custom-control-input:disabled:active + .custom-control-indicator:after {
    width: $custom-toggle-knob-width;
  }

  .custom-control-input:disabled:checked + .custom-control-indicator,
  .custom-control-input:disabled:active + .custom-control-indicator {
    background-color: $custom-control-indicator-disabled-bg;
  }

  .custom-control-input:active + .custom-control-indicator {
    background-color: $custom-toggle-background-color;
  }

  .custom-control-input:checked + .custom-control-indicator {
    @include background-color('primary', 'base');

    &:after {
      background: $custom-toggle-checked-knob-background;
    }
  }

  .custom-control-input:checked + .custom-control-indicator:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
  }

  .custom-control-input:active + .custom-control-indicator:after {
    width: $custom-toggle-knob-active-width;
  }

  .custom-control-input:disabled:checked + .custom-control-indicator {
    border-color: $input-border-color;

    &:after {
      background: $input-border-color;
    }
  }
}