// ================================================================================================
// File Name: input-group.scss
// Description: Easily extend form controls by adding text, buttons, or button groups on either side of textual inputs.
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

//----------------------------------*\
// BASE STYLES FOR INPUT GROUP AND ADDONS
//----------------------------------*/

/* Seamlessly integrated input group addons */
.input-group {
  &[class*="with-addon-icon"] {
    .input-group-text {
      background:$white-color;
    }
  }

  &.with-addon-icon-left {
    .form-control {
      padding-left: 0;
      @include add-border(0, transparent, left);
    }
  }

  &.with-addon-icon-right {
    .form-control {
      padding-right: 0;
      @include add-border(0, transparent, right);
    }
  }
}

.input-group {
  .form-control,
  .custom-select,
  .custom-file {
    + .form-control {
      margin-left: -$input-border-size;
    }
  }

  .custom-file {
    &:not(:last-child) .custom-file-label,
    &:not(:last-child) .custom-file-label::after { @include border-right-radius(0); }
    &:not(:first-child) .custom-file-label,
    &:not(:first-child) .custom-file-label::after { @include border-left-radius(0); }
  }
}

/*  Prepend and append */


.input-group-prepend,
.input-group-append {
  .btn + .btn,
  .btn + .input-group-text,
  .input-group-text + .input-group-text,
  .input-group-text + .btn {
    margin-left: -$input-border-size;
  }
}


.input-group-prepend {
  margin-right: -$input-border-size;
}

.input-group-append {
  margin-left: -$input-border-size;
}

/* Textual addons */
.input-group-text {
  @include transition;
  @include set-border-radius($input-border-radius);
  @include add-border($input-border-size, $input-border-color, all);
  padding: $btn-padding-y $btn-padding-x;
  margin-bottom: 0; // Allow use of <label> elements by overriding our default margin-bottom
  font-size: $input-font-size; // Match inputs
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $input-addon-color;
  background-color: $input-addon-background-color;
  min-width: $input-addon-min-width;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  //height: $input-height;
  height: 100%;
}

/* Sizing options */
.input-group-lg > .form-control,
.input-group-lg > .input-group-prepend > .input-group-text,
.input-group-lg > .input-group-append > .input-group-text,
.input-group-lg > .input-group-prepend > .btn,
.input-group-lg > .input-group-append > .btn {
  @extend .form-control-lg;
}

.input-group-sm > .form-control,
.input-group-sm > .input-group-prepend > .input-group-text,
.input-group-sm > .input-group-append > .input-group-text,
.input-group-sm > .input-group-prepend > .btn,
.input-group-sm > .input-group-append > .btn {
  @extend .form-control-sm;
}

/* Reset rounded corners */
.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
  @include border-right-radius(0);
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
  @include border-left-radius(0);
}

//----------------------------------*\
// BUTTON INPUT GROUPS
//----------------------------------*/
/* Tweaking width for buttons and addons. */

.input-group-append,
.input-group-prepend {
  justify-content: center;
  .btn {
    min-width: $input-addon-min-width;
  }
  .dropdown-toggle {
    min-width: 0;
  }
}

//----------------------------------*\
// SHOWING BORDER ON FOCUS AND HOVER
//----------------------------------*/
/* Add/Remove below classes to input group element with javascript. */
.input-group-hover,
.input-group-focus {
  .input-group-text {
    @include transition;
    border-color: $input-focus-border-color;
    color: $input-addon-hover-focus-color;
  }
}


