// ================================================================================================
// File Name      : lists-group.scss
// Description    : Adjustments for Bootstrap's list group.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

// Individual list items
//
// Use on `li`s or `div`s within the `.list-group` parent.

.list-group-item {

  @extend %list-group-item;

  &:first-child {
    @include border-top-radius($list-group-border-radius);
  }

  &:last-child {
    @include border-bottom-radius($list-group-border-radius);
  }

  // Separated list group item
  .separated > & {
    margin: 0 0 $list-group-separated-margin-bottom 0;
  }

  // Animated list group item
  .animated > & {
    transition: padding-left .3s ease !important;
    &:hover {
      padding-left: $list-group-item-padding-x+.75;
    }
  }

  // Extra large size
  .list-group-xl & {
    @include list-group-size($btn-padding-y-xl, $btn-padding-x-xl, $btn-font-size-xl, $btn-border-radius-xl, $btn-line-height-xl);
  }

  // Large size
  .list-group-lg & {
    @include list-group-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg, $btn-line-height-lg);
  }

  // Small size
  .list-group-sm & {
    @include list-group-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm, $btn-line-height-sm);
  }

  // Disabled item
  &.disabled,
  &:disabled {
    color: $list-group-disabled-color !important;
    background-color: $list-group-disabled-bg;
    cursor: $cursor-not-allowed;
    opacity: $list-group-disabled-opacity;
    pointer-events: none;
  }

  // Include both here for `<a>`s and `<button>`s
  &.active {
    @include background-text-theme($list-group-active-theme-scheme, $sledge-hammer: !important);
    @include border-theme($list-group-active-theme-scheme);
  }

}

// Interactive list items
.list-group-item-action {
  color: $list-group-action-color !important;

  // Hover state
  &:hover,
  &:focus {
    color: $list-group-action-hover-color !important;
    background-color: $list-group-hover-bg;
  }

  &:active {
    color: $list-group-action-active-color !important;
    background-color: $list-group-action-active-bg;
  }
}

// Horizontal variation
.list-group.horizontal {

  @include min-screen($screen-md-min) {
    .list-group-item {
      flex: 1 100%;
      margin-bottom: 0;
      margin-left: -$list-group-border-width;
      &:first-child {
        @include border-left-radius($list-group-border-radius);
        border-top-right-radius: 0;
      }

      &:last-child {
        @include border-right-radius($list-group-border-radius);
        border-bottom-left-radius: 0;
      }
    }
  }
}

// Theme variations
@each $themeName, $value in $themes-map {
  $colors: map-get-strict($value, 'main-colors');
  @each $scheme, $tone in $colors {
    $font-color: theme-color-level($scheme, base, $list-group-color-level);
    $tone: theme-color-level($scheme, base, $list-group-bg-level);
    .list-group-item-#{$scheme} {
      @include list-group-theme($scheme, $tone, xx-dark, $font-color, 5%);
    }
  }
}

// Contextual variations
@each $scheme, $tone in $contextual-palette-map {
  $font-color: theme-color-level($scheme, base, $list-group-color-level);
  $tone: theme-color-level($scheme, base, $list-group-bg-level);
  .list-group-item-#{$scheme} {
    @include list-group-theme($scheme, $tone, xx-dark, $font-color, 5%);
  }
}

