// ================================================================================================
// File Name: mark.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

//----------------------------------*\
// EMPHASIS
//----------------------------------*/

mark {
  background-color: transparent;
  position: relative;
  display: inline-block;
  color: inherit;

  &:after {
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: $mark-underline-height;
    content: "";
    display: block;
    bottom: -$mark-underline-height * 2;
  }
}

/* Theme variations */
.mark-primary {
  &:after {
    @include background-theme('primary');
  }
}

.mark-secondary {
  &:after {
    @include background-theme('secondary');
  }
}

/* Contextual variations */
@each $scheme, $value in $contextual-map {
  .mark-#{$scheme} {
    &:after {
      @include background-theme($scheme);
    }
  }
}

/* Extra small mark */
.mark-sm {
  &:after {
    height: $mark-underline-height-xs;
    bottom: -$mark-underline-height-xs * 2;
  }
}

/* Small mark */
.mark-sm {
  &:after {
    height: $mark-underline-height-sm;
    bottom: -$mark-underline-height-sm * 2;
  }
}

/* Large mark  */
.mark-lg {
  &:after {
    height: $mark-underline-height-lg;
    bottom: -$mark-underline-height-lg * 2;
  }
}

/* Extra large mark  */
.mark-xl {
  &:after {
    height: $mark-underline-height-xl;
    bottom: -$mark-underline-height-xl * 2;
  }
}