// ================================================================================================
// File Name      : mark.scss
// Description    : Styles for Mark Text element (<mark>) represents text which is marked or
// highlighted for reference or notation purposes,
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

// EMPHASIS
// ======================================================
// Base styles
mark {
  background-color: transparent;
  position: relative;
  display: inline-block;
  color: inherit;

  &:after {
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: $mark-underline-height;
    content: "";
    display: block;
    bottom: -$mark-underline-height * 2;
  }
}

// Theme variations
@each $themeName, $value in $themes-map {
  $colors: map-get-strict($value, 'main-colors');
  @each $scheme, $value in $colors {
    .mark-#{$scheme} {
      &:after {
        @include background-theme($scheme);
      }
    }
  }
}

// Contextual variations
@each $scheme, $value in $contextual-palette-map {
  .mark-#{$scheme} {
    &:after {
      @include background-theme($scheme);
    }
  }
}

// Extra small mark
.mark-xs {
  &:after {
    height: $mark-underline-height-xs;
    bottom: -$mark-underline-height-xs * 2;
  }
}

// Small mark
.mark-sm {
  &:after {
    height: $mark-underline-height-sm;
    bottom: -$mark-underline-height-sm * 2;
  }
}

// Large mark
.mark-lg {
  &:after {
    height: $mark-underline-height-lg;
    bottom: -$mark-underline-height-lg * 2;
  }
}

// Extra large mark
.mark-xl {
  &:after {
    height: $mark-underline-height-xl;
    bottom: -$mark-underline-height-xl * 2;
  }
}