// ================================================================================================
// File Name      : mark.scss
// Description    : Styles for Mark Text element (<mark>) represents text which is marked or
// highlighted for reference or notation purposes,
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ, <manoj [at] xxx [dot] net>
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

//
// EMPHASIS
// ======================================================

// Base styles
mark {
  background-color: transparent;
  position: relative;
  display: inline-block;
  color: inherit;
}

// Top and bottom mark
.mark-top,
.mark-bottom {
  &:after,
  &:before {
    background-color: transparent;
    position: absolute;
    width: 100%;
    content: "";
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

// Bottom mark sizing
.mark-bottom {
  &:before {
    display: none
  }

  @each $size, $length in (xs:$mark-size-xs, sm:$mark-size-sm, md:$mark-size-md, lg:$mark-size-lg, xl:$mark-size-xl) {
    &.mark-#{$size} {
      &:after {
        height: $length;
        bottom: -$length * 2;
      }
    }
  }
}

// Top mark sizing
.mark-top {
  &:after {
    display: none
  }

  @each $size, $length in (xs:$mark-size-xs, sm:$mark-size-sm, md:$mark-size-md, lg:$mark-size-lg, xl:$mark-size-xl) {
    &.mark-#{$size} {
      &:before {
        height: $length;
        top: -$length * 2;
      }
    }
  }

}


.mark-left,
.mark-right {
  &:after,
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    height: 100%;
    background-color: transparent;
    display: block;
  }
}

// Left mark sizing
.mark-left {
  &:after {
    display: none
  }

  @each $size, $length in (xs:$mark-size-xs, sm:$mark-size-sm, md:$mark-size-md, lg:$mark-size-lg, xl:$mark-size-xl) {
    &.mark-#{$size} {
      padding-left: $length * 2;
      &:before {
        width: $length;
      }
    }
  }
}

// Right mark sizing
.mark-right {
  &:before {
    display: none
  }

  @each $size, $length in (xs:$mark-size-xs, sm:$mark-size-sm, md:$mark-size-md, lg:$mark-size-lg, xl:$mark-size-xl) {
    &.mark-#{$size} {
      padding-right: $length * 2;
      &:after {
        width: $length;
        left: 100%;
      }
    }
  }
}



// Theme variations
@each $themeName, $value in $themes-map {
  $colors: map-get-strict($value, 'main-colors');
  @each $scheme, $tone in $colors {
    .mark-#{$scheme} {
      &:after,
      &:before {
        @include background-theme($scheme);
      }
    }
  }
}

// Contextual variations
@each $scheme, $tone in $contextual-palette-map {
  .mark-#{$scheme} {
    &:after,
    &:before {
      @include background-theme($scheme);
    }
  }
}
