// ================================================================================================
// File Name      : misc.scss
// Description    : Miscellaneous stuffs. We did a lot of important things already, so why not
//                  a couple of miscellaneous stuff?
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

//
// HORIZONTAL RULE
// ======================================================

// Base styles
hr {
  @include add-border(1px, $gray-300, top);
  position: relative;
}

// Theme variations
@each $themeName, $value in $themes-map {
  $colors: map-get-strict($value, 'main-colors');
  @each $scheme, $value in $colors {
    hr.#{$scheme}-line {
      @include border-theme($scheme, 'xx-light', $position: top);
    }
  }
}

// Contextual variations
@each $scheme, $value in $contextual-palette-map {
  hr.#{$scheme}-line {
    @include border-theme($scheme, 'xx-light', $position: top);
  }
}

//
// SELECTIONS
// ======================================================

::selection {
  @include background-text-theme($selection-bg-theme-scheme, $selection-bg-theme-tone);
}

::-webkit-selection {
  @include background-text-theme($selection-bg-theme-scheme, $selection-bg-theme-tone);
}

::-moz-selection {
  @include background-text-theme($selection-bg-theme-scheme, $selection-bg-theme-tone);
}

img::selection {
  background: transparent
}

img::-webkit-selection {
  background: transparent
}

img::-moz-selection {
  background: transparent
}

//
// TOOGLE ICON ON ACTIVE STAGE
// ======================================================
// Used for toggle the tick icon on a button’s toggle state.
i.icon-toggle {
  display: none;
  .active & {
    display: block;
  }
}