// ================================================================================================
// File Name      : misc.scss
// Description    : Miscellaneous stuffs. We did a lot of important things already, so why not
// a couple of miscellaneous stuff?
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

// HORIZONTAL RULE
// ======================================================
// Base styles
hr {
  border-top: 1px solid $gray-300;
  position: relative;
}

hr.color-line {
  &:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 10px;
    display: block;
    top: -1px;
    left: -1px;
  }
  &:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 10px;
    background: white;
    display: block;
    top: -1px;
    left: 20px;
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(80deg)
  }
}

// Theme variations
@each $themeName, $value in $themes-map {
  $colors: map-get-strict($value, 'main-colors');
  @each $scheme, $value in $colors {
    hr.color-line.#{$scheme}-line:before {
      @include background-theme($scheme);
    }
  }
}

// Contextual variations
@each $scheme, $value in $contextual-palette-map {
  hr.color-line.#{$scheme}-line:before {
    @include background-theme($scheme);
  }
}

// SELECTIONS
// ======================================================
::selection {
  @include background-text-theme($selection-bg-theme-scheme);
}

::-webkit-selection {
  @include background-text-theme($selection-bg-theme-scheme);
}

::-moz-selection {
  @include background-text-theme($selection-bg-theme-scheme);
}

img::selection {
  background: transparent
}

img::-webkit-selection {
  background: transparent
}

img::-moz-selection {
  background: transparent
}
