// ================================================================================================
// File Name      : modals.scss
// Description    : Adjustments for Bootstrap's modal component.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

.modal {
  z-index: map-get($zindex, modal);
  // Actual modal
  &-content {
    @include set-border-radius($modal-border-radius);
    @include add-border(0, transparent, all);
    box-shadow: $modal-content-box-shadow-xs;
    background-color: $modal-content-bg;
    overflow: hidden;
  }
  // Modal header
  &-header {
    //@include set-border-radius($modal-border-radius);
    //@include border-bottom-radius(0);
    @include set-border-radius(0);
    @include add-border($modal-header-border-size, $modal-header-border-color, bottom);
    padding: $modal-header-padding;
  }
  // Modal body
  &-body {
    padding: $modal-body-padding;
  }
  // Modal footer
  &-footer {
    @include add-border($modal-footer-border-width, $modal-footer-border-color, top);
    padding: $modal-footer-padding;
  }
  // Modal close button
  button.close {
    box-shadow: none;
  }
}

// Modal background
.modal-backdrop {
  z-index: map-get($zindex, modal-backdrop);
  background-color: $modal-backdrop-bg;
  &.fade {
    @include opacity(0);
  }
  &.show {
    @include opacity($modal-backdrop-opacity);
  }
}

// Theme variations
@each $themeName, $value in $themes-map {
  $colors: map-get-strict($value, 'main-colors');
  @each $scheme, $value in $colors {
    .modal-#{$scheme} {
      @include modal-theme($scheme);
    }
  }
}

// Contextual variations
@each $scheme, $value in $contextual-palette-map {
  .modal-#{$scheme} {
    @include modal-theme($scheme);
  }
}