// ================================================================================================
// File Name: modals.scss
// Description: Bootstrap's JavaScript modal plugin to add dialogs to your site for lightboxes,
// user notifications, or completely custom content.
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

.modal {
  z-index: map-get($zindex, modal);

  &-content {
    @include set-border-radius($modal-border-radius);
    //@include add-border($modal-content-border-width, $modal-content-border-color, all);
    @include add-border(0, transparent, all);
    box-shadow: $modal-content-box-shadow-xs;
    background-color: $modal-content-bg;
    overflow: hidden;
  }

  &-header {
    //@include set-border-radius($modal-border-radius);
    //@include border-bottom-radius(0);
    @include set-border-radius(0);
    @include add-border($modal-header-border-width, $modal-header-border-color, bottom);
    padding: $modal-header-padding;
  }
  &-body {
    padding: $modal-body-padding;
  }
  &-footer {
    @include add-border($modal-footer-border-width, $modal-footer-border-color, top);
    padding: $modal-footer-padding;
  }
  button.close {  box-shadow: none;}
}

/* Modal background */
.modal-backdrop {
  z-index: map-get($zindex, modal-backdrop);
  background-color: $modal-backdrop-bg;
  &.fade {
    opacity: 0;
  }
  &.show {
    opacity: $modal-backdrop-opacity;
  }
}

.modal-primary {
  @include modal-theme(primary);
}

.modal-secondary {
  @include modal-theme(secondary);
}

.modal-success {
  @include modal-theme(success);
}

.modal-danger {
  @include modal-theme(danger);
}

.modal-warning {
  @include modal-theme(warning);
}

.modal-info {
  @include modal-theme(info);
}

.modal-light {
  @include modal-theme(light);
}

.modal-dark {
  @include modal-theme(dark);
}