// ================================================================================================
// File Name: nav.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

.nav {
  font-size: $nav-tabs-font-size;
  font-weight: $nav-tabs-font-weight;
}

.nav-link {
  //@include transition;
  padding: $nav-link-padding-y $nav-link-padding-x;

  /* Disabled state lightens text */
  &.disabled {
    color: $nav-link-disabled-color !important;
    cursor: not-allowed;

    &:hover,
    &:active,
    &:focus {
      border-color: transparent !important;
      color: $nav-link-disabled-color !important;
      background-color: transparent !important;
    }
  }
}
