/// ================================================================================================
// File Name      : nav.scss
// Description    : Adjustments for Bootstrap's navigation component.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

// Base styles
.nav {
  font-size: $nav-font-size;
  font-weight: $nav-font-weight;
}

.nav-link {
  //@include transition;
  padding: $nav-link-padding-y $nav-link-padding-x;

  // Disabled state lightens text
  &.disabled {
    color: $nav-link-disabled-color !important;
    cursor: not-allowed;
    &:hover,
    &:active,
    &:focus {
      border-color: transparent !important;
      color: $nav-link-disabled-color !important;
      background-color: transparent !important;
    }
  }
}
