/// ================================================================================================
// File Name      : number-spinner.scss
// Description    : Defines styles for spinner control (up and down arrows) etc..
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

.number-spinner > .btn-group-vertical {

  z-index: map-get($zindex, number-spinner);
  width: $spinner-icon-width;

  > .btn {
    width: 100%;
    min-height: initial;
    padding: 0;
    position: relative;
    flex: 1;

    #{$icon-tags} {
      top: 0;
      padding: 0;
      font-size: $font-size-xs;
    }
  }
}

.number-spinner.has-spinner-right > .btn-group-vertical {

  margin-left: -$input-border-size;

  > .btn {
    @include border-left-radius(0);
  }
}

.number-spinner.has-spinner-left > .btn-group-vertical {

  margin-right: -$input-border-size;

  > .btn {
    @include border-right-radius(0);
  }
}