// ================================================================================================
// File Name: number-spinner.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

//.number-spinner input {
//  text-align: right;
//}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: $spinner-icon-width;
  /* Flex */
  display: flex;
  flex-direction: column;
  align-items:stretch;
  justify-content: center;
}

.input-group-btn-vertical > .btn {
  width: 100%;
  min-width: 0;
  max-width: 100%;
  padding: 0 ;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
  /* Flex */
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
  margin-top: -1px;
  border-bottom-right-radius: 4px;
}

.input-group-btn-vertical .btn {
  #{$icon-tags} {
    top: 0;
    padding: 0;
    font-size: $font-size-xs;
  }
}
