// ================================================================================================
// File Name      : pagination.scss
// Description    : Adjustments for Bootstrap's pagination component.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

// Base styles

.page-item {
  &:first-child {
    .page-link {
      @include set-border-radius($pagination-border-radius);
      @include border-right-radius(0);
    }
  }
  &:last-child {
    .page-link {
      @include set-border-radius($pagination-border-radius);
      @include border-left-radius(0);
    }
  }

  &.active .page-link,
  &.active .page-link:focus,
  &.active .page-link:hover {
    @include background-text-theme($pagination-active-bg-theme-color);
    @include border-theme($pagination-active-bg-theme-color);
  }

}

.page-link {
  @include add-border($pagination-border-width, $pagination-border-color, all);
  @include text-theme($pagination-link-theme-color);
  line-height: $pagination-line-height;
  padding: $pagination-padding-y $pagination-padding-x;
  font-size: $pagination-font-size;
  font-weight: $pagination-font-weight;
  background-color: $pagination-bg;

  #{$icon-tags} {
    font-size: $pagination-icon-font-size;
  }

  &:focus,
  &:hover {
    @include text-theme($pagination-link-theme-color);
    background-color: $pagination-hover-bg;
    border-color: $pagination-hover-border-color;
    box-shadow: none;
  }
}

// PAGINATION SIZES
// ======================================================
/* Large pagination */
.pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $pagination-font-size-lg, $pagination-line-height-lg, $border-radius-lg);
}

/* Small pagination */
.pagination-sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $pagination-font-size-sm, $pagination-line-height-sm, $border-radius-sm);
}

// PAGINATION EXTENDED
// ======================================================
.pagination {

  &.extended {

    .page-item {
      margin: 0 2px;
    }

    .page-link {
      @include add-border(0, transparent, all);
      @include set-border-radius($pagination-extended-radius-round);
      min-width: $pagination-extended-size;
      height: $pagination-extended-size;
      line-height: $pagination-extended-size;
      padding: 0;
      text-align: center;
    }

    &.pagination-lg {
      .page-link {
        @include add-border(0, transparent, all);
        @include set-border-radius($pagination-extended-radius-round);
        min-width: $pagination-extended-size-lg;
        height: $pagination-extended-size-lg;
        line-height: $pagination-extended-size-lg;
      }

    }

    &.pagination-sm {
      .page-link {
        @include add-border(0, transparent, all);
        @include set-border-radius($pagination-extended-radius-round);
        min-width: $pagination-extended-size-sm;
        height: $pagination-extended-size-sm;
        line-height: $pagination-extended-size-sm;
      }

    }

    &.pg-wizard {
      .page-link {
        @include add-border(0, transparent, all);
        background-color: $pagination-wizard-bg;
        color: $pagination-wizard-color;

        &:focus,
        &:hover {
          background-color: $pagination-wizard-hover-bg;
          color: $pagination-wizard-hover-color;
        }
      }

      .page-item {
        &.disabled {
          & .page-link {
            background-color: $pagination-wizard-bg !important;;
            color: $pagination-wizard-color !important;
            opacity: 0.4;
          }
        }

      }
    }
  }

}

// PAGINATION EXTENDED - BORDER TYPE
// ======================================================
.pagination {

  &.extended-border {

    .page-item {
      margin: 0 2px;
    }

    .page-link {
      @include add-border($pagination-border-round-width, transparent, all);
      @include set-border-radius($pagination-extended-radius-round);
      min-width: $pagination-extended-size;
      height: $pagination-extended-size;
      padding: 0;
      text-align: center;
      box-sizing: border-box;
      display: table-cell;
      vertical-align: middle;
    }

    .page-item {
      &.active .page-link {
        @include border-theme($pagination-active-bg-theme-color);
        @include text-theme($pagination-link-theme-color);
        background-color: $pagination-bg;
      }
    }

    &.pagination-lg {
      .page-link {
        @include set-border-radius($pagination-extended-radius-round);
        min-width: $pagination-extended-size-lg;
        height: $pagination-extended-size-lg;
      }

    }

    &.pagination-sm {
      .page-link {
        @include set-border-radius($pagination-extended-radius-round);
        min-width: $pagination-extended-size-sm;
        height: $pagination-extended-size-sm;
      }

    }

    .page-item {
      &.disabled {
        & .page-link {
          border: 0;
        }
      }
    }

  }

}

// PAGINATION EXTENDED - SQUARE TYPE
// ======================================================
.pagination {

  &.extended-square {

    .page-link {
      @include border-theme($pagination-active-bg-theme-color);
      @include set-border-radius($pagination-border-radius);
      min-width: $pagination-extended-size;
      height: $pagination-extended-size;
      padding: 0;
      text-align: center;
      box-sizing: border-box;
      display: table-cell;
      vertical-align: middle;
    }

    &.pagination-lg {
      .page-link {
        @include border-theme($pagination-active-bg-theme-color);
        @include set-border-radius($pagination-border-radius-lg);
        min-width: $pagination-extended-size-lg;
        height: $pagination-extended-size-lg;
      }

    }

    &.pagination-sm {
      .page-link {
        @include border-theme($pagination-active-bg-theme-color);
        @include set-border-radius($pagination-border-radius-sm);
        min-width: $pagination-extended-size-sm;
        height: $pagination-extended-size-sm;
      }

    }

    .page-item {
      margin: 0 2px;

      &.active .page-link {
        @include border-theme($pagination-active-bg-theme-color);
      }

      &.disabled {
        & .page-link {
          border-color: $pagination-disabled-border-color !important;
        }
      }

    }

  }

}

// PAGINATION EXTENDED - INDICATOR TYPE
// ======================================================

.pagination {

  &.extended-indicator {

    .page-link {
      @include add-border(0, transparent, all);
      @include set-border-radius($pagination-extended-radius-round);
      box-shadow: $pagination-extended-indicator-box-shadow;
      background-color: $pagination-extended-indicator-bg;
      width: $pagination-extended-indicator-size;
      height: $pagination-extended-indicator-size;
      padding: 0;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;

      &:focus,
      &:hover {
        background-color: $pagination-extended-indicator-hover-bg;
      }
    }

    .page-item {
      margin: 0 $pagination-extended-indicator-margin-x;

      &.active .page-link {
        @include border-theme($pagination-active-bg-theme-color);
      }

      &.disabled {
        & .page-link {
          border-color: $pagination-disabled-border-color !important;
        }
      }

    }
  }

}

// DISABLED PAGINATION
// ======================================================
.page-item {
  &.disabled {
    cursor: not-allowed;
    //pointer-events: none;
    & .page-link {
      color: $pagination-disabled-color !important;
      background-color: $pagination-disabled-bg !important;
      border-color: $pagination-disabled-border-color !important;
    }
  }

}