// ================================================================================================
// File Name: search.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

//----------------------------------*\
// HEADER SEARCH
//----------------------------------*/
// Adapted from https://codepen.io/jarnovanrhijn/pen/obPLOY

.master-header__search {
  position: relative;
  display: inline-block;

  /* Form text input */
  input[type="text"] {
    border: 0;
    background: none;
    z-index: 1;
    width: 25px;
    height: 25px;
    transition: all .25s ease-in .25s;
    color: transparent;
    font-size: 0.75rem;
    line-height: 25px;
    @include opacity(0);

    &:hover {
      cursor: pointer;

      &:focus {
        cursor: text;
      }

      + span {
        @include background-color('header', 'dark');
      }
    }

    &:focus {
      width: 200px;
      padding: 0 10px;
      outline: none;
      background: none;
      @include color('header', 'font-color');
      @include opacity(1);

      + span {
        width: 200px;

        &::before {
          width: 2px;
          opacity: 0;
          transition: all .25s ease-in;
        }
      }
    }

    + span {
      @include border-color('header', 'font-color');
      border: 2px solid;
      border-radius: 25px;
      z-index: -1;
      position: absolute;
      top: 0;
      width: 25px;
      height: 25px;
      transition: all .25s ease-in .25s;
      right: 0;

      &::before {
        @include background-color('header', 'font-color');
        transition: all .25s ease-in .5s;
        transform-origin: left top;
        content: '';
        position: absolute;
        width: 10px;
        height: 5px;
        border-radius: 5px;
        transform: rotate(45deg) translate(26px, -2px);
      }
    }
  }
}

