// ================================================================================================
// File Name: tabs-and-pills.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

/* TODO:  Responsive bootstrap tabs https://codepen.io/devben/pen/EaLdeJ */

//-------------------------------------------*\
// TAB
//-------------------------------------------*/
.nav-tabs {
  @include add-border($nav-tabs-border-width, $nav-tabs-border-color, bottom);

  .nav-link {
    @include set-border-radius($nav-tabs-border-radius);
    @include add-border($nav-tabs-border-width, transparent, all);
    @include border-bottom-radius(0);
    position: relative;
    color: $nav-tabs-link-color;

    &:hover,
    &:focus {
      @include color($nav-tabs-link-active-theme-color, $nav-tabs-link-active-theme-color-tone);
      border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
      background-color: $nav-tabs-link-hover-bg;
    }

    &.disabled {
      color: $nav-link-disabled-color;
    }

    /* Teb icon */
    i {
     font-size: inherit;
      width: $tab-icon-width;
      display: inline-block;
      //margin-right:$tab-icon-margin-right;
      color: inherit;
      text-align: center;
    }

  }

  .nav-link.active,
  .nav-item.show .nav-link {
    //color: $nav-tabs-link-active-color;
    @include color($nav-tabs-link-active-theme-color, $nav-tabs-link-active-theme-color-tone);
    background-color: $nav-tabs-link-active-bg;
    border-color: $nav-tabs-link-active-border-color $nav-tabs-link-active-border-color $nav-tabs-link-active-bg;
  }

}

.tab-content {

  &.hasborder {
    margin-top: -1px;
    background: $tab-content-bg;
    @include add-border($nav-tabs-border-width, $nav-tabs-border-color, all);
  }

}

//-------------------------------------------*\
// TAB EXTENDED
//-------------------------------------------*/
.nav-tabs {

  &.extended {

    .nav-link {
      @include set-border-radius(0);
      @include add-border(0, transparent, all);

      &:hover,
      &:focus {
        @include color($nav-tabs-link-active-theme-color, $nav-tabs-link-active-theme-color-tone);
        background-color: transparent;
      }

      &::before {
        @include background-color($nav-tabs-line-link-active-border-theme-color, $nav-tabs-line-link-active-border-tone-color);
        @include transition;
        content: "";
        height: 2px;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        transform: scale(0);
      }
    }

    .nav-link.active,
    .nav-item.show .nav-link {

      //@include add-border(0, transparent, top);
      //@include add-border(0, transparent, right-left);
      //@include add-border(5px, $nav-tabs-link-active-border-color, bottom);
      //@include border-color($theme-color, $tone);
      //border: 5px solid transparent;

      /* @include add-border(3px, transparent, bottom);
       @include border-bottom-color($nav-tabs-line-link-active-border-theme-color, $nav-tabs-line-link-active-border-tone-color);
 */
      &::before {
        transform: scale(1)
      }

    }

  }

}

//-------------------------------------------*\
// TAB EXTENDED - BOXED
//-------------------------------------------*/

.nav-tabs.extended-boxed {

  @include set-border-radius($nav-tabs-border-radius);
  @include border-bottom-radius(0);
  background-color: $nav-tabs-boxed-bg;
  padding: 0 $nav-tabs-boxed-spacing;

  .nav-item {
    /* Flexbox */
    display: flex;
    align-items: center;

  }

  .nav-link {
    margin-top: $nav-tabs-boxed-spacing;

    /* &:hover {
       border-color:transparent;
       background-color: transparent;
     }*/

  }
  + .tab-content {
    @include set-border-radius($nav-tabs-border-radius);
    @include border-top-radius(0);
  }

  /* Resetting display property to get justified */
  &.nav-justified {
    .nav-item {
      display: unset;
    }
  }

  /* Apply the mixin to the tooltip variants. */

  &.primary-box {
    @include tab-extended-boxed-theme(primary);
  }

  &.secondary-box {
    @include tab-extended-boxed-theme(secondary);
  }

  &.success-box {
    @include tab-extended-boxed-theme(success);
  }

  &.danger-box {
    @include tab-extended-boxed-theme(danger);
  }

  &.warning-box {
    @include tab-extended-boxed-theme(warning);
  }

  &.info-box {
    @include tab-extended-boxed-theme(info);
  }

  &.light-box {
    @include tab-extended-boxed-theme(light);
  }

  &.dark-box {
    @include tab-extended-boxed-theme(dark);
  }

}

//-------------------------------------------*\
// TAB EXTENDED - ARROW
//-------------------------------------------*/
.nav-tabs {

  &.extended-arrow {

    .nav-link {
      @include transition;
      @include add-border(0, transparent, all);
      margin-bottom: 1px;

      &:after,
      &:before {
        @include transition;
        transform: translateY(-10px);
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0;
        height: 0;
        border: solid transparent;
        content: '';
        pointer-events: none;
        @extend %o-v-none;
      }
      &:after {
        margin-left: -10px;
        border-width: 10px;
      }
      &:before {
        margin-left: -11px;
        border-width: 11px;
      }

      &:hover,
      &:focus {
        @include color($nav-tabs-link-active-theme-color, $nav-tabs-link-active-theme-color-tone);
        background-color: $nav-tabs-line-link-hover-bg;
      }
    }

    .nav-link.active,
    .nav-item.show .nav-link {

      &:after,
      &:before {
        @extend %o-v-show;
        transform: translateY(0px);
      }

      &:after {
        border-top-color: #fff;
      }
      &:before {
        border-top-color: $nav-tabs-border-color;
      }

    }

    &.filled {
      .nav-link.active,
      .nav-item.show .nav-link {
        @include color($nav-pills-link-active-theme-color, $nav-pills-link-active-font-theme-color-tone);
        @include background-color($nav-pills-link-active-theme-color, $nav-pills-link-active-bg-theme-color-tone);
        &:after {
          @include border-top-color($nav-pills-link-active-theme-color, $nav-pills-link-active-bg-theme-color-tone);
        }

      }
    }

  }

}

//-------------------------------------------*\
// TAB EXTENDED - VERTICAL
//-------------------------------------------*/
.extended-vertical {

  /* Flexbox */
  display: flex;
  flex-direction: row;

  .nav-tabs {
    @include add-border($nav-tabs-border-width, $nav-tabs-border-color, right);
    border-bottom: none;
    //display: table-cell;
    //width: $nav-tabs-v-width;

    /* Flexbox */
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: $nav-tabs-v-width;

    .nav-item {
      margin-right: -1px;
    }

    .nav-link {
      @include add-border($nav-tabs-v-right-line-active-border-width, transparent, all);
      @include border-radius(0);
      &:hover,
      &:focus {
        background: none
      }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      background: none
    }

  }

  /* Right Line */
  &.right-line {

    .nav-link {

      &::before {
        @include transition;
        @include background-color($nav-tabs-line-link-active-border-theme-color, $nav-tabs-line-link-active-border-tone-color);
        content: "";
        width: 2px;
        position: absolute;
        height: 100%;
        right: -2px;
        top: 0;
        transform: scale(0);
      }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      /*  @include border-right-color($nav-tabs-line-link-active-border-theme-color, $nav-tabs-line-link-active-border-tone-color);*/
      &::before {
        transform: scale(1)
      }
    }
  }

  /* Outline */
  &.outline {
    .nav-link {
      border-width: $nav-tabs-v-wrap-active-border-width;
      @include border-left-radius($nav-tabs-border-radius);
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      border-color: $nav-tabs-border-color;
      border-right-color: $nav-tabs-link-active-bg;
    }
  }

  /* Primary outline */
  &.outline-primary {

    .nav-tabs {
      @include border-color($nav-tabs-line-link-active-border-theme-color, $nav-tabs-line-link-active-border-tone-color);
    }
    .nav-link {
      @include add-border($nav-tabs-v-wrap-active-border-width, transparent, all);
      @include border-left-radius($nav-tabs-border-radius);
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      @include border-color($nav-tabs-line-link-active-border-theme-color, $nav-tabs-line-link-active-border-tone-color);
      border-right-color: $nav-tabs-link-active-bg !important;
    }
  }

  /* Primary filled */
  &.primary-filled {

    .nav-tabs {
      @include border-color($nav-tabs-line-link-active-border-theme-color, $nav-tabs-line-link-active-border-tone-color);
    }
    .nav-link {
      @include border-left-radius($nav-tabs-border-radius);
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      @include color($nav-pills-link-active-theme-color, $nav-pills-link-active-font-theme-color-tone);
      @include background-color($nav-pills-link-active-theme-color, $nav-pills-link-active-bg-theme-color-tone);
    }
  }

}

//-------------------------------------------*\
// PILLS
//-------------------------------------------*/

.nav-pills {

  .nav-link {
    @include transition;
    @include set-border-radius($nav-pills-border-radius);
    margin: 0 5px 3px 0;
    //margin-right: 5px;
    @include color($nav-pills-link-active-theme-color, $nav-pills-link-active-bg-theme-color-tone);

    &.active,
    &.active:hover,
    .show > & {
      @include color($nav-pills-link-active-theme-color, $nav-pills-link-active-font-theme-color-tone);
      @include background-color($nav-pills-link-active-theme-color, $nav-pills-link-active-bg-theme-color-tone);
    }

    &:hover {
      @include color($nav-pills-link-active-theme-color, $nav-pills-link-active-font-theme-color-tone);
      @include background-color($nav-pills-link-active-theme-color, $nav-pills-link-hover-bg-theme-color-tone);
    }
  }
}