// ================================================================================================
// File Name: tabs.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

/* TODO:  Responsive bootstrap tabs https://codepen.io/devben/pen/EaLdeJ */

//-------------------------------------------*\
// TAB
//-------------------------------------------*/
.nav-tabs {
  @include add-border($nav-tabs-border-width, $nav-tabs-border-color, bottom);

  .nav-link {
    @include set-border-radius($nav-tabs-border-radius);
    @include add-border($nav-tabs-border-width, transparent, all);
    @include border-bottom-radius(0);
    color: $nav-tabs-link-color;

    &:hover,
    &:focus {
      @include color($nav-tabs-link-active-theme-color, $nav-tabs-link-active-theme-color-tone);
      border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
      background-color: $nav-tabs-link-hover-bg;
    }

    &.disabled {
      color: $nav-link-disabled-color;
    }

  }

  .nav-link.active,
  .nav-item.show .nav-link {
    //color: $nav-tabs-link-active-color;
    @include color($nav-tabs-link-active-theme-color, $nav-tabs-link-active-theme-color-tone);
    background-color: $nav-tabs-link-active-bg;
    border-color: $nav-tabs-link-active-border-color $nav-tabs-link-active-border-color $nav-tabs-link-active-bg;
  }

}

.tab-content {

  &.hasborder {
    margin-top: -1px;
    background: $tab-content-bg;
    @include add-border($nav-tabs-border-width, $nav-tabs-border-color, all);
  }

}

//-------------------------------------------*\
// TAB EXTENDED
//-------------------------------------------*/
.nav-tabs {

  &.extended {

    .nav-link {
      @include set-border-radius(0);
      @include add-border(0, transparent, top-bottom);
      @include add-border(0, transparent, right-left);
      //@include add-border(0px, transparent, bottom);

      &:hover,
      &:focus {
        @include color($nav-tabs-link-active-theme-color, $nav-tabs-link-active-theme-color-tone);
        background-color: $nav-tabs-line-link-hover-bg;
      }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      //@include add-border(0, transparent, top);
      //@include add-border(0, transparent, right-left);
      //@include add-border(5px, $nav-tabs-link-active-border-color, bottom);
      //@include border-color($theme-color, $tone);

      @include add-border(5px, transparent, bottom);
      //border: 5px solid transparent;
      @include border-bottom-color($nav-tabs-line-link-active-border-theme-color, $nav-tabs-line-link-active-border-tone-color);

    }

  }

}

//-------------------------------------------*\
// TAB EXTENDED - COVER
//-------------------------------------------*/

.nav-tabs {

  &.extended-cover {
    @include set-border-radius($nav-tabs-border-radius);
    @include border-bottom-radius(0);
    background-color: $nav-tabs-cover-bg;
    padding: 5px 5px 0;
  }
}

.tab-content {
  &.extended-cover {
    @include set-border-radius($nav-tabs-border-radius);
    @include border-top-radius(0);
  }
}

//-------------------------------------------*\
// TAB EXTENDED - ARROW
//-------------------------------------------*/
.nav-tabs {

  &.extended-arrow {

    .nav-link {
      @include transition;
      @include add-border(0, transparent, all);
      margin-bottom: 1px;
      position: relative;

      &:after,
      &:before {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0;
        height: 0;
        border: solid transparent;
        content: '';
        pointer-events: none;
      }

      &:hover,
      &:focus {
        @include color($nav-tabs-link-active-theme-color, $nav-tabs-link-active-theme-color-tone);
        background-color: $nav-tabs-line-link-hover-bg;
      }
    }

    .nav-link.active,
    .nav-item.show .nav-link {

      &:after {
        margin-left: -10px;
        border-width: 10px;
        border-top-color: #fff;
      }

      &:before {
        margin-left: -11px;
        border-width: 11px;
        border-top-color: $nav-tabs-border-color
      }

    }

  }

}

.tab-content {
  &.extended-arrow {
    margin-top: 0;
    @include add-border(0, transparent, all);
  }
}

//-------------------------------------------*\
// TAB EXTENDED - VERTICAL
//-------------------------------------------*/
.extended-vertical {
  //display: table;

  /* Flexbox */
  display: flex;
  flex-direction: row;

  .nav-tabs {
    @include add-border($nav-tabs-border-width, $nav-tabs-border-color, right);
    border-bottom: none;
    //display: table-cell;
    //width: $nav-tabs-v-width;

    /* Flexbox */
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: $nav-tabs-v-width;

    .nav-item {
      margin-right: -1px;
    }

    .nav-link {
      @include add-border($nav-tabs-v-right-line-active-border-width, transparent, all);
      @include border-radius(0);
      &:hover,
      &:focus {
        background: none
      }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      background: none
    }

  }

  &.right-line {
    .nav-link.active,
    .nav-item.show .nav-link {
      @include border-right-color($nav-tabs-line-link-active-border-theme-color, $nav-tabs-line-link-active-border-tone-color);
    }
  }

  &.wrap {
    .nav-link {
      border-width: $nav-tabs-v-wrap-active-border-width;
      @include border-left-radius($nav-tabs-border-radius);
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      border-color: $nav-tabs-border-color;
      border-right-color: $nav-tabs-link-active-bg;
    }
  }

  &.wrap-primary {

    .nav-tabs {
      @include border-color($nav-tabs-line-link-active-border-theme-color, $nav-tabs-line-link-active-border-tone-color);
    }
    .nav-link {
      @include add-border($nav-tabs-v-wrap-active-border-width, transparent, all);
      @include border-left-radius($nav-tabs-border-radius);
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      @include border-color($nav-tabs-line-link-active-border-theme-color, $nav-tabs-line-link-active-border-tone-color);
      border-right-color: $nav-tabs-link-active-bg !important;
    }
  }

  &.wrap-primary-filled {

    .nav-tabs {
      @include border-color($nav-tabs-line-link-active-border-theme-color, $nav-tabs-line-link-active-border-tone-color);
    }
    .nav-link {
      @include border-left-radius($nav-tabs-border-radius);
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      @include color($nav-pills-link-active-theme-color, $nav-pills-link-active-font-theme-color-tone);
      @include background-color($nav-pills-link-active-theme-color, $nav-pills-link-active-bg-theme-color-tone);
    }
  }

  ~ .tab-content {
    display: table-cell;
  }

}

//-------------------------------------------*\
// PILLS
//-------------------------------------------*/

.nav-pills {

  .nav-link {
    @include transition;
    @include set-border-radius($nav-pills-border-radius);
    margin: 0 5px 3px 0;
    @include color($nav-pills-link-active-theme-color, $nav-pills-link-active-bg-theme-color-tone);

    &.active,
    &.active:hover,
    .show > & {
      @include color($nav-pills-link-active-theme-color, $nav-pills-link-active-font-theme-color-tone);
      @include background-color($nav-pills-link-active-theme-color, $nav-pills-link-active-bg-theme-color-tone);
    }

    &:hover {
      @include color($nav-pills-link-active-theme-color, $nav-pills-link-active-font-theme-color-tone);
      @include background-color($nav-pills-link-active-theme-color, $nav-pills-link-hover-bg-theme-color-tone);
    }
  }
}