// ================================================================================================
// File Name: togglers.scss
// Description: Hamburger icons & animations
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================


/* Navbar toggle button - Bootstrap default class name .navbar-toggler */
.navbar-toggler {
  position: relative;
  padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;

  /* Hamburger icon */
  & .icon-bar {
    @include background-color('primary', 'base');
  }
  &.collapsed {
    &:hover {
      .icon-bar {
        + .icon-bar {
          margin-top: 6px;
        }
      }
    }
  }

}

/* Sidebar toggle button */
.sidebar--toggler {
  @include background-color('primary', 'base');
  padding: $sidebar-toggler-padding-y $sidebar-toggler-padding-x;
  height: $sidebar-toggler-height;
  border: 0;
  cursor: pointer;

  &:hover {
    @include background-color('primary', 'light');

  }

  &.collapsed {
    &:hover {
      .icon-bar {
        + .icon-bar {
          margin-top: 6px;
        }
      }
    }
  }

  /* Hamburger icon */
  & .icon-bar {
    @include background-color('primary', 'font-color');
  }
}

/* Aside toggle button */
.aside--toggler {
  @include background-color('header', 'base');
  @include transition;
  position: relative;
  padding: $aside-toggler-padding-y $aside-toggler-padding-x;
  height: $aside-toggler-height;
  border: 0;
  cursor: pointer;

  /* Hamburger icon */
  & .icon-bar {
    @include background-color('primary', 'base');
  }

  &.collapsed {
    .icon-bar {
      @include background-color('header', 'link-color');
    }
    &:hover {
      .icon-bar {
        @include background-color('header', 'hover-color');
        + .icon-bar {
          margin-top: 6px;
        }
      }
    }
  }
}


// Adapted from https://codepen.io/jorenerene/pen/vxKbJb?editors=1100

/* HAMBURGER ICON */
.icon-bar {
  background-color: #fff;
  display: block;
  height: 2px;
  border-radius: 1px;
  width: 22px;
  @include transition(all 0.3s ease);
  margin: 0 auto;

  + .icon-bar {
    margin-top: 4px;
  }
}

/* ANIMATED X */
.x .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}

.x .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}

.x .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}

/* ANIMATED X COLLAPSED */
.x.collapsed .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.x.collapsed .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
}

.x.collapsed .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
/* END ANIMATED X */

/* ANIMATED RIGHT ARROW */
.rarr.collapsed .icon-bar:nth-of-type(1) {
  transform: translate3d(0,0,0) rotate(0deg);
  transform-origin: right top;
  width: 22px;
}

.rarr.collapsed .icon-bar:nth-of-type(2) {
  transform: translate3d(0,0,0) rotate(0deg);
}

.rarr.collapsed .icon-bar:nth-of-type(3) {
  transform: translate3d(0,0,0) rotate(0deg);
  transform-origin: right bottom;
  width: 22px;
}

.rarr .icon-bar:nth-of-type(1) {
  transform: translate3d(11px,6px,0) rotate(45deg);
  transform-origin: right top;
  width: 11px;
}

.rarr .icon-bar:nth-of-type(2) {
  /* transform: scale(0.75); */;
}

.rarr .icon-bar:nth-of-type(3) {
  transform: translate3d(11px,-6px,0) rotate(-45deg);
  transform-origin: right bottom;
  width: 11px;
}
/* END ANIMATED RIGHT ARROW */

/* ANIMATED LEFT ARROW */
.larr.collapsed .icon-bar:nth-of-type(1) {
  transform: translate3d(0,0,0) rotate(0deg);
  width: 22px;
}

.larr.collapsed .icon-bar:nth-of-type(2) {
  transform: translate3d(0,0,0) rotate(0deg);
}

.larr.collapsed .icon-bar:nth-of-type(3) {
  transform: translate3d(0,0,0) rotate(0deg);
  width: 22px;
}

.larr .icon-bar:nth-of-type(1) {
  transform: translate3d(0px,6px,0) rotate(45deg);
  transform-origin: left top;
  width: 11px;
}

.larr .icon-bar:nth-of-type(3) {
  transform: translate3d(0px,-6px,0) rotate(-45deg);
  transform-origin: left bottom;
  width: 11px;
}
/* END ANIMATED LEFT ARROW */

/* ANIMATED UP ARROW */
.uarr.collapsed .icon-bar:nth-of-type(1) {
  transform: translate3d(0,0,0) rotate(0deg);
  width: 22px;
}

.uarr.collapsed .icon-bar:nth-of-type(2) {
  transform: translate3d(0,0,0) rotate(0deg);
}

.uarr.collapsed .icon-bar:nth-of-type(3) {
  transform: translate3d(0,0,0) rotate(0deg);
  width: 22px;
}

.uarr .icon-bar:nth-of-type(1) {
  transform: translate3d(1px,0,0) rotate(-45deg);
  transform-origin: center center;
  width: 11px;
}

.uarr .icon-bar:nth-of-type(2) {
  transform: rotate(-90deg);
  transform-origin: center center;
}

.uarr .icon-bar:nth-of-type(3) {
  transform: translate3d(0px,-14px,0) rotate(-135deg);
  transform-origin: right top;
  width: 11px;
}
/* END ANIMATED UP ARROW */

/* ANIMATED PLUS */
.plus.collapsed .icon-bar:nth-of-type(1) {
  transform: translate3d(0,0,0) rotate(0deg);
}

.plus.collapsed .icon-bar:nth-of-type(2) {
  transform: translate3d(0,0,0) rotate(0deg);
}

.plus.collapsed .icon-bar:nth-of-type(3) {
  transform: translate3d(0,0,0) rotate(0deg);
}

.plus .icon-bar:nth-of-type(1) {
  transform: translate3d(0px,6px,0) rotate(90deg);
  transform-origin: center center;
}

.plus .icon-bar:nth-of-type(3) {
  transform: translate3d(0px,-6px,0) rotate(-90deg);
  transform-origin: center center;
}
/* END ANIMATED PLUS */

/* ANIMATED MINUS */
.minus.collapsed .icon-bar:nth-of-type(1) {
  transform: translate3d(0,0,0) rotate(0deg);
}

.minus.collapsed .icon-bar:nth-of-type(2) {
  transform: translate3d(0,0,0) rotate(0deg);
}

.minus.collapsed .icon-bar:nth-of-type(3) {
  transform: translate3d(0,0,0) rotate(0deg);
}

.minus .icon-bar:nth-of-type(1) {
  transform: translate3d(0,6px,0);
}

.minus .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-6px,0);
}
/* END ANIMATED MINUS */



/* ANIMATED MINI ON SIDEBAR FOOTER */

.mini .collapsed .icon-bar:nth-of-type(1) {
  transform: translate3d(0px,6px,0) rotate(90deg);
  transform-origin: center center;
}

.mini .collapsed .icon-bar:nth-of-type(3) {
  transform: translate3d(0px,-6px,0) rotate(-90deg);
  transform-origin: center center;
}

.mini .icon-bar:nth-of-type(1) {
  transform: translate3d(0,6px,0);
}

.mini .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-6px,0);
}
/* END ANIMATED MINI ON SIDEBAR FOOTER */
