// ================================================================================================
// File Name      : tooltips.scss
// Description    : Adjustments/Override for Bootstrap's tooltips.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

//
// TOOLTIP
// ======================================================

.tooltip {
  z-index: map-get($zindex, tooltip);

  // Wrapper for the tooltip content
  @at-root  &-inner {
    font-size: $tooltip-font-size;
    font-weight: $font-wh-regular;
    padding: $tooltip-padding-y $tooltip-padding-x;
    color: $tooltip-color;
    line-height: $tooltip-line-height;
    background-color: $tooltip-bg;
    //box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  }

  // Right tooltip
  &.bs-tooltip-right .arrow:before {
    border-right-color: $tooltip-bg;
  }

  // Top tooltip
  &.bs-tooltip-top .arrow:before {
    border-top-color: $tooltip-bg;
  }
  // Bottom tooltip
  &.bs-tooltip-bottom .arrow:before {
    border-bottom-color: $tooltip-bg;
  }

  // Left tooltip
  &.bs-tooltip-left .arrow:before {
    border-left-color: $tooltip-bg;
  }

  // Theme variations
  @each $themeName, $value in $themes-map {
    $colors: map-get-strict($value, 'main-colors');
    @each $scheme, $value in $colors {
      &.tooltip-#{$scheme} {
        @include tooltip-theme($scheme);
      }
    }
  }

  // Contextual variations
  @each $scheme, $value in $contextual-palette-map {
    &.tooltip-#{$scheme} {
      @include tooltip-theme($scheme);
    }
  }

}