// ================================================================================================
// File Name: sidebar.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

// https://gist.github.com/jareware/4738651

.sidebar {
  @include themify(background-color, sidebar--bg);
  @include transition(all 0.3s ease-out);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  width: $sidebar-width;

  &__logo-mini {
    display: none;
  }

  &__nav ul {
    padding: 0px;
    margin: 0;
  }

  //First Level
  &__item {
    position: relative;
    padding: 0px;
    margin: 0;

    > a {
      //@include themify((background-color, color), (sidebar--bg, sidebar-menu--color));
      @include font-size(1.6);
      @include themify(color, sidebar-menu--color);
      display: flex;
      text-decoration: none;
      min-height: 40px;
      line-height: 20px;
      padding: 10px 15px;
      transition: 0.3s ease;
      border-left: 3px solid transparent;

      &:hover, &:active, &:focus {
        @include themify(background-color, sidebar-menu--bg--hover);

      }

    }

    &.active {
      > a {
        @include themify(background-color, sidebar-menu--bg--active);
        &:hover {
          @include themify(background-color, sidebar-menu--bg--hover);
        }
      }
    }
  }

  &__nav-title {
    margin-left: 10px;
  }

  &__child {
    @include themify(background-color, sidebar-menu__submenu--bg);

    li {
      a {
        @include font-size(1.4);
        @include themify(color, sidebar-menu__submenu--color);

      }
    }

  }

}

// Mini sidebar
.sidebar-is-open.sidebar-mini .sidebar {
  $s: sidebar;

  width: $sidebar-mini-width;
  z-index: 1;

  &__logo-mini {
    display: block;
  }

  // hiding title and arrow
  &__item {
    > a {
      min-width: 0;
      transition: min-width 0.3s ease-out;

      &::after {
        opacity: 0;
      }
    }

  }

  &__nav-title {
    display: none;
  }

  &__child {
    min-width: $sidebar-submenu-width;
    position: absolute;
    left: $sidebar-mini-width;
    z-index: 1;
  }

}

// Mini sidebar -- modifier
.sidebar-is-open.sidebar-mini .sidebar {

  $s: sidebar;

  &__item {
    // showing title and arrow
    &.active > a, &:hover > a, &:focus > a {
      min-width: $sidebar-active-menu-width;

      .#{$s}__nav-title {
        display: inline-block;
        position: absolute;
        visibility: visible;
        left: $sidebar-mini-width;
        width: 100%;

      }

      &::after {
        opacity: 1;
      }
    }

    // showing submenu
    &.active {
      .#{$s}__child {
      }

    }

  }
}

@include max-screen(767px) {
  .sidebar {
    overflow-y: auto;
    position: absolute !important;
  }

  .sidebar-is-open .sidebar {
    z-index: 1000;
  }
}

.sidebar-hide {
  background: $white;
  border-right: 1px solid #e7e7e7;
  padding: 5px 3px;
  cursor: pointer;

  &:hover {
    background: $light-grey;
  }
}

.sidebar-is-open .sidebar {
  position: relative;
  transform: translateX(0);
}

.sidebar-is-closed {
  [data-side="mini"] {
    display: none !important;
  }
}
