// ================================================================================================
// File Name: aside.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================


//https://www.dtelepathy.com/blog/inspiration/23-great-examples-of-innovative-navigation-for-your-inspiration

.aside{
  @include background-color('aside', 'base');
  @include color('aside', 'font-color');
  @include transition;
  /*Hiding sidebar as default*/
  transform: translateX(100%);
  width: $sidebar-width;
  padding-bottom: $footer-height;
  position: absolute;
  top: $header-height;
  right: 0;
  bottom: 0;
  z-index: map-get($zindex, aside);

  .header-fixed & {
    position: fixed;
  }

  /* Showing sidebar if body has .aside-is-open class */
  .aside-is-open & {
    transform: translateX(0);
  }

  &__wrap {

  }
}