// ================================================================================================
// File Name: footer.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

.master-footer {
  @include transition;
  @include background-color('footer', 'base');
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  min-height: $footer-min-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: map-get($zindex, footer);

  &__wrap {
    @include color('footer', 'font-color');
  }

  .footer-fixed & {
    position: fixed;
  }

  .sidebar-is-open .footer-fixed & {
    margin-left: $sidebar-width;
  }

  .sidebar-mobile.sidebar-is-open .footer-fixed & {
    margin-right: -$sidebar-width;
  }

  .sidebar-is-open.sidebar-mini .footer-fixed & {
    margin-left: $sidebar-mini-width;
  }

}