// ================================================================================================
// File Name: header-nav.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

//TODO: Fix the lineheight and padding properly

.master-header__navbar {
  position: relative;
  flex-direction: row;

  /* Change the brand and text color */
  .navbar-brand {
    @include color('primary', 'base');
  }

  .navbar-text {
    @include color('header', 'font-color');
    @include opacity(0.8);
    @include font-size($navbar-text-font-size);
    //min-height: $header-height;
    /* Flexbox */
    display: flex;
    align-items: center;
  }

  .navbar-nav {
    /* Flexbox */
    display: flex;
    align-items: stretch;

    .nav-item {
      min-height: $header-height;
      position: relative;
      text-align: center;
      /* Flexbox */
      display: flex;
      align-items: stretch;
      flex-direction: column;
      
      @include max-screen($screen-md-max) {
        min-height: $header-height - 10;
        text-align: left;
      }

      /* Navbar menu links */
      .nav-link {
        @include color('header', 'link-color');
        @include font-size($navbar-font-size);
        @include transition;
        //padding: $navlink-padding-y $navlink-padding-x;
        background-color: transparent;
        /* Flexbox */
        display: flex;
        align-items: center;
        flex: 1;

        &.disabled {
          @include opacity(0.3);
          cursor: not-allowed;
        }

        /* Change the hover, focus, active state links for better highlighting */
        &:focus,
        &:active,
        &:hover {
          @include background-color('header', 'dark');
          //background-color: transparent;
          @include color('header', 'hover-color');
          &.disabled {
            @include opacity(0.3);
            background-color: transparent;
          }
        }

        .badge {
          position: absolute;
          right: 4px;
          margin-top: -5px;
          @include max-screen($screen-md-max) {
            margin-top:0;
            right: 1em;
          }
        }
      }

      /* Change the color of open, show, active links for better highlighting */
      &.open > .nav-link,
      &.show > .nav-link,
      &.active > .nav-link {
        @include background-color('header', 'dark');
        @include color('header', 'active-color');
      }
    }
  }
}

@include max-screen($screen-md-max) {
  .navbar-collapse{
    max-height:300px;
    overflow-y: scroll;
  }
}
