// ================================================================================================
// File Name: header-nav.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

//TODO: Fix the lineheight and padding properly

.master-header__navbar {

  /* Change the brand and text color */
  .navbar-brand {
    @include color('primary', 'base');
  }

  .navbar-text {
    @include color('header', 'font-color');
    @include opacity(0.8);
  }

  /* Change the link color */
  .navbar-nav {
    .nav-item {
      .nav-link {
        @include color('header', 'link-color');
        @include opacity(0.8);
        @include font-size(13px);
        @include transition;
        background-color: transparent;
        padding: 0 15px;
        line-height:$header-height;

        &.disabled {
          @include opacity(0.3);
          cursor: not-allowed;
        }
      }

      /* Change the color of active, hovered links etc*/
      .open,
      &.active,
      &:focus,
      &:hover {
        .nav-link {
          @include background-color('header', 'dark');
          @include opacity(1);
          &.disabled {
            @include opacity(0.3);
            background-color: transparent;
          }
        }
      }
    }
  }

  /* Navbar toggle button */
  .navbar-toggler {
    position: relative;
    padding: 10px;

    /* Hamburger icon */
    & .icon-bar {
      @include background-color('primary', 'base');
    }

  }

  /* Sidebar toggle button */
  .sidebar-toggler {
    @include background-color('primary', 'base');
    padding: 10px;
    height:$header-height;
    border: none;
    cursor: pointer;

    &:hover {
      @include background-color('primary', 'light');
    }

    /* Hamburger icon */
    & .icon-bar {
      @include background-color('header', 'link-color');
    }
  }

  /* Aside toggle button */
  .aside-toggler {
    @include background-color('header', 'base');
    position: relative;
    padding: 10px;
    height:$header-height;
    border: none;
    cursor: pointer;
    @include opacity(0.8);
    @include transition;
    &:hover {
      @include opacity(1);
    }

    /* Hamburger icon */
    & .icon-bar {
      @include background-color('primary', 'base');
    }
    &.collapsed .icon-bar {
      @include background-color('header', 'link-color');
    }
  }

  /* HACK -Overriding bootstrap default value to avoid jerking */
  .dropdown-menu {
    margin-top: 0;
  }

}

/* Header search */
.master-header__search {
  //margin-left: 10px;
}

@include max-screen($screen-sm-max) {
  .master-header__search {
    margin-left: 0;
  }
}
