// ================================================================================================
// File Name: header.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

.master-header {
  @include themify(background-color, color__primary--lighter);
  min-height: $header-height;
  position: absolute;
  left: 0;
  right: 0;
  transition: left 0.3s ease;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__wrap {
    width: 100%;
  }

  .header-fixed & {
    position: fixed;
  }

  .sidebar-is-open & {
    left: $sidebar-width;
  }

  .sidebar-is-open.sidebar-mini & {
    left: $sidebar-mini-width;
  }

}