// ================================================================================================
// File Name: header.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

.master-header {
  @include background-color('header', 'base');
  @include transition;
  @include clearfix;
  position: absolute;
  left: 0;
  right: 0;
  z-index: map-get($zindex, header);
  min-height: $header-height;
  box-shadow: $header-shadow;

  /* Flexbox */
  display: flex;
  align-items: center;

  &__wrap {
    width: 100%;
    @include color('header', 'font-color');
  }

  .header-fixed & {
    position: fixed;
  }

  .sidebar-is-open & {
    left: $sidebar-width;
  }

  .sidebar-is-open.sidebar-mini & {
    left: $sidebar-mini-width;
  }

}