// ================================================================================================
// File Name: header-nav.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

//TODO: Fix the lineheight and padding properly

.master-header__navbar {
  position: relative;
  flex-direction: row;

  /* Change the brand and text color */
  .navbar-brand {
    @include color('primary', 'base');
  }

  .navbar-text {
    @include color('header', 'font-color');
    @include opacity(0.8);
    @include font-size(13px);
    line-height: $header-height;
  }

  /* Change the link color */
  .navbar-nav {
    align-items: center;

    .nav-item {
      position: relative;
      min-width: 50px;
      text-align: center;

      @include max-screen($screen-sm-max) {
        min-width: 100%;
        text-align: left;
      }

      .nav-link {
        @include color('header', 'link-color');
        @include font-size(13px);
        @include transition;
        background-color: transparent;
        padding-top: 0;
        padding-bottom: 0;
        line-height: $header-height;

        &.disabled {
          @include opacity(0.3);
          cursor: not-allowed;
        }
        /* Change the color of focus, hovered links*/
        &:focus,
        &:hover {
          @include background-color('header', 'dark');
          @include color('header', 'hover-color');
          &.disabled {
            @include opacity(0.3);
            background-color: transparent;
          }
        }

        .badge {
          @include font-size(10px);
          font-weight: normal;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -16px;
          margin-left: 0;
        }
      }

      /* Change the color of open, active links*/
      &.open > .nav-link,
      &.active > .nav-link {
        @include background-color('header', 'dark');
        @include color('header', 'active-color');
      }
    }
  }

  /* Navbar toggle button */
  .navbar--toggler {
    position: relative;
    padding: 10px;

    /* Hamburger icon */
    & .icon-bar {
      @include background-color('primary', 'base');
    }

  }

  /* Sidebar toggle button */
  .sidebar--toggler {
    @include background-color('primary', 'base');
    padding: 10px;
    height: $header-height;
    border: 0;
    cursor: pointer;

    &:hover {
      @include background-color('primary', 'light');

    }

    &.collapsed {
      &:hover {
        .icon-bar {
          + .icon-bar {
            margin-top: 6px;
          }
        }
      }
    }

    /* Hamburger icon */
    & .icon-bar {
      @include background-color('header', 'font-color');
    }
  }

  /* Aside toggle button */
  .aside--toggler {
    @include background-color('header', 'base');
    position: relative;
    padding: 10px;
    height: $header-height;
    border: 0;
    cursor: pointer;
    @include transition;

    /* Hamburger icon */
    & .icon-bar {
      @include background-color('primary', 'base');
    }

    &.collapsed {
      .icon-bar {
        @include background-color('header', 'link-color');
      }
      &:hover{
        .icon-bar {
          @include background-color('header', 'hover-color');
          + .icon-bar {
            margin-top: 6px;
          }
        }
      }
    }
  }

  /* HACK -Overriding bootstrap default value to avoid jerking */
  .dropdown-menu {
    margin-top: 0;
  }

}

/* Header search */
.master-header__search {
  //margin-left: 10px;
}

@include max-screen($screen-sm-max) {
  .master-header__search {
    margin-left: 0;
  }
}
