header.site-header {
    @include background-image("floral_header.png", 150px 0px, $military-blue);
    margin: 0 15px;
    padding: 0px 0;
    h1.site-logo {
        padding: 0;
        margin: 15px 0;
        img {
            width: auto;
            height: auto;
        }
    }
    .site-description {
        color: #fff;
        opacity: .5
    }
}
