// ================================================================================================
// File Name: app.scss
// Description: The page layout is as follows:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

//----------------------------------*\
// MAIN WRAPPERS
//----------------------------------*/

.main-wrap {
  /* Sidebar needs this particular environment */
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app {
  @include transition;
  position: relative;
  width: 100%;
  padding-left: 0;
  min-height: 100vh;
  margin: 0 auto;
  left: 0;
  background-color: $gray-200;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  /* Adjusting sidebar */
  .sidebar-is-open & {
    padding-left: $sidebar-width;
  }

  .sidebar-is-open.sidebar-mini & {
    padding-left: $sidebar-mini-width;
  }

}

//----------------------------------*\
// HEADER WRAPPERS
//----------------------------------*/
/* Header styles can found in header.scss */

//----------------------------------*\
// SIDEBAR WRAPPERS
//----------------------------------*/
/* Sidebar styles can found in sidebar.scss */

//----------------------------------*\
// BREADCRUMB WRAPPERS
//----------------------------------*/
.breadcrumb__wrap {
  @if bool($enable-breadcrumb) == false {
    display: none;
  }
  padding-top: $header-height;

  .breadcrumb {
    @include add-border($breadcrumb-border-size, $breadcrumb-border-color, bottom);
    margin: 0;
    &,
    & .breadcrumb-item {
      &:first-child,
      &:first-child a {
        @include set-border-radius(0);
      }
    }

  }
}

//----------------------------------*\
// MAIN CONTENT WRAPPERS
//----------------------------------*/

/* Main content */
.content {
  &__wrap {
    @if bool($enable-breadcrumb) == true {
      padding: $main-content-padding-y $main-content-padding-x ($footer-min-height + $main-content-padding-y);
    } @else {
      padding: ($header-height + $main-content-padding-y) $main-content-padding-x ($footer-min-height + $main-content-padding-y);
    }
    min-height: 100vh;
  }

  /* Page title */
  &__page-title {
    margin-top: -$main-content-padding-y;
    padding: $page-title-padding-y $page-title-padding-x;
  }

}

//----------------------------------*\
// ASIDE WRAPPERS
//----------------------------------*/
/* Aside styles can found in aside.scss */

//----------------------------------*\
// FOOTER WRAPPERS
//----------------------------------*/
/* Footer styles can found in footer.scss */