// ================================================================================================
// File Name: app.scss
// Description: This file is supposed to hold the main layout wrappers.
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

//----------------------------------*\
// MAIN WRAPPERS
//----------------------------------*/
/* The page layout is as follows: */

.main-wrap {
  /* Sidebar needs this particular environment */
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app {
  @include transition;
  position: relative;
  width: 100%;
  padding-left: 0;
  min-height: 100vh;
  margin: 0 auto;
  left: 0;
  background-color: $gray-200;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  /* Adjusting sidebar */
  .sidebar-is-open & {
    padding-left: $sidebar-width;
  }

  .sidebar-is-open.sidebar-mini & {
    padding-left: $sidebar-mini-width;
  }

}

/* Header */
/* Header styles can found in header.scss */

/* Sidebar */
/* Sidebar styles can found in sidebar.scss */

/* Breadcrumb */
.breadcrumb__wrap {
  @if bool($enable-breadcrumb) == false {
    display: none;
  }
  padding-top: $header-height;

  .breadcrumb {
    @include add-border($breadcrumb-border-size, $breadcrumb-border-color, bottom);
    margin: 0;
    &,
    & .breadcrumb-item {
      &:first-child,
      &:first-child a {
        @include set-border-radius(0);
      }
    }

  }
}

/* Main content */
.content {
  &__wrap {
    @if bool($enable-breadcrumb) == true {
      padding: 20px 20px $footer-height + 20px;
    } @else {
      padding: $header-height + 20px 20px $footer-height + 20px;
    }
    min-height: 100vh;
  }

  /* Page title */
  &__page-title {
    //margin: 0 -20px;
    padding-bottom: 20px
  }

}

/* Aside */
/* Aside styles can found in aside.scss */

/* Footer */
/* Footer styles can found in footer.scss */