.navbar-default {
    background: $cool-blue;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-nav > li {
    a {
        color: #fff;
        opacity: 1
    }
    a:hover {
        color: #fff;
        opacity: .5
    }
}

.navbar-nav > li.shopnow {
    font-weight: bold;
    a {
        color: $hYellow;
    }
}

.navbar-default .navbar-brand {
    color: #fff
}
