.navbar-default {
    background: $cool-blue;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-nav > li {
    a {
        color: #fff;
        opacity: 1;
        font-weight: bold;
    }
    a:hover,
    a:active {
        color: #fff;
        opacity: .5
    }
}

.navbar-nav > li:nth-child(1) a {
    @include background-image("home.png", 0 17px, none);
    padding-left: 20px;
}

.navbar-nav > li.shopnow {
    font-weight: bold;
    a {
        color: $hYellow;
    }
}

.navbar-default .navbar-brand {
    color: #fff
}
