// ================================================================================================
// File Name: sidebar-nav.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

// https://gist.github.com/jareware/4738651

.sidebar {
  $s: sidebar;

  /*Sidebar navigation*/
  &__nav {
    flex: 1;
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
      }
    }

    a {
      @include color('sidebar', 'link-color');
      @include font-size(15px);
      transition: 0.3s ease;
      display: block;
      text-decoration: none;
      padding-left: $sidebar-padding-left;
      min-height: 40px;
      line-height: 40px;

      &:hover{
        @include color('sidebar', 'hover-color');
      }
    }

  }

  &__title{
    @include font-size(12px);
    @include color('sidebar', 'link-color');
    padding-left: $sidebar-padding-left;
    font-weight: 600;
    text-transform: uppercase;
    min-height: 30px;
    line-height: 30px;
  }

  &__divider{
    height: 10px;
  }

  &__item {
    @include add-border(2px, transparent, left);
    @include transition;
    position: relative;
    box-sizing: border-box;

    .#{$s}__item-icon {
      margin: 0 ($sidebar-padding-left / 2) 0 0;
      text-align: left;
      width: $sidebar-icon-width;
      display: inline-block;

    > i {
      @include font-size(14px);
      width: $sidebar-icon-width;
      }
    }

    .#{$s}__item-title{
      display: inline-block;
      margin-left: -3px; /*Negative margin trick to remove the spaces between the elements icon & title*/
    }

    &.active,
    &:active,
    &:hover {
      @include border-left-color('primary', 'base');
      @include background-color('sidebar', 'dark');
    }
    &.active,
    &:active,
    &:focus{
      > a {
        @include color('sidebar', 'active-color');
        span{
          @include background-color('sidebar', 'dark');
        }
      }

    }

  }

  /*Submenu - Level one*/
  &__child {
    @include background-color('sidebar', 'dark');

    a {
      @include font-size(13px);
      min-height: 20px;
      line-height: 20px;
      padding: 5px 15px 5px ($sidebar-icon-width + $sidebar-padding-left);
      margin: 0 0 0 ($sidebar-padding-left / 2);
      }

    .#{$s}__item {
      border: 0;
    }

    /*Submenu - Level two*/
    .#{$s}__child {
      a {
        padding-left: $sidebar-icon-width + $sidebar-padding-left + 10;
      }

      /*Submenu - Level three*/
      .#{$s}__child {
        a {
          padding-left: $sidebar-icon-width + $sidebar-padding-left + 20;
        }
      }
    }

  }

}

/*Mini sidebar*/
.sidebar-is-open.sidebar-mini .sidebar {
  $s: sidebar;

  &__title{ display: none;}
  &__nav > ul > .#{$s}__item {
    position: static;

    > a {
      min-width: 0;
      @include transition(min-width 0.3s ease-out);

      &::after {
        opacity: 0;
      }

      .#{$s}__item-title{
        display: none;
        visibility: hidden;
        position: absolute;
      }
    }

    > .#{$s}__child {
      position: absolute;
      min-width: $sidebar-submenu-width + 2; /*Value 2 is to adjust the width to include border of parent li*/
      left: $sidebar-mini-width - 2; /*Value 2 is to adjust the width to include border of parent li*/
    }

    &.active {
      > a {
        min-width: $sidebar-active-menu-width;
        position: static;

        .#{$s}__item-title{
          display: inline-block;
          visibility: visible;
          min-width: $sidebar-width;
          left: $sidebar-mini-width;
          margin-left: 0;
        }

      }
    }

  }
}

