// ================================================================================================
// File Name: sidebar.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

// TODO, Header design idea, remove the below links.
// https://gist.github.com/jareware/4738651
// Header design idea https://uk.pixelz.com/

// TODO, sidebar menu idea - nice
// https://forums.imore.com/iphone-6s-plus/361561-photos-emailed-upside-down.html
// https://codepen.io/j_holtslander/pen/XmpMEp

.sidebar {
  $s: sidebar;
  @include background-color('sidebar', 'base');
  //@include transition(all 0.4s ease);
  @include transition;
  /* Hiding sidebar as default */
  //transform: translateX(-100%); //Position fixed sidebar footer (.sidebar__footer) doesn't work with transform property. So disabling it until found a fix.
  padding-bottom: $sidebar-footer-height;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: $sidebar-width;
  margin-left: -$sidebar-width;
  width: 0;
  z-index: map-get($zindex, sidebar);
  /* Flexbox */
  display: flex;
  flex-direction: column;

  /* Sidebar wrapper*/
  &__wrap {
    @include color('sidebar', 'font-color');
    height: calc(100vh - #{$sidebar-footer-height});
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    bottom: $sidebar-footer-height;
    position: static;
    top: 0;
    /* Flexbox */
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  /* Sidebar brand logo */
  &__brand {
    padding: $sidebar-padding-y $sidebar-padding-x;
    height: $sidebar-brand-height;
  }

  /* Sidebar footer */
  // Adapted from https://codepen.io/JonBergman/pen/pJmejw, https://codepen.io/addjones/pen/yJEPER TODO: Remove this line later
  &__footer {
    @include background-color('sidebar', 'base');
    @include border-top-color('sidebar', 'dark');
    @include transition;
    @extend %o-v-none;
    border-top: 1px solid;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0;
    min-height: $sidebar-footer-height;
    box-shadow: $sidebar-footer-shadow;

    .#{$s}__footer-nav {

      ///* flexbox */
      //display: flex;
      //align-items: center;
      //flex-direction: column;
    }

    .#{$s}__footer-list {
      width: 100%;
      padding: 0;
      margin: 1px 0 0 0;
      /* Flexbox */
      display: flex;
      flex-direction: row;
      flex: 1;
    }

    .#{$s}__footer-item {
      @include transition;
      @extend %o-v-none;
      position: relative;
      /* Flexbox */
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;

      a {
        @include transition;
        @include color('sidebar', 'link-color');
        justify-content: center;
        //min-height: $sidebar-footer-height;
        height: 100%;
        /* Flexbox */
        display: flex;
        align-items: center;
        flex: 1;

        &:active,
        &:hover {
          @include background-color('sidebar', 'dark');
          @include color('sidebar', 'hover-color');
        }

        i {
          @include font-size($sidebar-footer-icon-font-size);
        }
      }

      &.active {
        > a {
          @include background-color('sidebar', 'dark');
          @include color('primary', 'base');

        }
      }

    }
    .#{$s}__footer-child {
      @include background-color('sidebar', 'dark');
      @include border-top-color('primary', 'base');
      padding: 0;
      border-top: 2px solid;
      position: absolute;
      width: $sidebar-footer-width;
      bottom: $sidebar-footer-height;

      .#{$s}__footer-item {
        min-height: $sidebar-footer-child-item-height;
        line-height: $sidebar-footer-child-item-height;

        a {
          @include font-size($sidebar-footer-font-size);
          text-indent: $sidebar-icon-width;
          /* Flexbox */
          align-items: flex-start;
          justify-content: flex-start;
        }
        &:first-of-type {
          padding-top: 10px;
        }
        &:last-of-type {
          padding-bottom:10px;
        }
      }
    }
  }

  /* Mini sidebar modifiers */
  &-is-open.sidebar-mini & {
    @include transition;
    left: $sidebar-mini-width;
    margin-left: -$sidebar-mini-width;
    width: $sidebar-mini-width;

    .#{$s}__footer {
      width: $sidebar-mini-width;

      /* Hiding Sidebar footer links */
      .#{$s}__footer-item {
        @extend %o-v-none;
        width: 0;
        flex: auto;
      }

      /* Keep showing sidebar mini toggle button */
      .#{$s}__footer-item.mini {
        @extend %o-v-show;
        width: $sidebar-mini-width;
        display: flex;
      }

    }

  }

  /* Showing sidebar and its footer if body has class (.sidebar-is-open)*/
  &-is-open & {
    //transform: translateX(0); // Position fixed sidebar footer (.sidebar__footer) doesn't work with transform property. So disabling it until found a fix.
    width: $sidebar-width;

    .#{$s}__footer {
      width: $sidebar-footer-width;
      @extend %o-v-show;

      .#{$s}__footer-item {
        @extend %o-v-show;
      }

    }
  }

  /* Fixed sidebar */
  &-fixed & {
    position: fixed;
  }

  /* Closed sidebar */
  &-is-closed & {
    width: 0;

    .#{$s}__footer {
      @include transition;
      @extend %o-v-none;
      width: 0;
      overflow-x: hidden;
    }
  }

}

//TODO: Fix the below later as its current not working well.
@include max-screen(767px) {
  .sidebar {
    overflow-y: auto;
    position: absolute !important;
  }

  .sidebar-is-open .sidebar {
    //z-index: 1000;
  }
}