// ================================================================================================
// File Name: sidebar-nav.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

// https://gist.github.com/jareware/4738651

.sidebar {
  $s: sidebar;

  /*Sidebar navigation*/
  &__nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    ul {
      outline: 0;
      padding: 0;
      margin: 0;
      li {
        list-style: none;
      }
    }

    a {
      @include color('sidebar', 'link-color');
      @include font-size(15px);
      @include transition;
      //@include transition(color 0.3s ease-in-out);
      //@include transition(background-color 0.3s ease-in-out);
      display: flex;
      align-items: center;
      flex-direction: row;
      text-decoration: none;
      padding-left: $sidebar-padding-left;

      &:hover {
        @include color('sidebar', 'hover-color');
      }
    }

  }

  &-is-closed {
    // TODO Adapted from https://codepen.io/tonkec/pen/gryZmg
    .#{$s}__item,
    .#{$s}__header,
    .#{$s}__divider {
      @include transition;
      opacity: 0;
      transform: translateX(-100px);
    }
  }

  &__header {
    @include add-border(2px, transparent, left);
    @include font-size(12px);
    @include color('sidebar', 'link-color');
    @include transition;
    padding-left: $sidebar-padding-left;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    min-height: $sidebar-header-height;
    line-height: $sidebar-header-height;
    opacity: 1;
    //visibility: visible;
    //transform: translateY(0px);
  }

  &__divider {
    @include transition;
    min-height: $sidebar-divider-height;
    line-height: $sidebar-divider-height;
    opacity: 1;

  }

  &__item {
    @include add-border(2px, transparent, left);
    @include transition;
    position: relative;
    box-sizing: border-box;
    white-space: nowrap;
    min-height: $sidebar-item-height;
    line-height: $sidebar-item-height;
    opacity: 1;

    .#{$s}__item-icon {
      margin: 0 ($sidebar-padding-left / 2) 0 0;
      text-align: left;
      width: $sidebar-icon-width;
      display: inline-block;

      > i {
        @include font-size(14px);
        width: $sidebar-icon-width;
      }
    }

    .#{$s}__item-title {
      display: inline-block;
      flex: 1;
      //margin-left: -3px; /*Negative margin trick to remove the spaces between the elements icon & title* due to display: inline-block */
    }

    &.active,
    &:active,
    &:hover,
    &:focus {
      @include border-left-color('primary', 'base');
      a {
        @include background-color('sidebar', 'dark');
      }
    }
    &.active /*,
    &:active,
    &:focus */
    {
      > a {
        @include color('sidebar', 'active-color');
      }
    }

  }

  /*Submenu - Level one*/
  &__child {
    @include background-color('sidebar', 'dark');

    .#{$s}__item {
      border: 0;
      min-height: $sidebar-submenu-item-height;
      line-height: $sidebar-submenu-item-height;

      &:last-of-type  {
        padding-bottom: $sidebar-submenu-padding-y;
      }
    }

    a {
      @include font-size(13px);
      //padding: 5px 15px 5px ($sidebar-icon-width + $sidebar-padding-left);
      text-indent: $sidebar-icon-width;
      margin: 0 0 0 ($sidebar-padding-left / 2);
    }

    /*Submenu - Level two*/
    .#{$s}__child {
      .#{$s}__item {
        &:last-of-type{
          padding-bottom: 0;
        }
      }
      a {
        //padding-left: $sidebar-icon-width + $sidebar-padding-left + 10;
        text-indent: $sidebar-icon-width + 15;
      }

      /*Submenu - Level three*/
      .#{$s}__child {
        a {
          //padding-left: $sidebar-icon-width + $sidebar-padding-left + 20;
          text-indent: $sidebar-icon-width + 30;
        }
      }
    }

  }

}

/*Mini sidebar*/
.sidebar-is-open.sidebar-mini .sidebar {
  $s: sidebar;

  &__header,
  &__divider {
    @include transition;
    opacity: 0;
    visibility: hidden;
    min-height: 0;
    line-height: 0;

  }

  &__nav > ul > .#{$s}__item {
    position: static;
    width: $sidebar-mini-width;

    > a {
      padding-left: 0;
      width: $sidebar-mini-width - 4;

      &::after {
        display: none;
      }

      .#{$s}__item-icon {
        margin: 0;
        text-align: center;
        width: $sidebar-mini-width - 4;
      }

      .#{$s}__item-title {
        @include background-color('sidebar', 'dark');
        //@include transition;
        position: fixed;
        display: none;
        min-width: $sidebar-width;
        left: $sidebar-mini-width;
        margin-left: 0;
        padding-left: $sidebar-padding-left;

      }
    }

    &.active /*,
    &:hover*/
    {
      > a {
        width: $sidebar-active-menu-width - 2; /*Value 2 is to adjust the width to include border of parent li*/
        position: static;

        .#{$s}__item-title {
          display: inline-block;

        }

      }
    }

    > .#{$s}__child {
      position: absolute;
      min-width: $sidebar-submenu-width;
      left: $sidebar-mini-width;

      a {
        padding-left: $sidebar-padding-left;
        text-indent: 0;
        margin: 0;
      }

      /*Submenu - Level two*/
      .#{$s}__child {
        a {
          text-indent: $sidebar-icon-width;
        }

        /*Submenu - Level three*/
        .#{$s}__child {
          a {
            text-indent: $sidebar-icon-width + 15;
          }
        }
      }

    }

  }

}


