// ================================================================================================
// File Name: sidebar.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

// TODO, Header design idea, remove the below links.
// https://gist.github.com/jareware/4738651
// Header design idea https://uk.pixelz.com/

// TODO, sidebar menu idea - nice
// https://forums.imore.com/iphone-6s-plus/361561-photos-emailed-upside-down.html

.sidebar {

  @include background-color('sidebar', 'base');
  @include transition(all 0.3s ease-out);
  transform: translateX(-100%); /*Hiding sidebar as default*/
  width: $sidebar-width;
  padding-bottom: $sidebar-footer-height;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  z-index: map-get($zindex, sidebar);

  &-is-open & {
    transform: translateX(0); /*Showing sidebar if body has .sidebar-is-open class*/
  }

  &-fixed & {
    position: fixed;
  }

  /* Sidebar wrapper*/
  &__wrap {
    @include color('sidebar', 'font-color');
    display: flex;
    flex: 1;
    flex-direction: column;
    height: calc(100vh - #{$sidebar-footer-height});
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    bottom: $sidebar-footer-height;
    position: static;
    top: 0;
  }

  /* Sidebar brand logo */
  &__brand {
    padding-left: $sidebar-padding-left;
    height: $sidebar-brand-height;
  }

  /* Sidebar footer */
  &__footer {
    @include background-color('sidebar', 'base');
    @include border-top-color('sidebar', 'light');
    border-top: 1px solid;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $sidebar-footer-height;

    /* flexbox */
    display: flex;
    align-items: center;
    justify-content: center;

  }

  /* Sidebar footer links and mini toggle button common styles*/
  &__footer__item,
  &__footer__item--toggler {
    @include transition;
    @include background-color('sidebar', 'base');
    @include color('sidebar', 'link-color');
    border: 0;
    cursor: pointer;
    height: $sidebar-footer-height;
    text-decoration: none;

    /* flexbox */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;

    &.active,
    &:active,
    &:focus,
    &:hover {
      @include background-color('sidebar', 'dark');
      @include color('sidebar', 'hover-color');
    }

  }

  /* Sidebar mini toggle button */
  &__footer__item--toggler {
    position: relative;

    /* Hamburger icon */
    & .icon-bar {
      @include background-color('sidebar', 'link-color');
    }

    &:hover {
      .icon-bar {
        @include background-color('primary', 'base');
      }
    }

    &.collapsed {
      @include background-color('sidebar', 'dark');
      .icon-bar {
        @include background-color('primary', 'base');
      }
    }

  }

}

/* Mini sidebar */
.sidebar-is-open.sidebar-mini .sidebar {
  $s: sidebar;
  width: $sidebar-mini-width;

  /* Sidebar footer links */
  .sidebar__footer__item
  {
    opacity: 0;
    visibility: hidden;
    width: 0;
  }

}

.sidebar-is-closed {
  [data-side="mini"] {
    display: none !important;
  }
}

//TODO: Fix the below later as its current not working well.
@include max-screen(767px) {
  .sidebar {
    overflow-y: auto;
    position: absolute !important;
  }

  .sidebar-is-open .sidebar {
    //z-index: 1000;
  }
}

