// ================================================================================================
// File Name: sidebar-nav.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

// https://gist.github.com/jareware/4738651
//----------------------------------*\
// SIDEBAR MENU
//----------------------------------*/
.sidebar {
  $s: sidebar;

  /* Sidebar menu navigation */
  &__nav {
    flex: 1;
    display: flex;
    flex-direction: column;

    ul {
      outline: 0;
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        text-align: left;
      }
    }

  }

  /* Hiding sidebar if body has class (.sidebar-is-closed) */
  &-is-closed {
    // TODO Adapted from https://codepen.io/tonkec/pen/gryZmg
    /*    .#{$s}__item:not(.has-children),
        .#{$s}__item.has-children,
        .#{$s}__header,
        .#{$s}__divider {
          @include transition;
          @extend %o-v-none;
          transform: translateX(-100px);
        }*/
    .#{$s}__wrap * {
      @include transition;
      @extend %o-v-none;
      transform: translateX(-100px);
    }
  }
  /* Hiding sidebar if body has class (.sidebar-is-open) */
  &-is-open {
    .#{$s}__wrap * {
      //@include transition;
      @extend %o-v-show;
      //transform: translateX(0);
    }
  }
  &__header {
    @include add-border(2px, transparent, left);
    @include font-size($sidebar-header-font-size);
    @include color('sidebar', 'link-color');
    @include transition;
    //@extend %o-v-show; /* Reset style */
    padding: $sidebar-padding-y $sidebar-padding-x;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    min-height: $sidebar-header-height;
    line-height: $sidebar-header-height;
    letter-spacing: 0.1em;
    opacity: 0.7 !important;
    position: relative;

    &:after{
    /*  position: absolute;
      top: 50%;
      width: 100%;
      height: 1px;
      margin: -1px 0 0 5px;
      content: '';
      border-bottom: 1px solid;
      @include border-bottom-color('sidebar', 'light');*/
    }
  }

  &__divider {
    @if bool($sidebar-divider-border) == true {
      @include border-top-color('sidebar', 'light');
      border-top: 1px solid;
    } @else {
      border: 0;
    }
    @include transition;
    //@extend %o-v-show; /* Reset style */
    height: $sidebar-divider-height;
    margin: $sidebar-divider-margin-y $sidebar-divider-margin-x;
  }

  /* Sidebar menu */
  &__item:not(.has-button) {
    @include add-border(2px, transparent, left); // Set border to invisible, so we don't see a 2px border
    //@extend %o-v-show; /* Reset style */
    @include transition;
    position: relative;
    box-sizing: border-box;
    white-space: nowrap;
    min-height: $sidebar-item-height;
    line-height: $sidebar-item-height;
    /* Flexbox */
    display: flex;
    flex-direction: column;

    /* Sidebar menu links */
    a {
      @include color('sidebar', 'link-color');
      @include font-size($sidebar-font-size);
      @include transition;
      text-decoration: none;
      padding: $sidebar-padding-y $sidebar-padding-x;
      /* Flexbox */
      display: flex;
      align-items: center;
      flex-direction: row;

      &:hover {
        @include color('sidebar', 'hover-color');
      }
      &.has-arrow::after {
        right: 10px;
      }
    }

    /* Sidebar menu icon before item title */
    .#{$s}__item-icon {
      margin-right: $sidebar-icon-margin-right;
      text-align: left;
      width: $sidebar-icon-width;
      display: inline-block;

      > i {
        @include font-size($sidebar-icon-font-size);
        width: $sidebar-icon-width;
      }
    }

    /* Sidebar menu item title */
    .#{$s}__item-title {
      display: inline-block;
      flex: 1;
      //margin-left: -3px; /*Negative margin trick to remove the spaces between the elements icon & title* due to display: inline-block */
    }

    /* Sidebar menu notification badge */
    .badge {
      animation: animationFrames ease 1s;
      animation-iteration-count: 1;
      transform-origin: 50% 50%;
      animation-fill-mode: forwards; /*when the spec is finished*/

      @keyframes animationFrames {
        0% {
          opacity: 0;
          transform: translate(-1500px, 0px);
        }
        60% {
          opacity: 1;
          transform: translate(30px, 0px);
        }
        80% {
          transform: translate(-10px, 0px);
        }
        100% {
          opacity: 1;
          transform: translate(0px, 0px);
        }
      }
    }

    /* Change the hover, focus, active state links for better highlighting */
    &:hover,
    &:focus,
    &:active,
    &.active
    {
      @include border-left-color('primary', 'base'); // Make borders visible
      @include background-color('sidebar', 'dark');
    }
    /* Current item */
    &.active,
    &.show{
      @include background-color('sidebar', 'dark');
      > a {
        @include color('sidebar', 'active-color');
        .#{$s}__item-title {
          @include background-color('sidebar', 'dark');
        }
      }
    }
  }

  &__item.has-button {
    @include transition;
    //@extend %o-v-show; /* Reset style */
    padding: $sidebar-padding-y $sidebar-padding-x;
  }
  /* Submenu - First level */
  &__child {
    @include background-color('sidebar', 'dark');

    .#{$s}__item {
      border: 0;
      min-height: $sidebar-submenu-item-height;
      line-height: $sidebar-submenu-item-height;
      /* &:before {
         @include color('sidebar', 'light');
         content:"•";
         position: absolute;
       }*/
      &:last-of-type {
        margin-bottom: 10px;
      }
      a {
        @include font-size($sidebar-submenu-font-size);
        text-indent: $sidebar-icon-width;
        margin: 0 0 0 $sidebar-icon-margin-right;
        *{
          text-indent:0;
        }
      }
    }

    /* Second level */
    .#{$s}__child {
      .#{$s}__item {
        &:last-of-type {
          margin-bottom: 0px;
        }
        a {
          text-indent: $sidebar-icon-width + 15;
        }
      }

      /* Third level */
      .#{$s}__child {
        .#{$s}__item {
          a {
            text-indent: $sidebar-icon-width + 30;
          }
        }
      }
    }

  }

}

//----------------------------------*\
// MINI SIDEBAR MENU & MODIFIERS
//----------------------------------*/

.sidebar-is-open.sidebar-mini .sidebar {
  $s: sidebar;

  /* Hiding headers, dividers etc */
  &__item.has-button,
  &__header,
  &__divider {
    @include transition;
    @extend %o-v-none;
    min-height: 0;
    height: 0;
    line-height: 0;
    margin: 0;
  }

  &__header {
    opacity: 0 !important;
  }


  &__nav > ul > .#{$s}__item:not(.has-button) {
    @include transition;
    position: static;
    width: $sidebar-mini-width;
    display: block;

    > a {
      padding: 0;
      width: $sidebar-mini-width - 4;

      .badge,
      &::after {
        @extend %o-v-none;
        display: none;
      }

      .#{$s}__item-icon {
        margin: 0;
        text-align: center;
        width: $sidebar-mini-width - 4;
      }

      .#{$s}__item-title {
        @include background-color('sidebar', 'dark');
        position: fixed;
        display: none;
        min-width: $sidebar-width;
        left: $sidebar-mini-width;
        margin-left: 0;
        padding: $sidebar-padding-y $sidebar-padding-x;

      }
    }

    > .#{$s}__child  {
      @extend %o-v-none;
      display: none;
    }

    /* Show submenu item title on active */
    &.show/*,
    &:hover*/
    {
      > a {
        width: $sidebar-mini-active-menu-width - 2; /* Value 2 is to adjust the width to include border of parent li */
        position: static;

        .#{$s}__item-title {
          display: inline-block;
        }

      }

      > .#{$s}__child {
        @extend %o-v-show;
        display: block;
      }
    }

    /* Submenu - First level */
    > .#{$s}__child {
      position: absolute;
      min-width: $sidebar-submenu-width;
      left: $sidebar-mini-width;
      box-shadow: $header-shadow;

      a {
        text-indent: 0;
        margin: 0;
      }

      /* Second level */
      .#{$s}__child {
        a {
          text-indent: $sidebar-icon-width;
        }

        /* Third level */
        .#{$s}__child {
          a {
            text-indent: $sidebar-icon-width + 15;
          }
        }
      }

    }
  }
}
