.manu {
    display: flex;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, #ffffff, #000000);
}

.customautoprefixertest {
    display: flex;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}
