// ================================================================================================
// File Name      : fonts.scss
// Description    : Web fonts and Google Fonts. We don't want to load many fonts on your site
// so we stay classic.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

// GOOGLE FONTS
// ======================================================
// Includes:
// Source Sans Pro: Light, Regular, Medium, Semi-bold;
// Roboto Mono: Regular
$google-fonts-import: 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700|Roboto+Mono:300,400,500,600,700';

// WEB FONTS
// ======================================================
// Adapted from sassy-starter http://minamarkham.github.io/sassy-starter/
$typefaces: (
  //'FILENAME': (
  //  family: 'fontname',
  //),
);

// FONT STACKS
// ======================================================
// Adapted from sassy-starter http://minamarkham.github.io/sassy-starter/

// Define font stack used for body, paragraphs.
$font-family-default: 'Source Sans Pro'; // Google font, imported at top of this file.

// Define font stack used for headings.
$font-family-display: $font-family-default;

// Define font stack used for fallback
$font-family-fallback: 'Arial', sans-serif;
