// ================================================================================================
// File Name: placeholders.scss
// Description: @extend placeholders that you like to use for your project.
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

//----------------------------------*\
// CLEARFIX
//----------------------------------*/
%cf {
  @include clearfix;
}

//----------------------------------*\
// LIST STYLE NONE
//----------------------------------*/

%lsn {
  list-style: none;
}

%o-v-none{
  opacity: 0;
  visibility: hidden;
}

%o-v-show{
  opacity: 1;
  visibility: visible;
}


//----------------------------------*\
// ACCORDION PSEUDO
//----------------------------------*/
%acc-pseudo {
  @include center(y);
  font-family: 'FontAwesome';
  font-style: normal;
  content: $accordion-header-icon-right;
  float: right;
  font-size: 20px;
  line-height: 1;
  display: inline-block;
  speak: none;
/*  width: 22px;
  text-align: center;*/
  position: absolute;
  right: $card-spacer-x;
}

//----------------------------------*\
// BREADCRUMB EXTENDED ARROW PSEUDO
//----------------------------------*/
%abreadcrumb-ext-arrow-pseudo {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: $breadcrumb-ext-border-top-bottom-size solid transparent;
  border-bottom: $breadcrumb-ext-border-top-bottom-size solid transparent;
  border-left: $breadcrumb-ext-border-left-size solid transparent;
  position: absolute;
  top:0;
  //top: 50%;
  //margin-top: -$breadcrumb-ext-border-top-bottom-size;
  left: 100%;
  z-index: 3;
}