// ================================================================================================
// File Name      : placeholders.scss
// Description    : Use @extend for placeholders
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

//
// BUTTON
// ======================================================

%button {
  font-size: $btn-font-size;
  //border-width: $btn-border-size;
  font-weight: $btn-font-weight;
  color: $body-color;
  border: $btn-border-size solid transparent;
  padding: $btn-padding-y $btn-padding-x;
  line-height: $btn-line-height;
  min-width: $btn-min-width;
  min-height: $btn-min-height;
  cursor: $cursor-pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include set-border-radius($btn-border-radius);
  @include box-shadow($btn-box-shadow);
}

//
// CLEARFIX
// ======================================================

%cf {
  @include clearfix;
}

//
// LIST STYLE NONE
// ======================================================

%lsn {
  list-style: none;
}

%o-v-none {
  @include opacity(0);
  visibility: hidden;
}

%o-v-show {
  @include opacity(1);
  visibility: visible;
}

//
// ACCORDION PSEUDO
// ======================================================

%acc-pseudo {
  @include center(y);
  font-style: normal;
  //color: $accordion-icon-color;
  color: inherit;
  float: right;
  font-size: 0.75rem;
  line-height: 1;
  speak: none;
  width: 15px;
  height: 15px;
  text-align: center;
  position: absolute;
  right: $card-spacer-x;
  display: flex;
  align-items: center;
  justify-content: center;
}

//
// DROPZONE PSEUDO
// ======================================================

%dropzone-pseudo {
  //@include center(y);
  font-family: 'simple-line-icons';
  font-style: normal;
  content: $dropzone-message-icon;
  font-size: $dropzone-message-icon-font-size;
  speak: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

//
// BREADCRUMB EXTENDED ARROW PSEUDO
// ======================================================

%breadcrumb-ext-arrow-pseudo {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  //top: 50%;
  //margin-top: -$breadcrumb-ext-top-bottom-border-size;
  left: 100%;
  z-index: 3;
  @include add-border($breadcrumb-ext-top-bottom-border-size, transparent, top-bottom);
  @include add-border($breadcrumb-ext-left-border-size, transparent, left);
}

//
// CHOSEN SELECT BOX PSEUDO
// ======================================================

%search-choice-close-pseudo,
%chosen-close-pseudo {
  font-family: 'simple-line-icons';
  font-style: normal;
  content: "\e082";
  font-size: 15px;
  speak: none;
  width: 100%;
  height: 100%;
  text-align: center;
  color: $gray-600;
  display: flex;
  align-items: center;
  justify-content: center;
}

//
// LIST GROUP ITEM
// ======================================================
%list-group-item {
  font-size: $list-group-font-size;
  font-weight: $list-group-font-weight;
  padding: $list-group-item-padding-y $list-group-item-padding-x;
  line-height: $list-group-line-height;
  margin-bottom: -$list-group-border-width;
  background-color: $list-group-bg;
  color: $list-group-item-color;
  @include add-border($list-group-border-width, $list-group-border-color, all);
}
