// ================================================================================================
// File Name: variables.scss
// Description: Global Themes variables.
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

// TODO: Fill the below comment block with proper text following robust admin theme.
// TODO get variable namings fro https://www.bootstrap-live-customizer.com/.

// ================================================================================================
// WARNING: PLEASE DO NOT CHANGE THIS VARIABLE FILE.
// THIS FILE WILL GET OVERWRITTEN WITH EACH XXXX TEMPLATE RELEASE.
// TIP:
// We suggest you to use this (assets/scss/variables/app-variables.scss) file for overriding app variables.
// ================================================================================================

//----------------------------------*\
// COLOR PALETTE
//----------------------------------*/
/* Looking for theme color palette? Please check themes/_theme-map.scss */

/* Contextual colors */
$contextual: (
        'success': (
                'base': $grass,
                'light': lighten($grass, 6%),
                'dark': darken($grass, 6%),
                'font-color': #fff,
        ),
        'danger': (
                'base': $grapefruit,
                'light': lighten($grapefruit, 6%),
                'dark': darken($grapefruit, 6%),
                'font-color': #fff,
        ),
        'warning': (
                'base': $sunflower,
                'light': lighten($sunflower, 6%),
                'dark': darken($sunflower, 6%),
                'font-color': #fff,
        ),
        'info': (
                'base': $aqua,
                'light': lighten($aqua, 6%),
                'dark': darken($aqua, 6%),
                'font-color': #fff,
        ),
        'light': (
                'base': $light,
                'light': lighten($light, 6%),
                'dark': darken($light, 6%),
                'font-color': #000,
        ),
        'dark': (
                'base': $dark,
                'light': lighten($dark, 6%),
                'dark': darken($dark, 6%),
                'font-color': #fff,
        ),
);

//----------------------------------*\
// FONTS
//----------------------------------*/

$font-html: (
        size: 100%, /*62.5% adapted from https://www.sitepoint.com/understanding-and-using-rem-units-in-css/*/
  //size: 16px
);

$font: (
        color: $grey-x-dark, /* Global text color on <body> */
        weight-light: 300,
        weight-normal: 400,
        weight-semi: 600,
        weight-bold: 700,
        line-height: 1.5,
  /*        size-xs: 10px,
          size-sm: 12px,
          size-md: 14px,
          size-lg: 16px,
          size-xl: 18px,*/
);

//----------------------------------*\
// OPTIONS
//----------------------------------*/
$enable-rounded: false !default;

//----------------------------------*\
// SELECTION
//----------------------------------*/
$selection-color: #818892;
$selection-bg: #f9f6f0;

//----------------------------------*\
// BORDERS
//----------------------------------*/
//$border-radius-base: 4px !default;
$none: 0 !default;
$border-thin: 1px !default;
$border-thick: 2px !default;
$border: 1px solid !default;
$border-radius-xs: 0.125rem !default; /*2px*/
$border-radius-sm: 0.1875rem !default; /*3px*/
$border-radius-md: 0.25rem !default; /*4px*/
$border-radius-lg: 0.3125rem !default; /*5px*/
$border-radius-xl: 0.375rem !default; /*6px*/
$border-radius-xxl: 0.5rem !default; /*8px*/

//----------------------------------*\
// BODY
//----------------------------------*/
$body-bg-color: $white-color;
$text-color: $grey-dark;

//----------------------------------*\
// LINKS
//----------------------------------*/

//----------------------------------*\
// HEADER & NAVBAR
//----------------------------------*/
/* Header color variables can be found in themes/_theme-map.scss */
$header-height: 50px;
$navbar-font-size: 13px;
$navbar-link-height: $header-height;
$navbar-link-md-height: $header-height - 10;

$navbar-text-font-size: $navbar-font-size;
//$navlink-padding-y: 0px;
//$navlink-padding-x: 0px;
$navbar-toggler-bg:;
$navbar-toggler-border-colour:;
$navbar-item-mobile-bottom-border: true;

//----------------------------------*\
// BOOTSTRAP DROPDOWN MENU - EXTENDED (.dropdown-menu.extended)
//----------------------------------*/
$dropdown-bg: $white-color;

$dropdown-font-size: 13px;
$dropdown-header-font-size: 11px;

$dropdown-margin-top: 15px; /* Positioning first level dropdown menu */

$dropdown-padding-y: 5px;
$dropdown-padding-x: 0px;

$dropdown-item-padding-y: 8px;
$dropdown-item-padding-x: 12px;

$dropdown-link-color: $grey-xx-dark;

$dropdown-link-hover-color: $grey-xx-dark;
$dropdown-link-hover-bg: $grey-xx-light;

$dropdown-link-active-color: $grey-xx-dark;
$dropdown-link-active-bg: $grey-x-light;

$dropdown-link-disabled-color: $grey-light;

$dropdown-divider-color: $grey-x-light;

$dropdown-icon-width: 20px;

//----------------------------------*\
// BOOTSTRAP DROPDOWN MENU - EXTENDED & THEMED (.dropdown-menu.extended.themed)
//----------------------------------*/
/* Themed dropdown styles are automatically generated based on header map that can be found in themes/_theme-map.scss */

//----------------------------------*\
// TOGGLERS
//----------------------------------*/
/* Navbar toggle button */
$navbar-toggler-padding-y: 10px;
$navbar-toggler-padding-x: 10px;

/* Sidebar toggle button */
$sidebar-toggler-height: $header-height - 10;
$sidebar-toggler-padding-y: 0px;
$sidebar-toggler-padding-x: 10px;

/* Aside toggle button */
$aside-toggler-height: $header-height;
$aside-toggler-padding-y: 10px;
$aside-toggler-padding-x: 10px;

//----------------------------------*\
// SEARCH
//----------------------------------*/

//----------------------------------*\
// PADDINGS
//----------------------------------*/

$padding-base-y: .5rem !default;
$padding-base-x: .7rem !default;

$padding-simple-y: 10px !default;
$padding-simple-x: 17px !default;

$padding-large-y: 15px !default;
$padding-large-x: 48px !default;

$padding-small-y: 5px !default;
$padding-small-x: 15px !default;

//----------------------------------*\
// SHADOWS
//----------------------------------*/
$container-shadow: 0.5rem 0.5rem 2rem 0 rgba(black, 0.2);
$header-shadow: 0 1px 3px rgba($black-color, .2);
$popover-shadow: 0 5px 10px rgba($black-color, .1);
$sidebar-footer-shadow: 0 1px 10px rgba($black-color, 0.3), inset 0 1px 0 rgba($white-color, 0.08);

//----------------------------------*\
// BREADCRUMBS
//----------------------------------*/
$breadcrumb-bg: #fff;

//----------------------------------*\
// SIDEBAR
//----------------------------------*/
/* Sidebar color variables can be found in themes/_theme-map.scss */

$sidebar-width: 200px;
$sidebar-brand-height: 50px;

$sidebar-font-size: 15px;

$sidebar-icon-width: 20px;
$sidebar-icon-font-size: $sidebar-font-size;
$sidebar-icon-margin-right: 5px;

$sidebar-header-font-size: 11px;
$sidebar-header-height: 30px;

$sidebar-item-height: 40px;
$sidebar-padding-x: 10px;
$sidebar-padding-y: 0px;

$sidebar-divider-border: true;
$sidebar-divider-height: 0px;
$sidebar-divider-margin-y: 0.5rem;
$sidebar-divider-margin-x: 0px;

$sidebar-submenu-font-size: 13px;
$sidebar-submenu-item-height: 30px;
$sidebar-submenu-width: $sidebar-width;

/* Mini Sidebar */
$sidebar-mini-width: 50px;
$sidebar-mini-active-menu-width: $sidebar-width + $sidebar-mini-width;

/* Sidebar footer */
$sidebar-footer-height: 40px;
$sidebar-footer-item-height: $sidebar-item-height;
$sidebar-footer-child-item-height: $sidebar-submenu-item-height;
$sidebar-footer-width: $sidebar-width;
$sidebar-footer-font-size: $sidebar-submenu-font-size;
$sidebar-footer-icon-font-size: 15px;

//----------------------------------*\
// BUTTONS
//----------------------------------*/

/* Small button (.btn-sm) */
$btn-font-size-sm: 12px !default;
//$btn-padding-y-sm: 5px !default;
//$btn-padding-x-sm: 15px !default;
$btn-min-width-sm: 80px !default;
$btn-min-height-sm: 30px !default;
$btn-radius-sm: $border-radius-sm;

/* Regular button (.btn) */
$btn-font-size: 16px !default;
//$btn-padding-y: 8px !default;
//$btn-padding-x: 25px !default;
$btn-min-width: 100px !default;
$btn-min-height: 40px !default;
$btn-radius: $border-radius-md;

/* Large button (.btn-lg) */
$btn-font-size-lg: 18px !default;
//$btn-padding-y-lg: 13px !default;
//$btn-padding-x-lg: 35px !default;
$btn-min-width-lg: 120px !default;
$btn-min-height-lg: 50px !default;
$btn-radius-lg: $border-radius-lg;

/* Round button radius (.btn-round) */
$btn-radius-round: 30px;

/* Small icon button (.btn-sm.btn-icon.btn-round) */
$btn-icon-size-sm: $btn-min-height-sm !default;
$btn-icon-font-size-sm: 12px !default;

/* Regular icon button (.btn-icon.btn-round) */
$btn-icon-size: $btn-min-height !default;
$btn-icon-font-size: 16px !default;

/* Large icon button (.btn-lg.btn-icon.btn-round) */
$btn-icon-size-lg: $btn-min-height-lg !default;
$btn-icon-font-size-lg: 20px !default;

/* Disabled button opacity */
$btn-disabled-opacity: 0.5;

//----------------------------------*\
// POPOVERS
//----------------------------------*/
$popover-header-font-size: 14px !default;
$popover-font-size: 13px !default;

//----------------------------------*\
// ALERT
//----------------------------------*/
$alert-border-radius: $border-radius-md;
$alert-border-size: $border-thin;
$alert-font-size: 16px !default;

//----------------------------------*\
// NAVBAR
//----------------------------------*/

//----------------------------------*\
// OVERLAY
//----------------------------------*/
$overlay: rgba(0, 0, 0, .3);

//----------------------------------*\
// MAIN MENU
//----------------------------------*/

//----------------------------------*\
// PROGRESS
//----------------------------------*/

//----------------------------------*\
// PATHS
//----------------------------------*/
$path-rel: 'images/';

//----------------------------------*\
// FORMS
//----------------------------------*/
$input-bg: $white-color;
$input-color: $grey-dark;
$input-color-placeholder: $grey-light;
$input-bg-disabled: $grey-x-light;
$input-border-color: $grey-light;
$input-hover-border-color: $grey;
$input-border-disabled: $grey-x-light;
$input-border-radius: $border-radius-md;
$input-border-size: $border-thin;
$form-labels-font-size: 14px;


//----------------------------------*\
// TABLES
//----------------------------------*/

//----------------------------------*\
// BADGES
//----------------------------------*/
/* Including relevant variables from bootstrap variables.scss */
$badge-pill-border-radius: 10rem !default;
$badge-disabled-opacity: 0.5;
$badge-border-radius: $border-radius-sm;
$badge-border-size: $border-thin;

//----------------------------------*\
// TYPOGRAPHY
//----------------------------------*/

//----------------------------------*\
// TOOLTIPS
//----------------------------------*/
$tooltip-background-color: $grey-x-dark !default;
$tooltip-font-color: $white-color !default;
/*$tooltip-padding-y: $padding-base-y !default;
$tooltip-padding-x: $padding-base-x !default;*/
$tooltip-font-size: 12px;

//----------------------------------*\
// FOOTER
//----------------------------------*/
$footer-height: 30px;

//----------------------------------*\
// THEME TRANSITION
//----------------------------------*/
$theme-transition-duration: 1.5s;

//----------------------------------*\
// ZINDEX
//----------------------------------*/
$zindex: (
        modal : 9000,
        overlay : 1200,
        dropdown : 1000,
        header : 1300,
        footer : 1000,
        sidebar : 1000,
        aside : 1300,
        popover: 1060,
);

//----------------------------------*\
// BREAKPOINTS
//----------------------------------*/
// Media queries breakpoints
// Grabbed from Bootstrap
// --------------------------------------
// TODO, the below is based on boot3 after reading the below link, so pls update asap.
// https://www.quackit.com/bootstrap/bootstrap_4/tutorial/bootstrap_grid_system.cfm. So

/* Extra small devices (portrait phones, 480px and up) */
$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;

/* Small devices (landscape phones, 576px and up) */
$screen-sm: 576px !default;
$screen-sm-min: $screen-sm !default;

/* Medium devices (tablets, 768px and up) */
$screen-md: 768px !default;
$screen-md-min: $screen-md !default;

/* Large devices (desktops, 992px and up) */
$screen-lg: 992px !default;
$screen-lg-min: $screen-lg !default;

/* Extra large devices (large desktops, 1200px and up)) */
$screen-xl: 1200px !default;
$screen-xl-min: $screen-lg !default;

/* So media queries don't overlap when required, provide a maximum */

/* Extra small devices (portrait phones, less than 576px) */
$screen-xs-max: ($screen-sm-min - 1) !default; /*575px*/

/* Small devices (landscape phones, less than 768px) */
$screen-sm-max: ($screen-md-min - 1) !default; /*767px*/

/* Medium devices (tablets, less than 992px) */
$screen-md-max: ($screen-lg-min - 1) !default; /*991px*/

/* Large devices (desktops, less than 1200px) */
$screen-lg-max: ($screen-xl-min - 1) !default; /*1999px*/

//----------------------------------*\
// LINK SELECTORS
//----------------------------------*/
/* Adapted from https://css-tricks.com/snippets/sass/sass-things-links/ */
$a-href-tags: '&[href]:hover,
        &[href]:focus,
        &[href].focus,
        &[href]:active,
        &[href].active,
        &[href]:active:focus,
        &[href]:active:hover,
        &[href].active:focus,
        &[href].active:hover ';

$a-tags: '&:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  &:active:focus,
  &:active:hover,
  &.active:focus,
  &.active:hover';

