// ================================================================================================
// File Name: variables.scss
// Description: Global Themes variables.
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

// TO DO: Fill the below comment block with proper text following robust admin theme.

// ================================================================================================
// WARNING: PLEASE DO NOT CHANGE THIS VARIABLE FILE.
// THIS FILE WILL GET OVERWRITTEN WITH EACH XXXX TEMPLATE RELEASE.
// TIP:
// We suggest you to use this (assets/scss/variables/app-variables.scss) file for overriding app variables.
// ================================================================================================

//----------------------------------*\
// BODY
//----------------------------------*/
$body-bg-color: #fff;
$text-color: #333;

//----------------------------------*\
// LINKS
//----------------------------------*/

//----------------------------------*\
// HEADER
//----------------------------------*/
$header-height: 50px;

//----------------------------------*\
// SIDEBAR
//----------------------------------*/
/*Sidebar color variables can be found in themes/_theme-map.scss*/
$sidebar-width: 200px;
$sidebar-padding-left: 10px;
$sidebar-mini-width: 60px;
$sidebar-submenu-width: $sidebar-width;
$sidebar-active-menu-width: $sidebar-width + $sidebar-mini-width;

//----------------------------------*\
// FONTS
//----------------------------------*/

$font-html: (
        size: 100%, /*62.5% adapted from https://www.sitepoint.com/understanding-and-using-rem-units-in-css/*/
  //size: 16px
);

$font: (
        color: #666,
        weight: 300,
        line-height: 1.6
);

//----------------------------------*\
// COLOR PALETTE
//----------------------------------*/
/* Theme related color palette can be found in themes/_theme-map.scss*/

//----------------------------------*\
// GLOBAL COLORS
//----------------------------------*/

//Basic Colors
$white-color: #FFFFFF; // hex of the white
$black-color: #000000; // hex of the black

$grey-darker: lighten($black-color, 13.5%); // #222
$grey-dark: lighten($black-color, 20%); // #333
$grey: lighten($black-color, 33.5%); // #555
$grey-light: lighten($black-color, 60%); // #999
$grey-lighter: lighten($black-color, 93.5%); // #eee

//----------------------------------*\
// SELECTION
//----------------------------------*/
$selection-color: #818892;
$selection-bg: #f9f6f0;

//----------------------------------*\
// BUTTONS
//----------------------------------*/

//----------------------------------*\
// BORDERS
//----------------------------------*/
$border-radius-base: 4px !default;

//----------------------------------*\
// NAVBAR
//----------------------------------*/

//----------------------------------*\
// MAIN MENU
//----------------------------------*/

//----------------------------------*\
// PROGRESS
//----------------------------------*/

//----------------------------------*\
// PATHS
//----------------------------------*/
$path-rel: 'images/';

//----------------------------------*\
// FORMS
//----------------------------------*/

//----------------------------------*\
// BREAKPOINTS
//----------------------------------*/
// Media queries breakpoints
// Grabbed from Bootstrap
// --------------------------------------

/*Extra small screen / phone*/
$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;

/*Small screen / tablet*/
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;

/*Medium screen / desktop*/
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;

/*Large screen / wide desktop*/
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;

/*So media queries don't overlap when required, provide a maximum*/
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

//----------------------------------*\
// TABLES
//----------------------------------*/

//----------------------------------*\
// FOOTER
//----------------------------------*/
$footer-height: 30px;

//----------------------------------*\
// THEME TRANSITION
//----------------------------------*/
$theme-transition-duration: 1.5s;