// ================================================================================================
// File Name: variables.scss
// Description: Global Themes variables.
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

// TODO: Fill the below comment block with proper text following robust admin theme.
// TODO get variable namings fro https://www.bootstrap-live-customizer.com/.
// TODO: Remove old grey-xx-xx varialbes.

// ================================================================================================
// WARNING: PLEASE DO NOT CHANGE THIS VARIABLE FILE.
// THIS FILE WILL GET OVERWRITTEN WITH EACH XXXX TEMPLATE RELEASE.
// TIP:
// We suggest you to use this (assets/scss/variables/app-variables.scss) file for overriding app variables.
// ================================================================================================

//----------------------------------*\
// COLOR PALETTE
//----------------------------------*/
/* Looking for theme color palette? Please check themes/_theme-map.scss */

/* Contextual colors */
$contextual: (
        'success': (
                'base': $grass,
                'light': lighten($grass, 6%),
                'dark': darken($grass, 6%),
                'font-color': #fff,
        ),
        'danger': (
                'base': $grapefruit,
                'light': lighten($grapefruit, 6%),
                'dark': darken($grapefruit, 6%),
                'font-color': #fff,
        ),
        'warning': (
                'base': $sunflower,
                'light': lighten($sunflower, 6%),
                'dark': darken($sunflower, 6%),
                'font-color': #fff,
        ),
        'info': (
                'base': $aqua,
                'light': lighten($aqua, 6%),
                'dark': darken($aqua, 6%),
                'font-color': #fff,
        ),
        'light': (
                'base': $light,
                'light': lighten($light, 6%),
                'dark': darken($light, 6%),
                'font-color': #000,
        ),
        'dark': (
                'base': $dark,
                'light': lighten($dark, 6%),
                'dark': darken($dark, 6%),
                'font-color': #fff,
        ),
);

//----------------------------------*\
// FONTS
//----------------------------------*/

/*
$font-html: (
        size: 100%, !*62.5% adapted from https://www.sitepoint.com/understanding-and-using-rem-units-in-css!*!
  //size: 16px
);*/

$font: (
        font: ("Source Sans Pro", Arial, sans-serif),
        color: $gray-800, /* Global text color on <body> */
        weight-light: 300,
        weight-normal: 400,
        weight-semi: 600,
        weight-bold: 700,
        line-height: 1.5,
        size-100: 100%, /* Font size of the <html> element */
        size-xs: 0.75rem, /* 12px */
        size-sm: 0.875rem, /* 14px Font size of the <body> element */
        size-md: 1rem, /* 16px */
        size-lg: 1.125rem, /* 18px */
        size-xl: 1.25rem /* 20px */
);

/* Font size */
$font-size-100: font-size(size-100) !default; /*100%*/
$font-size-xs: font-size(size-xs) !default; /*12px*/
$font-size-sm: font-size(size-sm) !default; /*14px*/
$font-size-base: font-size(size-md) !default; /* Assumes the browser default, typically `16px` */
$font-size-lg: font-size(size-lg); /*18px*/
$font-size-xl: font-size(size-xl); /*20px*/

/* Font weight */
$font-wh-light: font-weight(weight-light) !default; /*300*/
$font-wh-normal: font-weight(weight-normal) !default; /*400*/
$font-wh-semi: font-weight(weight-semi) !default; /*600*/
$font-wh-bold: font-weight(weight-bold) !default; /*700*/

/* Line height */
$lh-base: line-height(line-height) !default;

//----------------------------------*\
// OPTIONS
//----------------------------------*/
/* Handle rounded corners */
$enable-rounded: true !default;

/* Breadcrumb */
$enable-breadcrumb: true !default;

//----------------------------------*\
// SELECTION
//----------------------------------*/
$selection-color: #818892;
$selection-bg: #f9f6f0;

//----------------------------------*\
// BORDERS
//----------------------------------*/
$none: 0 !default;
$border: 1px solid !default;
$border-thin: 1px !default;
$border-thick: 2px !default;
$border-thicker: 4px !default;

/* Border radius */
$border-radius-xs: 0.125rem !default; /*2px*/
$border-radius-sm: 0.1875rem !default; /*3px*/
$border-radius-md: 0.25rem !default; /*4px*/
$border-radius-lg: 0.3125rem !default; /*5px*/
$border-radius-xl: 0.375rem !default; /*6px*/
$border-radius-xxl: 0.5rem !default; /*8px*/
$border-radius-50: 50% !default;
$border-radius-100: 100% !default;

//----------------------------------*\
// BODY
//----------------------------------*/
$body-bg-color: $white-color;
$text-color: $grey-dark;

//----------------------------------*\
// LINKS
//----------------------------------*/

//----------------------------------*\
// HEADER & NAVBAR
//----------------------------------*/
/* Header color variables can be found in themes/_theme-map.scss */
$header-height: 50px;
$navbar-font-size: 13px;
$navbar-link-height: $header-height;
$navbar-link-md-height: $header-height - 10;

$navbar-text-font-size: $navbar-font-size;
//$navlink-padding-y: 0px;
//$navlink-padding-x: 0px;
//$navbar-toggler-bg:;
//$navbar-toggler-border-colour:;
$navbar-item-mobile-bottom-border: true;

//----------------------------------*\
// BOOTSTRAP DROPDOWN MENU - EXTENDED (.dropdown-menu.extended)
//----------------------------------*/

$dropdown-width: 200px;
$dropdown-min-width: 160px;
$dropdown-max-width: 320px;

$dropdown-bg: $white-color;

$dropdown-border-radius: $border-radius-md;

$dropdown-font-size: 13px;
$dropdown-header-font-size: 11px;

$dropdown-margin-top: 15px; /* Positioning first level dropdown menu */

$dropdown-padding-y: 5px;
$dropdown-padding-x: 0px;

$dropdown-item-padding-y: 8px;
$dropdown-item-padding-x: 12px;

$dropdown-link-color: $grey-xx-dark;

$dropdown-link-hover-color: $grey-xx-dark;
$dropdown-link-hover-bg: $grey-xx-light;

$dropdown-link-active-color: $grey-xx-dark;
$dropdown-link-active-bg: $grey-x-light;

$dropdown-link-disabled-color: $grey-light;

$dropdown-divider-color: $grey-x-light;
$dropdown-divider-border-width: $border-thin !default;

$dropdown-icon-width: 20px;

//----------------------------------*\
// BOOTSTRAP DROPDOWN MENU - EXTENDED & THEMED (.dropdown-menu.extended.themed)
//----------------------------------*/
/* Themed dropdown styles are automatically generated based on header map that can be found in themes/_theme-map.scss */

//----------------------------------*\
// TOGGLERS
//----------------------------------*/
/* Navbar toggle button */
$navbar-toggler-padding-y: 10px;
$navbar-toggler-padding-x: 10px;

/* Sidebar toggle button */
$sidebar-toggler-height: $header-height - 10;
$sidebar-toggler-padding-y: 0px;
$sidebar-toggler-padding-x: 10px;

/* Aside toggle button */
$aside-toggler-height: $header-height;
$aside-toggler-padding-y: 10px;
$aside-toggler-padding-x: 10px;

//----------------------------------*\
// SEARCH
//----------------------------------*/

//----------------------------------*\
// PADDINGS
//----------------------------------*/

$padding-base-y: .5rem !default;
$padding-base-x: .7rem !default;

$padding-simple-y: 10px !default;
$padding-simple-x: 17px !default;

$padding-large-y: 15px !default;
$padding-large-x: 48px !default;

$padding-small-y: 5px !default;
$padding-small-x: 15px !default;

//----------------------------------*\
// SHADOWS
//----------------------------------*/
$container-shadow: 0.5rem 0.5rem 2rem 0 rgba(black, 0.2);
$dropdown-shadow: 0.5rem 0.5rem 2rem 0 rgba(black, 0.2);
$header-shadow: 0 1px 3px rgba($black-color, .2);
$popover-shadow: 0 5px 10px rgba($black-color, .1);
$sidebar-footer-shadow: 0 1px 10px rgba($black-color, 0.3), inset 0 1px 0 rgba($white-color, 0.08);
$progress-box-shadow: inset 0 .1rem .1rem rgba($gray-800, .15) !default;
$card-box-shadow: 0 1px 2px rgba(0, 0, 0, .075) !default;
$card-box-header-inset-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.9);
$pagination-extended-indicator-box-shadow: inset 0 .1rem .1rem rgba($gray-800, .5) !default;
$modal-content-box-shadow-xs: 0 5px 10px rgba($black-color, .1);
$chosen-select-box-shadow: 0 5px 10px rgba($black-color, .1);
$multiple-select-box-shadow: 0 5px 10px rgba($black-color, .1);

//----------------------------------*\
// BREADCRUMB
//----------------------------------*/
$breadcrumb-bg: $white-color !default;
$breadcrumb-border-radius: $border-radius-md !default;
$breadcrumb-border-size: $border-thin;

$breadcrumb-border-color: $gray-400 !default;

$breadcrumb-padding-y: .40rem !default;
$breadcrumb-padding-x: .85rem !default;

$breadcrumb-font-size: $font-size-sm !default;
$breadcrumb-line-height: $lh-base !default;

$breadcrumb-font-color: $gray-700 !default;
$breadcrumb-active-color: $gray-600 !default;

$breadcrumb-divider-color: $gray-500 !default;

$breadcrumb-divider: "/" !default;
$breadcrumb-divider-angle-right: "\f054" !default;
$breadcrumb-divider-angle-double-right: "\f061" !default;
$breadcrumb-divider-caret-right: "\f0da" !default;

$breadcrumb-link-theme-color: primary !default;
$breadcrumb-link-theme-color-tone: base !default;
$breadcrumb-link-hover-theme-color-tone: dark !default;
$breadcrumb-link-font-theme-color-tone: font-color !default;

$breadcrumb-size-inner: ($breadcrumb-font-size * $breadcrumb-line-height) + ($breadcrumb-padding-y * 2) !default;
$breadcrumb-size: calc((#{$breadcrumb-size-inner} + #{$breadcrumb-border-size}) / 2) !default;

/* Breadcrumb Extended - Arrow */
$breadcrumb-ext-bg: $white-color !default;

$breadcrumb-ext-item-bg: $white-color !default;
$breadcrumb-ext-item-hover-bg: $gray-100 !default;

$breadcrumb-ext-border-color: $gray-300 !default;
$breadcrumb-ext-border-hover-color: $gray-400 !default;
$breadcrumb-ext-border-top-bottom-size: $breadcrumb-size;
$breadcrumb-ext-border-left-size: 10px;

/* Breadcrumb Extended - Arrow Wrap */
$breadcrumb-ext-wrap-bg: $white-color !default;
$breadcrumb-ext-wrap-item-bg: $gray-200 !default;
$breadcrumb-ext-wrap-font-color: $gray-600 !default;
$breadcrumb-ext-wrap-border-left-color: $white-color !default;

/* Breadcrumb Extended - Arrow Wizard */
$breadcrumb-wizard-completed-theme-color: primary !default;
$breadcrumb-wizard-active-theme-color: secondary !default;
$breadcrumb-wizard-incomplete-bg: $gray-200 !default;
$breadcrumb-wizard-incomplete-color: $gray-600 !default;

/* Breadcrumb Menu */
$breadcrumb-menu-color: $gray-600 !default;
$breadcrumb-menu-hover-color: $gray-800 !default;

//----------------------------------*\
// MAIN CONTENT WRAPPERS
//----------------------------------*/
$main-content-padding-y: 20px;
$main-content-padding-x: 0;

//----------------------------------*\
// PAGE TITLE WRAPPERS
//----------------------------------*/

$page-title-padding-y: 20px;
$page-title-padding-x: 0;

//----------------------------------*\
// SIDEBAR
//----------------------------------*/
/* Sidebar color variables can be found in themes/_theme-map.scss */

$sidebar-width: 200px;
$sidebar-brand-height: 50px;

$sidebar-font-size: 15px;

$sidebar-icon-width: 20px;
$sidebar-icon-font-size: $sidebar-font-size;
$sidebar-icon-margin-right: 5px;

$sidebar-header-font-size: 11px;
$sidebar-header-height: 30px;

$sidebar-item-height: 40px;
$sidebar-padding-x: 10px;
$sidebar-padding-y: 0px;

$sidebar-divider-border: true;
$sidebar-divider-height: 0px;
$sidebar-divider-margin-y: 0.5rem;
$sidebar-divider-margin-x: 0px;

$sidebar-submenu-font-size: 13px;
$sidebar-submenu-item-height: 30px;
$sidebar-submenu-width: $sidebar-width;

/* Mini Sidebar */
$sidebar-mini-width: 50px;
$sidebar-mini-active-menu-width: $sidebar-width + $sidebar-mini-width;

/* Sidebar footer */
$sidebar-footer-height: 40px;
$sidebar-footer-item-height: $sidebar-item-height;
$sidebar-footer-child-item-height: $sidebar-submenu-item-height;
$sidebar-footer-width: $sidebar-width;
$sidebar-footer-font-size: $sidebar-submenu-font-size;
$sidebar-footer-icon-font-size: 15px;

//----------------------------------*\
// BUTTONS
//----------------------------------*/

$btn-border-size: $border-thin;
$btn-font-weight: $font-wh-normal !default;

/* Button with icon */
$btn-icon-padding-right: 5px !default;
$btn-icon-lh: 1 !default;

/* Small button (.btn-sm) */
$btn-font-size-sm: $font-size-sm;
$btn-padding-y-sm: .25rem !default;
$btn-padding-x-sm: 0.5rem !default;
$btn-min-width-sm: 80px !default;
$btn-min-height-sm: 0px !default;
$btn-line-height-sm: 1.5 !default;
$btn-radius-sm: $border-radius-sm;

/* Regular button (.btn) */
$btn-font-size: $font-size-base !default;
$btn-padding-y: .5rem !default;
$btn-padding-x: .75rem !default;
$btn-min-width: 100px !default;
$btn-min-height: 0px !default;
$btn-line-height: 1.25 !default;
$btn-radius: $border-radius-md;

/* Large button (.btn-lg) */
$btn-font-size-lg: $font-size-lg !default;
$btn-padding-y-lg: .5rem !default;
$btn-padding-x-lg: 1rem !default;
$btn-min-width-lg: 120px !default;
$btn-min-height-lg: 0px !default;
$btn-line-height-lg: $lh-base !default;
$btn-radius-lg: $border-radius-lg;

/* Round button radius (.btn-round) */
$btn-radius-round: 30px;

/* Small icon button (.btn-sm.btn-icon.btn-round) */
$btn-icon-font-size-sm: $btn-font-size-sm;
$btn-icon-size-sm-inner: ($btn-icon-font-size-sm * $btn-line-height-sm) + ($btn-padding-y-sm * 2) !default;
$btn-icon-size-sm: calc(#{$btn-icon-size-sm-inner} + #{$btn-border-size * 2}) !default;

/* Regular icon button (.btn-icon.btn-round) */
$btn-icon-font-size: $btn-font-size;
$btn-icon-size-inner: ($btn-icon-font-size * $btn-line-height) + ($btn-padding-y * 2) !default;
$btn-icon-size: calc(#{$btn-icon-size-inner} + #{$btn-border-size *2}) !default;

/* Large icon button (.btn-lg.btn-icon.btn-round) */
$btn-icon-font-size-lg: $btn-font-size-lg;
$btn-icon-size-lg-inner: ($btn-icon-font-size-lg * $btn-line-height-lg) + ($btn-padding-y-lg * 2) !default;
$btn-icon-size-lg: calc(#{$btn-icon-size-lg-inner} + #{$btn-border-size * 2}) !default;

/* Disabled button opacity */
$btn-disabled-opacity: 0.5;

//----------------------------------*\
// FORMS
//----------------------------------*/

$input-bg: $white-color;

$input-color: $gray-700;
$input-label-color: $gray-800;
$input-color-placeholder: $gray-500;

$input-radius-round: $btn-radius-round;

$input-border-color: $gray-400;
$input-border-size: $border-thin;

$input-focus-color: $gray-700;
//$input-focus-border-color: $gray-500;
$input-focus-border-theme-color: primary !default;
$input-focus-border-theme-color-tone: base !default;

$input-hover-border-color: $gray-500;

$input-addon-color: $gray-700;
$input-addon-hover-focus-color: $input-focus-color;
$input-addon-background-color: $gray-100;
$input-addon-min-width: 40px;

/* Disabled state */
$input-color-disabled: $gray-600;
$input-border-disabled: $gray-300;
$input-bg-disabled: $gray-200;

/* Small */
$input-font-size-sm: $font-size-sm !default;
$input-border-radius-sm: $border-radius-sm;

/* Regular */
$input-font-size: $font-size-base !default;
$input-border-radius: $border-radius-md;

/* Large */
$input-font-size-lg: $font-size-lg !default;
$input-border-radius-lg: $border-radius-lg;

/* Select */
$input-height-border: $input-border-size * 2 !default;

$input-height-inner: ($font-size-base * $btn-line-height) + ($btn-padding-y * 2) !default;
$input-height: calc(#{$input-height-inner} + #{$input-height-border}) !default;

$input-height-inner-sm: ($font-size-sm * $btn-line-height-sm) + ($btn-padding-y-sm * 2) !default;
$input-height-sm: calc(#{$input-height-inner-sm} + #{$input-height-border}) !default;

$input-height-inner-lg: ($font-size-lg * $btn-line-height-lg) + ($btn-padding-y-lg * 2) !default;
$input-height-lg: calc(#{$input-height-inner-lg} + #{$input-height-border}) !default;

/* Validation */
$form-feedback-valid-color: contextual-color(success, base);
$form-feedback-invalid-color: contextual-color(danger, base);

//----------------------------------*\
// CUSTOM FORMS
//----------------------------------*/

$custom-control-indicator-color: $white-color;
$custom-control-indicator-active-color: $white-color;
$custom-control-indicator-checked-bg: contextual-color(success, base);
$custom-control-indicator-active-bg: lighten(contextual-color(success, base), 25%) !default;

$custom-control-indicator-size: 1rem !default;
$custom-control-indicator-bg: $white-color !default;
$custom-control-indicator-bg-size: 50% 50% !default;
$custom-control-indicator-border-size: $border-thin;
$custom-control-indicator-border-color: $input-border-color;

/* Description */
$custom-control-description-disabled-color: lighten($input-label-color, 25%) !default;

/* Disabled state */
$custom-control-indicator-disabled-bg: $input-bg-disabled !default;
$custom-control-indicator-disabled-color: $input-color-disabled;
$custom-control-indicator-disabled-border-color: $input-border-disabled;

/* Checkbox */
$custom-checkbox-indicator-border-radius: $border-radius-sm;
$custom-checkbox-rounded-indicator-border-radius: $border-radius-100;
$custom-checkbox-indicator-disabled-checked-color: lighten($input-color-disabled, 15%) !default;
$custom-checkbox-indicator-disabled-icon-checked: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{$custom-checkbox-indicator-disabled-checked-color}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"), "#", "%23") !default;

/* Radio */
$custom-radio-indicator-border-radius: $border-radius-50;
$custom-radio-indicator-disabled-checked-color: lighten($input-color-disabled, 15%) !default;
$custom-radio-indicator-disabled-icon-checked: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='#{$custom-radio-indicator-disabled-checked-color}'/%3E%3C/svg%3E"), "#", "%23") !default;

/* Select */
$custom-select-line-height: $btn-line-height;
$custom-select-color: $input-color;
$custom-select-font-size: $input-font-size;
$custom-select-font-weight: $btn-font-weight;
$custom-select-border-width: $input-border-size;
$custom-select-border-color: $input-border-color;
$custom-select-indicator-padding: 1rem !default; // Extra padding to account for the presence of the background-image based indicator

$custom-select-indicator-color: $gray-800 !default;
$custom-select-padding-x: .75rem !default;
$custom-select-bg-size: 8px 10px !default; // In pixels because image dimensions
$custom-select-indicator: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#{$custom-select-indicator-color}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E"), "#", "%23") !default;

/* File input */
$custom-file-button-bg: $gray-200 !default;
$custom-file-button-focus-bg: $gray-300 !default;

$custom-file-text: (
        en: "\e089   Browse"
) !default;

/* Custom toggle switch */
$custom-toggle-width: 50px;
$custom-toggle-height: 28px;
$custom-toggle-border: $input-border-size solid $input-border-color;
$custom-toggle-background-color: $white-color;
$custom-toggle-border-radius: 100px;

$custom-toggle-checked-background: contextual-color(success, base);

$custom-toggle-checked-knob-background: $white-color;

$custom-toggle-knob-width: 20px;
$custom-toggle-knob-height: 20px;
$custom-toggle-knob-background: $white-color;
$custom-toggle-knob-border-radius: 100px;
$custom-toggle-knob-active-width: 26px;

/* Mini */
$custom-toggle-mini-height: 10px !default;
$custom-toggle-mini-background-color: $gray-200 !default;


/* Flip */
$custom-toggle-flip-width: 60px;
$custom-toggle-flip-height: 30px;
$custom-toggle-flip-border-radius: $input-border-size;
$custom-toggle-flip-normal-color: $gray-800 !default;
$custom-toggle-flip-normal-background: $gray-400 !default;


//----------------------------------*\
// CHOSEN SELECT
//----------------------------------*/
$chosen-search-icon-color: $gray-600 !default;
$chosen-search-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 8 8'%3E%3Cpath fill='#{$chosen-search-icon-color}' d='M3.5 0c-1.93 0-3.5 1.57-3.5 3.5s1.57 3.5 3.5 3.5c.59 0 1.17-.14 1.66-.41a1 1 0 0 0 .13.13l1 1a1.02 1.02 0 1 0 1.44-1.44l-1-1a1 1 0 0 0-.16-.13c.27-.49.44-1.06.44-1.66 0-1.93-1.57-3.5-3.5-3.5zm0 1c1.39 0 2.5 1.11 2.5 2.5 0 .66-.24 1.27-.66 1.72-.01.01-.02.02-.03.03a1 1 0 0 0-.13.13c-.44.4-1.04.63-1.69.63-1.39 0-2.5-1.11-2.5-2.5s1.11-2.5 2.5-2.5z'/%3E%3C/svg%3E"), "#", "%23") !default;

/* File input */
$chosen-search-bg-size: 15px 15px;

$chosen-results-margin: 0 0px 4px 0;
$chosen-results-padding: 0 0px;
$chosen-results-item-padding: 3px $btn-padding-x;

$chosen-results-highlighted-color: $gray-900;
$chosen-results-highlighted-bg: $gray-400;

$chosen-results-no-results-color: $gray-600;
$chosen-results-no-results-bg: $white-color;

$chosen-search-multi-search-choice-bg: $gray-200;
$chosen-search-multi-search-choice-margin: 0 2px;
$chosen-search-multi-search-choice-padding: 3px 20px 3px 5px;
$chosen-search-multi-search-choice-padding-rtl: 3px 5px 3px 19px;

//----------------------------------*\
// DROPZONE JS
//----------------------------------*/
$dropzone-bg: $gray-200;
$dropzone-hover-bg: $gray-300;
$dropzone-radius: $border-radius-md;

$dropzone-message-color: $gray-500;
$dropzone-message-hover-color: $gray-700;
$dropzone-message-radius: $border-radius-md;
$dropzone-message-padding-y: $btn-padding-y-lg;
$dropzone-message-padding-x: $btn-padding-x-lg;
$dropzone-message-font-size: $input-font-size-lg;
$dropzone-message-line-height: $btn-line-height-lg;

$dropzone-message-icon: "\e084" !default;
$dropzone-message-icon-font-size: 2rem !default;

//----------------------------------*\
// POPOVERS
//----------------------------------*/
$popover-header-font-size: 14px !default;
$popover-header-color: $gray-700 !default;
$popover-font-size: 13px !default;
$popover-max-width: 276px;
$popover-border-radius: $border-radius-md;

//----------------------------------*\
// ALERT
//----------------------------------*/
$alert-border: false;
$alert-border-radius: $border-radius-md;
$alert-border-size: $border-thin;
$alert-font-size: $font-size-base;

//----------------------------------*\
// NAVBAR
//----------------------------------*/

//----------------------------------*\
// CARDS
//----------------------------------*/
$card-spacer-y: .75rem !default;
$card-spacer-x: 1.25rem !default;
$card-margin-bottom: 15px !default;

$card-background: $white-color;
$card-border-radius: $border-radius-lg;
$card-border-size: $border-thin;
$card-border-color: rgba($black-color, .155) !default;
$card-header-bg: rgba($black-color, .03) !default;
$card-footer-bg: $card-header-bg;
$card-inner-border-radius: calc(#{$card-border-radius} - #{$card-border-size}) !default;

//$card-title-font-size: $font-size-base !default;
$card-link-color: $gray-600 !default;
$card-link-hover-color: $gray-800;

/* Card tools */
$card-tools-color: $gray-600 !default;
//$card-tools-hover-color: $gray-800 !default;
$card-tools-font-size: $font-size-xs !default;
//$card-tools-icon-padding-x: 10px;
$card-toolbar-icon-width: 30px;

/* Card window toolbar */
$card-toolbar-icon-height: 25px;


//----------------------------------*\
// BOOTSTRAP DATEPICKER
//----------------------------------*/
$datepicker-border-radius :$card-border-radius;
$datepicker-dropdown-padding: 20px 22px !default;

$datepicker-cell-border-radius: 50% !default;
$datepicker-header-cell-border-radius: $border-radius-xl !default;
$datepicker-cell-width: 36px !default;
$datepicker-cell-height: 36px !default;



//----------------------------------*\
// NUMBER SPINNER
//----------------------------------*/
$spinner-icon-width:20px;
$spinner-icon-font-size:$font-size-xs;

//----------------------------------*\
// SIZES
//----------------------------------*/
$sizes: (
        5: 5%,
        10: 10%,
        15: 15%,
) !default;

//----------------------------------*\
// ACCORDION
//----------------------------------*/
$accordion-title-color: $gray-700 !default;
$accordion-title-active-color: $gray-900 !default;
$accordion-title-hover-color: $gray-900 !default;

/*$accordion-title-active-theme-color: primary !default;
$accordion-title-active-theme-color-tone: base !default;*/

$accordion-header-hover-bg: rgba($black-color, .05) !default;
$accordion-left-icon-margin: 10px;

$accordion-active-theme-color: primary !default;
$accordion-active-theme-color-tone: base !default;
$accordion-active-theme-hover-color-tone: dark !default;
$accordion-active-color-theme-color-tone: font-color !default;

//$accordion-icon-color: $gray-700 !default;
$accordion-collapsed-icon: "\e604" !default;
$accordion-active-icon: "\e607" !default;

/* Accordion Extended - Underline */
$accordion-underline-border-size: $border-thick;
$accordion-body-bg: $gray-100 !default;

//----------------------------------*\
// JQUERY STEPS
//----------------------------------*/
$steps-active-theme-color: primary !default;
$steps-active-theme-color-tone: base !default;
$steps-active-color-theme-color-tone: font-color !default;

$steps-error-theme-color: contextual-color(danger, base);
$steps-error-color-theme-color-tone: contextual-color(danger, font-color);

$steps-disabled-bg: $gray-100 !default;
$steps-disabled-color: $gray-500 !default;


$steps-content-bg: $gray-200 !default;

//----------------------------------*\
// NAVS / TABS / PILLS
//----------------------------------*/

/* Tabs */
$nav-link-padding-y: .5rem !default;
$nav-link-padding-x: 1rem !default;
$nav-link-disabled-color: $gray-400 !default;

$nav-tabs-font-size: $font-size-base !default;
$nav-tabs-font-weight: $font-wh-normal !default;
$nav-tabs-border-color: $gray-400 !default;
$nav-tabs-border-width: $border-thin !default;
$nav-tabs-border-radius: $border-radius-md !default;
$nav-tabs-link-hover-border-color: $gray-300 !default;
$nav-tabs-link-hover-bg: $gray-100 !default;
$nav-tabs-link-color: $gray-600 !default;
$nav-tabs-link-active-theme-color: primary !default;
$nav-tabs-link-active-theme-color-tone: base !default;
$nav-tabs-link-active-bg: $white-color !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color !default;

$tab-content-bg: $white-color !default;

$tab-icon-width: 20px;
//$tab-icon-margin-right:0.4rem;

/* Tabs Extended */
$nav-tabs-line-link-hover-bg: $white-color !default;
$nav-tabs-line-link-active-border-theme-color: primary !default;
$nav-tabs-line-link-active-border-tone-color: base !default;

/* Tabs Extended - Boxed */
$nav-tabs-boxed-bg: $gray-200 !default;
$nav-tabs-boxed-spacing: 8px !default;

/* Tabs Extended - Vertical */
$nav-tabs-v-width: 180px !default;
$nav-tabs-v-right-line-active-border-width: 2px !default;

/* Tabs Extended - Vertical */
$nav-tabs-v-wrap-active-border-width: 1px !default;

/* Pills */

$nav-pills-border-radius: $border-radius-md !default;
$nav-pills-link-active-theme-color: primary !default;
$nav-pills-link-active-bg-theme-color-tone: base !default;
$nav-pills-link-hover-bg-theme-color-tone: light !default;
$nav-pills-link-active-font-theme-color-tone: font-color !default;

//----------------------------------*\
// MODAL
//----------------------------------*/

$modal-content-bg: $white-color !default;
$modal-backdrop-bg: $black-color !default;
$modal-backdrop-opacity: .7 !default;
$modal-content-border-width: $border-thin !default;
$modal-content-border-color: $gray-400 !default;
$modal-border-radius: $border-radius-md !default;
$modal-header-border-width: $border-thin !default;
$modal-header-border-color: $modal-content-border-color;
$modal-footer-border-width: $border-thin !default;
$modal-footer-border-color: $modal-content-border-color;
$modal-body-padding: 15px 25px !default;
$modal-header-padding: 10px 25px !default;
$modal-footer-padding: 15px 25px !default;

//----------------------------------*\
// CAROUSEL
//----------------------------------*/
$carousel-control-icon-width: 40px !default;
$carousel-control-icon-font-size: 1.5rem;
$carousel-control-icon-bg: rgba(0, 0, 0, .0);
$carousel-control-next-icon: '\e606';
$carousel-control-prev-icon: '\e605';
$carousel-control-prev-icon-text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
$carousel-control-border-size: $border-thin;
$carousel-control-border-color: $white-color !default;

$carousel-indicator-light-active-bg: $black-color !default;

//----------------------------------*\
// PAGINATION
//----------------------------------*/

$pagination-bg: $white-color !default;

$pagination-border-width: $btn-border-size !default;
$pagination-border-color: $gray-400 !default;

$pagination-font-weight: $btn-font-weight !default;

$pagination-link-theme-color: primary !default;
$pagination-link-theme-color-tone: base !default;

$pagination-active-bg-theme-color: primary !default;
$pagination-active-bg-theme-color-tone: base !default;
$pagination-active-font-theme-color-tone: font-color !default;

$pagination-disabled-color: $gray-400 !default;
$pagination-disabled-bg: $white-color !default;
$pagination-disabled-border-color: $gray-200 !default;

$pagination-hover-bg: $gray-100 !default;
$pagination-hover-border-color: $pagination-border-color;

$pagination-icon-font-size: $font-size-sm !default;

/* Small size */
$pagination-font-size-sm: $btn-font-size-sm !default;
$pagination-padding-y-sm: $btn-padding-y-sm !default;
$pagination-padding-x-sm: $btn-padding-x-sm !default;
$pagination-line-height-sm: $btn-line-height-sm !default;
$pagination-border-radius-sm: $btn-radius-sm !default;

/* Regular size */
$pagination-font-size: $btn-font-size !default;
$pagination-padding-y: $btn-padding-y !default;
$pagination-padding-x: $btn-padding-x !default;
$pagination-line-height: $btn-line-height !default;
$pagination-border-radius: $btn-radius !default;

/* Large size */
$pagination-font-size-lg: $btn-font-size-lg !default;
$pagination-padding-y-lg: $btn-padding-y-lg !default;
$pagination-padding-x-lg: $btn-padding-x-lg !default;
$pagination-line-height-lg: $btn-line-height-lg !default;
$pagination-border-radius-lg: $btn-radius-lg !default;

//----------------------------------*\
// PAGINATION EXTENDED
//----------------------------------*/

$pagination-extended-radius-round: $border-radius-100 !default;

/* Small size */
$pagination-extended-border-width-sm: $pagination-border-width * 2 !default;
$pagination-extended-inner-sm: ($pagination-font-size-sm * $pagination-line-height-sm) + ($pagination-padding-y-sm * 2) !default;
$pagination-extended-size-sm: calc(#{$pagination-extended-inner-sm} + #{$pagination-extended-border-width-sm}) !default;

/* Regular size */
$pagination-extended-border-width: $pagination-border-width * 2 !default;
$pagination-extended-inner: ($pagination-font-size * $pagination-line-height) + ($pagination-padding-y * 2) !default;
$pagination-extended-size: calc(#{$pagination-extended-inner} + #{$pagination-extended-border-width}) !default;

/* Large size */
$pagination-extended-border-width-lg: $pagination-border-width * 2 !default;
$pagination-extended-inner-lg: ($pagination-font-size-lg * $pagination-line-height-lg) + ($pagination-padding-y-lg * 2) !default;
$pagination-extended-size-lg: calc(#{$pagination-extended-inner-lg} + #{$pagination-extended-border-width-lg}) !default;

/* Extended - Wizard */
$pagination-wizard-bg: $gray-300 !default;
$pagination-wizard-color: $gray-600 !default;

$pagination-wizard-hover-bg: $gray-400 !default;
$pagination-wizard-hover-color: $gray-700 !default;

$pagination-wizard-disabled-color: $gray-300 !default;
$pagination-wizard-disabled-bg: $gray-200 !default;

/* Extended - Border */
$pagination-border-round-width: 3px;

/* Extended - indicator */
$pagination-extended-indicator-bg: $gray-200 !default;
$pagination-extended-indicator-hover-bg: $gray-400 !default;
$pagination-extended-indicator-size: 15px;
$pagination-extended-indicator-margin-x: 4px;

//----------------------------------*\
// OVERLAY
//----------------------------------*/
$overlay: rgba(0, 0, 0, .3);

//----------------------------------*\
// MAIN MENU
//----------------------------------*/

//----------------------------------*\
// PROGRESS BAR
//----------------------------------*/

$progress-font-size: $font-size-xs !default;
$progress-bg: $gray-200 !default;
$progress-border-radius: $border-radius-xxl;

/* Small */
$progress-sm-height: 0.25rem !default;

/* Regular */
$progress-height: 0.5rem !default;

/* Large */
$progress-lg-height: 0.75rem !default;

//----------------------------------*\
// PATHS
//----------------------------------*/
$path-rel: 'images/';

//----------------------------------*\
// TABLES
//----------------------------------*/

//----------------------------------*\
// BADGES
//----------------------------------*/
/* Including relevant variables from bootstrap variables.scss */
$badge-pill-border-radius: 10rem !default;

$badge-disabled-opacity: 0.5;
$badge-border-radius: $border-radius-sm;
$badge-border-size: $border-thin;
$badge-padding-y: .18rem !default;
$badge-padding-x: .3rem !default;

/* Round badges */
$badge-radius-round: $border-radius-100;
$badge-round-size: 1.5em;
$badge-round-padding: 0.70em;
$badge-round-line-height: 1em;

/* Empty badges */
$badge-empty-size: .5em;

/* Images badges */

$badge-image-font-size: $font-size-sm;
$badge-image-font-weight: $font-wh-normal !default;
$badge-image-line-height: 1.25;
$badge-inner: ($badge-image-font-size * $badge-image-line-height) + ($badge-padding-y * 2) !default;
$badge-size: calc(#{$badge-inner}) !default;

//----------------------------------*\
// TYPOGRAPHY
//----------------------------------*/

//----------------------------------*\
// TOOLTIPS
//----------------------------------*/
$tooltip-background-color: $gray-900 !default;
$tooltip-font-color: $white-color !default;
$tooltip-padding-y: 8px !default;
$tooltip-padding-x: 10px !default;
$tooltip-font-size: $font-size-sm;
$tooltip-line-height: 1.25 !default;

//----------------------------------*\
// FOOTER
//----------------------------------*/
$footer-height: 30px;

//----------------------------------*\
// TRANSITION
//----------------------------------*/
$theme-transition-duration: 1.5s; // TODO, delete this if not using.
$general-transition-time: 0.5s !default;

//----------------------------------*\
// EASING
//----------------------------------*/
$ease-in-out-circ: cubic-bezier(.27, .01, .38, 1.06);

//----------------------------------*\
// ZINDEX
//----------------------------------*/
$zindex: (
        overlay : 800,
        footer : 800,
        sidebar :800,
        aside : 850,
        header : 860,
        dropdown : 1000,
        chosen-drop:1010,
        modal-backdrop:1040,
        modal : 1050,
        popover: 1060,
        tooltip: 1070,
        fullscreen_card: 999,
);

//----------------------------------*\
// BREAKPOINTS
//----------------------------------*/
// Media queries breakpoints
// Grabbed from Bootstrap
// --------------------------------------
// TODO, the below is based on boot3 after reading the below link, so pls update asap.
// https://www.quackit.com/bootstrap/bootstrap_4/tutorial/bootstrap_grid_system.cfm. So

/* Extra small devices (portrait phones, 480px and up) */
$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;

/* Small devices (landscape phones, 576px and up) */
$screen-sm: 576px !default;
$screen-sm-min: $screen-sm !default;

/* Medium devices (tablets, 768px and up) */
$screen-md: 768px !default;
$screen-md-min: $screen-md !default;

/* Large devices (desktops, 992px and up) */
$screen-lg: 992px !default;
$screen-lg-min: $screen-lg !default;

/* Extra large devices (large desktops, 1200px and up)) */
$screen-xl: 1200px !default;
$screen-xl-min: $screen-lg !default;

/* So media queries don't overlap when required, provide a maximum */

/* Extra small devices (portrait phones, less than 576px) */
$screen-xs-max: ($screen-sm-min - 1) !default; /*575px*/

/* Small devices (landscape phones, less than 768px) */
$screen-sm-max: ($screen-md-min - 1) !default; /*767px*/

/* Medium devices (tablets, less than 992px) */
$screen-md-max: ($screen-lg-min - 1) !default; /*991px*/

/* Large devices (desktops, less than 1200px) */
$screen-lg-max: ($screen-xl-min - 1) !default; /*1999px*/

//----------------------------------*\
// LINK SELECTORS
//----------------------------------*/
/* Adapted from https://css-tricks.com/snippets/sass/sass-things-links/ */
$a-href-tags: '&[href]:hover, &[href]:focus, &[href].focus, &[href]:active, &[href].active, &[href]:active:focus, &[href].active:focus, &[href]:active:hover, &[href].active:hover, &[href]:not([disabled]):not(.disabled):active, &[href]:not([disabled]):not(.disabled).active, &[href]:not([disabled]):not(.disabled):active:focus, &[href]:not([disabled]):not(.disabled).active:focus';

/* Beta 3 Migration changes */
/* - Removed &:focus, &.focus due to the focus issues on buttons */
$a-tags: '&:hover, &:active, &.active, &:active:focus, &.active:focus, &:active:hover, &.active:hover, &:not([disabled]):not(.disabled):active, &:not([disabled]):not(.disabled).active, &:not([disabled]):not(.disabled):active:focus, &:not([disabled]):not(.disabled).active:focus';

//----------------------------------*\
// DISABLED SELECTORS
//----------------------------------*/
$disabled-tags: '&.disabled, &.disabled:focus, &.disabled:hover, &:disabled, &[disabled]';

//----------------------------------*\
// ICON SELECTORS
//----------------------------------*/
$icon-tags: 'i[class*="fa-"], i[class*="icon-"]';