// ================================================================================================
// File Name: colors.scss
// Description: Color palette
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

//----------------------------------*\
// GLOBAL COLORS
//----------------------------------*/

/* Basic Colors */
$white-color: #fff;
$black-color: #000;

/*TODO remove the below grey's later */
/* Grayscale - Helpful Sass Colour Function Calculator (http://razorltd.github.io/sasscolourfunctioncalculator) */
$grey-xx-light:   lighten($black-color, 97.5%); //f9f9f9
$grey-x-light:    lighten($black-color, 93.5%); // #eee
$grey-light:      lighten($black-color, 60%); // #999
$grey:            lighten($black-color, 33.5%); // #555
$grey-dark:       lighten($black-color, 20%); // #333
$grey-x-dark:     lighten($black-color, 13.5%); // #222
$grey-xx-dark:    lighten($black-color, 6.67%); // #111


/* From shards */

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

//----------------------------------*\
// THEME COLOR PALETTE
//----------------------------------*/
/* Adapted from https://www.materialui.co/metrocolors, https://flatuicolors.com/ */

$lime: 		#a4c400;	$turquoise:		#1abc9c;
$green: 	#60a917;	$green-sea:		#16a085;
$emerald: 	#008a00;	$sunflower:		#f1c40f;
$teal: 		#00aba9;	$nephritis:		#27ae60;
$cyan: 		#1ba1e2;	$carrot:		#e67e22;
$cobalt: 	#0050ef;	$pumpkin:		#d35400;
$indigo: 	#6a00ff;	$peter-river:	#3498db;
$violet: 	#aa00ff;	$belize-hole:	#2980b9;
$pink: 		#f472d0;	$alizarin:		#e74c3c;
$magenta: 	#d80073;	$pomegranate:	#c0392b;
$crimson: 	#a20025;	$amethyst:		#9b59b6;
$red: 		#e51400;	$wisteria:		#8e44ad;
$orange: 	#fa6800;	$clouds:		#ecf0f1;
$amber : 	#f0a30a;	$silver:		#bdc3c7;
$yellow: 	#e3c800;	$wet-asphalt:	#34495e;
$brown: 	#825a2c;	$midnight-blue:	#2c3e50;
$olive: 	#6d8764;	$concrete:		#95a5a6;
$steel: 	#647687;	$abestos:		#7f8c8d;
$mauve: 	#76608a;
$sienna: 	#a0522d;

//----------------------------------*\
// CONTEXTUAL COLOR PALETTE
//----------------------------------*/
/* List of color variables that arent in theme colors */

$grass:                 #17C671 !default; // Success
$grapefruit:            #DA4453 !default; // Danger
$sunflower:             #F6BB42 !default; // Warning
$aqua:                  #3BAFDA !default; // Info
$light:                 $gray-200 !default; // Light
$dark:                  $gray-800 !default; // Dark

