// ================================================================================================
// File Name      : config.scss
// Description    : Themes configuration and sass manifest file for themes.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ, <manoj [at] xxx [dot] net>
// Author URL     : http://www.themeforest.net/user/xxx
// ------------------------------------------------------------------------------------------------
// THEME SWITCHING TIP : This project is shipped with 2 themes out of the box. Rebecca (default),
//                       Unicorn.  To switch theme, change the class attribute on the <body> in the
//                       index.html file. For instance, to use the Unicorn theme change:
//                       <body class="theme-unicorn">
// ================================================================================================

// TODO, please refer the below links for theme changing tutorial, doc etc.. Copy paste this in my own doc later and then remove below line.
// https://github.com/nborracha/plainID-DemoApp/tree/61b66cf018e918bcb17aa87f243fce2bc95d9833
// https://codepen.io/jakealbaugh/post/using-sass-functions-to-access-complex-variable-maps
// https://github.com/manojkm/flask
// https://www.designernews.co/stories/61077-how-i-manage-my-colour-palettes-using-sass-maps
// https://webdesign.tutsplus.com/tutorials/an-introduction-to-sass-maps-usage-and-examples--cms-22184
// https://www.viget.com/articles/sass-maps-are-awesome/
// https://github.com/zellwk/themify/blob/master/_themify.scss
// https://www.ian-thomas.net/a-sassy-approach-to-theming-components/
// https://codepen.io/anatomic/pen/gpxgqB
// https://zellwk.com/blog/organizing-multiple-theme-styles-with-sass/
// https://getuikit.com/docs/sass

//
// ENABLE DYNAMIC THEMES
// ======================================================

$dynamicTheme: false;

//
// ACTIVE THEME NAME
// ======================================================

$activeTheme: 'uparty';
//$activeTheme: 'isac';

//
// IMPORT THEMES
// ======================================================
// Import your themes here.

@import
  //'theme-isac/isac';
    'theme-uparty/uparty';
    //'theme-unicorn/unicorn'; FIX  - importing this theme cause the theme variable usage on pages css take from this theme

//
// DEFINE THEMES MAP
// ======================================================
// Themes are all stored in a map data-structure which gives flexibility
// when traversing based on keys and also looking up values based on strings.

// Define the name of your theme (imported above) as the key and corresponding palette map variable name as the value.
$themes-map: (
    uparty: $uparty-palette-map,
    //isac: $isac-palette-map,
    //unicorn: $unicorn-palette-map,
);
