// ================================================================================================
// File Name: theme-map.scss
// Description: Themes
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================
// ================================================================================================
// THEME SWITCHING TIP:
// This project is shipped with 2 themes out of the box. Light (default) , Dark.
// To switch theme, change the class attribute on the <body> in the index.html file.
// For instance, to use the Dark theme change:  <body class="theme-dark">
// ================================================================================================
// TODO, theme changing tutorial below. Copy paste this in my own doc later and then remove below line.
//https://github.com/nborracha/plainID-DemoApp/tree/61b66cf018e918bcb17aa87f243fce2bc95d9833


//----------------------------------*\
// FONT & COLORS
//----------------------------------*/

@import 'fonts';
@import 'colors';

//----------------------------------*\
// THEME MAP
//----------------------------------*/

$default-theme: (
        'colors': (
                'primary': (
                        'base': $turquoise,
                        'light': lighten($turquoise, 6%),
                        'x-light': lighten($turquoise, 10%),
                        'xx-light': lighten($turquoise, 20%),
                        'dark':darken($turquoise, 6%),
                        'x-dark':darken($turquoise, 10%),
                        'xx-dark':darken($turquoise, 20%),
                        'font-color': #fff,
                ),
                'secondary': (
                        'base': $mauve,
                        'light': lighten($mauve, 6%),
                        'x-light': lighten($mauve, 10%),
                        'dark':darken($mauve, 6%),
                        'x-dark':darken($mauve, 10%),
                        'font-color': #fff,
                ),
                'header': (
                        'base': $midnight-blue,
                        'light': lighten($midnight-blue, 6%),
                        'dark': darken($midnight-blue, 6%),
                        'font-color': lighten($midnight-blue, 60%),
                        'link-color': lighten($midnight-blue, 65%),
                        'hover-color': lighten($midnight-blue, 100%),
                        'active-color':  #fff,
                ),
                'sidebar': (
                        'base': $midnight-blue,
                        'light': lighten($midnight-blue, 6%),
                        'dark': darken($midnight-blue, 6%),
                        'font-color': lighten($midnight-blue, 60%),
                        'link-color': lighten($midnight-blue, 65%),
                        'hover-color': lighten($midnight-blue, 100%),
                        'active-color': $turquoise,
                ),
                'aside': (
                        'base': $midnight-blue,
                        'light': lighten($midnight-blue, 6%),
                        'dark': darken($midnight-blue, 6%),
                        'font-color': #fff,
                        'link-color': #fff,
                        'hover-color': #fff,
                        'active-color': #fff,
                ),
                'green': #71d366,
        ),
);

$themes: (
        'dark': $default-theme,
      //'light': ()
) !default;
