// ================================================================================================
// File Name: theme-map.scss
// Description: Theme instantiations adapted from https://fjcalzado.github.io/DemoSeries-SASS-Easy-Theming/
// https://stackoverflow.com/questions/18697963/sass-color-theme-without-repeat-elements
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

/* !!!!!!!!!!!!!!!!!!!! https://www.sitepoint.com/sass-theming-neverending-story/
https://zellwk.com/blog/organizing-multiple-theme-styles-with-sass/
https://codepen.io/celar/pen/dXRNQo
https://codepen.io/nibi/pen/LbzqPo
https://medium.com/@dmitriy.borodiy/easy-color-theming-with-scss-bc38fd5734d1
https://codepen.io/anon/pen/vNXRJW
https://codepen.io/anon/pen/ZbLoGE
https://github.com/zellwk/themify/blob/master/_themify.scss
https://github.com/Kurtz1993/sass-theme-test
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
*/

@import "fonts.scss";
@import "colors.scss";

//----------------------------------*\
// THEME MAP
//----------------------------------*/
/*
Adapted from https://github.com/nborracha/plainID-DemoApp/blob/61b66cf018e918bcb17aa87f243fce2bc95d9833/app/styles/mixins.scss
*/

$default-theme: (
        'colors': (
                'primary': (
                        'font': ("Source Sans Pro", Arial, sans-serif),
                        'base': $turquoise,
                        'light': lighten($turquoise, 6%),
                        'x-light': lighten($turquoise, 10%),
                        'xx-light': lighten($turquoise, 20%),
                        'dark':darken($turquoise, 6%),
                        'x-dark':darken($turquoise, 10%),
                        'xx-dark':darken($turquoise, 20%),
                        'font-color': #fff,
                ),
                'secondary': (
                        'base': $amber,
                        'font-color': #fff,
                ),
                'theme-color': (
                        'success': $midnight-blue,
                        'info': $midnight-blue,
                        'warning': $midnight-blue,
                        'danger': $midnight-blue,
                ),
                'sidebar': (
                        'base': $midnight-blue,
                        'light': lighten($midnight-blue, 6%),
                        'dark':darken($midnight-blue, 6%),
                        'font-color': #fff,
                ),
                'header': (
                        'base': $midnight-blue,
                        'font-color': #fff,
                ),

                'green': #71d366,
        ),

);

$themes: (
        'dark': $default-theme,
        //'light': ()
) !default;
