// ================================================================================================
// File Name: theme.scss
// Description: Theme instantiations adapted from https://www.sitepoint.com/dealing-color-schemes-sass/, 
// https://stackoverflow.com/questions/18697963/sass-color-theme-without-repeat-elements
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

/* !!!!!!!!!!!!!!!!!!!! https://www.sitepoint.com/sass-theming-neverending-story/
https://zellwk.com/blog/organizing-multiple-theme-styles-with-sass/
https://codepen.io/celar/pen/dXRNQo
https://codepen.io/nibi/pen/LbzqPo
https://medium.com/@dmitriy.borodiy/easy-color-theming-with-scss-bc38fd5734d1
https://codepen.io/anon/pen/vNXRJW
https://codepen.io/anon/pen/ZbLoGE
https://github.com/zellwk/themify/blob/master/_themify.scss
https://github.com/Kurtz1993/sass-theme-test */

