<nav aria-label="breadcrumb" role="navigation" >
    <ol class="breadcrumb has-menu">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li class="breadcrumb-item"><a href="#">Library 2</a></li>
        <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
        <li class="breadcrumb-menu ml-auto">

            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link px-3 active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="#">Link</a>
                </li>

            </ul>


        </li>
    </ol>
</nav>

{{!--<nav  class="ml-auto">asdasd</nav>--}}