<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb extended-arrow  has-menu">
        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home" aria-hidden="true"></i></a></li>
        {{#if page.components }}
            <li class="breadcrumb-item"><a href="alerts.html">Components</a></li>{{/if}}
        {{#if page.cards }}
            <li class="breadcrumb-item"><a href="#">Cards</a></li>{{/if}}
        <li class="breadcrumb-item active" aria-current="page">{{ this.title }}</li>
        <li class="breadcrumb-menu ml-auto">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle px-3" href="#"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-menu"></i>
                    </a>
                    <div class="dropdown-menu extended dropdown-menu-right">
                        <div class="dropdown-header">Dropdown header</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="#"><i class="fas fa-share"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="#"><i class="icon-envelope"></i><span
                            class="badge badge-primary pointed arrow-left ml-2">5</span></a>
                </li>
            </ul>
        </li>
    </ol>
</nav>

{{!--<nav  class="ml-auto">asdasd</nav>--}}