<nav class="navbar navbar-expand-md py-0 master-header__navbar">

    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>
    <!-- /Brand -->

    <!-- Sidebar toggle button -->
    <button class="sidebar-toggler rarr collapsed mr-3" type="button" data-side="mini">
        <!-- To display the "hamburger icon" -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <!-- /To display the "hamburger icon" -->
    </button>
    <!-- /Sidebar toggle button -->

    <!-- Header navbar toggle button -->
    <button class="navbar-toggler minus collapsed" type="button" data-toggle="collapse" data-target="#nav-content"
            aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
        <!-- To display the "hamburger icon" -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <!-- /To display the "hamburger icon" -->
    </button>
    <!-- /Header navbar toggle button -->


    <div class="collapse navbar-collapse justify-content-start" id="nav-content">

        <!-- Welcome text -->
        <span class="navbar-text"> Welcome text goes here </span>
        <!-- /Welcome text -->

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item py-0 active ">
                <a class="nav-link" href="#">Link 1</a>
            </li>
            <li class="nav-item py-0">
                <a class="nav-link" href="#">Link 2</a>
            </li>
            <li class="nav-item py-0">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown py-0">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <h6 class="dropdown-header">Dropdown header</h6>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item disabled" href="#">Disabled link</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <!-- /Links -->

        <!-- Search -->
        <form class="master-header__search" action="" role="search">
            <input type="text" placeholder="Search here..."/>
            <span></span>
        </form>
        <!-- /Search -->

    </div>
</nav>