<!-- Page title -->
<div class="content__page-title">
    <h3 class="mb-0">{{ page.title }}
        <small class="text-muted font-italic h6">{{ page.subtitle }}</small>
    </h3>
</div>
<!-- /Page title -->