<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="content__page-title">
                <h3 class="mb-0">{{ page.title }}
                    <small class="text-muted font-italic h6">{{ page.subtitle }}</small>
                </h3>
            </div>
        </div>
    </div>
</div>




