<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div {{#if page.forms }} class="content__page-title text-center" {{ else }} class="content__page-title" {{/if}}>
                <h3 class="mb-0">{{ page.title }}
                    <small class="text-muted font-italic h6">{{ page.lead }}</small>
                </h3>
            </div>
        </div>
    </div>
</div>




