<aside class="sidebar" >
<nav class="sidebar__nav">
    <ul class="metismenu" data-plugin="metismenu">
        <li class="active">
            <a href="#" class="has-arrow" aria-expanded="true">
                <span class="sidebar__nav-icon">i</span>
                <span class="sidebar__nav-title">Menu 1</span>
            </a>
            <ul aria-expanded="true">
                <li>asdsad</li>
            </ul>
        </li>
        <li>
            <a href="#" class="has-arrow" aria-expanded="false">
                <span class="sidebar__nav-icon">i</span>
                <span class="sidebar__nav-title">Menu 2</span>
            </a>
            <ul aria-expanded="false">
                <li>asdsad</li>
            </ul>
        </li>
    </ul>
</nav>
</aside>
<div class="sidebar-hide hidden-xs" data-side="hide">s</div>