<aside class="sidebar">
    <nav class="sidebar__nav">
        <ul class="metismenu list-unstyled" data-plugin="metismenu">
            <img alt="branding logo" src="http://findicons.com/files/icons/1785/social_and_web_icons_v2/46/google.png"
                 data-expand="http://findicons.com/files/icons/1785/social_and_web_icons_v2/46/google.png"
                 data-collapse="http://findicons.com/files/icons/1785/social_and_web_icons_v2/46/blogger.png"
                 class="brand-logo">

            <li class="sidebar__logo-mini">+N</li>

            <li class="active">
                <a href="#" class="has-arrow" aria-expanded="true">
                    <span class="sidebar__nav-icon"><i class="fa fa-camera-retro"></i></span>
                    <span class="sidebar__nav-title">Menu 1</span>
                </a>
                <ul aria-expanded="true">
                    <li>sub menu</li>
                </ul>
            </li>

            <li>
                <a href="#" class="has-arrow" aria-expanded="false">
                    <span class="sidebar__nav-icon">i</span>
                    <span class="sidebar__nav-title">Menu 2</span>
                </a>
                <ul aria-expanded="false">
                    <li>sub menu</li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>
<div class="sidebar-hide hidden-xs" data-side="hide"> <i class="fa fa-caret-left"></i></div>
