<!-- Sidebar brand logo -->
<div class="sidebar__brand">
    <a href="" data-toggle="tooltip" title="Return Home" data-placement="right">
        <img alt="branding logo" src="http://findicons.com/files/icons/1785/social_and_web_icons_v2/46/google.png"
             data-expand="http://findicons.com/files/icons/1785/social_and_web_icons_v2/46/google.png"
             data-collapse="http://findicons.com/files/icons/1785/social_and_web_icons_v2/46/blogger.png"
             class="sidebar__brand__logo img-fluid">
    </a>
</div>
<!-- /Sidebar brand logo -->

<!-- Sidebar navigation -->
<nav class="sidebar__nav" data-scroll-to-active="true">
    <ul class="sidebar__list metismenu sidebar__list-main navigation-main" data-plugin="metismenu">

        <!-- Main -->
        <li class="sidebar__item-header">OVERVIEW </li>
        <li class="sidebar__item has-child{{#if page.dashboard}} active{{/if}}">
            <a href="#" class="sidebar__link has-arrow" aria-expanded="{{#if page.dashboard}}true{{else}}false{{/if}}">
                <span class="sidebar__link-icon"><i class="icon-speedometer"></i></span>
                <span class="sidebar__link-title">Dashboard</span>
                <span class="ml-auto mr-3 badge badge-info">42</span>
            </a>
            <ul class="sidebar__child" aria-expanded="{{#if page.dashboard}}true{{else}}false{{/if}}">
                {{#withSort dashboard 'data.posted'}}
                    {{#each pages }}
                        <li class="sidebar__item{{#is ../../page.dest this.dest}} active{{/is}}">
                            <a href="{{ replaceStr dest 'app/build/' '' }}" class="sidebar__link">{{ data.title }}</a>
                        </li>
                    {{/each}}
                {{/withSort}}
            </ul>
        </li>

        <li class="sidebar__divider"></li>
        <!-- /Main -->

        <!--UI Elements-->
        <li class="sidebar__item-header">UI Elements</li>

        {{> nav nav-name="Components" nav-icon="icon-puzzle" nav-active=page.components json-file=navigation.components }}

        {{> nav nav-name="Icon pack" nav-icon="icon-vector" nav-active=page.icon-pack json-file=navigation.icon-pack }}

        {{> nav nav-name="Forms UI" nav-icon="icon-vector" nav-active=page.forms-ui json-file=navigation.forms-ui }}

        <li class="sidebar__divider"></li>
        <!--/UI Elements-->

        <!--Navigation-->
        <li class="sidebar__item-header">Navigation</li>
        <li class="sidebar__item has-child">
            <a href="#" class="sidebar__link has-arrow" aria-expanded="false">
                <span class="sidebar__link-icon"><i class="icon-folder"></i></span>
                <span class="sidebar__link-title">Menu Levels</span>
            </a>
            <ul class="sidebar__child" aria-expanded="false">
                <li class="sidebar__item"><a href="#" class="sidebar__link">Level 1.1</a></li>
                <li class="sidebar__item has-child"><a href="#" class="sidebar__link has-arrow" aria-expanded="false">Level 1.2</a>
                    <ul class="sidebar__child" aria-expanded="false">
                        <li class="sidebar__item"><a href="#" class="sidebar__link">Level 2.1</a></li>
                        <li class="sidebar__item has-child"><a href="#" class="sidebar__link has-arrow" aria-expanded="false">Level 2.2</a>
                            <ul class="sidebar__child" aria-expanded="false">
                                <li class="sidebar__item"><a href="#" class="sidebar__link">Level 3.1</a></li>
                                <li class="sidebar__item"><a href="#" class="sidebar__link">Level 3.2</a></li>
                            </ul>
                        </li>
                        <li class="sidebar__item"><a href="#" class="sidebar__link">Level 2.3</a></li>
                    </ul>
                </li>
                <li class="sidebar__item"><a href="#" class="sidebar__link">Level 1.3</a></li>
            </ul>
        </li>
        <li class="sidebar__divider"></li>
        <!--/Navigation-->

        <!--Extras-->
        <li class="sidebar__item-header">Extras</li>
        <li class="sidebar__item">
            <a href="index.html" class="sidebar__link">
                <span class="sidebar__link-icon"><i class="icon-list"></i></span>
                <span class="sidebar__link-title">Menu 1</span>
            </a>
        </li>
        <li class="sidebar__divider"></li>
        <!--/Extras-->

        <!--/Action-->
        <li class="sidebar__item-header">Action</li>
        <li class="sidebar__item has-button">
            <a class="btn btn-primary btn-block" href="#" role="button">Create new</a>
        </li>
        <li class="sidebar__divider"></li>
        <!--/Action-->

        <!--Downloads-->
        <li class="sidebar__item-header mt-lg-auto">Downloads</li>
        <li class="sidebar__item">
            <a href="index.html" class="sidebar__link">
                <span class="sidebar__link-icon"><i class="fa fa-camera-retro"></i></span>
                <span class="sidebar__link-title">Menu 1</span>
            </a>
        </li>
        <!--/Downloads-->

    </ul>
</nav>
<!--/Sidebar navigation-->

<!--Sidebar footer-->
<footer class="sidebar-footer">
    <nav class="sidebar-footer__nav">
        <ul class="sidebar-footer__list metismenu list-unstyled" data-plugin="metismenu">
            <li class="sidebar-footer__item mini">
                <!-- Sidebar mini toggle button -->
                <button class="sidebar__footer--toggler" type="button" data-toggle="sidebar-mini">
                    <!-- To display the "hamburger icon" -->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <!-- /To display the "hamburger icon" -->
                </button>
            </li>
            <li class="sidebar-footer__item has-child">
                <ul class="sidebar-footer__child" aria-expanded="false">
                    <li class="sidebar-footer__item"><a href="#" class="sidebar-footer__link"><i class="fas fa-suitcase mr-2"></i>Action<span class="badge badge-info ml-auto">42</span></a></li>
                    <li class="sidebar-footer__item has-child">
                        <a href="#" class="sidebar-footer__link has-arrow" aria-expanded="false"><i class="icon-envelope mr-2"></i>Another action</a>
                        <ul class="sidebar-footer__child" aria-expanded="false">
                            <li class="sidebar-footer__item"><a href="#" class="sidebar-footer__link">ssdf</a></li>
                        </ul>
                    </li>
                    <li class="sidebar-footer__item"><a href="#" class="sidebar-footer__link"><i class="icon-bubbles mr-2"></i>Something else here<span class="badge badge-danger ml-auto">18</span></a></li>
                </ul>

                <!-- TODO Tooltip styling https://codepen.io/andreivictor/pen/MpNQNL -->
                <a href="#" class="sidebar-footer__link" data-toggle="tooltip" data-placement="top" title="Settings" data-trigger="hover"
                   data-animate="animated fadeIn" aria-expanded="false"><i class="fa fa-trash"></i> <span class="badge badge-round badge-danger floating">5</span></a>
            </li>

            <li class="sidebar-footer__item">
                <a href="#" class="sidebar-footer__link"><i class="fa fa-ellipsis-h"></i></a>
            </li>
        </ul>
    </nav>
    <!-- /Sidebar mini toggle button -->
</footer>
<!--/Sidebar footer-->