// Border longhand version
@mixin border-all($width, $style, $color) {
  border-width: $width;
  border-style: $style;
  border-color: $color;
}

/* Usage */
/* @include border-all(width, style, color); */