// ================================================================================================
// File Name: style.scss
// Description: Sass manifest file. Folllowing the 7-1 Pattern | https://sass-guidelin.es/#architecture.
// Importing order & guidelines are mentioned under the title MAIN FILE : https://sass-guidelin.es/#architecture.
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

// ================================================================================================
// Guidelines :
// One @import per folder;
// A linebreak after @import;
// Each file on its own line;
// A new line after the last import from a folder;
// File extensions and leading underscores omitted.
// ================================================================================================

//----------------------------------*\
// BOURBON
//----------------------------------*\
@import "bourbon";

//----------------------------------*\
// THEMES
//----------------------------------*/
@import
	'themes/theme-map';

//----------------------------------*\
// CONFIGURATION & HELPERS
//----------------------------------*/
@import
	'helpers/functions',
	'helpers/variables',
	'helpers/mixins',
	'helpers/extends',
	'helpers/utilities',
	'helpers/placeholders';

//----------------------------------*\
// VENDORS & VENDORS EXTENSIONS
//----------------------------------*/
// TODO, check what this guy is doing https://github.com/clawfire/Brasserie-Schuman/blob/ac0221058b295dafd1a58644ac9033604c0b639a/_sass/lib/_lib.scss
@import
	'vendors/external',
	//'vendors/normalize', // TODO, i think this is not required, becuase bootstrap is using Reboot builds upon Normalize. However pls confirm when get time. ok
	'vendors/media-queries',
    'vendors-extensions/chosen',
    'vendors-extensions/dropzone',
    'vendors-extensions/multi-select';

//----------------------------------*\
// BASE STUFF
//----------------------------------*/
@import
	'base/base',
	'base/reset',
	'base/typography';

//----------------------------------*\
// PARTIALS
//----------------------------------*/
@import
	'partials/layout',
	'partials/header',
	'partials/header-nav',
	'partials/sidebar',
	'partials/sidebar-nav',
	'partials/aside',
	'partials/main',
	'partials/footer';

//----------------------------------*\
// ENHANCEMENT COMPONENTS
//----------------------------------*/
@import
	'components/sections',
	'components/search',
	'components/carousel',
	'components/forms',
	'components/buttons',
	'components/button-group',
	'components/input-group',
	'components/custom-forms',
	'components/badge',
	'components/inputs',
	'components/lists',
	'components/dropdown',
	'components/tables',
	'components/tooltips-and-popovers',
	'components/sliders',
	'components/social',
	'components/clearfix',
	'components/overlays',
	'components/nav',
	'components/breakpoints',
	'components/breadcrumb',
	'components/breadcrumb-menu',
	'components/cover',
	'components/modals',
	'components/checkbox-radio',
	'components/tags',
	'components/cards',
	'components/collapse',
	'components/togglers',
	'components/thumbnails',
	'components/labels',
	'components/progress-bars',
	'components/spacers',
	'components/chat-message',
	'components/alerts',
	'components/tabs-and-pills',
	'components/pagination',
	'components/scrollbar',
	'components/print',
    'components/defaults',
    'components/misc',
    'components/examples';

//----------------------------------*\
// PAGE SPECIFIC STYLES
//----------------------------------*/
@import
	'pages/home',
	'pages/contact';
