---
title: Avatars
lead: Media object are to construct highly repetitive components like blog comments, tweets, and the like.
components: true
---

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            {{#card}}
                {{{card_header 'Avatars'}}}

                {{#card_body}}
                    <div class="avatar rounded-circle avatar--info avatar--xl">
                        <div class="avatar__icon rounded-circle">
                            <i class="ti ti-plus"></i>
                        </div>
                        <div class="avatar__content avatar-char" data-initial="HD"></div>
                    </div>
                {{/card_body}}

                {{#card_body}}
                    <div class="avatar-stack-collapse">
                        <div class="avatar rounded-circle avatar--info avatar--xl">
                            <div class="avatar__content avatar-char" data-initial="A"></div>
                        </div>
                        <div class="avatar rounded-circle avatar--primary avatar--xl">
                            <div class="avatar__content avatar-char" data-initial="B"></div>
                        </div>
                        <div class="avatar rounded-circle avatar-more avatar--xl"></div>
                        <div class="avatar rounded-circle avatar--secondary avatar--xl">
                            <div class="avatar__content avatar-char" data-initial="C"></div>
                        </div>
                        <div class="avatar rounded-circle avatar--warning avatar--xl">
                            <div class="avatar__content avatar-char" data-initial="D"></div>
                        </div>
                        <div class="avatar rounded-circle avatar--info avatar--xl">
                            <div class="avatar__content avatar-char" data-initial="D"></div>
                        </div>
                    </div>
                {{/card_body}}


                {{#card_body}}
                    <div class="avatar-stack-collapse">
                        <div class="avatar avatar--info avatar--xl">
                            <div class="avatar__content avatar-char" data-initial="A"></div>
                        </div>
                        <div class="avatar avatar--primary avatar--xl">
                            <div class="avatar__content avatar-char" data-initial="B"></div>
                        </div>
                        <div class="avatar avatar-more avatar--xl"></div>
                        <div class="avatar avatar--secondary avatar--xl">
                            <div class="avatar__content avatar-char" data-initial="C"></div>
                        </div>
                        <div class="avatar avatar--warning avatar--xl">
                            <div class="avatar__content avatar-char" data-initial="D"></div>
                        </div>
                        <div class="avatar avatar--info avatar--xl">
                            <div class="avatar__content avatar-char" data-initial="D"></div>
                        </div>
                    </div>
                {{/card_body}}


                {{#card_body}}
                    <div class="avatar-stack-reveal-full">
                        <div class="avatar rounded-circle avatar--info avatar--sm">
                            <div class="avatar__content avatar-char" data-initial="A"></div>
                        </div>
                        <div class="avatar rounded-circle avatar--primary avatar--sm">
                            <div class="avatar__content avatar-char" data-initial="B"></div>
                        </div>
                        <div class="avatar rounded-circle avatar--secondary avatar--sm">
                            <div class="avatar__content avatar-char" data-initial="C"></div>
                        </div>
                        <div class="avatar rounded-circle avatar--warning avatar--sm">
                            <div class="avatar__content avatar-char" data-initial="D"></div>
                        </div>
                    </div>
                {{/card_body}}
                {{#card_body}}
                    <div class="avatar-stack-reveal-full">
                        <div class="avatar rounded-circle avatar--info">
                            <div class="avatar__content avatar-char" data-initial="A"></div>
                        </div>
                        <div class="avatar rounded-circle avatar--primary">
                            <div class="avatar__content avatar-char" data-initial="B"></div>
                        </div>
                        <div class="avatar rounded-circle avatar--secondary">
                            <div class="avatar__content avatar-char" data-initial="C"></div>
                        </div>
                        <div class="avatar rounded-circle avatar--warning">
                            <div class="avatar__content avatar-char" data-initial="D"></div>
                        </div>
                    </div>
                {{/card_body}}

                {{#card_body}}
                    <div class="avatar-stack-reveal-full">
                        <div class="avatar rounded-circle avatar--info avatar--lg">
                            <div class="avatar__content avatar-char" data-initial="A"></div>
                        </div>
                        <div class="avatar rounded-circle avatar--primary avatar--lg">
                            <div class="avatar__content avatar-char" data-initial="B"></div>
                        </div>
                        <div class="avatar rounded-circle avatar--secondary avatar--lg">
                            <div class="avatar__content avatar-char" data-initial="C"></div>
                        </div>
                        <div class="avatar rounded-circle avatar--warning avatar--lg">
                            <div class="avatar__content avatar-char" data-initial="D"></div>
                        </div>
                    </div>
                {{/card_body}}

                {{#card_body}}
                    <div class="avatar-stack-reveal-full">
                        <div class="avatar rounded-circle avatar--info avatar--xl">
                            <div class="avatar__content avatar-char" data-initial="A"></div>
                        </div>
                        <div class="avatar rounded-circle avatar--primary avatar--xl">
                            <div class="avatar__content avatar-char" data-initial="B"></div>
                        </div>
                        <div class="avatar rounded-circle avatar--secondary avatar--xl">
                            <div class="avatar__content avatar-char" data-initial="C"></div>
                        </div>
                        <div class="avatar rounded-circle avatar--warning avatar--xl">
                            <div class="avatar__content avatar-char" data-initial="D"></div>
                        </div>
                    </div>
                {{/card_body}}
                {{#card_body}}
                    <div class="avatar-stack">
                        <div class="avatar rounded-circle avatar--info avatar--xl">
                            <div class="avatar__content avatar-char" data-initial="A"></div>
                        </div>
                        <div class="avatar rounded-circle avatar--primary avatar--xl">
                            <div class="avatar__content avatar-char" data-initial="B"></div>
                        </div>
                        <div class="avatar rounded-circle avatar--secondary avatar--xl">
                            <div class="avatar__content avatar-char" data-initial="C"></div>
                        </div>
                        <div class="avatar rounded-circle avatar--warning avatar--xl">
                            <div class="avatar__content avatar-char" data-initial="D"></div>
                        </div>
                    </div>
                {{/card_body}}
                {{#card_body}}
                    <div class="avatar-stack-reveal-single">
                        <div class="avatar rounded-circle avatar--info avatar--xl">
                            <div class="avatar__content avatar-char" data-initial="A"></div>
                        </div>
                        <div class="avatar rounded-circle avatar--primary avatar--xl">
                            <div class="avatar__content avatar-char" data-initial="B"></div>
                        </div>
                        <div class="avatar rounded-circle avatar--secondary avatar--xl">
                            <div class="avatar__content avatar-char" data-initial="C"></div>
                        </div>
                        <div class="avatar rounded-circle avatar--warning avatar--xl">
                            <div class="avatar__content avatar-char" data-initial="D"></div>
                        </div>
                    </div>
                {{/card_body}}

                {{#card_body}}

                    <div class="avatar rounded-circle avatar--xl">
                        <div class="avatar__content avatar-img">
                            <img src="https://source.unsplash.com/collection/895539/100x100" class="" alt="Avatar image">
                        </div>
                    </div>
                    <div class="avatar rounded-circle avatar--info avatar--xl">
                        <div class="avatar__content avatar-char">H</div>
                    </div>
                {{/card_body}}
                {{#card_body}}
                    <div class="avatar avatar--sm">
                        <div class="avatar__content avatar-img">
                            <img src="https://source.unsplash.com/collection/895539/100x100" class="" alt="Avatar image">
                        </div>
                    </div>
                    <div class="avatar">
                        <div class="avatar__content avatar-img">
                            <img src="https://source.unsplash.com/collection/895539/100x100" class="" alt="Avatar image">
                        </div>
                    </div>
                    <div class="avatar avatar--lg">
                        <div class="avatar__content avatar-img">
                            <img src="https://source.unsplash.com/collection/895539/100x100" class="" alt="Avatar image">
                        </div>
                    </div>
                    <div class="avatar avatar--xl">
                        <div class="avatar__content avatar-img">
                            <img src="https://source.unsplash.com/collection/895539/100x100" class="" alt="Avatar image">
                        </div>
                    </div>
                {{/card_body}}
                {{#card_body}}
                    <div class="avatar avatar--primary avatar--sm">
                        <div class="avatar__content avatar-char">H</div>
                    </div>
                    <div class="avatar avatar--secondary">
                        <div class="avatar__content avatar-char">H</div>
                    </div>
                    <div class="avatar avatar--warning avatar--lg">
                        <div class="avatar__content avatar-char">H</div>
                    </div>
                    <div class="avatar avatar--info avatar--xl">
                        <div class="avatar__content avatar-char">H</div>
                    </div>
                {{/card_body}}
                {{#card_body}}
                    <div class="avatar avatar--primary rounded-circle avatar-online avatar--sm">
                        <div class="avatar__content avatar-char">H</div>
                    </div>
                    <div class="avatar avatar--secondary rounded-circle avatar-offline">
                        <div class="avatar__content avatar-char">H</div>
                    </div>
                    <div class="avatar avatar--warning avatar-away rounded-circle avatar--lg">
                        <div class="avatar__content avatar-char">H</div>
                    </div>
                    <div class="avatar avatar--info avatar-busy rounded-circle avatar--xl">
                        <div class="avatar__content avatar-char">H</div>
                    </div>
                {{/card_body}}
                {{#card_body}}
                    <div class="avatar avatar-soft--primary avatar--sm">
                        <div class="avatar__content avatar-char">H</div>
                    </div>
                    <div class="avatar avatar-soft--secondary">
                        <div class="avatar__content avatar-char">H</div>
                    </div>
                    <div class="avatar avatar-soft--warning avatar--lg">
                        <div class="avatar__content avatar-char">H</div>
                    </div>
                    <div class="avatar avatar-soft--info avatar--xl">
                        <div class="avatar__content avatar-char">GH</div>
                    </div>
                {{/card_body}}
                {{#card_body}}
                    <div class="avatar avatar-soft--primary avatar--sm">
                        <div class="avatar__content avatar-char"><i class="fa fa-user"></i></div>
                    </div>
                    <div class="avatar avatar-soft--secondary">
                        <div class="avatar__content avatar-char"><i class="fa fa-user"></i></div>
                    </div>
                    <div class="avatar avatar-soft--warning avatar--lg">
                        <div class="avatar__content avatar-char"><i class="fa fa-user"></i></div>
                    </div>
                    <div class="avatar avatar-soft--info avatar--xl">
                        <div class="avatar__content avatar-char"><i class="fa fa-user"></i></div>
                    </div>
                {{/card_body}}
            {{/card}}
        </div>
    </div>
</div>
