---
title: "Breadcrumbs"
subtitle: Indicate the current page’s location within a navigational hierarchy.
components: true
posted: 2017-12-26
---

<!--TODO spacing good example https://www.codeply.com/go/kaWaobOUD8/bootstrap-4-spacing-utils-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">A standard breadcrumb</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Home</li>
                        </ol>
                    </nav>

                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Registration</li>
                        </ol>
                    </nav>

                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Registration</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Personal Information</li>
                        </ol>
                    </nav>

                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Registration</a></li>
                            <li class="breadcrumb-item"><a href="#">Personal Information</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                        </ol>
                    </nav>

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Breadcrumb with menu</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body"> </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Divider types</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <p>A breadcrumb can contain a divider to show the relationship between sections.</p>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb divider-angle-right">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Registration</a></li>
                            <li class="breadcrumb-item"><a href="#">Personal Information</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                        </ol>
                    </nav>

                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb divider-angle-double-right">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Registration</a></li>
                            <li class="breadcrumb-item"><a href="#">Personal Information</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                        </ol>
                    </nav>

                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb divider-caret-right">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Registration</a></li>
                            <li class="breadcrumb-item"><a href="#">Personal Information</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                        </ol>
                    </nav>


                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Section</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <p>A breadcrumb can contain sections that can either be formatted as a link or text.</p>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb divider-angle-right">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
                            </li>
                            <li class="breadcrumb-item">Registration</li>
                            <li class="breadcrumb-item">Personal Information</li>
                            <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                        </ol>
                    </nav>

                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb divider-angle-right">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
                            </li>
                            <li class="breadcrumb-item">Registration</li>
                            <li class="breadcrumb-item"><a href="#">Personal Information</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Variations</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <h6 class="card-title">Arrow</h6>

                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb extended-arrow">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Registration</a></li>
                            <li class="breadcrumb-item"><a href="#">Personal Information</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                        </ol>
                    </nav>

                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb extended-arrow">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Registration</a></li>
                            <li class="breadcrumb-item"><a href="#">Personal Information</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Photo Upload</li>
                        </ol>
                    </nav>


                    <h6 class="card-title">Arrow wrap</h6>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb extended-arrow-wrap">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Registration</a></li>
                            <li class="breadcrumb-item"><a href="#">Personal Information</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="#">Photo Upload</a></li>
                        </ol>
                    </nav>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb extended-arrow-wrap">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Registration</a></li>
                            <li class="breadcrumb-item"><a href="#">Personal Information</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="#">Photo Upload</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Breadcrumb Wizard</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb extended-arrow-wrap wizard">
                            <li class="breadcrumb-item completed"><a href="#">Step 1 is done</a></li>
                            <li class="breadcrumb-item completed"><a href="#">Step 2 is done</a></li>
                            <li class="breadcrumb-item active"><a href="#">Step 3 is active</a></li>
                            <li class="breadcrumb-item incomplete"><a href="#">Step 4 is undone</a></li>
                            <li class="breadcrumb-item incomplete"><a href="#">Step 5 is undone</a></li>
                        </ol>
                    </nav>

                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb extended-arrow wizard">
                            <li class="breadcrumb-item completed"><a href="#">Step 1 is done</a></li>
                            <li class="breadcrumb-item completed"><a href="#">Step 2 is done</a></li>
                            <li class="breadcrumb-item active"><a href="#">Step 3 is active</a></li>
                            <li class="breadcrumb-item incomplete"><a href="#">Step 4 is undone</a></li>
                            <li class="breadcrumb-item incomplete"><a href="#">Step 5 is undone</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

    </div>


</div>