---
title: "Buttons"
subtitle: Use Bootstrap’s custom button styles for actions in forms, dialogs, and more. Includes support for a handful of contextual variations, sizes, states, and more.

components: true
posted: 2017-12-18
---

<!--TODO spacing good example https://www.codeply.com/go/kaWaobOUD8/bootstrap-4-spacing-utils-->
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Default Buttons</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a class="card__actions-item dropdown-toggle" href="#" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="icon-wrench"></i>
                        </a>
                        <div class="dropdown-menu extended themed dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <p>Use any of the available button classes to quickly create a styled button.</p>
                    <button type="button" class="btn btn-primary">Primary</button>
                    <button type="button" class="btn btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-success">Success</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                    <button type="button" class="btn btn-warning">Warning</button>
                    <button type="button" class="btn btn-info">Info</button>
                    <button type="button" class="btn btn-light">Light</button>
                    <button type="button" class="btn btn-dark">Dark</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Raised Buttons</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a class="card__actions-item dropdown-toggle" href="#" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="icon-wrench"></i>
                        </a>
                        <div class="dropdown-menu extended themed dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <p>Create raised buttons, by adding <code>.btn-raised</code>. </p>
                    <button type="button" class="btn btn-primary btn-raised">Primary</button>
                    <button type="button" class="btn btn-secondary btn-raised">Secondary</button>
                    <button type="button" class="btn btn-success btn-raised">Success</button>
                    <button type="button" class="btn btn-danger btn-raised">Danger</button>
                    <button type="button" class="btn btn-warning btn-raised">Warning</button>
                    <button type="button" class="btn btn-info btn-raised">Info</button>
                    <button type="button" class="btn btn-light btn-raised">Light</button>
                    <button type="button" class="btn btn-dark btn-raised">Dark</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Rounded Buttons</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <p>Create rounded buttons, by adding <code>.btn-round</code>. </p>
                    <button type="button" class="btn btn-round btn-primary">Primary</button>
                    <button type="button" class="btn btn-round btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-round btn-success">Success</button>
                    <button type="button" class="btn btn-round btn-danger">Danger</button>
                    <button type="button" class="btn btn-round btn-warning">Warning</button>
                    <button type="button" class="btn btn-round btn-info">Info</button>
                    <button type="button" class="btn btn-round btn-light">Light</button>
                    <button type="button" class="btn btn-round btn-dark">Dark</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Outline buttons</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <p>
                        Create outline buttons, by replace the default modifier classes with the <code>.btn-outline-*</code> ones to remove all background images and colors on any button.
                    </p>
                    <button type="button" class="btn btn-outline-primary">Primary</button>
                    <button type="button" class="btn btn-outline-secondary">Secondary</button>
                    <button type="button" class="btn btn-outline-success">Success</button>
                    <button type="button" class="btn btn-outline-danger">Danger</button>
                    <button type="button" class="btn btn-outline-warning">Warning</button>
                    <button type="button" class="btn btn-outline-info">Info</button>
                    <button type="button" class="btn btn-outline-light">Light</button>
                    <button type="button" class="btn btn-outline-dark">Dark</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Rounded outline buttons</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <p>
                        Create rounded outline buttons, by replace the default modifier classes with the <code>.btn-outline-*</code> and <code>.btn-round</code> ones to remove all background images and colors on any button.
                    </p>

                    <button type="button" class="btn btn-round btn-outline-primary">Primary</button>
                    <button type="button" class="btn btn-round btn-outline-secondary">Secondary</button>
                    <button type="button" class="btn btn-round btn-outline-success">Success</button>
                    <button type="button" class="btn btn-round btn-outline-danger">Danger</button>
                    <button type="button" class="btn btn-round btn-outline-warning">Warning</button>
                    <button type="button" class="btn btn-round btn-outline-info">Info</button>
                    <button type="button" class="btn btn-round btn-outline-light">Light</button>
                    <button type="button" class="btn btn-round btn-outline-dark">Dark</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Buttons Links</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <p>Use the <code>&lt;a&gt;</code> tag to create a link button.</p>
                    <a href="#" class="btn btn-link btn-primary" role="button">Primary</a>
                    <a href="#" class="btn btn-link btn-secondary" role="button">Secondary</a>
                    <a href="#" class="btn btn-link btn-success" role="button">Success</a>
                    <a href="#" class="btn btn-link btn-danger" role="button">Danger</a>
                    <a href="#" class="btn btn-link btn-warning" role="button">Warning</a>
                    <a href="#" class="btn btn-link btn-info" role="button">Info</a>
                    <a href="#" class="btn btn-link btn-light" role="button">Light</a>
                    <a href="#" class="btn btn-link btn-dark" role="button">Dark</a>

                    <br><br>
                    <p>We can also use the <code>&lt;button&gt;</code> tag to create a link button.</p>

                    <button type="button" class="btn btn-link btn-primary">Primary</button>
                    <button type="button" class="btn btn-link btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-link btn-success">Success</button>
                    <button type="button" class="btn btn-link btn-danger">Danger</button>
                    <button type="button" class="btn btn-link btn-warning">Warning</button>
                    <button type="button" class="btn btn-link btn-info">Info</button>
                    <button type="button" class="btn btn-link btn-light">Light</button>
                    <button type="button" class="btn btn-link btn-dark">Dark</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Buttons with icon</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a class="card__actions-item dropdown-toggle" href="#" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="icon-wrench"></i>
                        </a>
                        <div class="dropdown-menu extended themed dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <p>
                        <button type="button" class="btn btn-primary"><i class="icon-heart"></i>Primary</button>
                        <button type="button" class="btn btn-secondary"><i class="icon-list"></i>Secondary</button>
                        <button type="button" class="btn btn-success"><i class="icon-check"></i>Success</button>
                        <button type="button" class="btn btn-danger"><i class="icon-envelope"></i>Danger</button>
                        <button type="button" class="btn btn-warning"><i class="icon-bell"></i>Warning</button>
                        <button type="button" class="btn btn-info"><i class="icon-link"></i>Info</button>
                        <button type="button" class="btn btn-light"><i class="icon-bubbles"></i>Light</button>
                        <button type="button" class="btn btn-dark"><i class="icon-pin"></i>Dark</button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-round btn-primary"><i class="icon-heart"></i>Primary</button>
                        <button type="button" class="btn btn-round btn-secondary"><i class="icon-list"></i>Secondary</button>
                        <button type="button" class="btn btn-round btn-success"><i class="icon-check"></i>Success</button>
                        <button type="button" class="btn btn-round btn-danger"><i class="icon-envelope"></i>Danger</button>
                        <button type="button" class="btn btn-round btn-warning"><i class="icon-bell"></i>Warning</button>
                        <button type="button" class="btn btn-round btn-info"><i class="icon-link"></i>Info</button>
                        <button type="button" class="btn btn-round btn-light"><i class="icon-bubbles"></i>Light</button>
                        <button type="button" class="btn btn-round btn-dark"><i class="icon-pin"></i>Dark</button>
                    </p>

                    <p>
                        <button type="button" class="btn btn-outline-primary"><i class="icon-heart"></i>Primary</button>
                        <button type="button" class="btn btn-outline-secondary"><i class="icon-list"></i>Secondary</button>
                        <button type="button" class="btn btn-outline-success"><i class="icon-check"></i>Success</button>
                        <button type="button" class="btn btn-outline-danger"><i class="icon-envelope"></i>Danger</button>
                        <button type="button" class="btn btn-outline-warning"><i class="icon-bell"></i>Warning</button>
                        <button type="button" class="btn btn-outline-info"><i class="icon-link"></i>Info</button>
                        <button type="button" class="btn btn-outline-light"><i class="icon-bubbles"></i>Light</button>
                        <button type="button" class="btn btn-outline-dark"><i class="icon-pin"></i>Dark</button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-round btn-outline-primary"><i class="icon-heart"></i>Primary</button>
                        <button type="button" class="btn btn-round btn-outline-secondary"><i class="icon-list"></i>Secondary</button>
                        <button type="button" class="btn btn-round btn-outline-success"><i class="icon-check"></i>Success</button>
                        <button type="button" class="btn btn-round btn-outline-danger"><i class="icon-envelope"></i>Danger</button>
                        <button type="button" class="btn btn-round btn-outline-warning"><i class="icon-bell"></i>Warning</button>
                        <button type="button" class="btn btn-round btn-outline-info"><i class="icon-link"></i>Info</button>
                        <button type="button" class="btn btn-round btn-outline-light"><i class="icon-bubbles"></i>Light</button>
                        <button type="button" class="btn btn-round btn-outline-dark"><i class="icon-pin"></i>Dark</button>
                    </p>

                    <p>
                        <a href="#" class="btn btn-link btn-primary" role="button"><i class="icon-heart"></i>Primary</a>
                        <a href="#" class="btn btn-link btn-secondary" role="button"><i class="icon-list"></i>Secondary</a>
                        <a href="#" class="btn btn-link btn-success" role="button"><i class="icon-check"></i>Success</a>
                        <a href="#" class="btn btn-link btn-danger" role="button"><i class="icon-envelope"></i>Danger</a>
                        <a href="#" class="btn btn-link btn-warning" role="button"><i class="icon-bell"></i>Warning</a>
                        <a href="#" class="btn btn-link btn-info" role="button"><i class="icon-link"></i>Info</a>
                        <a href="#" class="btn btn-link btn-light" role="button"><i class="icon-bubbles"></i>Light</a>
                        <a href="#" class="btn btn-link btn-dark" role="button"><i class="icon-pin"></i>Dark</a>
                    </p>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-6 pr-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Icon buttons</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-primary btn-icon"><i class="icon-heart"></i></button>
                    <button type="button" class="btn btn-secondary btn-icon"><i class="icon-list"></i></button>
                    <button type="button" class="btn btn-success btn-icon"><i class="icon-check"></i></button>
                    <button type="button" class="btn btn-danger btn-icon"><i class="icon-envelope"></i></button>
                    <button type="button" class="btn btn-warning btn-icon"><i class="icon-bell"></i></button>
                    <button type="button" class="btn btn-info btn-icon"><i class="icon-link"></i></button>
                    <button type="button" class="btn btn-light btn-icon"><i class="icon-bubbles"></i></button>
                    <button type="button" class="btn btn-dark btn-icon"><i class="icon-pin"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-6 pl-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Outline icon buttons</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-outline-primary btn-icon"><i class="icon-heart"></i></button>
                    <button type="button" class="btn btn-outline-secondary btn-icon"><i class="icon-list"></i></button>
                    <button type="button" class="btn btn-outline-success btn-icon"><i class="icon-check"></i></button>
                    <button type="button" class="btn btn-outline-danger btn-icon"><i class="icon-envelope"></i></button>
                    <button type="button" class="btn btn-outline-warning btn-icon"><i class="icon-bell"></i></button>
                    <button type="button" class="btn btn-outline-info btn-icon"><i class="icon-link"></i></button>
                    <button type="button" class="btn btn-outline-light btn-icon"><i class="icon-bubbles"></i></button>
                    <button type="button" class="btn btn-outline-dark btn-icon"><i class="icon-pin"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 pr-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Circle icon buttons</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-primary btn-icon btn-round"><i class="icon-heart"></i></button>
                    <button type="button" class="btn btn-secondary btn-icon btn-round"><i class="icon-list"></i></button>
                    <button type="button" class="btn btn-success btn-icon btn-round"><i class="icon-check"></i></button>
                    <button type="button" class="btn btn-danger btn-icon btn-round"><i class="icon-envelope"></i></button>
                    <button type="button" class="btn btn-warning btn-icon btn-round"><i class="icon-bell"></i></button>
                    <button type="button" class="btn btn-info btn-icon btn-round"><i class="icon-link"></i></button>
                    <button type="button" class="btn btn-light btn-icon btn-round"><i class="icon-bubbles"></i></button>
                    <button type="button" class="btn btn-dark btn-icon btn-round"><i class="icon-pin"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-6 pl-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Outline Circle icon buttons</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-outline-primary btn-icon btn-round"><i class="icon-heart"></i></button>
                    <button type="button" class="btn btn-outline-secondary btn-icon btn-round"><i class="icon-list"></i></button>
                    <button type="button" class="btn btn-outline-success btn-icon btn-round"><i class="icon-check"></i></button>
                    <button type="button" class="btn btn-outline-danger btn-icon btn-round"><i class="icon-envelope"></i></button>
                    <button type="button" class="btn btn-outline-warning btn-icon btn-round"><i class="icon-bell"></i></button>
                    <button type="button" class="btn btn-outline-info btn-icon btn-round"><i class="icon-link"></i></button>
                    <button type="button" class="btn btn-outline-light btn-icon btn-round"><i class="icon-bubbles"></i></button>
                    <button type="button" class="btn btn-outline-dark btn-icon btn-round"><i class="icon-pin"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 pr-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Social Icon buttons</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-facebook btn-icon"><i class="fab fa-facebook-f"></i></button>
                    <button type="button" class="btn btn-twitter btn-icon"><i class="fab fa-twitter"></i></button>
                    <button type="button" class="btn btn-google-plus btn-icon"><i class="fab fa-google-plus-g"></i></button>
                    <button type="button" class="btn btn-linkedin btn-icon"><i class="fab fa-linkedin-in"></i></button>
                    <button type="button" class="btn btn-instagram btn-icon"><i class="fab fa-instagram"></i></button>
                    <button type="button" class="btn btn-pinterest btn-icon"><i class="fab fa-pinterest-p"></i></button>
                    <button type="button" class="btn btn-dribbble btn-icon"><i class="fab fa-dribbble"></i></button>
                    <button type="button" class="btn btn-youtube btn-icon"><i class="fab fa-youtube"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-6 pl-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Social Outline icon buttons</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-outline-facebook btn-icon"><i class="fab fa-facebook-f"></i></button>
                    <button type="button" class="btn btn-outline-twitter btn-icon"><i class="fab fa-twitter"></i></button>
                    <button type="button" class="btn btn-outline-google-plus btn-icon"><i class="fab fa-google-plus-g"></i></button>
                    <button type="button" class="btn btn-outline-linkedin btn-icon"><i class="fab fa-linkedin-in"></i></button>
                    <button type="button" class="btn btn-outline-instagram btn-icon"><i class="fab fa-instagram"></i></button>
                    <button type="button" class="btn btn-outline-pinterest btn-icon"><i class="fab fa-pinterest-p"></i></button>
                    <button type="button" class="btn btn-outline-dribbble btn-icon"><i class="fab fa-dribbble"></i></button>
                    <button type="button" class="btn btn-outline-youtube btn-icon"><i class="fab fa-youtube"></i></button>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 pr-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Social Circle icon buttons</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-facebook btn-icon btn-round"><i class="fab fa-facebook-f"></i></button>
                    <button type="button" class="btn btn-twitter btn-icon btn-round"><i class="fab fa-twitter"></i></button>
                    <button type="button" class="btn btn-google-plus btn-icon btn-round"><i class="fab fa-google-plus-g"></i></button>
                    <button type="button" class="btn btn-linkedin btn-icon btn-round"><i class="fab fa-linkedin-in"></i></button>
                    <button type="button" class="btn btn-instagram btn-icon btn-round"><i class="fab fa-instagram"></i></button>
                    <button type="button" class="btn btn-pinterest btn-icon btn-round"><i class="fab fa-pinterest-p"></i></button>
                    <button type="button" class="btn btn-dribbble btn-icon btn-round"><i class="fab fa-dribbble"></i></button>
                    <button type="button" class="btn btn-youtube btn-icon btn-round"><i class="fab fa-youtube"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-6 pl-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Social Outline Circle icon buttons</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-outline-facebook btn-icon btn-round"><i class="fab fa-facebook-f"></i></button>
                    <button type="button" class="btn btn-outline-twitter btn-icon btn-round"><i class="fab fa-twitter"></i></button>
                    <button type="button" class="btn btn-outline-google-plus btn-icon btn-round"><i class="fab fa-google-plus-g"></i></button>
                    <button type="button" class="btn btn-outline-linkedin btn-icon btn-round"><i class="fab fa-linkedin-in"></i></button>
                    <button type="button" class="btn btn-outline-instagram btn-icon btn-round"><i class="fab fa-instagram"></i></button>
                    <button type="button" class="btn btn-outline-pinterest btn-icon btn-round"><i class="fab fa-pinterest-p"></i></button>
                    <button type="button" class="btn btn-outline-dribbble btn-icon btn-round"><i class="fab fa-dribbble"></i></button>
                    <button type="button" class="btn btn-outline-youtube btn-icon btn-round"><i class="fab fa-youtube"></i></button>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 pr-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Active state</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <p>A button can show it is currently the active user selection</p>
                    <button type="button" class="btn btn-primary active">Primary</button>
                    <button type="button" class="btn btn-secondary btn-round active">Secondary</button>
                    <button type="button" class="btn btn-success btn-icon active"><i class="icon-check"></i></button>
                    <button type="button" class="btn btn-danger btn-icon btn-round active"><i class="icon-envelope"></i></button>
                    <button type="button" class="btn btn-warning btn-link active">Warning</button>
                </div>
            </div>
        </div>

        <div class="col-md-6 pl-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Disabled state</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <p>A button can show it is currently unable to be interacted with</p>
                    <a href="#" class="btn btn-primary disabled" role="button" aria-disabled="true">Primary link</a>
                    <button type="button" class="btn btn-primary" disabled >Primary</button>
                    <button type="button" class="btn btn-outline-primary" disabled >Primary</button>
                    <button type="button" class="btn btn-secondary btn-round" disabled >Secondary</button>
                    <button type="button" class="btn btn-outline-secondary btn-round" disabled >Secondary</button>
                    <button type="button" class="btn btn-success btn-icon" disabled ><i class="icon-check"></i></button>
                    <button type="button" class="btn btn-outline-success btn-icon" disabled ><i class="icon-check"></i></button>
                    <button type="button" class="btn btn-danger btn-icon btn-round" disabled ><i class="icon-envelope"></i></button>
                    <button type="button" class="btn btn-outline-danger btn-icon btn-round" disabled ><i class="icon-envelope"></i></button>
                    <button type="button" class="btn btn-warning btn-link" disabled >Warning</button>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Button Sizes</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <p>A button can have different sizes. Add <code>.btn-lg</code> or <code>.btn-sm</code> class for additional sizes.</p>

                    <div class="row">
                        <div class="col">
                        <p><button type="button" class="btn btn-primary btn-lg">Large button</button></p>
                            <p><button type="button" class="btn btn-primary">Default button</button></p>
                            <p><button type="button" class="btn btn-primary btn-sm">Small button</button></p>
                        </div>

                        <div class="col">
                            <p> <button type="button" class="btn btn-primary btn-round btn-lg">Large button</button></p>
                            <p> <button type="button" class="btn btn-primary btn-round">Default button</button></p>
                            <p> <button type="button" class="btn btn-primary btn-round btn-sm">Small button</button></p>
                        </div>

                        <div class="col">
                            <p><button type="button" class="btn btn-primary btn-icon btn-round btn-lg"><i class="icon-heart"></i></button></p>
                            <p><button type="button" class="btn btn-primary btn-icon btn-round"><i class="icon-heart"></i></button></p>
                            <p><button type="button" class="btn btn-primary btn-icon btn-round btn-sm"><i class="icon-heart"></i></button></p>
                        </div>

                        <div class="col">
                            <p><button type="button" class="btn btn-primary btn-icon btn-lg"><i class="icon-heart"></i></button></p>
                            <p><button type="button" class="btn btn-primary btn-icon"><i class="icon-heart"></i></button></p>
                            <p><button type="button" class="btn btn-primary btn-icon btn-sm"><i class="icon-heart"></i></button></p>
                        </div>

                        <div class="col">
                            <p><button type="button" class="btn btn-outline-primary btn-lg">Large button</button></p>
                            <p> <button type="button" class="btn btn-outline-primary">Default button</button></p>
                            <p><button type="button" class="btn btn-outline-primary btn-sm">Small button</button></p>
                        </div>

                        <div class="col">
                            <p><button type="button" class="btn btn-outline-primary btn-round btn-lg">Large button</button></p>
                            <p><button type="button" class="btn btn-outline-primary btn-round">Default button</button></p>
                            <p><button type="button" class="btn btn-outline-primary btn-round btn-sm">Small button</button></p>
                        </div>

                        <div class="col">
                            <p><button type="button" class="btn btn-outline-primary btn-icon btn-round btn-lg"><i class="icon-heart"></i></button></p>
                            <p><button type="button" class="btn btn-outline-primary btn-icon btn-round"><i class="icon-heart"></i></button></p>
                            <p><button type="button" class="btn btn-outline-primary btn-icon btn-round btn-sm"><i class="icon-heart"></i></button></p>
                        </div>

                        <div class="col">
                            <p><button type="button" class="btn btn-outline-primary btn-icon btn-lg"><i class="icon-heart"></i></button></p>
                            <p><button type="button" class="btn btn-outline-primary btn-icon"><i class="icon-heart"></i></button></p>
                            <p><button type="button" class="btn btn-outline-primary btn-icon btn-sm"><i class="icon-heart"></i></button></p>
                        </div>

                        <div class="col">
                            <p><button type="button" class="btn btn-primary btn-link btn-lg">Large button</button></p>
                            <p><button type="button" class="btn btn-primary btn-link">Default button</button></p>
                            <p><button type="button" class="btn btn-primary btn-link btn-sm">Small button</button></p>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <p><button type="button" class="btn btn-primary btn-raised btn-lg">Large button</button></p>
                            <p><button type="button" class="btn btn-primary btn-raised">Default button</button></p>
                            <p><button type="button" class="btn btn-primary btn-raised btn-sm">Small button</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 pr-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Button tags</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <p>The <code>.btn</code> classes are designed to be used with the <code
                           >&lt;button&gt;</code> element. However, you can also use these
                        classes on <code>&lt;a&gt;</code> or <code>
                            &lt;input&gt;</code> elements (though some browsers may apply a slightly different
                        rendering).</p>
                    <a class="btn btn-primary" href="#" role="button">Link</a>
                    <button class="btn btn-primary" type="submit">Button</button>
                    <input class="btn btn-primary" type="button" value="Input">
                    <input class="btn btn-primary" type="submit" value="Submit">
                    <input class="btn btn-primary" type="reset" value="Reset">
                </div>
            </div>
        </div>
        <div class="col-md-6 pl-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Block Level Buttons</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <p>Create block level buttons—those that span the full width of a parent—by adding <code>.btn-block</code>.</p>
                    <button type="button" class="btn btn-primary btn-block">Block button</button>
                    <button type="button" class="btn btn-outline-primary btn-block">Outline Block button</button>
                    <button type="button" class="btn btn-secondary btn-round btn-block">Rounded Block button</button>
                    <button type="button" class="btn btn-round btn-outline-secondary btn-block">Rounded Outline Block button</button>
                </div>
            </div>
        </div>
    </div>


</div>