---
title: "Collapsible / Accordion"
subtitle: An accordion allows users to toggle the display of sections of content
components: true
posted: 2017-12-26
---

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Standard accordion</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div id="accordion-standard" role="tablist">

                        <div>
                            <p><a class="accordion pl-4 h6" data-toggle="collapse" href="#collapseOne-egS"
                                  aria-expanded="true" aria-controls="collapseOne-egS" role="tab" id="headingOne-egS">
                                Documentation
                            </a>
                            </p>

                            <div id="collapseOne-egS" class="collapse show" role="tabpanel"
                                 aria-labelledby="headingOne-egS"
                                 data-parent="#accordion-standard">
                                <div class="card card-body">
                                    <p class="mb-0"><span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p>
                                </div>
                            </div>

                            <p>
                                <a class="accordion collapsed pl-4 h6" data-toggle="collapse" href="#collapseTwo-egS"
                                   aria-expanded="false" aria-controls="collapseTwo-egS" role="tab" id="headingTwo-egS">
                                    Events & Task Management
                                </a>
                            </p>
                            <div id="collapseTwo-egS" class="collapse" role="tabpanel" aria-labelledby="headingTwo-egS"
                                 data-parent="#accordion-standard">
                                <div class="card card-body">
                                    <p class="mb-0"><span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p>
                                </div>
                            </div>

                            <p>
                                <a class="accordion collapsed pl-4 h6" data-toggle="collapse" href="#collapseThree-egS"
                                   aria-expanded="false" aria-controls="collapseThree-egS" role="tab"
                                   id="headingThree-egS">
                                    Invoicing & Financial
                                </a>
                            </p>
                            <div id="collapseThree-egS" class="collapse" role="tabpanel"
                                 aria-labelledby="headingThree-egS"
                                 data-parent="#accordion-standard">
                                <div class="card card-body">
                                    <p class="mb-0"><span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pr-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Default Accordion</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div id="accordion" class="accordion" role="tablist">
                        <div class="card mb-1">
                            <a class="card-header h6 mb-0" data-toggle="collapse" href="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne" role="tab" id="headingOne">
                                Documentation
                            </a>

                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p></div>
                            </div>
                        </div>
                        <div class="card mb-1">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo"
                               aria-expanded="false" aria-controls="collapseTwo" role="tab" id="headingTwo">
                                Events & Task Management
                            </a>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p></div>
                            </div>
                        </div>
                        <div class="card mb-1">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree"
                               aria-expanded="false" aria-controls="collapseThree" role="tab" id="headingThree">
                                Invoicing & Financial
                            </a>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p></div>
                            </div>
                        </div>
                    </div>
                    <h6 class="card-title mt-4 mb-3">Styled
                        <small class="card-subtitle mb-2 text-muted">With primary border & active background</small>
                    </h6>
                    <div id="accordion-eg2" class="accordion extended outline" role="tablist">
                        <div class="card mb-1">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseOne-eg2"
                               aria-expanded="false" aria-controls="collapseOne-eg2" role="tab" id="headingOne-eg2">
                                Documentation
                            </a>

                            <div id="collapseOne-eg2" class="collapse" role="tabpanel"
                                 aria-labelledby="headingOne-eg2" data-parent="#accordion-eg2">
                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-1">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg2"
                               aria-expanded="false" aria-controls="collapseTwo-eg2" role="tab" id="headingTwo-eg2">
                                Events & Task Management
                            </a>
                            <div id="collapseTwo-eg2" class="collapse" role="tabpanel" aria-labelledby="headingTwo-eg2"
                                 data-parent="#accordion-eg2">
                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-1">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg2"
                               aria-expanded="false" aria-controls="collapseThree-eg2" role="tab" id="headingThree-eg2">
                                Invoicing & Financial
                            </a>
                            <div id="collapseThree-eg2" class="collapse" role="tabpanel"
                                 aria-labelledby="headingThree-eg2" data-parent="#accordion-eg2">
                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h6 class="card-title mt-4 mb-3">Styled
                        <small class="card-subtitle mb-2 text-muted">With primary background</small>
                    </h6>
                    <div id="accordion-eg7" class="accordion extended" role="tablist">
                        <div class="card mb-1">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseOne-eg7"
                               aria-expanded="false" aria-controls="collapseOne-eg7" role="tab" id="headingOne-eg7">
                                Documentation
                            </a>

                            <div id="collapseOne-eg7" class="collapse" role="tabpanel"
                                 aria-labelledby="headingOne-eg7" data-parent="#accordion-eg7">
                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-1">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg7"
                               aria-expanded="false" aria-controls="collapseTwo-eg7" role="tab" id="headingTwo-eg7">
                                Events & Task Management
                            </a>
                            <div id="collapseTwo-eg7" class="collapse" role="tabpanel" aria-labelledby="headingTwo-eg7"
                                 data-parent="#accordion-eg7">
                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-1">
                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg7"
                               aria-expanded="false" aria-controls="collapseThree-eg7" role="tab" id="headingThree-eg7">
                                Invoicing & Financial
                            </a>
                            <div id="collapseThree-eg7" class="collapse" role="tabpanel"
                                 aria-labelledby="headingThree-eg7" data-parent="#accordion-eg7">
                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6 pl-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Group Accordion</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div id="accordion-eg3" class="accordion" role="tablist">
                        <div class="card">
                            <a class="h6 mb-0 card-header" data-toggle="collapse" href="#collapseOne-eg3"
                               aria-expanded="true" aria-controls="collapseOne-eg3" role="tab" id="headingOne-eg3">
                                Documentation
                            </a>

                            <div id="collapseOne-eg3" class="collapse show" role="tabpanel"
                                 aria-labelledby="headingOne-eg3" data-parent="#accordion-eg3">
                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p></div>
                            </div>

                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg3"
                               aria-expanded="false" aria-controls="collapseTwo-eg3" role="tab" id="headingTwo-eg3">
                                Events & Task Management
                            </a>
                            <div id="collapseTwo-eg3" class="collapse" role="tabpanel" aria-labelledby="headingTwo-eg3"
                                 data-parent="#accordion-eg3">
                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p></div>
                            </div>

                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg3"
                               aria-expanded="false" aria-controls="collapseThree-eg3" role="tab" id="headingThree-eg3">
                                Invoicing & Financial
                            </a>
                            <div id="collapseThree-eg3" class="collapse" role="tabpanel"
                                 aria-labelledby="headingThree-eg3" data-parent="#accordion-eg3">
                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p></div>
                            </div>
                        </div>
                    </div>
                    <h6 class="card-title mt-4 mb-3">Styled
                        <small class="card-subtitle mb-2 text-muted">With primary border & active background</small>
                    </h6>
                    <div id="accordion-eg4" class="accordion extended outline" role="tablist">
                        <div class="card">
                            <a class="h6 collapsed mb-0 card-header" data-toggle="collapse" href="#collapseOne-eg4"
                               aria-expanded="false" aria-controls="collapseOne-eg4" role="tab" id="headingOne-eg4">
                                Documentation
                            </a>

                            <div id="collapseOne-eg4" class="collapse" role="tabpanel"
                                 aria-labelledby="headingOne-eg4" data-parent="#accordion-eg4">
                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p></div>
                            </div>

                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg4"
                               aria-expanded="false" aria-controls="collapseTwo-eg4" role="tab" id="headingTwo-eg4">
                                Events & Task Management
                            </a>
                            <div id="collapseTwo-eg4" class="collapse" role="tabpanel" aria-labelledby="headingTwo-eg4"
                                 data-parent="#accordion-eg4">
                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p></div>
                            </div>

                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg4"
                               aria-expanded="false" aria-controls="collapseThree-eg4" role="tab" id="headingThree-eg4">
                                Invoicing & Financial
                            </a>
                            <div id="collapseThree-eg4" class="collapse" role="tabpanel"
                                 aria-labelledby="headingThree-eg4" data-parent="#accordion-eg4">
                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p></div>
                            </div>
                        </div>
                    </div>

                    <h6 class="card-title mt-4 mb-3">Styled
                        <small class="card-subtitle mb-2 text-muted">With primary background</small>
                    </h6>
                    <div id="accordion-eg8" class="accordion extended" role="tablist">
                        <div class="card">
                            <a class="h6 collapsed mb-0 card-header" data-toggle="collapse" href="#collapseOne-eg8"
                               aria-expanded="false" aria-controls="collapseOne-eg8" role="tab" id="headingOne-eg8">
                                Documentation
                            </a>

                            <div id="collapseOne-eg8" class="collapse" role="tabpanel"
                                 aria-labelledby="headingOne-eg8" data-parent="#accordion-eg8">
                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p></div>
                            </div>

                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg8"
                               aria-expanded="false" aria-controls="collapseTwo-eg8" role="tab" id="headingTwo-eg8">
                                Events & Task Management
                            </a>
                            <div id="collapseTwo-eg8" class="collapse" role="tabpanel" aria-labelledby="headingTwo-eg8"
                                 data-parent="#accordion-eg8">
                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p></div>
                            </div>

                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg8"
                               aria-expanded="false" aria-controls="collapseThree-eg8" role="tab" id="headingThree-eg8">
                                Invoicing & Financial
                            </a>
                            <div id="collapseThree-eg8" class="collapse" role="tabpanel"
                                 aria-labelledby="headingThree-eg8" data-parent="#accordion-eg8">
                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p></div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pr-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Group Accordion<br>
                        <small class="card-subtitle mb-2 text-muted">With icon and subtitle</small>
                    </h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <div id="accordion-eg5" class="accordion" role="tablist">
                        <div class="card">
                            <a class="h5 mb-0 collapsed card-header" data-toggle="collapse" href="#collapseOne-eg5"
                               aria-expanded="false" aria-controls="collapseOne-eg5" role="tab" id="headingOne-eg5">
                                <i class="fa fa-file-text-o"></i>
                                <div class="card-title">Documentation
                                    <br>
                                    <small class="card-subtitle mb-2">Our documentation to fix bugs and add features
                                    </small>
                                </div>

                                {{!--<p class="h6 mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>--}}
                            </a>

                            <div id="collapseOne-eg5" class="collapse" role="tabpanel" aria-labelledby="headingOne-eg5"
                                 data-parent="#accordion-eg5">
                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p></div>
                            </div>

                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg5"
                               aria-expanded="false" aria-controls="collapseTwo-eg5" role="tab" id="headingTwo-eg5">
                                <i class="fa fa-file-text-o"></i>
                                <div class="card-title">Events & Task Management
                                    <br>
                                    <small class="card-subtitle mb-2">Managing images, budgets and calendars</small>
                                </div>
                            </a>
                            <div id="collapseTwo-eg5" class="collapse" role="tabpanel" aria-labelledby="headingTwo-eg5"
                                 data-parent="#accordion-eg5">
                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p></div>
                            </div>
                        </div>
                    </div>

                    <h6 class="card-title mt-4 mb-3">Styled
                        <small class="card-subtitle mb-2 text-muted">With primary background</small>
                    </h6>
                    <div id="accordion-eg6" class="accordion extended" role="tablist">
                        <div class="card">
                            <a class="h5 mb-0 collapsed card-header" data-toggle="collapse" href="#collapseOne-eg6"
                               aria-expanded="false" aria-controls="collapseOne-eg6" role="tab" id="headingOne-eg6">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                <div class="card-title">Documentation
                                    <br>
                                    <small class="card-subtitle mb-2">Our documentation to fix bugs and add features
                                    </small>
                                </div>

                                {{!--<p class="h6 mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>--}}
                            </a>

                            <div id="collapseOne-eg6" class="collapse" role="tabpanel" aria-labelledby="headingOne-eg6"
                                 data-parent="#accordion-eg6">
                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p></div>
                            </div>

                            <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg6"
                               aria-expanded="false" aria-controls="collapseTwo-eg6" role="tab" id="headingTwo-eg6">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                <div class="card-title">Events & Task Management
                                    <br>
                                    <small class="card-subtitle mb-2">Managing images, budgets and calendars</small>
                                </div>
                            </a>
                            <div id="collapseTwo-eg6" class="collapse" role="tabpanel" aria-labelledby="headingTwo-eg6"
                                 data-parent="#accordion-eg6">
                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p></div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

    <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Variations</h6>

                <h6 class="card-title"></h6>
                <div class="card__actions window ml-auto">
                    <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                    <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                    <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="card-title mb-3">Underline
                            <small class="card-subtitle mb-2 text-muted">A styled accordion with underline adds basic
                                formatting
                            </small>
                        </h6>
                        <div id="accordion-eg9" class="accordion extended-underline" role="tablist">
                            <div class="card mb-1">
                                <a class="h6 mb-0 card-header" data-toggle="collapse" href="#collapseOne-eg9"
                                   aria-expanded="true" aria-controls="collapseOne" role="tab" id="headingOne-eg9">
                                    Documentation
                                </a>

                                <div id="collapseOne-eg9" class="collapse show" role="tabpanel" aria-labelledby="headingOne-eg9"
                                     data-parent="#accordion-eg9">
                                    <div class="card-body">
                                        <p class="card-text">
                                            <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                        </p></div>
                                </div>
                            </div>
                            <div class="card mb-1">
                                <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg9"
                                   aria-expanded="false" aria-controls="collapseTwo" role="tab" id="headingTwo-eg9">
                                    Events & Task Management
                                </a>
                                <div id="collapseTwo-eg9" class="collapse" role="tabpanel" aria-labelledby="headingTwo-eg9"
                                     data-parent="#accordion-eg9">
                                    <div class="card-body">
                                        <p class="card-text">
                                            <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                        </p></div>
                                </div>
                            </div>
                            <div class="card mb-1">
                                <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg9"
                                   aria-expanded="false" aria-controls="collapseThree" role="tab" id="headingThree-eg9">
                                    Invoicing & Financial
                                </a>
                                <div id="collapseThree-eg9" class="collapse" role="tabpanel"
                                     aria-labelledby="headingThree-eg9" data-parent="#accordion-eg9">
                                    <div class="card-body">
                                        <p class="card-text">
                                            <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                        </p></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h6 class="card-title mb-3">Left line
                            <small class="card-subtitle mb-2 text-muted">A styled accordion with left line adds basic
                                formatting
                            </small>
                        </h6>
                        <div id="accordion-eg10" class="accordion extended-left-line" role="tablist">
                            <div class="card mb-1">
                                <a class="h6 mb-0 card-header" data-toggle="collapse" href="#collapseOne-eg10"
                                   aria-expanded="true" aria-controls="collapseOne" role="tab" id="headingOne-eg10">
                                    Documentation
                                </a>

                                <div id="collapseOne-eg10" class="collapse show" role="tabpanel"
                                     aria-labelledby="headingOne-eg10" data-parent="#accordion-eg10">
                                    <div class="card-body">
                                        <p class="card-text">
                                            <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                        </p></div>
                                </div>
                            </div>
                            <div class="card mb-1">
                                <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseTwo-eg10"
                                   aria-expanded="false" aria-controls="collapseTwo" role="tab" id="headingTwo-eg10">
                                    Events & Task Management
                                </a>
                                <div id="collapseTwo-eg10" class="collapse" role="tabpanel"
                                     aria-labelledby="headingTwo-eg10" data-parent="#accordion-eg10">
                                    <div class="card-body">
                                        <p class="card-text">
                                            <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                        </p></div>
                                </div>
                            </div>
                            <div class="card mb-1">
                                <a class="h6 collapsed card-header mb-0" data-toggle="collapse" href="#collapseThree-eg10"
                                   aria-expanded="false" aria-controls="collapseThree" role="tab" id="headingThree-eg10">
                                    Invoicing & Financial
                                </a>
                                <div id="collapseThree-eg10" class="collapse" role="tabpanel"
                                     aria-labelledby="headingThree-eg10" data-parent="#accordion-eg10">
                                    <div class="card-body">
                                        <p class="card-text">
                                            <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                        </p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Multiple targets</h6>

                    <h6 class="card-title"></h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body"><p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle first element</a>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
                </p>
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="multiCollapseExample1">
                                <div class="card card-body">
                                    <p class="mb-0"><span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="collapse multi-collapse" id="multiCollapseExample2">
                                <div class="card card-body">
                                    <p class="mb-0"><span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div></div>
            </div>
        </div>
    </div>


</div>