---
title: "Form Wizard"
subtitle: Component which allows you to easily create wizard-like interfaces.
forms: true
posted: 2018-02-23
---

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Basic Wizard</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i
                                class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/documentation/documentation-form-wizard.html


                    <div id="wizard">
                        <h3>Keyboard <small>ss</small></h3>
                        <div class="progress progress-lg mx-3 my-3">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <section>
                            <p>Try the keyboard navigation by clicking arrow left or right!</p>
                        </section>
                        <h3>Effects</h3>
                        <section>
                            <p>Wonderful transition effects.</p>
                        </section>
                        <h3>Pager</h3>
                        <section>
                            <p>The next and previous buttons help you to navigate through your content.</p>
                        </section>
                        <h3>Pager</h3>
                        <section>
                            <p>The next and previous buttons help you to navigate through your content.</p>
                        </section>
                    </div>

                    <div id="wizard-vertical">
                        <h3>Keyboard <small>ss</small></h3>
                        <div class="progress progress-lg mx-3 my-3">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <section>
                            <p>Try the keyboard navigation by clicking arrow left or right!</p>
                        </section>
                        <h3>Effects</h3>
                        <section>
                            <p>Wonderful transition effects.</p>
                        </section>
                        <h3>Pager</h3>
                        <section>
                            <p>The next and previous buttons help you to navigate through your content.</p>
                        </section>
                        <h3>Pager</h3>
                        <section>
                            <p>The next and previous buttons help you to navigate through your content.</p>
                        </section>
                    </div>




                    <div id="wizard-tab">
                        <h3>Keyboard <small>ss</small></h3>
                        <section>
                            <p>Try the keyboard navigation by clicking arrow left or right!</p>
                        </section>
                        <h3>Effects</h3>
                        <section>
                            <p>Wonderful transition effects.</p>
                        </section>
                        <h3>Pager</h3>
                        <section>
                            <p>The next and previous buttons help you to navigate through your content.</p>
                        </section>
                        <h3>Pager</h3>
                        <section>
                            <p>The next and previous buttons help you to navigate through your content.</p>
                        </section>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>