---
title: "Basic Form Elements"
subtitle: Elements for creating great user experiences.
forms: true
posted: 2018-01-09
---

<div class="container-fluid">

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Input Text</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i
                                class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group row">
                            <label for="inputNormal" class="col-sm-2 col-form-label text-right ">Normal input
                                text</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputNormal" placeholder="Normal">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputIconic" class="col-sm-2 col-form-label text-right ">Iconic</label>
                            <div class="col-sm-10">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="icon-user"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="inputIconic" placeholder="Username">
                                </div>

                                <div class="input-group">
                                    <input type="password" class="form-control" id="inputIconic2"
                                           placeholder="Password">
                                    <div class="input-group-append">
                                        <div class="input-group-text"><i class="icon-lock"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputNormal" class="col-sm-2 col-form-label text-right ">Seamless iconic</label>
                            <div class="col-sm-10">
                                <div class="input-group with-addon-icon-left mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="icon-user"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="inputIconic4" placeholder="Username">
                                </div>

                                <div class="input-group with-addon-icon-right">
                                    <input type="password" class="form-control" id="inputIconic3"
                                           placeholder="Password">
                                    <div class="input-group-append">
                                        <div class="input-group-text"><i class="icon-lock"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword5" class="col-sm-2 col-form-label text-right">Help text</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword5" placeholder="Password">
                                <small id="passwordHelpBlock" class="form-text text-muted">
                                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                                </small>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Input Text Types</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i
                                class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-sm-2 col-form-label text-right ">Email</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="email" value="bootstrap@example.com" placeholder="Email" id="inputEmail">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputURL" class="col-sm-2 col-form-label text-right ">URL</label>
                            <div class="col-sm-10">
                            <input class="form-control" type="url" value="https://getbootstrap.com" placeholder="URL" id="inputURL">                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>


</div>