---
title: "Basic Form Elements"
subtitle: Elements for creating great user experiences.
forms: true
posted: 2018-01-09
---

<div class="container-fluid">

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Input Text</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i
                                class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group row">
                            <label for="inputNormal" class="col-sm-2 col-form-label text-right ">Normal input
                                text</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputNormal" placeholder="Normal">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputIconic" class="col-sm-2 col-form-label text-right">Iconic</label>
                            <div class="col-sm-10">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="icon-user"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="inputIconic" placeholder="Username">
                                </div>

                                <div class="input-group">
                                    <input type="email" class="form-control" id="inputIconic2"
                                           placeholder="Email">
                                    <div class="input-group-append">
                                        <div class="input-group-text"><i class="icon-envelope"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputNormal" class="col-sm-2 col-form-label text-right ">Seamless iconic</label>
                            <div class="col-sm-10">
                                <div class="input-group with-addon-icon-left mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="icon-user"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="inputIconic4" placeholder="Username">
                                </div>

                                <div class="input-group with-addon-icon-right">
                                    <input type="email" class="form-control" id="inputIconic3"
                                           placeholder="Email">
                                    <div class="input-group-append">
                                        <div class="input-group-text"><i class="icon-envelope"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword5" class="col-sm-2 col-form-label text-right">Help text</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword5" placeholder="Password">
                                <small id="passwordHelpBlock" class="form-text text-muted  mb-2">
                                    Your password must be 8-20 characters long, contain letters and numbers, and must
                                    not contain spaces, special characters, or emoji.
                                </small>


                                <div class="form-row  align-items-center">
                                    <div class="col-7">
                                        <input type="password" id="inputPassword6" class="form-control"
                                               placeholder="Password" aria-describedby="passwordHelpInline">
                                    </div>
                                    <div class="col">
                                        <small id="passwordHelpInline" class="text-muted">
                                            Must be 8-20 characters long.
                                        </small>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputRequired" class="col-sm-2 col-form-label text-right required-field">Required</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputRequired" placeholder="Required"
                                       required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputRound" class="col-sm-2 col-form-label text-right ">Rounded</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control input-round" id="inputRound"
                                       placeholder="Rounded input">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPopover" class="col-sm-2 col-form-label text-right ">Popover input</label>
                            <div class="col-sm-10">
                                <input type="text" id="inputPopover" class="form-control"
                                       placeholder="Input focus trigger popover" data-html="true" data-container="body"
                                       data-toggle="popover" data-trigger="focus" data-placement="right"
                                       data-content="And here's some amazing content. <b>It's very engaging</b>. Right?"
                                       data-original-title="Popover">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="disabledTextInput" class="col-sm-2 col-form-label text-right ">Disabled</label>
                            <div class="col-sm-10">
                                <input type="text" id="disabledTextInput" class="form-control"
                                       placeholder="Disabled input" disabled>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputDisabledIconic" class="col-sm-2 col-form-label text-right">Disabled
                                Iconic</label>

                            <div class="col-sm-10">
                                <div class="input-group with-addon-icon-right">
                                    <input type="text" class="form-control" id="inputDisabledIconic"
                                           placeholder="Disabled input" disabled>
                                    <div class="input-group-append">
                                        <div class="input-group-text disabled"><i class="icon-envelope"></i></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <label for="inputReadonly" class="col-sm-2 col-form-label text-right">Readonly</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="inputReadonly"
                                       placeholder="Readonly input here…" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputReadonlyIconic" class="col-sm-2 col-form-label text-right">Readonly
                                Iconic</label>
                            <div class="col-sm-10">
                                <div class="input-group with-addon-icon-right">
                                    <input type="text" class="form-control" id="inputReadonlyIconic"
                                           placeholder="Readonly input here…" readonly>
                                    <div class="input-group-append">
                                        <div class="input-group-text readonly"><i class="icon-book-open"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputReadonlyPlain-Text" class="col-sm-2 col-form-label text-right ">Readonly
                                plain text</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="inputReadonlyPlain-Text"
                                       value="email@example.com">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="InputSizing" class="col-sm-2 col-form-label col-form-label-sm text-right ">Sizing</label>
                            <div class="col-sm-10">
                                <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="InputSizing" class="col-sm-2 col-form-label text-right ">Sizing</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" placeholder="Default input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="InputSizing" class="col-sm-2 col-form-label col-form-label-lg text-right ">Sizing</label>
                            <div class="col-sm-10">
                                <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="InputSizing" class="col-sm-2 col-form-label text-right ">Column sizing</label>
                            <div class="col-sm-10">

                                <div class="form-row mb-2">
                                    <div class="col-6">
                                        <input type="text" class="form-control" placeholder="6 Wide">
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" placeholder="6 Wide">
                                    </div>
                                </div>

                                <div class="form-row mb-2">
                                    <div class="col-4">
                                        <input type="text" class="form-control" placeholder="4 Wide">
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control" placeholder="4 Wide">
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control" placeholder="4 Wide">
                                    </div>
                                </div>

                                <div class="form-row mb-2">
                                    <div class="col-2">
                                        <input type="text" class="form-control" placeholder="2 Wide">
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="form-control" placeholder="8 Wide">
                                    </div>
                                    <div class="col-2">
                                        <input type="text" class="form-control" placeholder="2 Wide">
                                    </div>
                                </div>

                                <div class="form-row mb-2">
                                    <div class="col-6">
                                        <input type="text" class="form-control" placeholder="6 Wide">
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control" placeholder="3 Wide">
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control" placeholder="3 Wide">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Input Text Types</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i
                                class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-sm-2 col-form-label text-right ">Email</label>
                            <div class="col-sm-10">
                                <div class="input-group with-addon-icon-left">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="icon-envelope"></i>
                                        </div>
                                    </div>
                                    <input class="form-control" type="email" value="bootstrap@example.com"
                                           placeholder="Email" id="inputEmail">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputURL" class="col-sm-2 col-form-label text-right ">URL</label>
                            <div class="col-sm-10">
                                <div class="input-group with-addon-icon-left">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="icon-link"></i>
                                        </div>
                                    </div>
                                    <input class="form-control" type="url" value="https://getbootstrap.com"
                                           placeholder="URL" id="inputURL">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label text-right ">Password</label>
                            <div class="col-sm-10">
                                <div class="input-group with-addon-icon-left">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="icon-lock"></i>
                                        </div>
                                    </div>
                                    <input class="form-control" type="password" value="password" id="inputPassword">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputNumber" class="col-sm-2 col-form-label text-right ">Number</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="number" value="34" id="inputNumber">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputTelephone" class="col-sm-2 col-form-label text-right ">Telephone</label>
                            <div class="col-sm-10">
                                <div class="input-group with-addon-icon-left">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="icon-phone"></i>
                                        </div>
                                    </div>
                                    <input class="form-control" type="tel" value="1-(555)-555-5555" id="inputTelephone">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputDateTime" class="col-2 col-form-label text-right">Date and time</label>
                            <div class="col-10">
                                <div class="input-group with-addon-icon-left">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="icon-calendar"></i>
                                        </div>
                                    </div>
                                    <input class="form-control" type="datetime-local" id="inputDateTime">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputDate" class="col-2 col-form-label text-right">Date</label>
                            <div class="col-10">
                                <div class="input-group with-addon-icon-left">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="icon-calendar"></i>
                                        </div>
                                    </div>
                                    <input class="form-control" type="date" id="inputDate">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputMonth" class="col-2 col-form-label text-right">Month</label>
                            <div class="col-10">
                                <div class="input-group with-addon-icon-left">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="icon-calendar"></i>
                                        </div>
                                    </div>
                                    <input class="form-control" type="month" id="inputMonth">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputWeek" class="col-2 col-form-label text-right">Week</label>
                            <div class="col-10">
                                <div class="input-group with-addon-icon-left">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="icon-calendar"></i>
                                        </div>
                                    </div>
                                    <input class="form-control" type="week" id="inputWeek">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputTime" class="col-2 col-form-label text-right">Time</label>
                            <div class="col-10">
                                <div class="input-group with-addon-icon-left">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="icon-clock"></i>
                                        </div>
                                    </div>
                                    <input class="form-control" type="time" id="inputTime">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputColor" class="col-2 col-form-label text-right">Color</label>
                            <div class="col-10">
                                <input class="form-control" type="color" value="#555555" id="inputColor"
                                       style="min-height: 40px;">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputRange" class="col-2 col-form-label text-right">Range</label>
                            <div class="col-10">
                                <input type="range" class="form-control" id="inputRange" value="50">
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Textarea</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i
                                class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="textareaNormal">Normal</label>
                            <textarea class="form-control" id="textareaNormal" rows="3"
                                      placeholder="Let us type some lorem ipsum...."></textarea>
                        </div>

                        <div class="form-group">
                            <label for="textareaNormalIconic">Iconic</label>
                            <div class="input-group with-addon-icon-left">
                                <div class="input-group-prepend">
                                    <div class="input-group-text align-items-start"><i class="icon-note"></i></div>
                                </div>
                                <textarea class="form-control" id="textareaNormalIconic" rows="3"
                                          placeholder="Let us type some lorem ipsum...."></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="textareaHeightAutosize">Height Auto Resize</label>
                            <textarea class="form-control" id="textareaHeightAutosize" data-plugin="autosize"
                                      placeholder="Start pressing Enter to see growing..."></textarea>
                        </div>

                        <div class="form-group">
                            <label for="textareaNoResize">No resize</label>
                            <textarea class="form-control textarea-no-resize" id="textareaNoResize" rows="3"
                                      placeholder="Let us type some lorem ipsum...."></textarea>
                        </div>

                        <div class="form-group">
                            <label for="textareaCounter">Character counter</label>
                            <textarea rows="3" class="form-control" data-toggle="counter" id="textareaCounter"
                                      placeholder="Let us type some lorem ipsum...."></textarea>
                            <small class="character-remaining">
                                125 characters left
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="textareaDisabled">Disabled</label>
                            <textarea class="form-control" id="textareaDisabled" placeholder="Disabled textarea"
                                      disabled></textarea>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Select</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i
                                class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group row">
                            <label for="selectNormal" class="col-sm-2 col-form-label text-right">Select</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="selectNormal">
                                    <option value="">Choose One</option>
                                    <option value="1">California</option>
                                    <option value="2">Virginia</option>
                                    <option value="3">Texas</option>
                                    <option value="4">Florida</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="selectMultiple" class="col-sm-2 col-form-label text-right">Multiple
                                select</label>
                            <div class="col-sm-10">
                                <select multiple class="form-control" id="selectMultiple">
                                    <optgroup label="Picnic">
                                        <option>Mustard</option>
                                        <option>Ketchup</option>
                                        <option>Relish</option>
                                    </optgroup>
                                    <optgroup label="Camping">
                                        <option>Tent</option>
                                        <option>Flashlight</option>
                                        <option>Toilet Paper</option>
                                    </optgroup>
                                </select>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="selectDisabled" class="col-sm-2 col-form-label text-right">Disabled</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="selectDisabled" disabled>
                                    <option value="">Choose One</option>
                                    <option value="1">California</option>
                                    <option value="2">Virginia</option>
                                    <option value="3">Texas</option>
                                    <option value="4">Florida</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="selectCustom" class="col-sm-2 col-form-label text-right">Custom select</label>
                            <div class="col-sm-10">
                                <select class="custom-select">
                                    <optgroup label="Picnic">
                                        <option>Mustard</option>
                                        <option>Ketchup</option>
                                        <option>Relish</option>
                                    </optgroup>
                                    <optgroup label="Camping">
                                        <option>Tent</option>
                                        <option>Flashlight</option>
                                        <option>Toilet Paper</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="selectCustomDisabled" class="col-sm-2 col-form-label text-right">Custom select
                                disabled</label>
                            <div class="col-sm-10">
                                <select class="custom-select" disabled>
                                    <optgroup label="Picnic">
                                        <option>Mustard</option>
                                        <option>Ketchup</option>
                                        <option>Relish</option>
                                    </optgroup>
                                    <optgroup label="Camping">
                                        <option>Tent</option>
                                        <option>Flashlight</option>
                                        <option>Toilet Paper</option>
                                    </optgroup>
                                </select>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="selectSizingSmall"
                                   class="col-sm-2 col-form-label col-form-label-sm text-right ">Sizing</label>
                            <div class="col-sm-10">
                                <select class="form-control form-control-sm" id="selectSizingSmall">
                                    <option value="">Choose One</option>
                                    <option value="1">California</option>
                                    <option value="2">Virginia</option>
                                    <option value="3">Texas</option>
                                    <option value="4">Florida</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="selectSizing" class="col-sm-2 col-form-label text-right ">Sizing</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="selectSizing">
                                    <option value="">Choose One</option>
                                    <option value="1">California</option>
                                    <option value="2">Virginia</option>
                                    <option value="3">Texas</option>
                                    <option value="4">Florida</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="selectSizingSmallLarge"
                                   class="col-sm-2 col-form-label col-form-label-lg text-right ">Sizing</label>
                            <div class="col-sm-10">
                                <select class="form-control form-control-lg" id="selectSizingSmallLarge">
                                    <option value="">Choose One</option>
                                    <option value="1">California</option>
                                    <option value="2">Virginia</option>
                                    <option value="3">Texas</option>
                                    <option value="4">Florida</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Checkbox</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i
                                class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label class="col-form-label col-form-label-lg">Default</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Pizza
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" checked>
                                    <label class="form-check-label" for="defaultCheck2">
                                        Pasta
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3"
                                           disabled>
                                    <label class="form-check-label" for="defaultCheck3">
                                        Burgers
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck4" disabled
                                           checked>
                                    <label class="form-check-label" for="defaultCheck4">
                                        Tacos
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="col-form-label col-form-label-lg">Custom</label>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Pizza</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2" checked>
                                    <label class="custom-control-label" for="customCheck2">Pasta</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3" disabled>
                                    <label class="custom-control-label" for="customCheck3">Burgers</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4" disabled
                                           checked>
                                    <label class="custom-control-label" for="customCheck4">Tacos</label>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="col-form-label col-form-label-lg">Custom circled</label>

                                <div class="custom-control custom-checkbox rounded">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1Rounded">
                                    <label class="custom-control-label" for="customCheck1Rounded">Pizza</label>
                                </div>

                                <div class="custom-control custom-checkbox rounded">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2Rounded"
                                           checked>
                                    <label class="custom-control-label" for="customCheck2Rounded">Pasta</label>
                                </div>

                                <div class="custom-control custom-checkbox rounded">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3Rounded"
                                           disabled>
                                    <label class="custom-control-label" for="customCheck3Rounded">Burgers</label>
                                </div>

                                <div class="custom-control custom-checkbox rounded">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4Rounded"
                                           disabled checked>
                                    <label class="custom-control-label" for="customCheck4Rounded">Tacos</label>
                                </div>

                            </div>
                            <div class="form-group col-md-3">
                                <label class="col-form-label col-form-label-lg">Custom right checkbox</label>

                                <div class="custom-control custom-checkbox right-aligned">
                                    <input type="checkbox" class="custom-control-input" id="customCheckRight1">
                                    <label class="custom-control-label" for="customCheckRight1">Pizza</label>
                                </div>

                                <div class="custom-control custom-checkbox right-aligned">
                                    <input type="checkbox" class="custom-control-input" id="customCheckRight2" checked>
                                    <label class="custom-control-label" for="customCheckRight2">Pasta</label>
                                </div>

                                <div class="custom-control custom-checkbox right-aligned">
                                    <input type="checkbox" class="custom-control-input" id="customCheckRight3" disabled>
                                    <label class="custom-control-label" for="customCheckRight3">Burgers</label>
                                </div>

                                <div class="custom-control custom-checkbox right-aligned">
                                    <input type="checkbox" class="custom-control-input" id="customCheckRight4" disabled checked>
                                    <label class="custom-control-label" for="customCheckRight4">Tacos</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">

                                <label class="col-form-label">Default Inline</label> <br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="">
                                    <label class="form-check-label" for="inlineCheckbox1">Pizza</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value=""
                                           checked>
                                    <label class="form-check-label" for="inlineCheckbox2">Pasta</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value=""
                                           disabled>
                                    <label class="form-check-label" for="inlineCheckbox3">Burgers</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value=""
                                           disabled checked>
                                    <label class="form-check-label" for="inlineCheckbox3">Tacos</label>
                                </div>

                            </div>
                            <div class="form-group col-md-6">

                                <label class="col-form-label">Custom Inline</label><br>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="customCheckboxInline1">
                                    <label class="custom-control-label" for="customCheckboxInline1">Pizza</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="customCheckboxInline2"
                                           checked>
                                    <label class="custom-control-label" for="customCheckboxInline2">Pasta</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="customCheckboxInline3"
                                           disabled>
                                    <label class="custom-control-label" for="customCheckboxInline3">Burgers</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="customCheckboxInline4"
                                           disabled checked>
                                    <label class="custom-control-label" for="customCheckboxInline4">Tacos</label>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Radio</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i
                                class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="col-form-label col-form-label-lg">Default</label>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios1"
                                           id="exampleRadios1" value="">
                                    <label class="form-check-label" for="exampleRadios1">
                                        Pizza
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios2"
                                           id="exampleRadios2" value="" checked>
                                    <label class="form-check-label" for="exampleRadios2">
                                        Pasta
                                    </label>
                                </div>
                                <div class="form-check disabled">
                                    <input class="form-check-input" type="radio" name="exampleRadios3"
                                           id="exampleRadios3" value="" disabled>
                                    <label class="form-check-label" for="exampleRadios3">
                                        Burgers
                                    </label>
                                </div>

                                <div class="form-check disabled">
                                    <input class="form-check-input" type="radio" name="exampleRadios4"
                                           id="exampleRadios4" value="" disabled checked>
                                    <label class="form-check-label" for="exampleRadios4">
                                        Checked + disabled
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="col-form-label col-form-label-lg">Custom</label>

                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio1"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">Pizza</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio2"
                                           class="custom-control-input" checked>
                                    <label class="custom-control-label" for="customRadio2">Pasta</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio3" name="customRadio3"
                                           class="custom-control-input" disabled>
                                    <label class="custom-control-label" for="customRadio3">Burgers</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio4" name="customRadio4"
                                           class="custom-control-input" disabled checked>
                                    <label class="custom-control-label" for="customRadio4">Checked + disabled</label>
                                </div>

                            </div>
                            <div class="form-group col-md-4">
                                <label class="col-form-label col-form-label-lg">Custom right radio</label>

                                <div class="custom-control custom-radio right-aligned">
                                    <input type="radio" id="customRadioRight1" name="customRadioRight1"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioRight1">Pizza</label>
                                </div>
                                <div class="custom-control custom-radio right-aligned">
                                    <input type="radio" id="customRadioRight2" name="customRadioRight2"
                                           class="custom-control-input" checked>
                                    <label class="custom-control-label" for="customRadioRight2">Pasta</label>
                                </div>
                                <div class="custom-control custom-radio right-aligned">
                                    <input type="radio" id="customRadioRight3" name="customRadioRight3"
                                           class="custom-control-input" disabled>
                                    <label class="custom-control-label" for="customRadioRight3">Burgers</label>
                                </div>
                                <div class="custom-control custom-radio right-aligned">
                                    <input type="radio" id="customRadioRight4" name="customRadioRight4"
                                           class="custom-control-input" disabled checked>
                                    <label class="custom-control-label" for="customRadioRight4">Checked + disabled</label>
                                </div>

                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">

                                <label class="col-form-label">Default Inline</label> <br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadio1"
                                           id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Pizza</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadio2"
                                           id="inlineRadio2" value="option2" checked>
                                    <label class="form-check-label" for="inlineRadio2">Pasta</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadio3"
                                           id="inlineRadio3" value="option3" disabled>
                                    <label class="form-check-label" for="inlineRadio3">Burgers</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadio4"
                                           id="inlineRadio4" value="option4" disabled checked>
                                    <label class="form-check-label" for="inlineRadio4"> Checked + disabled</label>
                                </div>


                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-form-label">Custom Inline</label><br>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline1">Pizza</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline2" name="customRadioInline2"
                                           class="custom-control-input" checked>
                                    <label class="custom-control-label" for="customRadioInline2">Pasta</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline3" name="customRadioInline3"
                                           class="custom-control-input" disabled>
                                    <label class="custom-control-label" for="customRadioInline3">Burgers</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline4" name="customRadioInline4"
                                           class="custom-control-input" disabled checked>
                                    <label class="custom-control-label" for="customRadioInline4">Checked and
                                        disabled</label>
                                </div>

                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Input group</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i
                                class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group row">
                            <label for="inputGroupPrepended" class="col-sm-2 col-form-label text-right ">Prepended
                                text</label>
                            <div class="col-sm-10">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">@</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                           aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                              id="basic-addon3">https://example.com/users/</span>
                                    </div>
                                    <input type="text" class="form-control" id="basic-url"
                                           aria-describedby="basic-addon3">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputGroupAppended" class="col-sm-2 col-form-label text-right ">Appended
                                text</label>
                            <div class="col-sm-10">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Recipient's username"
                                           aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">@example.com</span>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Minimum"
                                                   aria-label="Minimum">
                                            <div class="input-group-append">
                                                <span class="input-group-text">Units</span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-1  text-center">
                                        <label for="selectSizingSmall" class="col-form-label">To</label>
                                    </div>

                                    <div class="col">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Maximum"
                                                   aria-label="Maximum">
                                            <div class="input-group-append">
                                                <span class="input-group-text">Units</span>
                                            </div>

                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputGroupAppendedAndPrepended" class="col-sm-2 col-form-label text-right ">Appended
                                + Prepended</label>
                            <div class="col-sm-10">
                                <label class="col-form-label col-form-label-sm">Cost</label>

                                <div class="form-row">
                                    <div class="col">
                                        <div class="input-group ">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Minumum"
                                                   aria-label="Amount (to the nearest dollar)">
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1  text-center">
                                        <label for="selectSizingSmall" class="col-form-label">To</label>
                                    </div>

                                    <div class="col">
                                        <div class="input-group ">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Maximum"
                                                   aria-label="Amount (to the nearest dollar)">
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputGroupAppendedAndPrepended" class="col-sm-2 col-form-label text-right ">Appended
                                + Prepended middle</label>
                            <div class="col-sm-10">

                                <div class="form-row">
                                    <div class="col">
                                        <div class="input-group ">
                                            <input type="text" class="input-sm form-control" name="start"
                                                   placeholder="Start Date">
                                            <div class="input-group-prepend input-group-append">
                                                <div class="input-group-text">to</div>
                                            </div>
                                            <input type="text" class="input-sm form-control" name="end"
                                                   placeholder="End Date">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputGroupTextarea"
                                   class="col-sm-2 col-form-label text-right ">Textarea </label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">With textarea</span>
                                    </div>
                                    <textarea class="form-control" rows="3" aria-label="With textarea"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputGroupCheckboxes"
                                   class="col-sm-2 col-form-label text-right ">Checkboxes</label>
                            <div class="col-sm-10">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" aria-label="Checkbox for following text input">
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                                </div>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck11"
                                                       checked>
                                                <label class="custom-control-label" for="customCheck11">Is happy</label>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                                </div>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputGroupRadios" class="col-sm-2 col-form-label text-right ">Radios</label>
                            <div class="col-sm-10">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="radio" aria-label="Radio button for following text input">
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Text input with radio button">
                                </div>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="customRadio11" name="customRadio"
                                                       class="custom-control-input" checked>
                                                <label class="custom-control-label" for="customRadio11">Mr.</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="customRadio12" name="customRadio"
                                                       class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio12">Mrs.</label>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name"
                                           aria-label="Text input with radio button">
                                </div>


                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputGroupMultipleInputs" class="col-sm-2 col-form-label text-right">Multiple
                                inputs</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="">First and last name</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="First name">
                                    <input type="text" class="form-control" placeholder="Last name">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputGroupMultipleAddons" class="col-sm-2 col-form-label text-right ">Multiple
                                addons</label>
                            <div class="col-sm-10">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                        <span class="input-group-text">0.00</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Discounted price"
                                           aria-label="Amount (to the nearest dollar)">
                                </div>

                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Discounted price"
                                           aria-label="Amount (to the nearest dollar)">
                                    <div class="input-group-append">
                                        <span class="input-group-text">$</span>
                                        <span class="input-group-text">0.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputGroupButtonAddons" class="col-sm-2 col-form-label text-right">Button
                                addons</label>
                            <div class="col-sm-10">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-secondary" type="button">GO</button>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Search for.." aria-label=""
                                           aria-describedby="basic-addon1">
                                </div>


                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                                           aria-describedby="basic-addon3">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-primary">
                                            <i class="icon-magnifier"></i>Search
                                        </button>
                                    </div>
                                </div>


                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-success">
                                            <i class="icon-check"></i>Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputGroupButtonAddons" class="col-sm-2 col-form-label text-right">Multiple
                                Button</label>
                            <div class="col-sm-10">

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn  btn-icon  btn-primary" type="button"><i
                                                class="fas fa-bold"></i>
                                        </button>
                                        <button class="btn  btn-icon  btn-secondary" type="button"><i
                                                class="fas fa-italic"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control" placeholder="" aria-label=""
                                           aria-describedby="basic-addon1">
                                </div>

                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button"><i class="fa fa-edit"></i>Edit
                                        </button>
                                        <button class="btn btn-secondary" type="button"><i class="icon-check"></i>Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputGroupButtonAddons" class="col-sm-2 col-form-label text-right">Buttons with
                                dropdowns</label>
                            <div class="col-sm-10">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon-menu"></i>
                                        </button>
                                        <div class="dropdown-menu extended">
                                            <a class="dropdown-item" href="#">Insert table</a>
                                            <a class="dropdown-item" href="#">Add row above</a>
                                            <a class="dropdown-item" href="#">Add row below</a>
                                            <div role="separator" class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Delete</a>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control"
                                           aria-label="Text input with dropdown button">
                                </div>

                                <div class="input-group">
                                    <input type="text" class="form-control"
                                           aria-label="Text input with dropdown button">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon-menu"></i>
                                        </button>
                                        <div class="dropdown-menu extended">
                                            <a class="dropdown-item" href="#">Insert table</a>
                                            <a class="dropdown-item" href="#">Add row above</a>
                                            <a class="dropdown-item" href="#">Add row below</a>
                                            <div role="separator" class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputGroupButtonAddons" class="col-sm-2 col-form-label text-right">Sgemented
                                buttons</label>
                            <div class="col-sm-10">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button type="button" class="btn btn-outline-secondary">Action</button>
                                        <button type="button"
                                                class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu extended">
                                            <a class="dropdown-item" href="#">Insert table</a>
                                            <a class="dropdown-item" href="#">Add row above</a>
                                            <a class="dropdown-item" href="#">Add row below</a>
                                            <div role="separator" class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Delete</a>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control"
                                           aria-label="Text input with segmented dropdown button">
                                </div>

                                <div class="input-group">
                                    <input type="text" class="form-control"
                                           aria-label="Text input with segmented dropdown button">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary">Action</button>
                                        <button type="button"
                                                class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu extended">
                                            <a class="dropdown-item" href="#">Insert table</a>
                                            <a class="dropdown-item" href="#">Add row above</a>
                                            <a class="dropdown-item" href="#">Add row below</a>
                                            <div role="separator" class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputGroupButtonAddons" class="col-sm-2 col-form-label text-right">Custom
                                select</label>
                            <div class="col-sm-10">

                                <div class="form-row mb-3">
                                    <div class="col-6">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Amount" aria-label="Amount"
                                                   type="text">
                                            <div class="input-group-append">
                                                <select class="custom-select">
                                                    <option selected>GBP</option>
                                                    <option value="1">USD</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group">

                                            <div class="input-group-prepend">
                                                <select class="custom-select">
                                                    <option selected>GBP</option>
                                                    <option value="1">USD</option>
                                                </select>
                                            </div>

                                            <input class="form-control" placeholder="Amount" aria-label="Amount"
                                                   type="text">
                                        </div>
                                    </div>
                                </div>


                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Options</label>
                                    </div>
                                    <select class="custom-select" id="inputGroupSelect01">
                                        <option selected>Choose...</option>
                                        <option value="1">California</option>
                                        <option value="2">Virginia</option>
                                        <option value="3">Texas</option>
                                        <option value="4">Florida</option>
                                    </select>
                                </div>

                                <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelect02">
                                        <option selected>Choose...</option>
                                        <option value="1">California</option>
                                        <option value="2">Virginia</option>
                                        <option value="3">Texas</option>
                                        <option value="4">Florida</option>
                                    </select>
                                    <div class="input-group-append">
                                        <label class="input-group-text" for="inputGroupSelect02">Options</label>
                                    </div>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-secondary" type="button">Button</button>
                                    </div>
                                    <select class="custom-select" id="inputGroupSelect03">
                                        <option selected>Choose...</option>
                                        <option value="1">California</option>
                                        <option value="2">Virginia</option>
                                        <option value="3">Texas</option>
                                        <option value="4">Florida</option>
                                    </select>
                                </div>

                                <div class="input-group">
                                    <select class="custom-select" id="inputGroupSelect04">
                                        <option selected>Choose...</option>
                                        <option value="1">California</option>
                                        <option value="2">Virginia</option>
                                        <option value="3">Texas</option>
                                        <option value="4">Florida</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button">Button</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputGroupSizingSmall"
                                   class="col-sm-2 col-form-label col-form-label-sm text-right ">Sizing</label>
                            <div class="col-sm-10">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Small"
                                           aria-describedby="inputGroup-sizing-sm">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputGroupSizingDefault"
                                   class="col-sm-2 col-form-label text-right ">Sizing</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default"
                                           aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputGroupSizingLarge"
                                   class="col-sm-2 col-form-label col-form-label-lg text-right ">Sizing</label>
                            <div class="col-sm-10">
                                <div class="input-group input-group-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Large"
                                           aria-describedby="inputGroup-sizing-sm">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">File upload</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i
                                class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group row">
                            <label for="inputGroupFileBasic" class="col-sm-2 col-form-label text-right ">Basic</label>
                            <div class="col-sm-10">
                                <input type="file" class="form-control-file" id="inputGroupFileBasic">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputGroupFileCustom" class="col-sm-2 col-form-label text-right ">Custom</label>
                            <div class="col-sm-10">

                                <div class="custom-file mb-3">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-cloud-upload"></i></span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile02">
                                        <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="icon-cloud-upload"></i></span>
                                    </div>
                                </div>

                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile04">
                                        <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button"><i class="icon-cloud-upload"></i>
                                            Upload
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputGroupFileSizingSmall"
                                   class="col-sm-2 col-form-label col-form-label-sm text-right ">Sizing</label>
                            <div class="col-sm-10">
                                <div class="custom-file custom-file-sm">
                                    <input type="file" class="custom-file-input" id="customFile1">
                                    <label class="custom-file-label" for="customFile1">Choose file</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputGroupFileSizingDefault"
                                   class="col-sm-2 col-form-label text-right ">Sizing</label>
                            <div class="col-sm-10">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile2">
                                    <label class="custom-file-label" for="customFile2">Choose file</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputGroupFileSizingLarge"
                                   class="col-sm-2 col-form-label col-form-label-lg text-right ">Sizing</label>
                            <div class="col-sm-10">
                                <div class="custom-file custom-file-lg">
                                    <input type="file" class="custom-file-input" id="customFile3">
                                    <label class="custom-file-label" for="customFile3">Choose file</label>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>