---
title: "Form Wizard"
subtitle: Component which allows you to easily create wizard-like interfaces.
forms: true
posted: 2018-02-23
---

{{!--https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/documentation/documentation-form-wizard.html--}}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Circle wizard</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i
                                class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <form action="#" id="circle-form-wizard">

                        <!-- Account -->
                        <h3>Account
                            <small class="text-muted">Enter your basic information</small>
                        </h3>
                        <div class="progress progress-lg mx-3 mt-3">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <section>
                            <h3 class="d-flex mb-3">Account Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="username-eg5">Username</label>
                                        <input type="text" class="form-control" id="username-eg5" placeholder="Username" name="username">
                                    </div>
                                    <div class="form-group">
                                        <label for="emailAddress-eg5">Email Address</label>
                                        <input type="email" class="form-control" id="emailAddress-eg5" name="email" placeholder="Email Address">
                                        <small id="emailHelp-eg5" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password-eg5">Password</label>
                                        <input type="password" class="form-control" name="password" id="password-eg5" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword-eg5">Confirm Password</label>
                                        <input type="password" class="form-control" name="confirm" id="confirmPassword-eg5" placeholder="Password">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="agree-eg5" name="agree">
                                        <label class="custom-control-label" for="agree-eg5">I agree to the Terms and Conditions</label>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Shipping -->
                        <h3>Shipping
                            <small class="text-muted">Enter your delivery details</small>
                        </h3>
                        <section>
                            <h3 class="d-flex mb-3">Shipping Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstName-eg5">First Name</label>
                                        <input type="text" class="form-control" id="firstName-eg5" name="firstname" placeholder="First Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName-eg5">Last Name</label>
                                        <input type="text" class="form-control" id="lastName-eg5" name="lastname" placeholder="Last Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="phoneNumber-eg5">Phone Number</label>
                                        <input type="tel" class="form-control" id="phoneNumber-eg5" name="phonenumber" placeholder="Phone Number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-row">
                                        <div class="form-group col-md-9">
                                            <label for="billingAddress-eg5">Billing Address</label>
                                            <input type="text" class="form-control" id="billingAddress-eg5" placeholder="Billing Address">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="zipCode-eg5">Zip Code</label>
                                            <input type="text" class="form-control" id="zipCode-eg5" placeholder="Zip Code">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="state-eg5">State</label>
                                        <select class="form-control" id="state-eg5" name="state">
                                            <option value="" disabled="" selected="">Select</option>
                                            <option value="1">California</option>
                                            <option value="2">Virginia</option>
                                            <option value="3">Texas</option>
                                            <option value="4">Florida</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="country-eg5">Country</label>
                                        <select class="form-control" id="country-eg5" name="country">
                                            <option value="" disabled="" selected="">Select</option>
                                            <option value="1">USA</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </section>

                        <!-- Payment -->
                        <h3>Payment
                            <small class="text-muted">Enter your credit card details</small>
                        </h3>
                        <section>
                            <h3 class="d-flex mb-3">Payment Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cardType-eg5">Card Type</label>
                                        <select class="form-control" id="cardType-eg5" name="cardtype">
                                            <option value="" disabled="" selected="">Select credit card type</option>
                                            <option value="1">Visa</option>
                                            <option value="2">American Express</option>
                                            <option value="3">Discover</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="cardHolderName-eg5">Card Holder Name</label>
                                        <input type="text" class="form-control" id="cardHolderName-eg5" placeholder="Card Holder Name" name="card-holder-name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cardNumber-eg5">Card Number</label>
                                        <input type="text" class="form-control" id="cardNumber-eg5" placeholder="Card #" name="card-number">
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="cardCVC-eg5">CVC</label>
                                            <input type="text" class="form-control" id="cardCVC-eg5" placeholder="CVC" name="cvc">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="expiryMonth-eg5">Expiry Month</label>
                                            <select id="expiryMonth-eg5" class="form-control" name="exp-month">
                                                <option value="" disabled="" selected=""> Month</option>
                                                <option value="01">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="05">05</option>
                                                <option value="06">06</option>
                                                <option value="07">07</option>
                                                <option value="08">08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label for="expiryYear-eg5">Expiry Year</label>
                                            <select id="expiryYear-eg5" class="form-control" name="exp-year">
                                                <option value="" disabled="" selected="">Year</option>
                                                <option value="2018">2018</option>
                                                <option value="2019">2019</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                                <option value="2022">2022</option>
                                                <option value="2023">2023</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Receipt -->
                        <h3>Receipt
                            <small class="text-muted">Receive your receipt</small>
                        </h3>
                        <section>
                            <h3 class="d-flex mb-3">Receipt Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="sendReceiptHelpBlock-eg5">Send Receipt To:</label>
                                        <small id="sendReceiptHelpBlock-eg5" class="form-text text-muted mb-1">
                                            Enter email address separated by commas.
                                        </small>
                                        <input type="text" class="form-control" id="sendReceipt-eg5" placeholder="">
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck-eg5">
                                        <label class="custom-control-label" for="customCheck-eg5">Do not include a receipt in the package</label>
                                    </div>
                                </div>
                            </div>
                        </section>


                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Circle Wizard with validation example</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i
                                class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <form action="#" id="circle-form-wizard-validation">
                        <!-- Account -->
                        <h3>Account
                            <small class="text-muted">Enter your basic information</small>
                        </h3>
                        <div class="progress progress-lg mx-3 mt-3">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <section>
                            <h3 class="d-flex mb-3">Account Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="username-eg3" class="required-field">Username</label>
                                        <input type="text" class="form-control required" id="username-eg3" placeholder="Username" name="username">
                                    </div>
                                    <div class="form-group">
                                        <label for="emailAddress-eg3" class="required-field">Email Address</label>
                                        <input type="email" class="form-control required" id="emailAddress-eg3" name="email" placeholder="Email Address">
                                        <small id="emailHelp-eg3" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password-eg3" class="required-field">Password</label>
                                        <input type="password" class="form-control required" name="password" id="password-eg3" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword-eg3" class="required-field">Confirm Password</label>
                                        <input type="password" class="form-control required" name="confirm" id="confirmPassword-eg3" placeholder="Password">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input required" id="agree-eg3" name="agree">
                                        <label class="custom-control-label" for="agree-eg3">I agree to the Terms and Conditions<span class="required-field"></span></label>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Shipping -->
                        <h3>Shipping
                            <small class="text-muted">Enter your delivery details</small>
                        </h3>
                        <section>
                            <h3 class="d-flex mb-3">Shipping Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstName-eg3" class="required-field">First Name</label>
                                        <input type="text" class="form-control required" id="firstName-eg3" name="firstname" placeholder="First Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName-eg3">Last Name</label>
                                        <input type="text" class="form-control" id="lastName-eg3" name="lastname" placeholder="Last Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="phoneNumber-eg3">Phone Number</label>
                                        <input type="tel" class="form-control" id="phoneNumber-eg3" name="phonenumber" placeholder="Phone Number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-row">
                                        <div class="form-group col-md-9">
                                            <label for="billingAddress-eg3">Billing Address</label>
                                            <input type="text" class="form-control" id="billingAddress-eg3" placeholder="Billing Address">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="zipCode-eg3">Zip Code</label>
                                            <input type="text" class="form-control" id="zipCode-eg3" placeholder="Zip Code">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="state-eg3" class="required-field">State</label>
                                        <select class="form-control required" id="state-eg3" name="state">
                                            <option value="" disabled="" selected="">Select</option>
                                            <option value="1">California</option>
                                            <option value="2">Virginia</option>
                                            <option value="3">Texas</option>
                                            <option value="4">Florida</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="country-eg3" class="required-field">Country</label>
                                        <select class="form-control required" id="country-eg3" name="country">
                                            <option value="" disabled="" selected="">Select</option>
                                            <option value="1">USA</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </section>

                        <!-- Payment -->
                        <h3>Payment
                            <small class="text-muted">Enter your credit card details</small>
                        </h3>
                        <section>
                            <h3 class="d-flex mb-3">Payment Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cardType-eg3" class="required-field">Card Type</label>
                                        <select class="form-control required" id="cardType-eg3" name="cardtype">
                                            <option value="" disabled="" selected="">Select credit card type</option>
                                            <option value="1">Visa</option>
                                            <option value="2">American Express</option>
                                            <option value="3">Discover</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="cardHolderName-eg3" class="required-field">Card Holder Name</label>
                                        <input type="text" class="form-control required" id="cardHolderName-eg3" placeholder="Card Holder Name" name="card-holder-name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cardNumber-eg3" class="required-field">Card Number</label>
                                        <input type="text" class="form-control required" id="cardNumber-eg3" placeholder="Card #" name="card-number">
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="cardCVC-eg3" class="required-field">CVC</label>
                                            <input type="text" class="form-control required" id="cardCVC-eg3" placeholder="CVC" name="cvc">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="expiryMonth-eg3" class="required-field">Expiry Month</label>
                                            <select id="expiryMonth-eg3" class="form-control required" name="exp-month">
                                                <option value="" disabled="" selected=""> Month</option>
                                                <option value="01">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="05">05</option>
                                                <option value="06">06</option>
                                                <option value="07">07</option>
                                                <option value="08">08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label for="expiryYear-eg3" class="required-field">Expiry Year</label>
                                            <select id="expiryYear-eg3" class="form-control required" name="exp-year">
                                                <option value="" disabled="" selected="">Year</option>
                                                <option value="2018">2018</option>
                                                <option value="2019">2019</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                                <option value="2022">2022</option>
                                                <option value="2023">2023</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Receipt -->
                        <h3>Receipt
                            <small class="text-muted">Receive your receipt</small>
                        </h3>
                        <section>
                            <h3 class="d-flex mb-3">Receipt Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="sendReceiptHelpBlock-eg3">Send Receipt To:</label>
                                        <small id="sendReceiptHelpBlock-eg3" class="form-text text-muted mb-1">
                                            Enter email address separated by commas.
                                        </small>
                                        <input type="text" class="form-control" id="sendReceipt-eg3" placeholder="">
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck-eg3">
                                        <label class="custom-control-label" for="customCheck-eg3">Do not include a receipt in the package</label>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Circle vertical wizard</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i
                                class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <form action="#" id="circle-form-wizard-vertical">
                        <!-- Account -->
                        <h3>Account
                            <small class="text-muted">Enter your basic information</small>
                        </h3>
                        <div class="progress progress-lg mx-3 mt-3">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <section>
                            <h3 class="d-flex mb-3">Account Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="username-eg4">Username</label>
                                        <input type="text" class="form-control" id="username-eg4" placeholder="Username" name="username">
                                    </div>
                                    <div class="form-group">
                                        <label for="emailAddress-eg4">Email Address</label>
                                        <input type="email" class="form-control" id="emailAddress-eg4" name="email" placeholder="Email Address">
                                        <small id="emailHelp-eg4" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password-eg4">Password</label>
                                        <input type="password" class="form-control" name="password" id="password-eg4" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword-eg4">Confirm Password</label>
                                        <input type="password" class="form-control" name="confirm" id="confirmPassword-eg4" placeholder="Password">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="agree-eg4" name="agree">
                                        <label class="custom-control-label" for="agree-eg4">I agree to the Terms and Conditions</label>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Shipping -->
                        <h3>Shipping
                            <small class="text-muted">Enter your delivery details</small>
                        </h3>
                        <section>
                            <h3 class="d-flex mb-3">Shipping Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstName-eg4">First Name</label>
                                        <input type="text" class="form-control" id="firstName-eg4" name="firstname" placeholder="First Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName-eg4">Last Name</label>
                                        <input type="text" class="form-control" id="lastName-eg4" name="lastname" placeholder="Last Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="phoneNumber-eg4">Phone Number</label>
                                        <input type="tel" class="form-control" id="phoneNumber-eg4" name="phonenumber" placeholder="Phone Number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-row">
                                        <div class="form-group col-md-9">
                                            <label for="billingAddress-eg4">Billing Address</label>
                                            <input type="text" class="form-control" id="billingAddress-eg4" placeholder="Billing Address">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="zipCode-eg4">Zip Code</label>
                                            <input type="text" class="form-control" id="zipCode-eg4" placeholder="Zip Code">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="state-eg4">State</label>
                                        <select class="form-control" id="state-eg4" name="state">
                                            <option value="" disabled="" selected="">Select</option>
                                            <option value="1">California</option>
                                            <option value="2">Virginia</option>
                                            <option value="3">Texas</option>
                                            <option value="4">Florida</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="country-eg4">Country</label>
                                        <select class="form-control" id="country-eg4" name="country">
                                            <option value="" disabled="" selected="">Select</option>
                                            <option value="1">USA</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </section>

                        <!-- Payment -->
                        <h3>Payment
                            <small class="text-muted">Enter your credit card details</small>
                        </h3>
                        <section>
                            <h3 class="d-flex mb-3">Payment Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cardType-eg4">Card Type</label>
                                        <select class="form-control" id="cardType-eg4" name="cardtype">
                                            <option value="" disabled="" selected="">Select credit card type</option>
                                            <option value="1">Visa</option>
                                            <option value="2">American Express</option>
                                            <option value="3">Discover</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="cardHolderName-eg4">Card Holder Name</label>
                                        <input type="text" class="form-control" id="cardHolderName-eg4" placeholder="Card Holder Name" name="card-holder-name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cardNumber-eg4">Card Number</label>
                                        <input type="text" class="form-control" id="cardNumber-eg4" placeholder="Card #" name="card-number">
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="cardCVC-eg4">CVC</label>
                                            <input type="text" class="form-control" id="cardCVC-eg4" placeholder="CVC" name="cvc">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="expiryMonth-eg4">Expiry Month</label>
                                            <select id="expiryMonth-eg4" class="form-control" name="exp-month">
                                                <option value="" disabled="" selected=""> Month</option>
                                                <option value="01">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="05">05</option>
                                                <option value="06">06</option>
                                                <option value="07">07</option>
                                                <option value="08">08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label for="expiryYear-eg4">Expiry Year</label>
                                            <select id="expiryYear-eg4" class="form-control" name="exp-year">
                                                <option value="" disabled="" selected="">Year</option>
                                                <option value="2018">2018</option>
                                                <option value="2019">2019</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                                <option value="2022">2022</option>
                                                <option value="2023">2023</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Receipt -->
                        <h3>Receipt
                            <small class="text-muted">Receive your receipt</small>
                        </h3>
                        <section>
                            <h3 class="d-flex mb-3">Receipt Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="sendReceiptHelpBlock-eg4">Send Receipt To:</label>
                                        <small id="sendReceiptHelpBlock-eg4" class="form-text text-muted mb-1">
                                            Enter email address separated by commas.
                                        </small>
                                        <input type="text" class="form-control" id="sendReceipt-eg4" placeholder="">
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck-eg4">
                                        <label class="custom-control-label" for="customCheck-eg4">Do not include a receipt in the package</label>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Arrow Wizard</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i
                                class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <form action="#" id="arrow-form-wizard">
                        <!-- Account -->
                        <h3>Account</h3>
                        <div class="progress progress-lg mx-3 mt-3">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <section>
                            <h3 class="d-flex mb-3">Account Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="username-eg6">Username</label>
                                        <input type="text" class="form-control" id="username-eg6" placeholder="Username" name="username">
                                    </div>
                                    <div class="form-group">
                                        <label for="emailAddress-eg6">Email Address</label>
                                        <input type="email" class="form-control" id="emailAddress-eg6" name="email" placeholder="Email Address">
                                        <small id="emailHelp-eg6" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password-eg6">Password</label>
                                        <input type="password" class="form-control" name="password" id="password-eg6" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword-eg6">Confirm Password</label>
                                        <input type="password" class="form-control" name="confirm" id="confirmPassword-eg6" placeholder="Password">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="agree-eg6" name="agree">
                                        <label class="custom-control-label" for="agree-eg6">I agree to the Terms and Conditions</label>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Shipping -->
                        <h3>Shipping</h3>
                        <section>
                            <h3 class="d-flex mb-3">Shipping Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstName-eg6">First Name</label>
                                        <input type="text" class="form-control" id="firstName-eg6" name="firstname" placeholder="First Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName-eg6">Last Name</label>
                                        <input type="text" class="form-control" id="lastName-eg6" name="lastname" placeholder="Last Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="phoneNumber-eg6">Phone Number</label>
                                        <input type="tel" class="form-control" id="phoneNumber-eg6" name="phonenumber" placeholder="Phone Number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-row">
                                        <div class="form-group col-md-9">
                                            <label for="billingAddress-eg6">Billing Address</label>
                                            <input type="text" class="form-control" id="billingAddress-eg6" placeholder="Billing Address">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="zipCode-eg6">Zip Code</label>
                                            <input type="text" class="form-control" id="zipCode-eg6" placeholder="Zip Code">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="state-eg6">State</label>
                                        <select class="form-control" id="state-eg6" name="state">
                                            <option value="" disabled="" selected="">Select</option>
                                            <option value="1">California</option>
                                            <option value="2">Virginia</option>
                                            <option value="3">Texas</option>
                                            <option value="4">Florida</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="country-eg6">Country</label>
                                        <select class="form-control" id="country-eg6" name="country">
                                            <option value="" disabled="" selected="">Select</option>
                                            <option value="1">USA</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </section>

                        <!-- Payment -->
                        <h3>Payment</h3>
                        <section>
                            <h3 class="d-flex mb-3">Payment Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cardType-eg6">Card Type</label>
                                        <select class="form-control" id="cardType-eg6" name="cardtype">
                                            <option value="" disabled="" selected="">Select credit card type</option>
                                            <option value="1">Visa</option>
                                            <option value="2">American Express</option>
                                            <option value="3">Discover</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="cardHolderName-eg6">Card Holder Name</label>
                                        <input type="text" class="form-control" id="cardHolderName-eg6" placeholder="Card Holder Name" name="card-holder-name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cardNumber-eg6">Card Number</label>
                                        <input type="text" class="form-control" id="cardNumber-eg6" placeholder="Card #" name="card-number">
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="cardCVC-eg6">CVC</label>
                                            <input type="text" class="form-control" id="cardCVC-eg6" placeholder="CVC" name="cvc">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="expiryMonth-eg6">Expiry Month</label>
                                            <select id="expiryMonth-eg6" class="form-control" name="exp-month">
                                                <option value="" disabled="" selected=""> Month</option>
                                                <option value="01">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="05">05</option>
                                                <option value="06">06</option>
                                                <option value="07">07</option>
                                                <option value="08">08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label for="expiryYear-eg6">Expiry Year</label>
                                            <select id="expiryYear-eg6" class="form-control" name="exp-year">
                                                <option value="" disabled="" selected="">Year</option>
                                                <option value="2018">2018</option>
                                                <option value="2019">2019</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                                <option value="2022">2022</option>
                                                <option value="2023">2023</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Receipt -->
                        <h3>Receipt</h3>
                        <section>
                            <h3 class="d-flex mb-3">Receipt Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="sendReceiptHelpBlock-eg6">Send Receipt To:</label>
                                        <small id="sendReceiptHelpBlock-eg6" class="form-text text-muted mb-1">
                                            Enter email address separated by commas.
                                        </small>
                                        <input type="text" class="form-control" id="sendReceipt-eg6" placeholder="">
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck-eg6">
                                        <label class="custom-control-label" for="customCheck-eg6">Do not include a receipt in the package</label>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Arrow vertical wizard</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i
                                class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <form action="#" id="arrow-form-wizard-vertical">
                        <!-- Account -->
                        <h3>Account</h3>
                        <div class="progress progress-lg mx-3 mt-3">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <section>
                            <h3 class="d-flex mb-3">Account Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="username-eg7">Username</label>
                                        <input type="text" class="form-control" id="username-eg7" placeholder="Username" name="username">
                                    </div>
                                    <div class="form-group">
                                        <label for="emailAddress-eg7">Email Address</label>
                                        <input type="email" class="form-control" id="emailAddress-eg7" name="email" placeholder="Email Address">
                                        <small id="emailHelp-eg7" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password-eg7">Password</label>
                                        <input type="password" class="form-control" name="password" id="password-eg7" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword-eg7">Confirm Password</label>
                                        <input type="password" class="form-control" name="confirm" id="confirmPassword-eg7" placeholder="Password">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="agree-eg7" name="agree">
                                        <label class="custom-control-label" for="agree-eg7">I agree to the Terms and Conditions</label>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Shipping -->
                        <h3>Shipping</h3>
                        <section>
                            <h3 class="d-flex mb-3">Shipping Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstName-eg7">First Name</label>
                                        <input type="text" class="form-control" id="firstName-eg7" name="firstname" placeholder="First Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName-eg7">Last Name</label>
                                        <input type="text" class="form-control" id="lastName-eg7" name="lastname" placeholder="Last Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="phoneNumber-eg7">Phone Number</label>
                                        <input type="tel" class="form-control" id="phoneNumber-eg7" name="phonenumber" placeholder="Phone Number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-row">
                                        <div class="form-group col-md-9">
                                            <label for="billingAddress-eg7">Billing Address</label>
                                            <input type="text" class="form-control" id="billingAddress-eg7" placeholder="Billing Address">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="zipCode-eg7">Zip Code</label>
                                            <input type="text" class="form-control" id="zipCode-eg7" placeholder="Zip Code">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="state-eg7">State</label>
                                        <select class="form-control" id="state-eg7" name="state">
                                            <option value="" disabled="" selected="">Select</option>
                                            <option value="1">California</option>
                                            <option value="2">Virginia</option>
                                            <option value="3">Texas</option>
                                            <option value="4">Florida</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="country-eg7">Country</label>
                                        <select class="form-control" id="country-eg7" name="country">
                                            <option value="" disabled="" selected="">Select</option>
                                            <option value="1">USA</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </section>

                        <!-- Payment -->
                        <h3>Payment</h3>
                        <section>
                            <h3 class="d-flex mb-3">Payment Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cardType-eg7">Card Type</label>
                                        <select class="form-control" id="cardType-eg7" name="cardtype">
                                            <option value="" disabled="" selected="">Select credit card type</option>
                                            <option value="1">Visa</option>
                                            <option value="2">American Express</option>
                                            <option value="3">Discover</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="cardHolderName-eg7">Card Holder Name</label>
                                        <input type="text" class="form-control" id="cardHolderName-eg7" placeholder="Card Holder Name" name="card-holder-name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cardNumber-eg7">Card Number</label>
                                        <input type="text" class="form-control" id="cardNumber-eg7" placeholder="Card #" name="card-number">
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="cardCVC-eg7">CVC</label>
                                            <input type="text" class="form-control" id="cardCVC-eg7" placeholder="CVC" name="cvc">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="expiryMonth-eg7">Expiry Month</label>
                                            <select id="expiryMonth-eg7" class="form-control" name="exp-month">
                                                <option value="" disabled="" selected=""> Month</option>
                                                <option value="01">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="05">05</option>
                                                <option value="06">06</option>
                                                <option value="07">07</option>
                                                <option value="08">08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label for="expiryYear-eg7">Expiry Year</label>
                                            <select id="expiryYear-eg7" class="form-control" name="exp-year">
                                                <option value="" disabled="" selected="">Year</option>
                                                <option value="2018">2018</option>
                                                <option value="2019">2019</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                                <option value="2022">2022</option>
                                                <option value="2023">2023</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Receipt -->
                        <h3>Receipt</h3>
                        <section>
                            <h3 class="d-flex mb-3">Receipt Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="sendReceiptHelpBlock-eg7">Send Receipt To:</label>
                                        <small id="sendReceiptHelpBlock-eg7" class="form-text text-muted mb-1">
                                            Enter email address separated by commas.
                                        </small>
                                        <input type="text" class="form-control" id="sendReceipt-eg7" placeholder="">
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck-eg7">
                                        <label class="custom-control-label" for="customCheck-eg7">Do not include a receipt in the package</label>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Pills Wizard</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i
                                class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <form action="#" id="pills-form-wizard">
                        <!-- Account -->
                        <h3>Account</h3>
                        <div class="progress progress-lg mx-3 mt-3">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <section>
                            <h3 class="d-flex mb-3">Account Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="username-eg1">Username</label>
                                        <input type="text" class="form-control" id="username-eg1" placeholder="Username" name="username">
                                    </div>
                                    <div class="form-group">
                                        <label for="emailAddress-eg1">Email Address</label>
                                        <input type="email" class="form-control" id="emailAddress-eg1" name="email" placeholder="Email Address">
                                        <small id="emailHelp-eg1" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password-eg1">Password</label>
                                        <input type="password" class="form-control" name="password" id="password-eg1" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword-eg1">Confirm Password</label>
                                        <input type="password" class="form-control" name="confirm" id="confirmPassword-eg1" placeholder="Password">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="agree-eg1" name="agree">
                                        <label class="custom-control-label" for="agree-eg1">I agree to the Terms and Conditions</label>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Shipping -->
                        <h3>Shipping</h3>
                        <section>
                            <h3 class="d-flex mb-3">Shipping Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstName-eg1">First Name</label>
                                        <input type="text" class="form-control" id="firstName-eg1" name="firstname" placeholder="First Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName-eg1">Last Name</label>
                                        <input type="text" class="form-control" id="lastName-eg1" name="lastname" placeholder="Last Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="phoneNumber-eg1">Phone Number</label>
                                        <input type="tel" class="form-control" id="phoneNumber-eg1" name="phonenumber" placeholder="Phone Number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-row">
                                        <div class="form-group col-md-9">
                                            <label for="billingAddress-eg1">Billing Address</label>
                                            <input type="text" class="form-control" id="billingAddress-eg1" placeholder="Billing Address">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="zipCode-eg1">Zip Code</label>
                                            <input type="text" class="form-control" id="zipCode-eg1" placeholder="Zip Code">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="state-eg1">State</label>
                                        <select class="form-control" id="state-eg1" name="state">
                                            <option value="" disabled="" selected="">Select</option>
                                            <option value="1">California</option>
                                            <option value="2">Virginia</option>
                                            <option value="3">Texas</option>
                                            <option value="4">Florida</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="country-eg1">Country</label>
                                        <select class="form-control" id="country-eg1" name="country">
                                            <option value="" disabled="" selected="">Select</option>
                                            <option value="1">USA</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </section>

                        <!-- Payment -->
                        <h3>Payment</h3>
                        <section>
                            <h3 class="d-flex mb-3">Payment Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cardType-eg1">Card Type</label>
                                        <select class="form-control" id="cardType-eg1" name="cardtype">
                                            <option value="" disabled="" selected="">Select credit card type</option>
                                            <option value="1">Visa</option>
                                            <option value="2">American Express</option>
                                            <option value="3">Discover</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="cardHolderName-eg1">Card Holder Name</label>
                                        <input type="text" class="form-control" id="cardHolderName-eg1" placeholder="Card Holder Name" name="card-holder-name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cardNumber-eg1">Card Number</label>
                                        <input type="text" class="form-control" id="cardNumber-eg1" placeholder="Card #" name="card-number">
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="cardCVC-eg1">CVC</label>
                                            <input type="text" class="form-control" id="cardCVC-eg1" placeholder="CVC" name="cvc">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="expiryMonth-eg1">Expiry Month</label>
                                            <select id="expiryMonth-eg1" class="form-control" name="exp-month">
                                                <option value="" disabled="" selected=""> Month</option>
                                                <option value="01">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="05">05</option>
                                                <option value="06">06</option>
                                                <option value="07">07</option>
                                                <option value="08">08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label for="expiryYear-eg1">Expiry Year</label>
                                            <select id="expiryYear-eg1" class="form-control" name="exp-year">
                                                <option value="" disabled="" selected="">Year</option>
                                                <option value="2018">2018</option>
                                                <option value="2019">2019</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                                <option value="2022">2022</option>
                                                <option value="2023">2023</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Receipt -->
                        <h3>Receipt</h3>
                        <section>
                            <h3 class="d-flex mb-3">Receipt Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="sendReceiptHelpBlock-eg1">Send Receipt To:</label>
                                        <small id="sendReceiptHelpBlock-eg1" class="form-text text-muted mb-1">
                                            Enter email address separated by commas.
                                        </small>
                                        <input type="text" class="form-control" id="sendReceipt-eg1" placeholder="">
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck-eg1">
                                        <label class="custom-control-label" for="customCheck-eg1">Do not include a receipt in the package</label>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Pills vertical wizard</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i
                                class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <form action="#" id="pills-form-wizard-vertical">
                        <!-- Account -->
                        <h3>Account</h3>
                        <div class="progress progress-lg mx-3 mt-3">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <section>
                            <h3 class="d-flex mb-3">Account Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="username-eg2">Username</label>
                                        <input type="text" class="form-control" id="username-eg2" placeholder="Username" name="username">
                                    </div>
                                    <div class="form-group">
                                        <label for="emailAddress-eg2">Email Address</label>
                                        <input type="email" class="form-control" id="emailAddress-eg2" name="email" placeholder="Email Address">
                                        <small id="emailHelp-eg2" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password-eg2">Password</label>
                                        <input type="password" class="form-control" name="password" id="password-eg2" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword-eg2">Confirm Password</label>
                                        <input type="password" class="form-control" name="confirm" id="confirmPassword-eg2" placeholder="Password">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="agree-eg2" name="agree">
                                        <label class="custom-control-label" for="agree-eg2">I agree to the Terms and Conditions</label>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Shipping -->
                        <h3>Shipping</h3>
                        <section>
                            <h3 class="d-flex mb-3">Shipping Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstName-eg2">First Name</label>
                                        <input type="text" class="form-control" id="firstName-eg2" name="firstname" placeholder="First Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName-eg2">Last Name</label>
                                        <input type="text" class="form-control" id="lastName-eg2" name="lastname" placeholder="Last Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="phoneNumber-eg2">Phone Number</label>
                                        <input type="tel" class="form-control" id="phoneNumber-eg2" name="phonenumber" placeholder="Phone Number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-row">
                                        <div class="form-group col-md-9">
                                            <label for="billingAddress-eg2">Billing Address</label>
                                            <input type="text" class="form-control" id="billingAddress-eg2" placeholder="Billing Address">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="zipCode-eg2">Zip Code</label>
                                            <input type="text" class="form-control" id="zipCode-eg2" placeholder="Zip Code">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="state-eg2">State</label>
                                        <select class="form-control" id="state-eg2" name="state">
                                            <option value="" disabled="" selected="">Select</option>
                                            <option value="1">California</option>
                                            <option value="2">Virginia</option>
                                            <option value="3">Texas</option>
                                            <option value="4">Florida</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="country-eg2">Country</label>
                                        <select class="form-control" id="country-eg2" name="country">
                                            <option value="" disabled="" selected="">Select</option>
                                            <option value="1">USA</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </section>

                        <!-- Payment -->
                        <h3>Payment</h3>
                        <section>
                            <h3 class="d-flex mb-3">Payment Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cardType-eg2">Card Type</label>
                                        <select class="form-control" id="cardType-eg2" name="cardtype">
                                            <option value="" disabled="" selected="">Select credit card type</option>
                                            <option value="1">Visa</option>
                                            <option value="2">American Express</option>
                                            <option value="3">Discover</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="cardHolderName-eg2">Card Holder Name</label>
                                        <input type="text" class="form-control" id="cardHolderName-eg2" placeholder="Card Holder Name" name="card-holder-name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cardNumber-eg2">Card Number</label>
                                        <input type="text" class="form-control" id="cardNumber-eg2" placeholder="Card #" name="card-number">
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="cardCVC-eg2">CVC</label>
                                            <input type="text" class="form-control" id="cardCVC-eg2" placeholder="CVC" name="cvc">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="expiryMonth-eg2">Expiry Month</label>
                                            <select id="expiryMonth-eg2" class="form-control" name="exp-month">
                                                <option value="" disabled="" selected=""> Month</option>
                                                <option value="01">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="05">05</option>
                                                <option value="06">06</option>
                                                <option value="07">07</option>
                                                <option value="08">08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label for="expiryYear-eg2">Expiry Year</label>
                                            <select id="expiryYear-eg2" class="form-control" name="exp-year">
                                                <option value="" disabled="" selected="">Year</option>
                                                <option value="2018">2018</option>
                                                <option value="2019">2019</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                                <option value="2022">2022</option>
                                                <option value="2023">2023</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Receipt -->
                        <h3>Receipt</h3>
                        <section>
                            <h3 class="d-flex mb-3">Receipt Information<span class="ml-auto step-indicator animated fadeInDown"></span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="sendReceiptHelpBlock-eg2">Send Receipt To:</label>
                                        <small id="sendReceiptHelpBlock-eg2" class="form-text text-muted mb-1">
                                            Enter email address separated by commas.
                                        </small>
                                        <input type="text" class="form-control" id="sendReceipt-eg2" placeholder="">
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck-eg2">
                                        <label class="custom-control-label" for="customCheck-eg2">Do not include a receipt in the package</label>
                                    </div>
                                </div>
                            </div>
                        </section>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>