---
title: "Form Repeater"
lead: An interface to add and remove a repeatable group of input elements.
forms: true

js_vendors:
- jquery.repeater/jquery.repeater

js_vendors_extended:
- jquery.repeater
---


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 pr-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Create new category</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i
                                class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="name-eg2">Category</label>
                            <input type="text" class="form-control" id="name-eg2" placeholder="Name" name="name">
                            <small id="nameHelp" class="form-text text-muted">The name is how it appears on your site.</small>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6  repeater-default">
                                <label for="options-eg2">Sub category</label>
                                <div data-repeater-list="group-b">
                                    <div data-repeater-item>
                                        <div class="input-group mb-2">
                                            <input type="text" class="form-control" name="options" placeholder="Sub category">
                                            <div class="input-group-append">
                                                <button type="button" data-repeater-delete class="btn btn-primary">
                                                    <i class="icon-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" data-repeater-create class="btn btn-outline-primary btn-block" data-toggle="tooltip" data-placement="right" data-trigger="hover" title="Add new"><i
                                        class="fas fa-plus"></i></button>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="desc-eg2">Description</label>
                                <div class="input-group with-addon-icon-left">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text align-items-start">
                                            <i class="icon-note"></i>
                                        </div>
                                    </div>
                                    <textarea class="form-control" id="desc-eg2" rows="3" placeholder="Description"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group file-repeater">
                            <label for="addImg-eg2">Add Image</label>
                            <div data-repeater-list="group-a">
                                <div data-repeater-item>

                                    <div class="input-group mb-2">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="cate-image" id="customFile">
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                        </div>
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" data-repeater-delete  type="button"><i class="icon-trash"></i></button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <button type="button" data-repeater-create class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="right" data-trigger="hover" title="Upload more images"><i class="icon-plus"></i>Add more</button>
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-primary btn-lg">Create Category</button>
                    </form>


                </div>
            </div>
        </div>
        <div class="col-md-6 pl-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">User profile</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i
                                class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="firstName-eg1">First Name</label>
                            <input type="text" class="form-control" id="firstName-eg1" placeholder="First Name" name="username">
                        </div>

                        <div class="form-group">
                            <label for="lastName-eg1">Last Name</label>
                            <input type="text" class="form-control" id="lastName-eg1" placeholder="First Name" name="username">
                        </div>
                        <div class="form-group">
                            <label for="emailAddress-eg1">Email Address</label>
                            <input type="email" class="form-control" id="emailAddress-eg1" placeholder="Enter Email" name="email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>

                        <div class="form-group repeater-default">
                            <label for="contactNo-eg1">Contact No</label>
                            <div data-repeater-list="group-a">
                                <div data-repeater-item>
                                    <div class="input-group mb-2">
                                        <input type="text" class="form-control" placeholder="Enter Mobile No" name="contact">
                                        <div class="input-group-append">
                                            <button type="button" data-repeater-delete class="btn btn-danger">
                                                <i class="icon-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" data-repeater-create class="btn btn-success btn-sm"><i class="icon-plus"></i>Add new contact no</button>
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>