---
title: Test page title
---

{{!--<a class="visible-xs b-r" href="#" data-side="hide">hide</a>
<a class="hidden-xs b-r" href="#" data-side="mini">mini</a>--}}
{{!--<a href="https://www.instamojo.com/@instamojo/" rel="im-checkout" data-behaviour="remote" data-style="light"--}}
   {{!--data-text="checkout with instamojo" ></a>--}}
{{!--<script src="https://d2xwmjc4uy2hr5.cloudfront.net/im-embed/im-embed.min.js"></script>--}}

<span class="badge badge-primary">Primary</span>
<span class="badge badge-secondary">Secondary</span>
<span class="badge badge-success">Success</span>
<span class="badge badge-danger">Danger</span>
<span class="badge badge-warning">Warning</span>
<span class="badge badge-info">Info</span>
<span class="badge badge-light">Light</span>
<span class="badge badge-dark">Dark</span>



<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
