---
title: "Dashboard"
subtitle: Welcome to the unique Material Design admin web app experience!
dashboard: true
posted: 2014-01-28

---


<div class="card card-outline-secondary">
    <div class="card-header">
        <h3 class="mb-0">TODO</h3>
    </div>
    <div class="card-body">
        Implement swiperjs https://swiperjs.com/api/#layout <br>
        convert btn backgorund (hove focus active) colors into variables <br>
        Conver to theme (variables used to apply theme specific values) --vars : https://github.com/0bie/pattern-lib/blob/master/src/components/avatar/_index.scss<br>
        implement BEM perfectly. Like `dropdown-menu--block` badge-info--soft <br>
        Remove all px to em or rem or what ? <br>
        avatar image sizes https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/html/ltr/vertical-modern-menu-template/card-headings.html, https://github.com/search?l=SCSS&q=avatar+scss&type=Code <br>
        Impl tippy.js <br>
        Impl shepheard.js <br>
        Impl protip http://protip.rocks/ <br>
        Impl Medium Zoom and placeholder text style https://medium-zoom.francoischalifour.com/ <br>
        check Frontend Development Platforms - https://github.com/sindresorhus/awesome#platforms <br>
        Ecwid store layout looks nice https://my.ecwid.com. Registered.. please sign in to check
    </div><!--/card-block-->
</div><!-- /form card login -->
