---
title: Test page title
---

<a class="visible-xs b-r" href="#" data-side="hide">hide</a>
<a class="hidden-xs b-r" href="#" data-side="mini">mini</a>

<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<h2>h2 (Semibold 30px)</h2>
<h3>h3 (Semibold 24px)</h3>
<h4>h4 (Semibold 18px)</h4>
<h5>h5 (Semibold 14px)</h5>
<h6>h6 (Semibold 12px)</h6>

<h1 class="display-1">Display 1</h1>
<h1 class="display-2">Display 2</h1>
<h1 class="display-3">Display 3</h1>
<h1 class="display-4">Display 4</h1>



<div class="container-fluid">
    <div class="row">
        <div class="col">
            1 of 2
        </div>
        <div class="col">
            2 of 2
        </div>
    </div>
    <div class="row">
        <div class="col">
            1 of 3
        </div>
        <div class="col">
            2 of 3
        </div>
        <div class="col">
            3 of 3
        </div>
    </div>
</div>