---
title: Test page title
---

{{!--<a class="visible-xs b-r" href="#" data-side="hide">hide</a>
<a class="hidden-xs b-r" href="#" data-side="mini">mini</a>--}}
{{!--<a href="https://www.instamojo.com/@instamojo/" rel="im-checkout" data-behaviour="remote" data-style="light"--}}
   {{!--data-text="checkout with instamojo" ></a>--}}
{{!--<script src="https://d2xwmjc4uy2hr5.cloudfront.net/im-embed/im-embed.min.js"></script>--}}
Badges
<span class="badge badge-primary">Primary</span>
<span class="badge badge-secondary">Secondary</span>
<span class="badge badge-success">Success</span>
<span class="badge badge-danger">Danger</span>
<span class="badge badge-warning">Warning</span>
<span class="badge badge-info">Info</span>
<span class="badge badge-light">Light</span>
<span class="badge badge-dark">Dark</span>

<br>

Pill badges
<span class="badge badge-pill badge-primary">Primary</span>
<span class="badge badge-pill badge-secondary">Secondary</span>
<span class="badge badge-pill badge-success">Success</span>
<span class="badge badge-pill badge-danger">Danger</span>
<span class="badge badge-pill badge-warning">Warning</span>
<span class="badge badge-pill badge-info">Info</span>
<span class="badge badge-pill badge-light">Light</span>
<span class="badge badge-pill badge-dark">Dark</span>

<br>
Link badges
<a href="#" class="badge badge-primary" disabled>Primary</a>
<a href="#" class="badge badge-secondary">Secondary</a>
<a href="#" class="badge badge-success">Success</a>
<a href="#" class="badge badge-danger">Danger</a>
<a href="#" class="badge badge-warning">Warning</a>
<a href="#" class="badge badge-info">Info</a>
<a href="#" class="badge badge-light">Light</a>
<a href="#" class="badge badge-dark">Dark</a>
<br>
<button type="button" class="btn btn-primary" disabled>Primary</button>
<button type="button" class="btn btn-secondary  btn-round">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<br>
<button type="button" class="btn btn-primary btn-sm">Primary</button>
<button type="button" class="btn btn-primary btn-sm btn-icon btn-round"><i class="fa fa-camera-retro"></i></button>
<br>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-primary btn-icon btn-round"><i class="fa fa-camera-retro"></i></button>
<br>
<button type="button" class="btn btn-primary btn-lg">Primary</button>
<button type="button" class="btn btn-primary btn-lg btn-icon btn-round"><i class="fa fa-camera-retro"></i></button>
<br>

<br>
<button type="button" class="btn  btn-link btn-primary" disabled>Primary</button>
<button type="button" class="btn  btn-link btn-secondary">Secondary</button>
<button type="button" class="btn  btn-link btn-success">Success</button>
<button type="button" class="btn  btn-link btn-danger">Danger</button>
<button type="button" class="btn  btn-link btn-warning">Warning</button>
<button type="button" class="btn  btn-link btn-info">Info</button>
<button type="button" class="btn  btn-link btn-light">Light</button>
<button type="button" class="btn  btn-link btn-dark">Dark</button>

<br>
<div class="dropdown">
    <button  class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <div class="dropdown-menu extended" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>

<div class="dropdown">
    <button disabled class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <div class="dropdown-menu extended" aria-labelledby="dropdownMenuButton2">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>


<br>

<button type="button" class="btn btn-outline-primary" disabled>Primary</button>
<button type="button" class="btn btn-outline-secondary">Secondary</button>
<button type="button" class="btn btn-outline-success">Success</button>
<button type="button" class="btn btn-outline-danger">Danger</button>
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-info">Info</button>
<button type="button" class="btn btn-outline-light">Light</button>
<button type="button" class="btn btn-outline-dark">Dark</button>
<br>

Popover
<br>
<button type="button" class="btn btn-lg btn-danger" data-color="danger"  data-placement="top" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
<br>
<button type="button" class="btn btn-lg btn-primary" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>

{{!--

<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>

--}}


