---
title: Test page title
---

<a class="visible-xs b-r" href="#" data-side="hide">hide</a>
<a class="hidden-xs b-r" href="#" data-side="mini">mini</a>
<a href="#" data-toggle="tooltip" data-placement="top" title="Build"><i class="fa fa-trash"></i></a>

<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
<p class="h1">.h1 (Semibold 36px)</p>
<h1>h1 (Semibold 36px)</h1>
