---
title: "Modals"
subtitle: Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.
components: true
posted: 2017-12-26
---

<!--TODO spacing good example https://www.codeply.com/go/kaWaobOUD8/bootstrap-4-spacing-utils-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Alert styles</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body"> </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Dismissable Alert</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">s </div>
            </div>
        </div>

    </div>



</div>