---
title: "Modals"
subtitle: A modal displays content that temporarily blocks interactions with the main view of a site.
components: true
posted: 2017-12-26
---

<!--TODO spacing good example https://www.codeply.com/go/kaWaobOUD8/bootstrap-4-spacing-utils-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 pr-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Default modal</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body example bg-dark">

                    <div class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 pl-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Extended modal</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body example bg-dark">

                    <div class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-primary" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="card-text">
                                        <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Basic Modals</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <!-- Standard modal -->
                    <a href="#" class="btn btn-link btn-primary" role="button" data-toggle="modal" data-target="#exampleModal"> A standard modal</a>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    asd
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal primary -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-eg2">
                       Dialog
                    </button>
                    <div class="modal fade" id="exampleModal-eg2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-eg2"
                         aria-hidden="true">
                        <div class="modal-dialog modal-primary" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-eg2">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    asd
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal secondary -->
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal-eg3">
                        Special
                    </button>
                    <div class="modal fade" id="exampleModal-eg3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-eg3"
                         aria-hidden="true">
                        <div class="modal-dialog modal-secondary" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-eg3">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    asd
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-secondary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal success -->
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal-eg4">
                        Approve
                    </button>
                    <div class="modal fade" id="exampleModal-eg4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-eg4"
                         aria-hidden="true">
                        <div class="modal-dialog modal-success" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-eg4">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    asd
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success">Approve</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal danger -->
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal-eg5">
                        Alert!
                    </button>
                    <div class="modal fade" id="exampleModal-eg5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-eg5"
                         aria-hidden="true">
                        <div class="modal-dialog modal-danger" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-eg5">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    asd
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-danger">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal warning -->
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal-eg6">
                        Confirm
                    </button>
                    <div class="modal fade" id="exampleModal-eg6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-eg6"
                         aria-hidden="true">
                        <div class="modal-dialog modal-warning" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-eg6">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    asd
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-warning">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal info -->
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal-eg7">
                        Confirm to close
                    </button>
                    <div class="modal fade" id="exampleModal-eg7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-eg7"
                         aria-hidden="true">
                        <div class="modal-dialog modal-info" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-eg7">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    asd
                                </div>
                                <div class="modal-footer">
                                    {{!--<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>--}}
                                    <button type="button" class="btn btn-info">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal light -->
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal-eg8">
                       Cancel
                    </button>
                    <div class="modal fade" id="exampleModal-eg8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-eg8"
                         aria-hidden="true">
                        <div class="modal-dialog modal-light" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-eg8">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    asd
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-dark">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal dark -->
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal-eg9">
                        Change
                    </button>
                    <div class="modal fade" id="exampleModal-eg9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-eg9"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dark" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-eg9">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    asd
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-dark">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Sizes</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <p>A modal can vary in size</p>
                    <!-- Default modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-eg10">
                        Default modal
                    </button>
                    <div class="modal fade" id="exampleModal-eg10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-eg10"
                         aria-hidden="true">
                        <div class="modal-dialog modal-primary" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-eg10">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    asd
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Large modal -->
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal-eg11">
                        Large modal
                    </button>
                    <div class="modal fade" id="exampleModal-eg11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-eg11"
                         aria-hidden="true">
                        <div class="modal-dialog modal-secondary modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-eg11">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    asd
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-secondary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Small modal -->
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal-eg12">
                        Small modal
                    </button>
                    <div class="modal fade" id="exampleModal-eg12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-eg12"
                         aria-hidden="true">
                        <div class="modal-dialog modal-success modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-eg12">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    asd
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>