---
title: "Popover"
subtitle: Add small overlay content, like those found in iOS, to any element for housing secondary information.
components: true
posted: 2018-01-01
---

<!--TODO spacing good example https://www.codeply.com/go/kaWaobOUD8/bootstrap-4-spacing-utils-->
<div class="container-fluid">

    <div class="row">
        <div class="col-md-6 pr-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Titled & All Four Directions</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body bg-dark">

                    <div class="row">
                        <div class="col-md-6 example">
                            <div class="popover bs-popover-right show mx-auto">
                                <div class="arrow" style="top: 31px;"></div>
                                <h3 class="popover-header">Popover right</h3>
                                <div class="popover-body">
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                                </div>
                            </div>

                            <div class="popover bs-popover-left show mt-5 mx-auto">
                                <div class="arrow" style="top: 31px;"></div>
                                <h3 class="popover-header">Popover left</h3>
                                <div class="popover-body">
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-6 example">

                            <div class="popover bs-popover-top show mx-auto">
                                <div class="arrow" style="left: 124px;"></div>
                                <h3 class="popover-header">Popover top</h3>
                                <div class="popover-body">
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                                </div>
                            </div>

                            <div class="popover bs-popover-bottom show mt-5 mx-auto">
                                <div class="arrow" style="left: 124px;"></div>
                                <h3 class="popover-header">Popover bottom</h3>
                                <div class="popover-body">
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>.</span>
                                </div>
                            </div>

                        </div>


                    </div>


                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Style variations</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <button type="button" class="btn btn-primary btn-icon btn-round" data-color="primary"
                            data-trigger="hover"
                            data-container="body" data-toggle="popover"
                            data-placement="top" title="Primary popover"
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        <i class="fa fa-heart"></i>
                    </button>

                    <button type="button" class="btn btn-secondary btn-icon btn-round" data-color="secondary"
                            data-trigger="hover"
                            data-container="body" data-toggle="popover"
                            data-placement="top" title="Secondary popover"
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        <i class="fa fa-heart"></i>
                    </button>

                    <button type="button" class="btn btn-success btn-icon btn-round" data-color="success"
                            data-trigger="hover"
                            data-container="body" data-toggle="popover"
                            data-placement="top" title="Success popover"
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        <i class="fa fa-heart"></i>
                    </button>

                    <button type="button" class="btn btn-danger btn-icon btn-round" data-color="danger"
                            data-trigger="hover"
                            data-container="body" data-toggle="popover"
                            data-placement="top" title="Danger popover"
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        <i class="fa fa-heart"></i>
                    </button>

                    <button type="button" class="btn btn-warning btn-icon btn-round" data-color="warning"
                            data-trigger="hover"
                            data-container="body" data-toggle="popover"
                            data-placement="top" title="Warning popover"
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        <i class="fa fa-heart"></i>
                    </button>

                    <button type="button" class="btn btn-info btn-icon btn-round" data-color="info"
                            data-trigger="hover"
                            data-container="body" data-toggle="popover"
                            data-placement="top" title="Info popover"
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        <i class="fa fa-heart"></i>
                    </button>

                    <button type="button" class="btn btn-light btn-icon btn-round" data-color="light"
                            data-trigger="hover"
                            data-container="body" data-toggle="popover"
                            data-placement="top" title="Light popover"
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        <i class="fa fa-heart"></i>
                    </button>

                    <button type="button" class="btn btn-dark btn-icon btn-round" data-color="dark"
                            data-trigger="hover"
                            data-container="body" data-toggle="popover"
                            data-placement="top" title="Dark popover"
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        <i class="fa fa-heart"></i>
                    </button>

                </div>
            </div>
        </div>
        <div class="col-md-6 pl-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Basic Example without title</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <a href="#" class="btn btn-link btn-primary" role="button" data-container="body"
                       data-toggle="popover"
                       data-placement="top" data-content="And here's some amazing content. It's very engaging. Right?">Popover
                        on top</a>

                    <a href="#" class="btn btn-link btn-primary" role="button" data-container="body"
                       data-toggle="popover"
                       data-placement="right"
                       data-content="And here's some amazing content. It's very engaging. Right?">Popover on right</a>

                    <a href="#" class="btn btn-link btn-primary" role="button" data-container="body"
                       data-toggle="popover"
                       data-placement="bottom"
                       data-content="And here's some amazing content. It's very engaging. Right?">Popover on bottom</a>

                    <a href="#" class="btn btn-link btn-primary" role="button" data-container="body"
                       data-toggle="popover"
                       data-placement="left" data-content="And here's some amazing content. It's very engaging. Right?">Popover
                        on left</a>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Clickable</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <img src="https://semantic-ui.com/images/avatar2/large/elyse.png"
                         class="has-popover rounded-circle w-5 mr-2"
                         data-container="body" data-toggle="popover"
                         data-placement="top" title="Kristy"
                         data-content="Kristy is an art director living in New York.">

                    <img src="https://semantic-ui.com/images/avatar2/large/molly.png"
                         class="has-popover rounded-circle w-5 mr-2"
                         data-container="body" data-toggle="popover"
                         data-placement="right" title="Molly"
                         data-content="Molly is a copywriter working in New York.">

                    <img src="https://semantic-ui.com/images/avatar/large/daniel.jpg"
                         class="has-popover rounded-circle w-5 mr-2"
                         data-container="body" data-toggle="popover"
                         data-placement="bottom" title="Daniel Louise"
                         data-content="Daniel Louise is an project manager living in Australia.">

                    <img src="https://semantic-ui.com/images/avatar2/large/matthew.png"
                         class="has-popover rounded-circle w-5 mr-2"
                         data-container="body" data-toggle="popover"
                         data-placement="left" title="Matt Giampietro"
                         data-content="Matt Giampietro is a personal assistant living in Paris.">

                    <p></p>
                    <button type="button" class="btn btn-primary mr-3" data-container="body" data-toggle="popover"
                            data-placement="top" title="Popover on top"
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        Popover on top
                    </button>
                    {{!--

                                        <a href="#" class="h6 text-secondary mr-3" data-container="body" data-toggle="popover"
                                           data-placement="top" title="Popover on top"
                                           data-content="And here's some amazing content. It's very engaging. Right?">Popover on top</a>
                    --}}

                    <a class="btn btn-link btn-secondary" data-container="body" data-toggle="popover"
                       data-placement="right" title="Popover on right"
                       data-content="And here's some amazing content. It's very engaging. Right?">Popover on right</a>

                    <a class="btn btn-link btn-secondary" data-container="body" data-toggle="popover"
                       data-placement="bottom" title="Popover on bottom"
                       data-content="And here's some amazing content. It's very engaging. Right?">Popover on bottom</a>

                    <a class="btn btn-link btn-secondary" data-container="body" data-toggle="popover"
                       data-placement="left" title="Popover on left"
                       data-content="And here's some amazing content. It's very engaging. Right?">Popover on left</a>

                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Hoverable</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <img src="https://semantic-ui.com/images/avatar2/large/elyse.png"
                         class="has-popover rounded-circle w-5 mr-2"
                         data-trigger="hover"
                         data-container="body" data-toggle="popover"
                         data-placement="top" title="Kristy"
                         data-content="Kristy is an art director living in New York.">

                    <img src="https://semantic-ui.com/images/avatar2/large/molly.png"
                         class="has-popover rounded-circle w-5 mr-2"
                         data-trigger="hover" data-container="body" data-toggle="popover"
                         data-placement="right" title="Molly"
                         data-content="Molly is a copywriter working in New York.">

                    <img src="https://semantic-ui.com/images/avatar/large/daniel.jpg"
                         class="has-popover rounded-circle w-5 mr-2"
                         data-trigger="hover" data-container="body" data-toggle="popover"
                         data-placement="bottom" title="Daniel Louise"
                         data-content="Daniel Louise is an project manager living in Australia.">

                    <img src="https://semantic-ui.com/images/avatar2/large/matthew.png"
                         class="has-popover rounded-circle w-5 mr-2"
                         data-trigger="hover" data-container="body" data-toggle="popover"
                         data-placement="left" title="Matt Giampietro"
                         data-content="Matt Giampietro is a personal assistant living in Paris.">
                    <p></p>
                    <button type="button" class="btn btn-sm btn-secondary" data-container="body" data-toggle="popover"
                            data-trigger="hover" data-placement="top" title="Hoverable"
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        Hoverable popover
                    </button>

                    <a tabindex="0" class="btn btn-link btn-sm btn-secondary" role="button" data-toggle="popover"
                       data-trigger="hover" title="Hoverable"
                       data-content="And here's some amazing content. It's very engaging. Right?">Hoverable popover</a>

                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Dismiss on next click</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-sm btn-danger" data-container="body" data-toggle="popover"
                            data-trigger="focus" data-placement="top" title="Dismissible"
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        Dismissible popover
                    </button>

                    <a tabindex="0" class="btn btn-link btn-sm btn-danger" role="button" data-toggle="popover"
                       data-trigger="focus" title="Dismissible"
                       data-content="And here's some amazing content. It's very engaging. Right?">Dismissible
                        popover</a>

                </div>
            </div>


        </div>

    </div>


</div>