---
title: "Tabs"
subtitle: A tab is a hidden section of content activated by a menu.
components: true
posted: 2018-01-09
---

<!--TODO spacing good example https://www.codeply.com/go/kaWaobOUD8/bootstrap-4-spacing-utils-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 pr-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Basic</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab" data-toggle="tab" href="#message" role="tab"
                               aria-controls="message" aria-selected="false">Messages</a>
                        </li>
                    </ul>
                    <div class="tab-content hasborder" id="myTabContent">
                        <div class="tab-pane p-3 fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message" role="tabpanel" aria-labelledby="message-tab">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Basic Justified</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <ul class="nav nav-tabs nav-justified" id="myTab-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-3" data-toggle="tab" href="#home-3" role="tab"
                               aria-controls="home-3" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-3" data-toggle="tab" href="#profile-3" role="tab"
                               aria-controls="profile-3" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-3" data-toggle="tab" href="#message-3" role="tab"
                               aria-controls="message-3" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-3">
                        <div class="tab-pane p-3 fade show active" id="home-3" role="tabpanel"
                             aria-labelledby="home-tab-3">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-3" role="tabpanel" aria-labelledby="profile-tab-3">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-3" role="tabpanel" aria-labelledby="message-tab-3">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. </span>
                            </p>
                        </div>
                    </div>


                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Basic Center</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <ul class="nav nav-tabs justify-content-center" id="myTab-5" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-5" data-toggle="tab" href="#home-5" role="tab"
                               aria-controls="home-5" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-5" data-toggle="tab" href="#profile-5" role="tab"
                               aria-controls="profile-5" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-5" data-toggle="tab" href="#message-5" role="tab"
                               aria-controls="message-5" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-5">
                        <div class="tab-pane p-3 fade show active" id="home-5" role="tabpanel"
                             aria-labelledby="home-tab-5">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-5" role="tabpanel" aria-labelledby="profile-tab-5">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-5" role="tabpanel" aria-labelledby="message-tab-5">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. </span>
                            </p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Basic Right</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <ul class="nav nav-tabs justify-content-end" id="myTab-6" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-6" data-toggle="tab" href="#home-6" role="tab"
                               aria-controls="home-6" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-6" data-toggle="tab" href="#profile-6" role="tab"
                               aria-controls="profile-6" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-6" data-toggle="tab" href="#message-6" role="tab"
                               aria-controls="message-6" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-6">
                        <div class="tab-pane p-3 fade show active" id="home-6" role="tabpanel"
                             aria-labelledby="home-tab-6">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-6" role="tabpanel" aria-labelledby="profile-tab-6">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-6" role="tabpanel" aria-labelledby="message-tab-6">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. </span>
                            </p>
                        </div>
                    </div>


                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Tab with dropdown</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs" id="myTab-2" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-2" data-toggle="tab" href="#home-2" role="tab"
                               aria-controls="home-2" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-2" data-toggle="tab" href="#profile-2" role="tab"
                               aria-controls="profile-2" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-2" data-toggle="tab" href="#message-2" role="tab"
                               aria-controls="message-2" aria-selected="false">Messages</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu extended ">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>

                    </ul>
                    <div class="tab-content hasborder" id="myTabContent-2">
                        <div class="tab-pane p-3 fade show active" id="home-2" role="tabpanel"
                             aria-labelledby="home-tab-2">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="profile-2" role="tabpanel" aria-labelledby="profile-tab-2">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                            </p>
                        </div>
                        <div class="tab-pane p-3 fade" id="message-2" role="tabpanel" aria-labelledby="message-tab-2">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. </span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Pills</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <ul class="nav nav-pills" id="myTab-4" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-4" data-toggle="tab" href="#home-4" role="tab"
                               aria-controls="home-4" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-4" data-toggle="tab" href="#profile-4" role="tab"
                               aria-controls="profile-4" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-4" data-toggle="tab" href="#message-4" role="tab"
                               aria-controls="message-4" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="myTabContent-4">
                        <div class="tab-pane py-2 fade show active" id="home-4" role="tabpanel"
                             aria-labelledby="home-tab-4">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                            </p>
                        </div>
                        <div class="tab-pane py-2 fade" id="profile-4" role="tabpanel" aria-labelledby="profile-tab-4">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                            </p>
                        </div>
                        <div class="tab-pane py-2 fade" id="message-4" role="tabpanel" aria-labelledby="message-tab-4">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. </span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Pills Justified</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <ul class="nav nav-pills nav-justified" id="myTab-7" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-7" data-toggle="tab" href="#home-7" role="tab"
                               aria-controls="home-7" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-7" data-toggle="tab" href="#profile-7" role="tab"
                               aria-controls="profile-7" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="message-tab-7" data-toggle="tab" href="#message-7" role="tab"
                               aria-controls="message-7" aria-selected="false">Messages</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="myTabContent-7">
                        <div class="tab-pane py-2 fade show active" id="home-7" role="tabpanel"
                             aria-labelledby="home-tab-7">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                            </p>
                        </div>
                        <div class="tab-pane py-2 fade" id="profile-7" role="tabpanel" aria-labelledby="profile-tab-7">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                            </p>
                        </div>
                        <div class="tab-pane py-2 fade" id="message-7" role="tabpanel" aria-labelledby="message-tab-7">
                            <p>
                                <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. </span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Vertical Right Line</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <div class="extended-vertical right-line">

                        <ul class="nav nav-tabs" id="myTab-8" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab-8" data-toggle="tab" href="#home-8" role="tab"
                                   aria-controls="home-8" aria-selected="true">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab-8" data-toggle="tab" href="#profile-8" role="tab"
                                   aria-controls="profile-8" aria-selected="false">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="message-tab-8" data-toggle="tab" href="#message-8" role="tab"
                                   aria-controls="message-8" aria-selected="false">Messages</a>
                            </li>

                        </ul>
                        <div class="tab-content px-3" id="myTabContent-8">
                            <div class="tab-pane py-2 fade show active" id="home-8" role="tabpanel"
                                 aria-labelledby="home-tab-8">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                </p>
                            </div>
                            <div class="tab-pane py-2 fade" id="profile-8" role="tabpanel"
                                 aria-labelledby="profile-tab-8">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                </p>
                            </div>
                            <div class="tab-pane py-2 fade" id="message-8" role="tabpanel"
                                 aria-labelledby="message-tab-8">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. </span>
                                </p>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Vertical Wrap</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="extended-vertical wrap">
                        <ul class="nav nav-tabs" id="myTab-9" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab-9" data-toggle="tab" href="#home-9" role="tab"
                                   aria-controls="home-9" aria-selected="true">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab-9" data-toggle="tab" href="#profile-9" role="tab"
                                   aria-controls="profile-9" aria-selected="false">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="message-tab-9" data-toggle="tab" href="#message-9" role="tab"
                                   aria-controls="message-9" aria-selected="false">Messages</a>
                            </li>
                        </ul>
                        <div class="tab-content px-3" id="myTabContent-9">
                            <div class="tab-pane py-2 fade show active" id="home-9" role="tabpanel"
                                 aria-labelledby="home-tab-9">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                </p>
                            </div>
                            <div class="tab-pane py-2 fade" id="profile-9" role="tabpanel"
                                 aria-labelledby="profile-tab-9">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                </p>
                            </div>
                            <div class="tab-pane py-2 fade" id="message-9" role="tabpanel"
                                 aria-labelledby="message-tab-9">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Vertical Wrap Primary</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="extended-vertical wrap-primary">
                        <ul class="nav nav-tabs" id="myTab-10" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab-10" data-toggle="tab" href="#home-10" role="tab"
                                   aria-controls="home-10" aria-selected="true">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab-10" data-toggle="tab" href="#profile-10" role="tab"
                                   aria-controls="profile-10" aria-selected="false">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="message-tab-10" data-toggle="tab" href="#message-10" role="tab"
                                   aria-controls="message-10" aria-selected="false">Messages</a>
                            </li>
                        </ul>
                        <div class="tab-content px-3" id="myTabContent-10">
                            <div class="tab-pane py-2 fade show active" id="home-10" role="tabpanel"
                                 aria-labelledby="home-tab-10">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                </p>
                            </div>
                            <div class="tab-pane py-2 fade" id="profile-10" role="tabpanel"
                                 aria-labelledby="profile-tab-10">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                </p>
                            </div>
                            <div class="tab-pane py-2 fade" id="message-10" role="tabpanel"
                                 aria-labelledby="message-tab-10">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Vertical Wrap Primary filled</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="extended-vertical wrap-primary-filled">
                        <ul class="nav nav-tabs" id="myTab-11" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab-11" data-toggle="tab" href="#home-11" role="tab"
                                   aria-controls="home-11" aria-selected="true">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab-11" data-toggle="tab" href="#profile-11" role="tab"
                                   aria-controls="profile-11" aria-selected="false">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="message-tab-11" data-toggle="tab" href="#message-11" role="tab"
                                   aria-controls="message-11" aria-selected="false">Messages</a>
                            </li>
                        </ul>
                        <div class="tab-content px-3" id="myTabContent-11">
                            <div class="tab-pane py-2 fade show active" id="home-11" role="tabpanel"
                                 aria-labelledby="home-tab-11">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                </p>
                            </div>
                            <div class="tab-pane py-2 fade" id="profile-11" role="tabpanel"
                                 aria-labelledby="profile-tab-11">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</span>
                                </p>
                            </div>
                            <div class="tab-pane py-2 fade" id="message-11" role="tabpanel"
                                 aria-labelledby="message-tab-11">
                                <p>
                                    <span class="placeholder small">This is actually text. Unbelievable, I know…  For proper styling, just remove <code>.placeholder</code>. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 pl-2">
            ss
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pr-2">
            ss
        </div>
        <div class="col-md-6 pl-2">
            ss
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pr-2">
            dd
        </div>
        <div class="col-md-6 pl-2">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">xxx</h6>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="fa fa-expand"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="card-body">ss</div>
            </div>
        </div>
    </div>
</div>