---
title: "Wizard"
lead: Component which allows you to easily create wizard-like interfaces.
components: true
---

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Tab Wizard</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div id="tab-wizard">
                        <!-- Home -->
                        <h3><i class="icon-home mr-2"></i>Home</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step1</h1>
                        </section>

                        <!-- Design -->
                        <h3><i class="icon-pencil mr-2"></i>Design</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step2</h1>
                        </section>

                        <!-- Work -->
                        <h3><i class="icon-cup mr-2"></i>Work</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step3</h1>
                        </section>

                        <!-- Contact -->
                        <h3><i class="icon-user mr-2"></i>Contact</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step4</h1>
                        </section>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Arrow Wizard</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div id="arrow-wizard">
                        <!-- Home -->
                        <h3><i class="icon-home mr-2"></i>Home</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step1</h1>
                        </section>

                        <!-- Design -->
                        <h3><i class="icon-pencil mr-2"></i>Design</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step2</h1>
                        </section>

                        <!-- Work -->
                        <h3><i class="icon-cup mr-2"></i>Work</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step3</h1>
                        </section>

                        <!-- Contact -->
                        <h3><i class="icon-user mr-2"></i>Contact</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step4</h1>
                        </section>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Arrow vertical wizard</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div id="arrow-wizard-vertical">
                        <!-- Home -->
                        <h3><i class="icon-home mr-2"></i>Home</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step1</h1>
                        </section>

                        <!-- Design -->
                        <h3><i class="icon-pencil mr-2"></i>Design</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step2</h1>
                        </section>

                        <!-- Work -->
                        <h3><i class="icon-cup mr-2"></i>Work</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step3</h1>
                        </section>

                        <!-- Contact -->
                        <h3><i class="icon-user mr-2"></i>Contact</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step4</h1>
                        </section>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Pills wizard</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div id="pills-wizard">
                        <!-- Home -->
                        <h3><i class="icon-home mr-2"></i>Home</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step1</h1>
                        </section>

                        <!-- Design -->
                        <h3><i class="icon-pencil mr-2"></i>Design</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step2</h1>
                        </section>

                        <!-- Work -->
                        <h3><i class="icon-cup mr-2"></i>Work</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step3</h1>
                        </section>

                        <!-- Contact -->
                        <h3><i class="icon-user mr-2"></i>Contact</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step4</h1>
                        </section>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Pills vertical wizard</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div id="pills-wizard-vertical">
                        <!-- Home -->
                        <h3><i class="icon-home mr-2"></i>Home</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step1</h1>
                        </section>

                        <!-- Design -->
                        <h3><i class="icon-pencil mr-2"></i>Design</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step2</h1>
                        </section>

                        <!-- Work -->
                        <h3><i class="icon-cup mr-2"></i>Work</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step3</h1>
                        </section>

                        <!-- Contact -->
                        <h3><i class="icon-user mr-2"></i>Contact</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step4</h1>
                        </section>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Circle wizard</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div id="circle-wizard">
                        <!-- Home -->
                        <h3><i class="icon-home step-icon"></i>Home</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step1</h1>
                        </section>

                        <!-- Design -->
                        <h3><i class="icon-pencil step-icon"></i>Design</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step2</h1>
                        </section>

                        <!-- Work -->
                        <h3><i class="icon-cup step-icon"></i>Work</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step3</h1>
                        </section>

                        <!-- Contact -->
                        <h3><i class="icon-user step-icon"></i>Contact</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step4</h1>
                        </section>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Circle wizard</h5>
                    <div class="card__actions window ml-auto">
                        <a href="#" class="card__actions-item" data-card="collapse"><i class="icon-arrow-up"></i></a>
                        <a href="#" class="card__actions-item" data-card="fullscreen"><i class="icon-size-fullscreen"></i></a>
                        <a href="#" class="card__actions-item" data-card="close"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div id="circle-wizard-vertical">
                        <!-- Home -->
                        <h3><i class="icon-home step-icon"></i>Home</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step1</h1>
                        </section>

                        <!-- Design -->
                        <h3><i class="icon-pencil step-icon"></i>Design</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step2</h1>
                        </section>

                        <!-- Work -->
                        <h3><i class="icon-cup step-icon"></i>Work</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step3</h1>
                        </section>

                        <!-- Contact -->
                        <h3><i class="icon-user step-icon"></i>Contact</h3>
                        <section>
                            <h1 class="display-4 text-muted mt-5 pt-5 text-center">Hello from</h1>
                            <h1 class="display-1 text-muted mb-5 pb-5 text-center">Step4</h1>
                        </section>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>