// ================================================================================================
// File Name      : dropshadow.scss
// Description    : Dropshadow classes to apply a shadow effect to an element.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ, <manoj [at] xxx [dot] net>
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

//
// DROPSHADOW/BOX-SHADOW
// ======================================================
// TODO MAKE THIS PERFECT LATER https://github.com/peterbenoit/UsabilityRocks/blob/master/src/scss/_utility.scss

[class*="bs"] {
  @include transition($transition-base);
}

.bs-0,
.bs-0--hover:hover {
  box-shadow: none !important;
}
.bs-1,
.bs-1--hover:hover {
  box-shadow: $bs-1;
}

.bs-2,
.bs-2--hover:hover {
  box-shadow: $bs-2;
}

.bs-3,
.bs-3--hover:hover {
  box-shadow: $bs-3;
}

.bs-4,
.bs-4--hover:hover {
  box-shadow: $bs-4;
}

.bs-5,
.bs-5--hover:hover {
  box-shadow: $bs-5;
}

.bs-6,
.bs-6--hover:hover {
  box-shadow: $bs-6;
}

.bs-7,
.bs-7--hover:hover {
  box-shadow: $bs-7;
}

.bs-8,
.bs-8--hover:hover {
  box-shadow: $bs-8;
}

.bs-9,
.bs-9--hover:hover {
  box-shadow: $bs-9;
}

.bs-10,
.bs-10--hover:hover {
  box-shadow: $bs-10;
}
