// ================================================================================================
// File Name      : overflow.scss
// Description    : Helper classes for adjusting content if it overflows an element's box.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ, <manoj [at] xxx [dot] net>
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

//
// OVERFLOW
// ======================================================
// // Generate overflow utility classes based on `$overflow` map
// Adapted from https://github.com/peterbenoit/UsabilityRocks/blob/master/src/scss/_utility.scss

@each $prefix in (of) {
  @each $size, $value in $overflow {
    .#{$prefix}-#{$size} {
      overflow : $value;
    }
  }
}
// overflow-x
@each $prefix in (of-x) {
  @each $size, $value in $overflow {
    .#{$prefix}-#{$size} {
      overflow-x : $value;
    }
  }
}

// overflow-y
@each $prefix in (of-y) {
  @each $size, $value in $overflow {
    .#{$prefix}-#{$size} {
      overflow-y : $value;
    }
  }
}
