// ================================================================================================
// File Name      : overflow.scss
// Description    : Helper classes for adjusting content if it overflows an element's box.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

//
// OVERFLOW
// ======================================================
// Adapted from https://github.com/peterbenoit/UsabilityRocks/blob/master/src/scss/_utility.scss

.of-v {
  overflow: visible;
}

.of-h {
  overflow: hidden;
}

.of-s {
  overflow: scroll;
}

.of-a {
  overflow: auto;
}

.of-x-s {
  overflow-x: scroll;
}

.of-x-h {
  overflow-x: hidden;
}

.of-x-v {
  overflow-x: visible;
}

.of-x-a {
  overflow-x: auto;
}

.of-y-s {
  overflow-y: scroll;
}

.of-y-h {
  overflow-y: hidden;
}

.of-y-v {
  overflow-y: visible;
}

.of-y-a {
  overflow-y: auto;
}
