// ================================================================================================
// File Name: utilities.scss
// Description:
// ----------------------------------------------------------------------------------------------
// Item Name: xxx - Responsive Admin Theme
// Version: 1.2
// Author: MANOJ
// Author URL: http://www.themeforest.net/user/xxx
// ================================================================================================

//--------------------------------------------*\
// CONTEXTUAL & THEME BACKGROUND VARIANTS WITH TEXT COLOR
//--------------------------------------------*/

// Theme variations
@each $themeName, $value in $themes-map {
  $colors: map-get-strict($value, 'main-colors');
  @each $scheme, $value in $colors {
    .bg-#{$scheme} {
      @include background-text-theme($scheme, $sledge-hammer: !important);
    }
  }
}

// Contextual variations
@each $scheme, $value in $contextual-palette-map {
  .bg-#{$scheme} {
    @include background-text-theme($scheme, $sledge-hammer: !important);
  }
}

//----------------------------------*\
// CONTEXTUAL & THEME BORDER VARIANTS
//----------------------------------*/

// Theme variations
@each $themeName, $value in $themes-map {
  $colors: map-get-strict($value, 'main-colors');
  @each $scheme, $value in $colors {
    .border-#{$scheme} {
      @include border-theme($scheme, $sledge-hammer: !important);
    }
  }
}

/* Contextual variations */
@each $scheme, $value in $contextual-palette-map {
  .border-#{$scheme} {
    @include border-theme($scheme, $sledge-hammer: !important);
  }
}

//----------------------------------*\
// CONTEXTUAL & THEME TEXT VARIANTS
//----------------------------------*/

// Theme variations
@each $themeName, $value in $themes-map {
  $colors: map-get-strict($value, 'main-colors');
  @each $scheme, $value in $colors {
    .text-#{$scheme} {
      @include text-theme($scheme, $sledge-hammer: !important);
      @include text-link-theme($scheme, $sledge-hammer: !important)
    }
  }
}

// Contextual variations
@each $scheme, $value in $contextual-palette-map {
  .text-#{$scheme} {
    @include text-theme($scheme, $sledge-hammer: !important);
    @include text-link-theme($scheme, $sledge-hammer: !important);
  }
}

//----------------------------------*\
// SIZING
//----------------------------------*/

@each $prop, $abbrev in (width: w, height: h) {
  @each $size, $length in $sizes {
    .#{$abbrev}-#{$size} {
      #{$prop}: $length !important;
    }
  }
}
