/*BASE - Base styles, Variables, Mixins, etc*/

@import "base/reset";
@import "base/base";
@import "base/mixins";
@import "base/variables";

/* MODULES - Individual site components*/

@import "modules/blocks";
@import "modules/buttons";
@import "modules/components";
@import "modules/forms";
@import "modules/sections";
@import "modules/tables";
@import "modules/typography";

/* PARTIALS - Layout styles*/

@import "partials/header";
@import "partials/nav";
@import "partials/footer";

/* COMPASS FEATURE*/

@import 'compass';

/*****************/

.content-navigation {
    border-color: $blue;
    color: darken($blue, 9%);
}

.test {
    padding: $margin / 2;
    margin: $margin / 2;
    border-color: $blue;
    padding-left: 10px;
}

.example-compass {
    @include box-shadow(#000 5px 5px 5px);
    @include single-text-shadow;
    @include opacity(0.1);
}

.example-autoprefixer {
    display: flex;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}
