<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {{> head }}
</head>
<body class="theme-default">

<div class="container-fluid h-100">
    <div class="row h-100">
        {{> sidebar }}
        <div class="col">
            <div id="content">
                {{> body }}
            </div>
        </div>
    </div>
</div>

{{> footer-scripts }}

</body>
</html>