<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {{> head }}
</head>
<body class="theme-dark">

<div class="main-wrap">
    <section class="app sidebar-fixed header-fixed footer-fixed">

        <!-- header -->
        <header class="master-header">
            <div class="master-header__wrap">{{> header }}</div>
        </header>
        <!-- /header -->

        <!-- sidebar -->
        <section class="sidebar">
            <div class="sidebar__wrap">{{> sidebar }}</div>
        </section>
        <!-- /sidebar -->

        <!--main content-->
        <section class="content">
            <section class="content__wrap">{{> body }}</section>
        </section>
        <!-- /main content-->

        <!-- aside to markup 2nd sidebar, adapted from http://stackoverflow.com/a/24765186/402618/ -->
        <aside class="sidebar-right">
            <div class="sidebar-right__wrap">aside - 2nd sidebar</div>
        </aside>
        <!-- /aside -->

        <!-- footer -->
        <footer class="master-footer">
            <div class="master-footer__wrap">footer</div>
        </footer>
        <!-- /footer -->

    </section>
</div>

<!-- Placed js at the end of the document so the pages load faster -->
{{> footer-scripts }}
</body>
</html>