<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {{> head }}
</head>
<body class="theme-default">

<div class="main-wrapper">
    <div class="app sidebar-fixed header-fixed footer-fixed">

        <!--https://zellwk.com/blog/html-structure/-->

        <!-- header -->
        <header class="header">
            header
        </header>
        <!-- /header -->

        <!-- sidebar -->
        <aside class="sidebar">
            {{> sidebar }}
        </aside>
        <!-- /sidebar -->

        <!--main content-->
        <section class="main">
            {{> body }}
        </section>
        <!-- /main content-->

        <!-- footer -->
        <footer class="footer">
            footer
        </footer>
        <!-- /footer -->

    </div>
</div>

{{> footer-scripts }}
</body>
</html>