<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {{> head }}
</head>
<body class="theme-dark">

<div class="main-wrap">
    <div class="overlay"></div>
    <section class="app sidebar-fixed header-fixed footer-fixed">

        <!-- Header -->
        <header class="master-header">
            <div class="master-header__wrap">{{> header }}</div>
        </header>
        <!-- /Header -->

        <!-- Sidebar -->
        <section class="sidebar">
            <div class="sidebar__wrap">{{> sidebar }}</div>
        </section>
        <!-- /Sidebar -->

        <!--Breadcrumb-->
        <section class="breadcrumb__wrap">{{> breadcrumb }}</section>
        <!--/Breadcrumb-->

        <!--Main content-->
        <main class="content">
            <section class="content__wrap">
                {{> page-title }}
                {{> body }}
            </section>
        </main>
        <!-- /Main content-->

        <!-- Aside to markup 2nd sidebar, adapted from http://stackoverflow.com/a/24765186/402618/ -->
        <aside class="aside">
            <div class="aside__wrap">{{> aside }}</div>
        </aside>
        <!-- /Aside -->

        <!-- Footer -->
        <footer class="master-footer">
            <div class="master-footer__wrap">footer</div>
        </footer>
        <!-- /Footer -->

    </section>
</div>

<!-- Placed JavaScript at the end of the document so the pages load faster -->
{{> footer-scripts }}
</body>
</html>