<!DOCTYPE html>
<html lang="en">
<head>
<!-- Meta, title, CSS, favicons, etc. -->
 {{> head }}
</head>
<body class="theme-blue">
    <div class="container-fluid h-100">
        <div class="row h-100">
       {{> sidebar }}
            <div class="col" id="content">
                <a class="visible-xs b-r" href="#" data-side="hide">11111111111</a>
                <a class="hidden-xs b-r" href="#" data-side="mini">mini</a>
                {{> body }}
            </div>
        </div>
    </div>
{{> footer-scripts }}
</body>
</html>