<!DOCTYPE html>
<html lang="en" class="{{activeTheme}}">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {{> head }}
</head>
<body class="{{#if body_class}}{{body_class}}{{/if}}">

<div class="main-wrap">
    <div class="overlay"></div>
    <section class="app sidebar-fixed header-fixed footer-fixed">

        <!-- Header -->
        <header class="master-header">
            <div class="master-header__inner-wrap">{{> header }}</div>
        </header>
        <!-- /Header -->

        <!-- Sidebar -->
        <section class="sidebar sidebar-themed popout" data-animate-in="animated fadeIn" data-animate-out="animated fadeOut">
            <div class="sidebar__inner-wrap">{{> sidebar }}</div>
        </section>
        <!-- /Sidebar -->

        <!--Breadcrumb-->
        <section class="breadcrumb__wrap">{{> breadcrumb }}</section>
        <!--/Breadcrumb-->

        <!--Main content-->
        <main class="content">
            <section class="content__inner-wrap">

                <!-- Page title -->
                {{> page-title }}
                <!-- /Page title -->

                <!-- Page content -->
                    {{> body }}
                <!-- /Page content -->

            </section>
        </main>
        <!-- /Main content-->

        <!-- Aside to markup 2nd sidebar, adapted from http://stackoverflow.com/a/24765186/402618/ -->
        <aside class="aside">
            <div class="aside__inner-wrap">{{> aside }}</div>
        </aside>
        <!-- /Aside -->

        <!-- Footer -->
        <footer class="master-footer">
            <div class="master-footer__inner-wrap">{{> footer }}</div>
        </footer>
        <!-- /Footer -->

    </section>
</div>

<!-- Placed JavaScript at the end of the document so the pages load faster -->
{{> footer-scripts }}
</body>
</html>