---
title: "Date Picker"
lead: Simple and easy datepicker widget for a text input
forms-ui: true
categories: Advanced Form Elements

css_vendors:
- bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone

js_vendors:
- bootstrap-datepicker/dist/js/bootstrap-datepicker

css_vendors_extended:
- bootstrap-datepicker.standalone

js_vendors_extended:
- bootstrap-datepicker

---

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 offset-xl-1">
            {{#card}}
                {{{card_header 'Date Picker'}}}
                {{#card_body_has 'example'''}}
                    <form>
                        <div class="form-group row">
                            <label for="inputNormal" class="col-lg-2 col-form-label text-lg-right ">Default datepicker</label>
                            <div class="col-lg-10">
                                <!-- Default datepicker -->
                                <input type="text" class="form-control date-picker" placeholder="Select date">
                                <!-- /Default datepicker -->
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputNormal" class="col-lg-2 col-form-label text-lg-right ">One year view</label>
                            <div class="col-lg-10">
                                <!-- One year view -->
                                <div class="input-group with-addon-icon-left">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="icon-calendar"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control date-picker_2" placeholder="Select date">
                                </div>
                                <!-- /One year view -->
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputNormal" class="col-lg-2 col-form-label text-lg-right">Decade view</label>
                            <div class="col-lg-10">
                                <!-- Decade view -->
                                <div class="input-group with-addon-icon-left">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="icon-calendar"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control date-picker_3" placeholder="Select date">
                                </div>
                                <!-- /Decade view -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputNormal" class="col-lg-2 col-form-label text-lg-right">Month select</label>
                            <div class="col-lg-10">
                                <!-- Month view -->
                                <div class="input-group with-addon-icon-left">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="icon-calendar"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control date-picker_4" placeholder="Select date">
                                </div>
                                <!-- /Month view -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputNormal" class="col-lg-2 col-form-label text-lg-right">Format: 'mm-dd-yyyy'</label>
                            <div class="col-lg-10">
                                <!-- Format: 'mm-dd-yyyy' -->
                                <div class="input-group with-addon-icon-left">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="icon-calendar"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control date-picker_5" placeholder="Select date">
                                </div>
                                <!-- /Format: 'mm-dd-yyyy' -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputNormal" class="col-lg-2 col-form-label text-lg-right">Range select</label>
                            <div class="col-lg-10 ">
                                <!-- Range select -->
                                <div class="input-daterange input-group date-range-picker">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="icon-calendar"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="input-sm form-control" name="start" placeholder="Start Date">
                                    <div class="input-group-prepend input-group-append">
                                        <div class="input-group-text">to</div>
                                    </div>
                                    <input type="text" class="input-sm form-control" name="end" placeholder="End Date">
                                </div>
                                <!-- /Range select -->
                            </div>
                        </div>
                    </form>
                {{/card_body_has}}
            {{/card}}
        </div>
    </div>
</div>