---
title: "Typeahead"
lead: A flexible JavaScript library that provides a strong foundation for building robust typeaheads.
forms-ui: true
categories: Advanced Form Elements

js_vendors:
- typeahead.js/dist/typeahead.bundle

css_vendors_extended:
- typeahead-js

js_vendors_extended:
- typeahead-js

---

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 offset-xl-1">
            {{#card}}
                {{{card_header 'Typeahead'}}}
                {{#card_body_has 'example'''}}
                    <form action="">

                        {{{card_title 'Default suggestion menu'}}}

                        <div class="form-group">
                            <label>Enter a state of USA:</label>
                            <!-- Default suggestion menu -->
                            <input type="text" class="form-control typeahead" placeholder="States of USA">
                            <!-- /Default suggestion menu -->
                        </div>

                        {{{card_title 'Extended suggestion menu'}}}

                        <div class="form-group">
                            <label>Enter a state of USA:</label>
                            <!-- Extended suggestion menu -->
                            <input type="text" class="form-control typeahead-extended" placeholder="States of USA">
                            <!-- /Extended suggestion menu -->
                        </div>

                        {{{card_title 'Extended-Themed suggestion menu'}}}

                        <div class="form-group">
                            <label>Enter a state of USA:</label>
                            <!-- Extended-Themed suggestion menu -->
                            <input type="text" class="form-control typeahead-extended-themed" placeholder="States of USA">
                            <!-- /Extended-Themed suggestion menu -->
                        </div>

                    </form>
                {{/card_body_has}}
            {{/card}}
        </div>
    </div>
</div>