---
title: "Typeahead"
lead: Powerful, elegant, animated, and fully customizable jQuery based color picker.
forms-ui: true
categories: Advanced Form Elements

js_vendors:
- typeahead.js/dist/typeahead.bundle

css_vendors_extended:
- typeahead-js

js_vendors_extended:
- typeahead-js

---

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 offset-xl-1">
            {{#card}}
                {{{card_header 'Typeahead'}}}
                {{#card_body_has 'example'''}}
                    <form action="">

                        {{{card_title 'Default suggestion menu'}}}

                        <div class="form-group">
                            <label>Enter a state of USA:</label>
                            <!-- States of USA -->
                            <input type="text" class="form-control typeahead"  placeholder="States of USA">
                            <!-- /States of USA -->
                        </div>

                        {{{card_title 'Extended suggestion menu'}}}

                        <div class="form-group">
                            <label>Enter a state of USA:</label>
                            <!-- States of USA -->
                            <input type="text" class="form-control typeahead-extended"  placeholder="States of USA">
                            <!-- /States of USA -->
                        </div>

                        {{{card_title 'Extended-Themed suggestion menu'}}}

                        <div class="form-group">
                            <label>Enter a state of USA:</label>
                            <!-- States of USA -->
                            <input type="text"  class="form-control typeahead-extended-themed"  placeholder="States of USA">
                            <!-- /States of USA -->
                        </div>


                    </form>
                {{/card_body_has}}
            {{/card}}
        </div>
    </div>
</div>