---
title: "Wysiwyg editors"
lead: Simple, beautiful wysiwyg editor.
forms-ui: true
categories: Advanced Form Elements

js_vendors:
- bootstrap-wysiwyg/js/bootstrap-wysiwyg.min

---

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 offset-xl-1">
            {{#card}}
                {{{card_header 'Wysiwyg editors'}}}
                {{#card_body_has 'example'''}}
                    <div class="form-group row">
                        <label for="credit-card" class="col-lg-3 col-form-label text-lg-right">Credit card</label>
                        <div class="col-lg-6">
                            <!-- Credit card -->

                            <!-- /Credit card -->
                        </div>
                    </div>

                {{/card_body_has}}
            {{/card}}
        </div>
    </div>
</div>