---
title: "Wysiwyg editors"
lead: Turns any DIV elements into a fully configurable star rating component.
forms-ui: true
categories: Advanced Form Elements
---

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 offset-xl-1">
            {{#card}}
                {{{card_header 'Wysiwyg editors'}}}
                {{#card_body_has 'example'''}}
                 coming soon..
                {{/card_body_has}}
            {{/card}}
        </div>
    </div>
</div>