---
title: Image overlays
lead: Turn an image into a card background and overlay your card’s text. Depending on the image, you may or may not need additional styles or utilities.
components: true
categories: Cards
---

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <!-- Image overlays variation 1 -->
            <div class="card text-white">
                <img class="card-img" src="https://source.unsplash.com/collection/838038/600x338" alt="Card image">
                <div class="card-img-overlay overlay-primary border-radius-lg">
                    <h5 class="card-title text-white">Card title</h5>
                    <p class="card-text text-white">This is a wider card with supporting text below as a natural lead-in
                        to additional content. This content is a little bit longer.</p>
                    <p class="card-text">
                        <small class="text-white">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
            <!-- /Image overlays variation 1 -->
        </div>
        <div class="col-lg-3">
            <!-- Image overlays variation 2 -->
            <div class="card text-white">
                <img class="card-img" src="https://source.unsplash.com/collection/838038/600x338" alt="Card image">
                <div class="card-img-overlay overlay-secondary border-radius-lg">
                    <h5 class="card-title text-white">Card title</h5>
                    <p class="card-text text-white">This is a wider card with supporting text below as a natural lead-in
                        to additional content. This content is a little bit longer.</p>
                    <p class="card-text">
                        <small class="text-white">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
            <!-- /Image overlays variation 2 -->
        </div>
        <div class="col-lg-3">
            <!-- Image overlays variation 3 -->
            <div class="card text-white">
                <img class="card-img" src="https://source.unsplash.com/collection/838038/600x338" alt="Card image">
                <div class="card-img-overlay overlay-warning border-radius-lg">
                    <h5 class="card-title text-white">Card title</h5>
                    <p class="card-text text-white">This is a wider card with supporting text below as a natural lead-in
                        to additional content. This content is a little bit longer.</p>
                    <p class="card-text">
                        <small class="text-white">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
            <!-- /Image overlays variation 3 -->
        </div>
        <div class="col-lg-3">
            <!-- Image overlays variation 4 -->
            <div class="card text-white">
                <img class="card-img" src="https://source.unsplash.com/collection/838038/600x338" alt="Card image">
                <div class="card-img-overlay overlay-info border-radius-lg">
                    <h5 class="card-title text-white">Card title</h5>
                    <p class="card-text text-white">This is a wider card with supporting text below as a natural lead-in
                        to additional content. This content is a little bit longer.</p>
                    <p class="card-text">
                        <small class="text-white">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
            <!-- /Image overlays variation 4 -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <!-- Image overlays variation 5 -->
            <div class="card text-white">
                <img class="card-img" src="https://source.unsplash.com/collection/838038/600x338" alt="Card image">
                <div class="card-img-overlay overlay-danger border-radius-lg">
                    <h5 class="card-title text-white">Card title</h5>
                    <p class="card-text text-white">This is a wider card with supporting text below as a natural lead-in
                        to additional content. This content is a little bit longer.</p>
                    <p class="card-text">
                        <small class="text-white">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
            <!-- /Image overlays variation 5 -->
        </div>
        <div class="col-lg-3">
            <!-- Image overlays variation 6 -->
            <div class="card text-white">
                <img class="card-img" src="https://source.unsplash.com/collection/838038/600x338" alt="Card image">
                <div class="card-img-overlay overlay-success border-radius-lg">
                    <h5 class="card-title text-white">Card title</h5>
                    <p class="card-text text-white">This is a wider card with supporting text below as a natural lead-in
                        to additional content. This content is a little bit longer.</p>
                    <p class="card-text">
                        <small class="text-white">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
            <!-- /Image overlays variation 6 -->
        </div>
        <div class="col-lg-3">
            <!-- Image overlays variation 7 -->
            <div class="card text-dark">
                <img class="card-img" src="https://source.unsplash.com/collection/838038/600x338" alt="Card image">
                <div class="card-img-overlay overlay-light border-radius-lg">
                    <h5 class="card-title text-dark">Card title</h5>
                    <p class="card-text text-dark">This is a wider card with supporting text below as a natural lead-in
                        to additional content. This content is a little bit longer.</p>
                    <p class="card-text">
                        <small class="text-dark">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
            <!-- /Image overlays variation 7 -->
        </div>
        <div class="col-lg-3">
            <!-- Image overlays variation 8 -->
            <div class="card text-white">
                <img class="card-img" src="https://source.unsplash.com/collection/838038/600x338" alt="Card image">
                <div class="card-img-overlay overlay-dark border-radius-lg">
                    <h5 class="card-title text-white">Card title</h5>
                    <p class="card-text text-white">This is a wider card with supporting text below as a natural lead-in
                        to additional content. This content is a little bit longer.</p>
                    <p class="card-text">
                        <small class="text-white">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
            <!-- /Image overlays variation 8 -->
        </div>
    </div>
</div>
