// ================================================================================================
// File Name      : sidebar-nav.scss
// Description    : Handles styling exclusive to the page's sidebar navigation.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

// TODO https://gist.github.com/jareware/4738651

//
// SIDEBAR MENU
// ======================================================

$s: sidebar;

.#{$s} {
  // Base styles
  .#{$s}__nav {
    flex: 1;
    display: flex;
    flex-direction: column;

    ul {
      outline: 0;
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        text-align: left;
      }
    }

  }

  // Sidebar item heading
  .#{$s}__item-header {
    @if bool($enable-sidebar-active-border-type) == true {
      @include add-border($sidebar-active-border-type-size, transparent, left);
    }
    padding: $sidebar-padding-y $sidebar-padding-x;
    font-size: $sidebar-item-header-font-size;
    font-weight: $sidebar-item-header-font-weight;
    text-transform: uppercase;
    white-space: nowrap;
    min-height: $sidebar-item-header-height;
    line-height: $sidebar-item-header-height;
    letter-spacing: $sidebar-item-header-letter-spacing;
    opacity: $sidebar-item-header-opacity !important;
    position: relative;

    // Sidebar divider 'after-line' type
    @if bool($enable-sidebar-divider-underline-type) == false {
      &::after {
        content: '';
        height: $sidebar-divider-height;
        position: absolute;
        width: 100%;
        margin-left: 5px;
        @include center(y);
      }
    }

  }

  // Sidebar divider 'underline' type
  .#{$s}__divider {
    height: $sidebar-divider-height;
    margin: $sidebar-divider-margin-y $sidebar-divider-margin-x;
    display: flex;
  }

  // Sidebar menu item
  .#{$s}__item {
    @if bool($enable-sidebar-active-border-type) == true {
      @include transition(border .3s ease);
      @include add-border($sidebar-active-border-type-size, transparent, left); // Set border to invisible, so we don't see a 2px border
    }
    position: relative;
    box-sizing: border-box;

    // Sidebar menu link
    > .#{$s}__link {
      @include transition(background-color .3s ease);
      font-size: $sidebar-link-font-size;
      text-decoration: none;
      padding: $sidebar-link-padding-y ($sidebar-link-padding-x + $sidebar-link-caret-margin-right) $sidebar-link-padding-y $sidebar-link-padding-x;
      line-height: $sidebar-link-line-height;
      display: flex;
      align-items: center;
      flex-direction: row;

      &.has-arrow::after {
        right: $sidebar-link-caret-margin-right;
      }

      // Sidebar menu link icon
      .#{$s}__link-icon {
        margin-right: $sidebar-link-icon-margin-right;
        text-align: center;
        width: $sidebar-link-icon-width;
        display: inline-block;

        > i {
          font-size: $sidebar-link-icon-font-size;
        }
      }

      // Sidebar menu link title
      .#{$s}__link-title {
        display: inline-block;
        flex: 1;
      }

    }
  }

  // Sidebar menu with button
  .#{$s}__item.has-button {
    padding: $sidebar-padding-y $sidebar-padding-x;
  }

  // Sidebar child menu
  .#{$s}__child {
    .#{$s}__item {
      border: 0;
      .#{$s}__link {
        font-size: $sidebar-submenu-link-font-size;
        padding: $sidebar-submenu-link-padding-y ($sidebar-submenu-link-padding-x + $sidebar-link-caret-margin-right) $sidebar-submenu-link-padding-y $sidebar-submenu-link-padding-x;
        position: relative;
      }
    }
  }

  @for $i from 1 through $sidebar-submenu-max-levels {
    $selector: '';

    @for $l from 1 through $i {
      $selector: "#{$selector} .#{$s}__child";
    }

    #{$selector} .#{$s}__item .#{$s}__link {
      padding-left: $sidebar-submenu-link-padding-x + $sidebar-submenu-link-margin-left + (15px * ($i - 1));
    }

  }

  // Specify a width for the parent sidebar item so the menu text doesn't break upon toggling the mini sidebar
  .#{$s}__nav > ul > .#{$s}__item,
  .#{$s}__nav > ul > .#{$s}__item-header,
  .#{$s}__nav > ul > .#{$s}__item > .#{$s}__child {
    width: $sidebar-width;
  }

  .#{$s}__nav > ul > .#{$s}__item > .#{$s}__child > .#{$s}__item {
    &:last-of-type {
      padding-bottom: 10px;
    }
  }

}

//
// MINI SIDEBAR MENU & MODIFIERS
// ======================================================

.#{$s}-mini .#{$s} {

  // Hiding headers, dividers etc... so the mini sidebar can reduce its UI complexity
  .#{$s}__item .badge,
  .#{$s}__item.active::before,
  .#{$s}__item.has-button,
  .#{$s}__item-header,
  .#{$s}__divider {
    /*    @include transition;
        @extend %o-v-none;
        min-height: 0;
        height: 0;
        line-height: 0;
        margin: 0;*/
    display: none;
  }

  .#{$s}__nav > ul > .#{$s}__item:not(.has-button) {
    position: static;
    display: block;

    @if bool($enable-sidebar-active-border-type) == true {
      width: $sidebar-mini-width - $sidebar-active-border-type-size;
    } @else {
      width: $sidebar-mini-width;
    }


    > .#{$s}__link {
      padding: $sidebar-link-padding-y 0;
      @if bool($enable-sidebar-active-border-type) == true {
        width: $sidebar-mini-width - $sidebar-active-border-type-size;
      } @else {
        width: $sidebar-mini-width;
      }

      .#{$s}__link-icon {
        margin: 0;
        @if bool($enable-sidebar-active-border-type) == true {
          width: $sidebar-mini-width - $sidebar-active-border-type-size;
        } @else {
          width: $sidebar-mini-width;
        }
      }

      &.has-arrow::after {
        @extend %o-v-none;
        display: none;
      }

      .#{$s}__link-title {
        position: fixed;
        display: none;
        width: $sidebar-width;
        left: $sidebar-mini-width;
        padding: $sidebar-link-padding-y $sidebar-link-padding-x;
        background-color: inherit;
      }

    }

    // Sub menu - First level
    > .#{$s}__child {
      position: absolute;
      width: $sidebar-mini-submenu-width;
      left: $sidebar-mini-width;
      box-shadow: $header-shadow;
      height: auto;
      display: none;
      overflow-y: auto;

    }

  }

  @for $i from 1 through $sidebar-submenu-max-levels {
    $selector: '';

    @for $l from 1 through $i {
      $selector: "#{$selector} .#{$s}__child";
    }

    #{$selector} .#{$s}__item a {
      padding-left: $sidebar-submenu-link-padding-x +  (15px * ($i - 1));
    }

  }

  // Show sub menu item title on hover
  .#{$s}__nav > ul > .#{$s}__item:not(.has-button) {
    @if bool($enable-sidebar-active-border-type) == true {
      width: $sidebar-mini-active-menu-width - $sidebar-active-border-type-size; // Adjust the width to include border of parent li
    } @else {
      width: $sidebar-mini-active-menu-width;
    }

    //&:hover
    &.show {
      > .#{$s}__link {
        transition: none;
        @if bool($enable-sidebar-active-border-type) == true {
          width: $sidebar-mini-active-menu-width - $sidebar-active-border-type-size; // Adjust the width to include border of parent li
        } @else {
          width: $sidebar-mini-active-menu-width;
        }
        position: static;

        .#{$s}__link-title {
          display: block;
        }
      }
      > .#{$s}__child {
        display: block;
      }
    }
  }

}

//
// MINI SIDEBAR FULL HEIGHT TYPE
// ======================================================

.#{$s}-mini.full {
  .sidebar {
    .#{$s}__nav > ul > .#{$s}__item.has-child:not(.has-button) {
      //&:hover
      &.show {
        > .#{$s}__link {
          .#{$s}__link-title {
            top: $header-height;
            height: $sidebar-mini-full-item-height;
            padding: 0 $sidebar-link-padding-x;
            display: flex;
            align-items: center;
          }
        }
        > .#{$s}__child {
          top: $header-height + $sidebar-mini-full-item-height;
          bottom: 0;
          overflow-y: auto;
          padding-bottom: $footer-min-height;
        }
      }
    }
  }
}

//
// COLLAPSIBLE SIDEBAR
// ======================================================

.#{$s}-mini-collapsible .#{$s} {
  &:not(:hover) {

    .#{$s}__nav > ul > .#{$s}__item-header {
      width: $sidebar-mini-width;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: inline-block;
      white-space: nowrap;
      vertical-align: top;
    }

    .#{$s}__nav > ul > .#{$s}__item:not(.has-button) {

      > .#{$s}__link {
        @include transition(padding .3s ease);
        padding: $sidebar-link-padding-y 0;

        .#{$s}__link-icon {
          @include transition(width .3s ease);
          margin-right: 0;
          @if bool($enable-sidebar-active-border-type) == true {
            width: $sidebar-mini-width - $sidebar-active-border-type-size;
          } @else {
            width: $sidebar-mini-width;
          }
        }

        .#{$s}__link-title {
          padding-left: $sidebar-submenu-link-padding-x;
        }

      }

      > .#{$s}__child {
        @include transition(padding .3s ease);
        padding-left: $sidebar-mini-width / 2;
        position: relative;
        box-sizing: content-box;

        &::before {
          @include add-border(1px, transparent, left);
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: calc(#{$sidebar-mini-width / 2} - 1px);
          display: block;
          width: 0;
          z-index: 50;
        }
      }

      .#{$s}__child {
        .#{$s}__item.active > .#{$s}__link {
          background: none !important;

          &::before {
            @include center(xy);
            content: "";
            position: absolute;
            display: block;
            left: 0;
            width: 8px;
            height: 8px;
            border-radius: $border-radius-50;
            z-index: 55;
          }
        }
      }
    }

    .#{$s}__nav > ul > .#{$s}__item.has-button {
      & .btn {
        @include transition(width .3s ease);
        white-space: nowrap;
        overflow: hidden;
        text-indent: -9999px;
        min-width: initial;
        //font-size: 0;
        width: calc(#{$sidebar-mini-width} - #{$sidebar-link-padding-x * 2});
        display: inline-flex !important;
        padding-left: 0;
        padding-right: 0;

        > i {
          display: none;
        }
      }
    }
  }

}

//
// SIDEBAR FOOTER
// ======================================================
// Adapted from https://codepen.io/JonBergman/pen/pJmejw, https://codepen.io/addjones/pen/yJEPER TODO: Remove this line later

.#{$s} {
  .#{$s}-footer {
    @include add-border(1px, transparent, top);
    min-height: $sidebar-footer-height;
    box-shadow: $sidebar-footer-shadow;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0;

    .#{$s}-footer__list {
      padding: 0;
      margin: 1px 0 0 0;
      display: flex;
      flex: 1;
    }

    .#{$s}-footer__nav > ul > .#{$s}-footer__item {
      @include transition;
      @extend %o-v-none;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;

      > .#{$s}-footer__link {
        @include transition;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        i {
          font-size: $sidebar-footer-icon-font-size;
        }
      }

    }

    .#{$s}-footer__child {
      outline: 0;
      padding: 0;
      margin: 0;
      .#{$s}-footer__item {
        .#{$s}-footer__link {
          font-size: $sidebar-footer-font-size;
          text-decoration: none;
          padding: $sidebar-submenu-link-padding-y ($sidebar-submenu-link-padding-x + $sidebar-link-caret-margin-right) $sidebar-submenu-link-padding-y $sidebar-submenu-link-padding-x;
          line-height: $sidebar-link-line-height;
          display: flex;
          align-items: center;
          flex-direction: row;
          list-style: none;

          &.has-arrow::after {
            right: $sidebar-link-caret-margin-right;
          }
        }
      }
    }

    @for $i from 1 through $sidebar-submenu-max-levels {
      $selector: '';

      @for $l from 1 through $i {
        $selector: "#{$selector} .#{$s}-footer__child";
      }

      #{$selector} .#{$s}-footer__item .#{$s}-footer__link {
        padding-left: $sidebar-submenu-link-padding-x + (15px * ($i - 1));
      }

    }

    .#{$s}-footer__nav > ul > .#{$s}-footer__item > .#{$s}-footer__child {
      @include add-border($sidebar-footer-child-border-top-size, transparent, top);
      width: $sidebar-footer-width;
      bottom: $sidebar-footer-height;
      position: absolute;
    }

    .#{$s}-footer__nav > ul > .#{$s}-footer__item > .#{$s}-footer__child > .#{$s}-footer__item {
      &:first-of-type {
        padding-top: 10px;
      }
      &:last-of-type {
        padding-bottom: 10px;
      }
    }

    // Sidebar mini toggle button
    .#{$s}__footer--toggler {
      background: transparent;
      position: relative;
      border: 0;
      cursor: $cursor-pointer;
      height: $sidebar-footer-height;
      flex: 1;
    }

  }
}

//
// SIDEBAR THEMES
// ======================================================

//.#{$s}.#{$s}-themed {
//  @include sidebar-theme($sidebar-theme-scheme, 'font-color', 'font-link-color', 'font-hover-color', 'font-active-color');
//}

.#{$s}.#{$s}-themed-test {

  $font-color: theme-partial-color($sidebar-theme-scheme, font-color);
  $font-link-color: theme-partial-color($sidebar-theme-scheme, font-link-color);
  $font-hover-color: theme-partial-color($sidebar-theme-scheme, font-hover-color);
  $font-active-color: theme-partial-color($sidebar-theme-scheme, font-active-color);

  @include sidebar-theme-test($sidebar-theme-scheme, $font-color, $font-link-color, $font-hover-color, $font-active-color);
}
