// ================================================================================================
// File Name      : aside.scss
// Description    : This file contains all styles related to the aside (2nd sidebar).
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

// Wraps all aside elements
.aside {
  @include transition;
  @include background-color($aside-theme-scheme, 'base');
  @include color($aside-theme-scheme, 'font-color');
  transform: translateX($sidebar-width + 20px); // Hiding aide as default
  padding-bottom: $footer-min-height;
  top: $header-height;
  width: $sidebar-width;
  right: 0;
  bottom: 0;
  display: flex;
  //position: fixed;
  flex-direction: column;
  height: 100%;
  z-index: map-get($zindex, aside);

  .aside-is-open & {
    @include transition;
    position: absolute;
    transform: none; // Showing aside if body has .aside-is-open class
  }

  &,
  .header-fixed & {
    position: fixed;
  }

  &__inner-wrap {
  }
}