// ================================================================================================
// File Name      : footer.scss
// Description    : This file contains all styles related to the footer layout, but not footer
//                  navigation. Due to the complexity of the footer navigation, we will likely have
//                  a file dedicated to it, please check 'layout/_footer-nav.scss`.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

// Wraps all footer elements
.master-footer {
  @include transition;
  @include background-theme($footer-theme-scheme);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  min-height: $footer-min-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: map-get($zindex, footer);

  // Footer inner wrapper
  &__inner-wrap {
    @include color($footer-theme-scheme, 'font-color');
  }

  .footer-fixed & {
    position: fixed;
  }

  .sidebar-is-open .footer-fixed & {
    margin-left: $sidebar-width;
  }

  .sidebar-mobile.sidebar-is-open .footer-fixed & {
    margin-right: -$sidebar-width;
  }

  .sidebar-is-open.sidebar-mini .footer-fixed & {
    margin-left: $sidebar-mini-width;
  }

}