// ================================================================================================
// File Name      : header-nav.scss
// Description    : Handles styling exclusive to the page's navigation header, the navbar.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

$nb: navbar;
.master-header__#{$nb} {

  // Navbar
  & {
    padding: $navbar-padding-y $navbar-padding-x;
    min-height: $header-height;
    box-shadow: $header-shadow;
  }

  // Navbar brand
  .#{$nb}-brand {
    padding-top: $navbar-brand-padding-y;
    padding-bottom: $navbar-brand-padding-y;
    margin-right: $navbar-padding-x;
    font-size: $navbar-brand-font-size;
  }

  // Navbar text
  .#{$nb}-text {
    font-size: $navbar-text-font-size;
    font-weight: $navbar-text-font-weight;
    line-height: $navbar-text-line-height;
    padding: $navbar-link-padding-y $navbar-link-padding-x;
  }

  // Navbar nav
  .#{$nb}-nav {

    & {
      align-items: center;
    }

    .nav-item {
      font-size: $navbar-font-size;
      font-weight: $navbar-font-weight;
      line-height: $navbar-line-height;
      position: relative;
    }

    // Navbar menu links
    .nav-link {
      @include transition;
      font-size: $navbar-font-size;
      font-weight: $navbar-font-weight;
      line-height: $navbar-line-height;
      min-width: $navbar-link-min-width;
      padding: $navbar-link-padding-y $navbar-link-padding-x;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      #{$icon-tags} {
        font-size: 130%;
      }

      &.disabled {
        @include opacity(0.3);
        cursor: $cursor-not-allowed;
        background-color: transparent;
      }

      // Navbar menu notification badge
      /*.badge {
        !* position: absolute;
         right: 0.33rem;
         margin-top: -0.33rem;*!
        left: auto;
        top: 0;
        right: 0.33rem;
        @include max-screen($screen-md-max) {
          margin-top: 0;
          right: 1em;
        }

      }*/

      // Helper classes to make sure the icons are perfectly aligned on either sides of text.
      &.has-icon-left {
        #{$icon-tags} {
          padding: 0 $navbar-link-icon-padding-right 0 0;
        }
      }
      &.has-icon-right {
        #{$icon-tags} {
          padding: 0 0 0 $navbar-link-icon-padding-left;
        }
      }
    }

  }

  .#{$nb}-nav.no-collapse {
    position: relative;
    .dropdown-menu {
      position: absolute;
    }
  }

}

// Generate series of `.#{$nb}-expand-*` responsive classes for configuring
// where your navbar collapses.

@each $size, $length in $breakpoints-max-widths {
  $next: breakpoint-next($size, $breakpoints-min-widths);
  @include max-screen(#{$length}) {
    .#{$nb}-expand-#{$next}.master-header__#{$nb} {

      .#{$nb}-nav:not(.no-collapse) {
        & {
          align-items: stretch;
        }

        .nav-link {
          justify-content: flex-start;
        }
        .nav-item {
          @if bool($navbar-item-mobile-bottom-border) == true {
            &::after {
              content: '';
              height: $navbar-item-mobile-bottom-border-size;
              position: absolute;
              width: 100%;
              top: 0;
              opacity: 0.2;
            }
            /* &:last-of-type {
               &::after {
                 display: none
               }
             }*/
          }
        }
        .dropdown-menu {
          margin-bottom: $dropdown-margin-bottom;
          &:before,
          &:after {
            display: none;
          }
        }
      }

      .#{$nb}-nav.no-collapse {
        @if bool($navbar-item-mobile-bottom-border) == true {
          &::after {
            content: '';
            height: $navbar-item-mobile-bottom-border-size;
            position: absolute;
            width: 100%;
            top: 0;
            opacity: 0.2;
          }
        }
      }

      .#{$nb}-collapse {
        max-height: calc(100vh - #{$header-height});
        //overflow-y: scroll;
      }
    }
  }
}

//
// NAVBAR THEMES
// ======================================================

.master-header__#{$nb}.#{$nb}-bg-themed {
  @include navbar-theme($navbar-theme-scheme, $navbar-color, $navbar-link-color, $navbar-hover-color, $navbar-active-color, $bg: true, $font: true);
}

// Theme variations
@each $themeName, $value in $themes-map {
  $colors: map-get-strict($value, 'main-colors');
  @each $scheme, $tone in $colors {
    .master-header__#{$nb}.#{$nb}-bg-#{$scheme} {
      @include navbar-theme($scheme, $bg: true, $font: false);
    }
  }
}

// Contextual variations
@each $scheme, $tone in $contextual-palette-map {
  .master-header__#{$nb}.#{$nb}-bg-#{$scheme} {
    @include navbar-theme($scheme, $bg: true, $font: false);
  }
}

// Styles for switching between navbars with light or dark background.

// White fonts against a dark background
.master-header__#{$nb}.#{$nb}-dark {
  @include navbar-theme('', $navbar-dark-color, $navbar-dark-link-color, $navbar-dark-hover-color, $navbar-dark-active-color, $bg: false, $font: true);
}

// Dark fonts against a light background
.master-header__#{$nb}.#{$nb}-light {
  @include navbar-theme('', $navbar-light-color, $navbar-light-link-color, $navbar-light-hover-color, $navbar-light-active-color, $bg: false, $font: true);
}
