// ================================================================================================
// File Name      : header-nav.scss
// Description    : Handles styling exclusive to the page's navbar.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

.master-header__navbar {
  position: relative;
  flex-direction: row;

  // Change the brand and text color
  .navbar-brand {
    @include color($header-theme-scheme, 'font-color');
  }

  .navbar-text {
    @include color($header-theme-scheme, 'font-color');
    @include opacity(0.8);
    font-size: $navbar-text-font-size;
    font-weight: $navbar-text-font-weight;
    display: flex;
    align-items: center;
  }

  .navbar-nav {
    display: flex;
    align-items: stretch;
  }

  .nav-item {
    position: relative;
    text-align: center;
    display: flex;
    //align-items: center;
    flex-direction: row;

    @include max-screen($screen-md-max) {
      @if bool($navbar-item-mobile-bottom-border) == true {
        @include border-bottom-color($header-theme-scheme, 'light');
        border-bottom: 1px solid;
      } @else {
        border-bottom: 0
      }
    }

    &:last-of-type {
      border-bottom: 0
    }

    // Change the color of open, show, active links for better highlighting
    &.open > .nav-link,
    &.show > .nav-link,
    &.active > .nav-link {
      @include background-color($header-theme-scheme, 'light');
      @include color($header-theme-scheme, 'font-active-color');
    }
  }

  // Navbar menu links
  .nav-link {
    @include transition;
    @include color($header-theme-scheme, 'font-link-color');
    font-size: $navbar-font-size;
    font-weight: $navbar-font-weight;
    position: relative;
    background-color: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    min-width: 50px;

    @include max-screen($screen-md-max) {
      justify-content: flex-start;
    }

    &.disabled {
      @include opacity(0.3);
      cursor: $cursor-not-allowed;
      background-color: transparent;
    }

    // Change the hover, focus, active state links for better highlighting

    #{$hover-tags} {
      @include color($header-theme-scheme, 'font-hover-color');
      @include background-color($header-theme-scheme, 'light');
    }

    #{$focus-tags},
    #{$active-tags} {
      @include background-color($header-theme-scheme, 'light');
      @include color($header-theme-scheme, 'font-active-color');
    }

    // Navbar menu notification badge
    .badge {
      /* position: absolute;
       right: 0.33rem;
       margin-top: -0.33rem;*/
      left: auto;
      top: 0;
      right: 0.33rem;
      @include max-screen($screen-md-max) {
        margin-top: 0;
        right: 1em;
      }

      animation-name: scaleCount;
      animation-iteration-count: 1;
      animation-timing-function: all;
      animation-duration: 1s;
      animation-delay: 0s;

      @keyframes scaleCount {
        0% {
          transform: scale(0);
        }
        40% {
          transform: scale(1);
        }
        60% {
          transform: scale(.5);
        }
        80% {
          transform: scale(1.25);
        }
      }

    }
  }

}

@include max-screen($screen-md-max) {
  .navbar-collapse {
    //max-height: 300px;
    //overflow-y: scroll;
  }
}

