// ================================================================================================
// File Name      : header.scss
// Description    : This file contains all styles related to the header layout, but not navbar.
//                  Due to the complexity of the navbar, we will likely have a file dedicated to it,
//                  please check 'layout/_header-nav.scss`.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

// Wraps all header elements
.master-header {
  @include transition;
  @include clearfix;
  @include background-theme($header-theme-scheme);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  z-index: map-get($zindex, header);
  min-height: $header-height;
  box-shadow: $header-shadow;
  display: flex;
  align-items: center;

  // Header inner wrapper
  &__inner-wrap {
    @include color($header-theme-scheme, 'font-color');
    width: 100%;
  }

  .header-fixed & {
    position: fixed;
  }

  .sidebar-is-open .header-fixed & {
    margin-left: $sidebar-width;
  }

  .sidebar-mobile.sidebar-is-open .header-fixed & {
    margin-right: -$sidebar-width;
  }

  .sidebar-is-open.sidebar-mini .header-fixed & {
    margin-left: $sidebar-mini-width;
  }

}