// ================================================================================================
// File Name      : header.scss
// Description    : This file contains all styles related to the header layout, but not navbar.
//                  Due to the complexity of the navbar, we will likely have a file dedicated to it,
//                  please check 'layout/_header-nav.scss`.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ, <manoj [at] xxx [dot] net>
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

// Wraps all header elements
.master-header {
  @include transition;
  @include clearfix;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  top: 0;
  z-index: map-get($zindex, header);
  display: flex;

  // Header inner wrapper
  &__inner-wrap {
    width: 100%;
  }

  .header-fixed & {
    position: fixed;
  }

  .sidebar-is-open:not(.sidebar-mobile) .header-fixed & {
    margin-left: $sidebar-width;
  }

  .sidebar-is-open.sidebar-mini .header-fixed & {
    margin-left: $sidebar-mini-width;
  }

  /*.sidebar-mobile.sidebar-is-open .header-fixed & {
    margin-right: -$sidebar-width;
  }
*/
}
