// ================================================================================================
// File Name      : sidebar.scss
// Description    : This file contains all styles related to the sidebar layout, but not sidebar
//                  navigation. Due to the complexity of the sidebar navigation, we will likely
//                  have a file dedicated to it, please check `layout/_sidebar-nav.scss`.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

// TODO, Header design idea, remove the below links.
// https://gist.github.com/jareware/4738651
// Header design idea https://uk.pixelz.com/

// TODO, sidebar menu idea - nice
// https://forums.imore.com/iphone-6s-plus/361561-photos-emailed-upside-down.html
// https://codepen.io/j_holtslander/pen/XmpMEp

// Wraps all sidebar elements
.sidebar {
  $s: sidebar;
  @include transition;
  padding-bottom: $sidebar-footer-height;
  position: absolute;
  top: 0;
  margin-left: -$sidebar-width;
  width: 0;
  left: 0;
  z-index: map-get($zindex, sidebar);
  display: flex;
  flex-direction: column;
  height: 100%;
  transform: translateX(-$sidebar-width);

  // Sidebar inner wrapper
  .#{$s}__inner-wrap {
    position: relative;
    //height: calc(100% - #{$sidebar-footer-height});
    height: 100%;
    width: 100%;
    display: flex;
    //flex: 1;
    flex-direction: column;
  }

  .#{$s}__nav {
    overflow-x: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;

    ul {
      outline: 0;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        text-align: left;
      }
    }

  }

  // Sidebar brand logo
  .#{$s}__brand {
    padding: $sidebar-padding-y $sidebar-padding-x;
    height: $sidebar-brand-height;
  }

  // Showing sidebar and its footer if body has class (.sidebar-is-open)
  &-is-open & {
    width: $sidebar-width;
    transform: translateX(0);

    .#{$s}__inner-wrap > * {
      @include transition;
      //@extend %o-v-show;
    }

    .#{$s}-footer {
      width: $sidebar-footer-width;
    }

    .#{$s}-footer__nav > ul > .#{$s}-footer__item {
      @extend %o-v-show;
    }
  }

  // Hiding sidebar if body has class (.sidebar-is-closed)
  &-is-closed & {

    .#{$s}__inner-wrap > * {
      @include transition;
      //@extend %o-v-none;
      //transform: translateX(-$sidebar-width);
    }

    .#{$s}-footer {
      overflow-x: hidden;
    }
  }

  // Sidebar mobile view
  &-mobile & {
    left: $sidebar-width;
  }
  &-mobile.#{$s}-is-open {
    overflow: hidden
  }

  // Fixed sidebar
  &-fixed & {
    position: fixed;
    left: $sidebar-width;
    height: 100vh !important;
    //height: calc(var(--vh, 1vh) * 100);
  }

  // Mini sidebar modifiers
  &-is-open.#{$s}-mini & {
    margin-left: -$sidebar-mini-width;
    width: $sidebar-mini-width;
  }

  &-is-open.#{$s}-mini &-fixed & {
    left: $sidebar-mini-width;
  }

  &-mobile.#{$s}-mini & {
    left: 0;
  }


  // Collapsible and Popout sidebar modifiers
  &-is-open.#{$s}-mini .#{$s}.collapsible:hover {
    width: $sidebar-width;
  }

  &-is-open.#{$s}-mini .#{$s}.collapsible:not(:hover),
  &-is-open.#{$s}-mini .#{$s}.popout {
    .#{$s}-footer {
      width: $sidebar-mini-width;
      overflow: hidden;

      // Hiding Sidebar footer links
      .#{$s}-footer__nav > ul > .#{$s}-footer__item:not(.mini) {
        @extend %o-v-none;
        width: 0;
        flex: 0;

        > .#{$s}-footer__link {
          i {
            display: none;
          }
        }
      }

      // Keep showing sidebar mini toggle button
      .#{$s}-footer__nav > ul > .#{$s}-footer__item.mini {
        //@extend %o-v-show;
        width: $sidebar-mini-width;
      }

      .#{$s}-footer__child {
        display: none;
      }
    }
  }

  // Sidebar mobile view
  /* &-mobile & {
     overflow-y: auto;
   }*/
}

// TODO sidebar variant from https://github.com/tannguyent/autoregistry-vue-netcore-ddd/blob/master/AutoRegistryClassDDD/scss/components/_sidebar.scss
