// ================================================================================================
// File Name      : sidebar-nav.scss
// Description    : Handles styling exclusive to the page's sidebar navigation.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ, <manoj [at] xxx [dot] net>
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

// TODO https://gist.github.com/jareware/4738651

//
// SIDEBAR MENU
// ======================================================

$s: sidebar;
.#{$s} .#{$s}__list {

  & {
    width: $sidebar-width;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  // Sidebar item heading
  .#{$s}__item-header {
    padding: $sidebar-item-header-padding-y $sidebar-item-header-padding-x;
    font-size: $sidebar-item-header-font-size;
    font-weight: $sidebar-item-header-font-weight;
    text-transform: uppercase;
    white-space: nowrap;
    min-height: $sidebar-item-header-height;
    line-height: $sidebar-item-header-height;
    letter-spacing: $sidebar-item-header-letter-spacing;
    opacity: $sidebar-item-header-opacity !important;
    position: relative;

    // Sidebar divider 'after-line' type
    @if bool($enable-sidebar-divider-underline-type) == false {
      &::after {
        content: '';
        height: $sidebar-divider-height;
        position: absolute;
        width: 100%;
        margin-left: 5px;
        opacity: 0.5;
        @include center(y);
      }
    }

  }

  // Sidebar divider 'underline' type
  .#{$s}__divider {
    height: $sidebar-divider-height;
    margin: $sidebar-divider-margin-y $sidebar-divider-margin-x;
    display: flex;
  }

  // Sidebar menu item
  .#{$s}__item {
    position: relative;
    box-sizing: border-box;

    // Sidebar menu link
    > .#{$s}__link {
      @include transition(background-color .3s ease);
      font-size: $sidebar-link-font-size;
      text-decoration: none;
      padding: $sidebar-link-padding-y ($sidebar-link-padding-x + $sidebar-link-caret-margin-right) $sidebar-link-padding-y $sidebar-link-padding-x;
      line-height: $sidebar-link-line-height;
      display: flex;
      align-items: center;
      flex-direction: row;

      &.has-arrow::after {
        right: $sidebar-link-caret-margin-right;
      }

      // Sidebar menu link icon
      .#{$s}__link-icon {
        margin-right: $sidebar-link-icon-margin-right;
        text-align: center;
        width: $sidebar-link-icon-width;
        display: inline-block;

        > i {
          font-size: $sidebar-link-icon-font-size;
        }
      }

      // Sidebar menu link title
      .#{$s}__link-title {
        display: inline-block;
        flex: 1;
      }

    }
  }

  // Sidebar menu with button
  .#{$s}__item.has-button {
    padding: $sidebar-padding-y $sidebar-padding-x;
  }

  // Sidebar child menu
  .#{$s}__child {
    width: $sidebar-width; // Specify a width so the menu text doesn't break upon toggling the mini sidebar
    .#{$s}__item {
      .#{$s}__link {
        font-size: $sidebar-submenu-link-font-size;
        padding: $sidebar-submenu-link-padding-y ($sidebar-submenu-link-padding-x + $sidebar-link-caret-margin-right) $sidebar-submenu-link-padding-y $sidebar-submenu-link-padding-x;
        position: relative;
      }
    }
  }

  @for $i from 1 through $sidebar-submenu-max-levels {
    $selector: '';

    @for $l from 1 through $i {
      $selector: "#{$selector} .#{$s}__child";
    }

    #{$selector} .#{$s}__item .#{$s}__link {
      padding-left: $sidebar-submenu-link-padding-x + $sidebar-submenu-link-margin-left + (15px * ($i - 1));
    }

  }

  > .#{$s}__item > .#{$s}__child > .#{$s}__item {
    &:last-of-type {
      padding-bottom: 10px;
    }
  }

}

//
// MINI SIDEBAR POPOUT TYPE & MODIFIERS
// ======================================================

.#{$s}-mini .#{$s}.popout .#{$s}__list.navigation-main {

  // Hiding headers, dividers etc... so the mini sidebar can reduce its UI complexity
  > .#{$s}__item .badge,
  > .#{$s}__item.has-button,
  > .#{$s}__item-header,
  > .#{$s}__divider,
  > .#{$s}__item > .#{$s}__link .#{$s}__link-title,
  > .#{$s}__item > .#{$s}__link.has-arrow::after,
  > .#{$s}__item > .#{$s}__child {
    display: none;
  }

  & {
    width: $sidebar-mini-width;
    z-index: 101; // Require for sidebar animations like 'fadeInLeft', 'slideInLeft' etc...
  }

  .#{$s}__item:not(.has-button) {

    > .#{$s}__link {
      padding: $sidebar-link-padding-y 0;
      justify-content: center;
      font-size: $sidebar-mini-link-font-size;

      .#{$s}__link-icon {
        margin: 0;
      }

    }
  }

}

.#{$s}-mini .#{$s}.popout #menu-popout-wrap {
  left: $sidebar-mini-width;
  box-shadow: $header-shadow;
  width: $sidebar-width !important;
  z-index: 100; // Require for sidebar animations like 'fadeInLeft', 'slideInLeft' etc...
}

.#{$s}-mini .#{$s}.popout .#{$s}__list.#{$s}__list-popout {

  /* overflow: hidden;
   overflow-y: scroll;*/
  overflow-x: hidden;

  @for $i from 1 through $sidebar-submenu-max-levels {
    $selector: '';

    @for $l from 1 through $i {
      $selector: "#{$selector} .#{$s}__child";
    }

    #{$selector} .#{$s}__item a {
      padding-left: $sidebar-submenu-link-padding-x +  (15px * ($i - 1));
    }

  }

}

//
// MINI SIDEBAR COLLAPSIBLE TYPE & MODIFIERS
// ======================================================

.#{$s}-mini .#{$s}.collapsible:not(:hover) {

  .#{$s}__list {

    > .#{$s}__item-header {
      width: $sidebar-mini-width;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: inline-block;
      white-space: nowrap;
      vertical-align: top;
    }

    > .#{$s}__item:not(.has-button) {

      > .#{$s}__link {
        @include transition(padding .3s ease);
        padding: $sidebar-link-padding-y 0;

        .#{$s}__link-icon {
          @include transition(width .3s ease);
          margin-right: 0;
          width: $sidebar-mini-width;
        }

        .#{$s}__link-title {
          padding-left: $sidebar-submenu-link-padding-x;
        }

      }

      > .#{$s}__child {
        @include transition(padding .3s ease);
        padding-left: $sidebar-mini-width / 2;
        position: relative;
        box-sizing: content-box;

        &::before {
          @include add-border(1px, transparent, left);
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: calc(#{$sidebar-mini-width / 2} - 1px);
          display: block;
          z-index: 50;
        }
      }

      .#{$s}__child {
        .#{$s}__item.active > .#{$s}__link {
          background: none !important;

          &::before {
            @include center(xy);
            content: "";
            position: absolute;
            display: block;
            left: 0;
            width: 8px;
            height: 8px;
            border-radius: $border-radius-50;
            z-index: 55;
          }
        }
      }
    }

    > .#{$s}__item.has-button {
      & .btn {
        @include transition(width .3s ease);
        white-space: nowrap;
        overflow: hidden;
        text-indent: -9999px;
        min-width: initial;
        //font-size: 0;
        width: calc(#{$sidebar-mini-width} - #{$sidebar-link-padding-x * 2});
        display: inline-flex !important;
        padding-left: 0;
        padding-right: 0;

        > i {
          display: none;
        }
      }
    }
  }

}

//
// MINI SIDEBAR WITH BORDER TYPE
// ======================================================

.#{$s}.bordered .#{$s}__list:not(.#{$s}__list-popout) {

  > .#{$s}__item {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      z-index: 50;
      width: $sidebar-active-border-type-size;
      height: 100%;

      /*   .#{$s}-mini & {
           width: 100%;
           bottom: 0;
           top: auto;
           height:$sidebar-active-border-type-size;
         }*/

    }

    &:hover {
      &::before {
        display: block;
        background-color: $sidebar-hover-border-theme-scheme;
        //@include add-border($sidebar-active-border-type-size, $sidebar-hover-border-theme-scheme, left);
      }
    }

    &.show,
    &.active {
      &::before {
        display: block;
        background-color: $sidebar-active-border-theme-scheme;
        //@include add-border($sidebar-active-border-type-size, $sidebar-active-border-theme-scheme, left);
      }
    }

  }
}

//
// SIDEBAR FOOTER
// ======================================================
// Adapted from https://codepen.io/JonBergman/pen/pJmejw, https://codepen.io/addjones/pen/yJEPER TODO: Remove this line later

.#{$s} {
  .#{$s}-footer {
    @include add-border(1px, transparent, top);
    box-shadow: $sidebar-footer-shadow;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0;
    z-index: map-get($zindex, sidebar-footer);

    .#{$s}-footer__list {
      padding: 0;
      margin: 1px 0 0 0;
      position: relative;
      min-height: $sidebar-footer-height;
      display: flex;
      flex: 1;
    }

    .#{$s}-footer__nav > ul > .#{$s}-footer__item {
      @include transition;
      @extend %o-v-none;
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex: 1;

      > .#{$s}-footer__link {
        @include transition;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        i {
          font-size: $sidebar-footer-icon-font-size;
        }

        // Notification badge
        .badge.floating {
          left: 80%;
        }

      }

    }

    .#{$s}-footer__child {
      padding: 0;
      margin: 0;

      .#{$s}-footer__item {
        .#{$s}-footer__link {
          font-size: $sidebar-footer-font-size;
          text-decoration: none;
          padding: $sidebar-submenu-link-padding-y ($sidebar-submenu-link-padding-x + $sidebar-link-caret-margin-right) $sidebar-submenu-link-padding-y $sidebar-submenu-link-padding-x;
          line-height: $sidebar-link-line-height;
          display: flex;
          align-items: center;
          flex-direction: row;
          list-style: none;

          &.has-arrow::after {
            right: $sidebar-link-caret-margin-right;
          }
        }
      }
    }

    @for $i from 1 through $sidebar-submenu-max-levels {
      $selector: '';

      @for $l from 1 through $i {
        $selector: "#{$selector} .#{$s}-footer__child";
      }

      #{$selector} .#{$s}-footer__item .#{$s}-footer__link {
        padding-left: $sidebar-submenu-link-padding-x + (15px * ($i - 1));
      }

    }

    .#{$s}-footer__nav > ul > .#{$s}-footer__item > .#{$s}-footer__child {
      @include add-border($sidebar-footer-child-border-top-size, transparent, top);
      width: $sidebar-footer-width;
      bottom: $sidebar-footer-height;
      position: absolute;
      left: 0;
    }

    .#{$s}-footer__nav > ul > .#{$s}-footer__item > .#{$s}-footer__child > .#{$s}-footer__item {
      &:first-of-type {
        padding-top: 10px;
      }

      &:last-of-type {
        padding-bottom: 10px;
      }
    }

    // Sidebar mini toggle button
    .#{$s}__footer--toggler {
      background: transparent;
      position: relative;
      border: 0;
      cursor: $cursor-pointer;
      /*height: 100%;
      width: 100%;*/
      flex: 1;
      padding: 0;
      margin: 0;
    }

  }
}

//
// SIDEBAR THEMES
// ======================================================

.#{$s}.#{$s}-bg-themed {
  @include sidebar-theme($sidebar-theme-scheme, $sidebar-color, $sidebar-link-color, $sidebar-hover-color, $sidebar-active-color, $bg: true, $font: true);
}

// Theme variations
@each $themeName, $value in $themes-map {
  $colors: map-get-strict($value, 'main-colors');
  @each $scheme, $tone in $colors {
    .#{$s}.#{$s}-bg-#{$scheme} {
      @include sidebar-theme($scheme, $bg: true, $font: false);
    }
  }
}

// Contextual variations
@each $scheme, $tone in $contextual-palette-map {
  .#{$s}.#{$s}-bg-#{$scheme} {
    @include sidebar-theme($scheme, $bg: true, $font: false);
  }
}

// Styles for switching between sidebar with light or dark background.

// White fonts against a dark background
.#{$s}.#{$s}-dark {
  @include sidebar-theme('', $sidebar-dark-color, $sidebar-dark-link-color, $sidebar-dark-hover-color, $sidebar-dark-active-color, $bg: false, $font: true);
}

// Dark fonts against a light background
.#{$s}.#{$s}-light {
  @include sidebar-theme('', $sidebar-light-color, $sidebar-light-link-color, $sidebar-light-hover-color, $sidebar-light-active-color, $bg: false, $font: true);
}
