// ================================================================================================
// File Name      : sidebar.scss
// Description    : This file contains all styles related to the sidebar layout, but not sidebar
//                  navigation. Due to the complexity of the sidebar navigation, we will likely
//                  have a file dedicated to it, please check `layout/_sidebar-nav.scss`.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

// TODO, Header design idea, remove the below links.
// https://gist.github.com/jareware/4738651
// Header design idea https://uk.pixelz.com/

// TODO, sidebar menu idea - nice
// https://forums.imore.com/iphone-6s-plus/361561-photos-emailed-upside-down.html
// https://codepen.io/j_holtslander/pen/XmpMEp

// Wraps all sidebar elements
.sidebar {
  $s: sidebar;
  @include transition;
  @include background-theme($sidebar-theme-scheme);
  padding-bottom: $sidebar-footer-height;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  margin-left: -$sidebar-width;
  width: 0;
  z-index: map-get($zindex, sidebar);
  display: flex;
  flex-direction: column;

  // Sidebar inner wrapper
  .#{$s}__inner-wrap {

    @include text-theme($sidebar-theme-scheme, 'font-color');
    height: calc(100vh - #{$sidebar-footer-height});
    bottom: $sidebar-footer-height;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: static;
    top: 0;
    display: flex;
    flex: 1;
    flex-direction: column;

    // Scrollbar style for webkit browsers
    /* &::-webkit-scrollbar-track {
       border-radius: 2px;
     }

     &::-webkit-scrollbar {
       width: 15px;
       @include background-theme($sidebar-theme-scheme);
     }

     &::-webkit-scrollbar-thumb {
       border-radius: 10px;
       -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
       @include background-theme($sidebar-theme-scheme, 'light');
     }*/

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      color: #9c9c9c;
    }
    &::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
    }
    &::-webkit-scrollbar-thumb {
      background: #657692;
      border: 0px none #ffffff;
      border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #657692;
    }
    &::-webkit-scrollbar-thumb:active {
      background: #657692;
    }
    &::-webkit-scrollbar-track {
      background: #0c1119;
      border: 0px none #ffffff;
      border-radius: 71px;
    }
    &::-webkit-scrollbar-track:hover {
      background: #0c1119;
    }
    &::-webkit-scrollbar-track:active {
      background: #0c1119;
    }
    &::-webkit-scrollbar-corner {
      background: transparent;
    }

  }

  // Hiding sidebar if body has class (.sidebar-is-closed)
  &-is-closed {
    // TODO Adapted from https://codepen.io/tonkec/pen/gryZmg
    .#{$s}__inner-wrap > * {
      @include transition;
      @extend %o-v-none;
      transform: translateX(-$sidebar-width);
    }
  }
  // Showing sidebar if body has class (.sidebar-is-open)
  &-is-open {
    .#{$s}__inner-wrap > * {
      @extend %o-v-show;
      @include transition;
    }
  }

  // Sidebar brand logo
  .#{$s}__brand {
    padding: $sidebar-padding-y $sidebar-padding-x;
    height: $sidebar-brand-height;
  }

  // Sidebar footer
  // Adapted from https://codepen.io/JonBergman/pen/pJmejw, https://codepen.io/addjones/pen/yJEPER TODO: Remove this line later
  .#{$s}__footer {
    @include background-theme($sidebar-footer-theme-scheme);
    @include border-theme($sidebar-footer-theme-scheme, 'dark', $position: top);
    @include add-border(1px, transparent, top);
    min-height: $sidebar-footer-height;
    box-shadow: $sidebar-footer-shadow;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0;

    .#{$s}__footer-list {
      padding: 0;
      margin: 1px 0 0 0;
      display: flex;
      flex: 1;
    }
    .#{$s}__footer-item {
      @include transition;
      @extend %o-v-none;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;

      a {
        @include transition;
        @include text-theme($sidebar-footer-theme-scheme, 'link-color');
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        &:active,
        &:hover {
          @include background-text-theme($sidebar-footer-theme-scheme, 'dark', 'hover-color');
        }

        i {
          font-size: $sidebar-footer-icon-font-size;
        }
      }

      &.active {
        > a {
          @include background-theme($sidebar-footer-theme-scheme, 'dark');
          @include text-theme($sidebar-footer-active-theme-scheme);
        }
      }

    }
    .#{$s}__footer-child {
      @include background-theme($sidebar-footer-theme-scheme, 'dark');
      @include border-theme($sidebar-footer-active-theme-scheme, $position: top);
      @include add-border($sidebar-footer-child-border-top-size, transparent, top);
      width: $sidebar-footer-width;
      bottom: $sidebar-footer-height;
      padding: 0;
      position: absolute;

      .#{$s}__footer-item {
        a {
          font-size: $sidebar-footer-font-size;
          padding: $sidebar-submenu-item-padding-y ($sidebar-submenu-item-padding-x + $sidebar-item-caret-margin-right) $sidebar-submenu-item-padding-y $sidebar-submenu-item-padding-x;
          align-items: flex-start;
          justify-content: flex-start;
        }
        &:first-of-type {
          padding-top: 10px;
        }
        &:last-of-type {
          padding-bottom: 10px;
        }
      }
    }
  }

  // Mini sidebar modifiers
  &-is-open.#{$s}-mini & {
    @include transition;
    left: 0;
    margin-left: -$sidebar-mini-width;
    width: $sidebar-mini-width;

    .#{$s}__footer {
      width: $sidebar-mini-width;

      // Hiding Sidebar footer links
      .#{$s}__footer-item {
        @extend %o-v-none;
        width: 0;
        flex: auto;
      }

      // Keep showing sidebar mini toggle button
      .#{$s}__footer-item.mini {
        @extend %o-v-show;
        width: $sidebar-mini-width;
      }
    }
  }

  &-is-open.#{$s}-mini &-fixed & {
    left: $sidebar-mini-width;
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// testing
  &-is-open.#{$s}-minitest & {
    @include transition;
    left: 0;
    margin-left: -$sidebar-mini-width;
    width: $sidebar-mini-width;
    :not(:hover){
      .#{$s}__footer {
        width: $sidebar-mini-width;

        // Hiding Sidebar footer links
        .#{$s}__footer-item {
          @extend %o-v-none;
          width: 0;
          flex: auto;
        }

        // Keep showing sidebar mini toggle button
        .#{$s}__footer-item.mini {
          @extend %o-v-show;
          width: $sidebar-mini-width;
        }
      }
    }
  }

  &-is-open.#{$s}-minitest &:hover {
    width: $sidebar-width;
  }

  &-is-open.#{$s}-minitest &-fixed & {
    left: $sidebar-mini-width;
  }
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// testing

  // Showing sidebar and its footer if body has class (.sidebar-is-open)
  &-is-open & {
    width: $sidebar-width;
    .#{$s}__footer {
      width: $sidebar-footer-width;
      .#{$s}__footer-item {
        @extend %o-v-show;
      }
    }
  }

  // Specify a width for the parent sidebar item so the menu text doesn't break upon toggling the mini sidebar
  &-is-open:not(.#{$s}-mini) & {
    .#{$s}__nav > ul > .#{$s}__item,
    .#{$s}__nav > ul > .#{$s}__item-header {
      width: $sidebar-width;
    }
  }

  // Fixed sidebar
  &-fixed & {
    position: fixed;
    left: $sidebar-width;
  }

  // Closed sidebar
  &-is-closed & {
    .#{$s}__footer {
      overflow-x: hidden;
    }
  }

  // Sidebar mobile view
  .sidebar-mobile & {
    overflow-y: auto;
  }
}

// TODO sidebar variant from https://github.com/tannguyent/autoregistry-vue-netcore-ddd/blob/master/AutoRegistryClassDDD/scss/components/_sidebar.scss

