// ================================================================================================
// File Name      : sidebar.scss
// Description    : This file contains all styles related to the sidebar layout, but not sidebar
//                  navigation. Due to the complexity of the sidebar navigation, we will likely
//                  have a file dedicated to it, please check `layout/_sidebar-nav.scss`.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

// TODO, Header design idea, remove the below links.
// https://gist.github.com/jareware/4738651
// Header design idea https://uk.pixelz.com/

// TODO, sidebar menu idea - nice
// https://forums.imore.com/iphone-6s-plus/361561-photos-emailed-upside-down.html
// https://codepen.io/j_holtslander/pen/XmpMEp

// Wraps all sidebar elements
.sidebar {
  $s: sidebar;
  @include transition;
  @include background-theme($sidebar-theme-scheme);
  padding-bottom: $sidebar-footer-height;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  margin-left: -$sidebar-width;
  width: 0;
  z-index: map-get($zindex, sidebar);
  display: flex;
  flex-direction: column;

  // Sidebar inner wrapper
  .#{$s}__inner-wrap {
    height: calc(100vh - #{$sidebar-footer-height});
    bottom: $sidebar-footer-height;
    width: 100%;
    overflow-x: hidden;
    position: static;
    top: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .#{$s}__nav {
    flex: 1;
    display: flex;
    flex-direction: column;

    ul {
      outline: 0;
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        text-align: left;
      }
    }

  }

  // Hiding sidebar if body has class (.sidebar-is-closed)
  &-is-closed {
    // TODO Adapted from https://codepen.io/tonkec/pen/gryZmg
    .#{$s}__inner-wrap > * {
      @include transition;
      @extend %o-v-none;
      transform: translateX(-$sidebar-width);
    }
  }
  // Showing sidebar if body has class (.sidebar-is-open)
  &-is-open {
    .#{$s}__inner-wrap > * {
      @extend %o-v-show;
      @include transition;
    }
  }

  // Sidebar brand logo
  .#{$s}__brand {
    padding: $sidebar-padding-y $sidebar-padding-x;
    height: $sidebar-brand-height;
  }

  // Mini sidebar modifiers
  &-is-open.#{$s}-mini & {
    left: 0;
    margin-left: -$sidebar-mini-width;
    width: $sidebar-mini-width;

    .#{$s}-footer {
      width: $sidebar-mini-width;

      // Hiding Sidebar footer links
      .#{$s}-footer__nav > ul > .#{$s}-footer__item {
        @extend %o-v-none;
        width: 0;
        flex: auto;
      }

      // Keep showing sidebar mini toggle button
      .#{$s}-footer__nav > ul > .#{$s}-footer__item.mini {
        @extend %o-v-show;
        width: $sidebar-mini-width;
      }
    }
  }

  &-is-open.#{$s}-mini &-fixed & {
    left: $sidebar-mini-width;
  }

  // Collapsible sidebar modifiers
  &-is-open.#{$s}-mini-collapsible & {
    left: 0;
    margin-left: -$sidebar-mini-width;
    width: $sidebar-mini-width;

    &:not(:hover) {
      .#{$s}-footer {
        width: $sidebar-mini-width;

        // Hiding Sidebar footer links
        .#{$s}-footer__nav > ul > .#{$s}-footer__item {
          @extend %o-v-none;
          width: 0;
          flex: auto;
        }

        // Keep showing sidebar mini toggle button
        .#{$s}-footer__nav > ul > .#{$s}-footer__item.mini {
          @extend %o-v-show;
          width: $sidebar-mini-width;
        }

        .#{$s}-footer__child {
          display: none;
        }
      }
    }

  }

  &-is-open.#{$s}-mini-collapsible &:hover {
    width: $sidebar-width;
  }

  &-is-open.#{$s}-mini-collapsible &-fixed & {
    left: $sidebar-mini-width;
  }

  // Showing sidebar and its footer if body has class (.sidebar-is-open)
  &-is-open & {
    width: $sidebar-width;
    .#{$s}-footer {
      width: $sidebar-footer-width;
      .#{$s}-footer__nav > ul > .#{$s}-footer__item {
        @extend %o-v-show;
      }
    }
  }

  // Fixed sidebar
  &-fixed & {
    position: fixed;
    left: $sidebar-width;
  }

  // Closed sidebar
  &-is-closed & {
    .#{$s}-footer {
      overflow-x: hidden;
    }
  }

  // Sidebar mobile view
  .sidebar-mobile & {
    overflow-y: auto;
  }
}

// TODO sidebar variant from https://github.com/tannguyent/autoregistry-vue-netcore-ddd/blob/master/AutoRegistryClassDDD/scss/components/_sidebar.scss
