// ================================================================================================
// File Name      : sidebar-nav.scss
// Description    : Handles styling exclusive to the page's sidebar navigation.
// ------------------------------------------------------------------------------------------------
// Item Name      : xxx - Responsive Admin Theme
// Version        : 1.2
// Author         : MANOJ
// Author URL     : http://www.themeforest.net/user/xxx
// ================================================================================================

// TODO https://gist.github.com/jareware/4738651

//
// SIDEBAR MENU
// ======================================================

.sidebar {
  $s: sidebar;

  // Base styles
  .#{$s}__nav {
    flex: 1;
    display: flex;
    flex-direction: column;

    ul {
      outline: 0;
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        text-align: left;
      }
    }

  }

  // Sidebar item heading
  .#{$s}__item-header {

    //@include transition;
    @if bool($enable-sidebar-active-border-type) == true {
      @include add-border(2px, transparent, left);
    }
    @include text-theme($sidebar-theme-scheme, 'font-color');
    padding: $sidebar-padding-y $sidebar-padding-x;
    font-size: $sidebar-item-header-font-size;
    font-weight: $sidebar-item-header-font-weight;
    text-transform: uppercase;
    white-space: nowrap;
    min-height: $sidebar-item-header-height;
    line-height: $sidebar-item-header-height;
    letter-spacing: $sidebar-item-header-letter-spacing;
    opacity: $sidebar-item-header-opacity !important;
    position: relative;

    // Sidebar divider 'after-line' type
    @if bool($enable-sidebar-divider-underline-type) == false {
      &::after {
        content: '';
        @include border-theme($sidebar-theme-scheme, 'xx-light', 'bottom');
        @include add-border(1px, transparent, bottom);
        @include center(y);
        position: absolute;
        width: 100%;
        margin-left: 5px;
        //top: 50%;
        //height: 1px;
        //margin: -1px 0 0 5px;
      }
    }

  }

  // Sidebar divider 'underline' type
  .#{$s}__divider {
    // @include transition;
    height: $sidebar-divider-height;
    margin: $sidebar-divider-margin-y $sidebar-divider-margin-x;
    // @include add-border(1px, transparent, bottom);
    display: flex;
    @if bool($enable-sidebar-divider-underline-type) == true {
      @include background-theme($sidebar-theme-scheme, 'xx-light');
    }
  }

  // Sidebar menu item
  .#{$s}__item {

    // @include transition;
    @if bool($enable-sidebar-active-border-type) == true {
      @include add-border(2px, transparent, left); // Set border to invisible, so we don't see a 2px border
    }
    position: relative;
    box-sizing: border-box;

    // Sidebar menu item links
    > a {
      //@include transition;
      @include text-theme($sidebar-theme-scheme, 'link-color');
      font-size: $sidebar-item-font-size;
      text-decoration: none;
      padding: $sidebar-item-padding-y ($sidebar-item-padding-x + $sidebar-item-caret-margin-right) $sidebar-item-padding-y $sidebar-item-padding-x;
      line-height: $sidebar-item-line-height;
      display: flex;
      align-items: center;
      flex-direction: row;

      &.has-arrow::after {
        right: $sidebar-item-caret-margin-right;
      }

      // Sidebar menu icon before item title
      .#{$s}__item-icon {
        margin-right: $sidebar-item-icon-margin-right;
        text-align: center;
        width: $sidebar-item-icon-width;
        display: inline-block;

        > i {
          font-size: $sidebar-item-icon-font-size;
        }
      }

      // Sidebar menu item title
      .#{$s}__item-title {
        display: inline-block;
        flex: 1;
      }

    }

    // Change the hover, focus, active state links for better highlighting
    &:hover,
    &.show {
      @if bool($enable-sidebar-active-border-type) == true {
        @include border-theme($sidebar-active-border-theme-scheme, $position: left); // Make borders visible
      }
      > a {
        @include background-text-theme($sidebar-theme-scheme, 'dark', 'hover-color');
      }
    }

    // Current item
    &.active {
      @if bool($enable-sidebar-active-border-type) == true {
        @include border-theme($sidebar-active-border-theme-scheme, $position: left); // Make borders visible
      }
      > a {
        @include background-text-theme($sidebar-theme-scheme, 'dark', 'active-color');
      }

    }
  }

  .#{$s}__item.has-button {
    //@include transition;
    padding: $sidebar-padding-y $sidebar-padding-x;
  }

  .#{$s}__child {
    @include background-theme($sidebar-theme-scheme, 'dark');
    .#{$s}__item {
      border: 0;
      //&:before {
      //  @include color('sidebar', 'light');
      //  content:"•";
      //  position: absolute;
      //}

      a {
        font-size: $sidebar-submenu-item-font-size;
        padding: $sidebar-submenu-item-padding-y ($sidebar-submenu-item-padding-x + $sidebar-item-caret-margin-right) $sidebar-submenu-item-padding-y $sidebar-submenu-item-padding-x;
      }

      //&:last-of-type {
      //  padding-bottom: 10px;
      //}
    }
  }

  @for $i from 1 through $sidebar-submenu-max-levels {
    $selector: '';

    @for $l from 1 through $i {
      $selector: "#{$selector} .#{$s}__child";
    }

    #{$selector} .#{$s}__item a {
      margin-left: $sidebar-submenu-item-margin-left + (15px * ($i - 1));
    }

  }

  // Specify a width for the parent sidebar item so the menu text doesn't break upon toggling the mini sidebar
  .#{$s}__nav > ul > .#{$s}__item,
  .#{$s}__nav > ul > .#{$s}__item-header,
  .#{$s}__nav > ul > .#{$s}__item > .#{$s}__child {
    width: $sidebar-width;
  }

}

//
// MINI SIDEBAR MENU & MODIFIERS
// ======================================================

.sidebar-mini .sidebar {
  $s: sidebar;

  // Hiding headers, dividers etc... so the mini sidebar can reduce its UI complexity
  .#{$s}__item .badge,
  .#{$s}__item.active::before,
  .#{$s}__item.has-button,
  .#{$s}__item-header,
  .#{$s}__divider {
    /*    @include transition;
        @extend %o-v-none;
        min-height: 0;
        height: 0;
        line-height: 0;
        margin: 0;*/
    display: none;
  }

  .#{$s}__nav > ul > .#{$s}__item:not(.has-button) {
    position: static;
    display: block;

    > a {
      padding: $sidebar-item-padding-y 0;
      @if bool($enable-sidebar-active-border-type) == true {
        width: $sidebar-mini-width - 2;
      } @else {
        width: $sidebar-mini-width;
      }

      .#{$s}__item-icon {
        margin: 0;
        @if bool($enable-sidebar-active-border-type) == true {
          width: $sidebar-mini-width - 2;
        } @else {
          width: $sidebar-mini-width;
        }
      }

      &.has-arrow::after {
        @extend %o-v-none;
        display: none;
      }

      .#{$s}__item-title {
        position: fixed;
        display: none;
        width: $sidebar-width;
        left: $sidebar-mini-width;
        padding: $sidebar-item-padding-y $sidebar-item-padding-x;
        background-color: inherit;
      }

    }

    // Sub menu - First level
    > .#{$s}__child {
      position: absolute;
      width: $sidebar-mini-submenu-width;
      left: $sidebar-mini-width;
      box-shadow: $header-shadow;
      height: auto;
      display: none;
      overflow-y: auto;
    }

  }

  @for $i from 1 through $sidebar-submenu-max-levels {
    $selector: '';

    @for $l from 1 through $i {
      $selector: "#{$selector} .#{$s}__child";
    }

    #{$selector} .#{$s}__item a {
      margin-left: (15px * ($i - 1));
    }

  }

  // Show sub menu item title on hover
  .#{$s}__nav > ul > .#{$s}__item:not(.has-button) {
    //&:hover
    &.show {
      > a {
        transition: none;
        @if bool($enable-sidebar-active-border-type) == true {
          width: $sidebar-mini-active-menu-width - 2; // Value 2 is to adjust the width to include border of parent li
        } @else {
          width: $sidebar-mini-active-menu-width;
        }
        position: static;

        .#{$s}__item-title {
          display: block;
        }
      }
      > .#{$s}__child {
        display: block;
      }
    }
  }

}

//
// MINI SIDEBAR FULL HEIGHT TYPE
// ======================================================

.sidebar-mini.full {
  $s: sidebar;
  .sidebar {
    .#{$s}__nav > ul > .#{$s}__item.has-child:not(.has-button) {
      //&:hover
      &.show {
        > a {
          .#{$s}__item-title {
            top: $header-height;
            height: $sidebar-mini-full-item-height;
            padding: 0 $sidebar-item-padding-x;
            display: flex;
            align-items: center;
          }
        }
        > .#{$s}__child {
          top: $header-height + $sidebar-mini-full-item-height;
          bottom: 0;
          overflow-y: auto;
          padding-bottom: $footer-min-height;
        }
      }
    }
  }
}

//
// MINITEST
// ======================================================

.sidebar-minitest .sidebar {
  $s: sidebar;
  &:not(:hover) {
    .#{$s}__nav > ul > .#{$s}__item:not(.has-button) {

      > a {
        padding: $sidebar-item-padding-y 0;

        .#{$s}__item-icon {
          margin-right: 0;
          @if bool($enable-sidebar-active-border-type) == true {
            width: $sidebar-mini-width - 2;
          } @else {
            width: $sidebar-mini-width;
          }
        }

        .#{$s}__item-title {
          padding-left: $sidebar-minitest-collapsed-item-padding-left;
        }

      }

      > .#{$s}__child {
        padding-left: $sidebar-mini-width - $sidebar-item-padding-x - $sidebar-submenu-item-margin-left + $sidebar-minitest-collapsed-item-padding-left;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: calc(#{$sidebar-mini-width / 2} - 1px);
          display: block;
          width: 0;
          border-left: 1px solid #fff;
        }

      }
    }

    .#{$s}__nav > ul > .#{$s}__item-header {
      width: $sidebar-mini-width;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: inline-block;
      white-space: nowrap;
      vertical-align: top;
    }

    .#{$s}__nav > ul .#{$s}__divider {
      height: 1px;
      background-color: red;
      // TODO https://stackoverflow.com/questions/46032276/sass-ampersand-and-two-parents-together-in-mixin
    }

  }
}